<div class="group reveal fade-in t2" data-ng-if="list">

    <section class="pad">

        <h2>Practice types</h2>

        <p>
            This program contains <strong>{{ summary.matches }}</strong> practice
            <ng-pluralize count="summary.matches"
                          when="{'one': 'type','other': 'types'}"></ng-pluralize>
            .
        </p>

        <div class="collection-search reveal fade-in t0">

            <input style="float:left; display:inline-block; clear:right;" type="text"
                   class="search-bar list-filter" data-ng-if="!status.loading"
                   data-ng-model="queryToken" placeholder="Find a practice type&hellip;">

        </div>

        <div alphabet-ctrl letters="letters" orientation="horizontal"></div>

        <div data-ng-repeat="(key, group) in list">

            <h2 class="index-group-heading" id="{{ key | lowercase }}">
                <a href="#{{ key }}"></a>
                <span>{{ key }}</span>
            </h2>

            <ul class="selectable-group-items list-unstyled" style="margin-top: 2em;">

                <li class="card reveal fade-in"
                    style="animation-delay: {{ $index * 100 }}ms; min-height: 0;"
                    data-ng-repeat="practice in group | orderBy:'name' | filter: queryToken">

                    <div class="card--content">

                        <div class="name" style="flex-flow: column; align-items: flex-start;">

                            <a href="/programs/{{ program.id }}/practice-type/{{ practice.id }}"
                               style="text-decoration: none;"
                               data-ng-if="!program || !addLink">
                                {{ practice.name }}
                            </a>

                            <a href="/programs/{{ program.id }}/practice-type/{{ practice.id }}"
                               style="text-decoration: none;"
                               data-ng-if="program && addLink">
                                {{ practice.name }}
                            </a>

                            <span style="font-size: 0.7em; font-weight: normal; color: #757575; text-transform: uppercase;"
                                  data-ng-if="practice.group">
                                {{ practice.group }}
                            </span>

                        </div>

                        <div class="body">
                            <p style="font-style: normal; font-size: 1em; color: #616161; padding: 0 0 1em; margin: 0;">
                                {{ practice.description || 'No description provided.' }}
                            </p>
                        </div>

                    </div>

                </li>

            </ul>

        </div>

    </section>

</div>