<div class="autocomplete">
  <div class="row">
    <div class="column-16">
      <input data-ng-focus="relationship_focus=true" data-ng-blur="relationship_focus=false" type="text" placeholder="{{ placeholder }}" data-ng-model="searchText" data-ng-change="search()" class="form-control" />
      <div data-ng-if="features.length" class="dropdown">
        <ul>
          <!-- <li data-ng-if="relationship_focus && !features.length"><p><em>Begin typing to select the {{ field.label }} you want</em></p></li> -->
          <li data-ng-repeat="feature in features">
            <a data-ng-click="addFeatureToRelationships(feature)">
              <span data-ng-repeat="field in fields">
                {{ feature[field] }}<span data-ng-if="!$last">,</span> 
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div data-ng-if="model.length >= 1" class="relationship-values">
        <div class="row" data-ng-repeat="option in model">
          <div class="col-sm-11">
              <span data-ng-repeat="field in fields">
                {{ option[field] }}<span data-ng-if="!$last">,</span> 
              </span>
          </div>
          <div class="col-xs-1">
            <p><a class="text-right icon retinaicon-essentials-068" href="#" data-ng-click="removeFeatureFromRelationships($index)"></a></p>
          </div>
        </div>
      </div>
    </div>
</div>
