<header role="banner" class="site-header row">

  <section class="site-brand column-9">
    <a href="/" title="Return to the {{ $root.site.title }} home page">
      <img data-ng-if="page.header.size !== 'small'" src="/images/logo-CleanWaterCommunities-Color-Final.png" alt="{{ $root.site.title }} Logo" width="250" />
      <img data-ng-if="page.header.size === 'small'" src="/images/logo-CleanWaterCommunities-TypeOnly.png" alt="{{ $root.site.title }} Logo" width="250" />
    </a>
  </section>

  <div data-ng-if="page.header.size !== 'small'" class="column-1"></div>

  <section data-ng-if="page.header.size !== 'small'" class="site-navigation column-6">
    <nav role="navigation">
      <ul class="navigation-global">
        <li data-ng-repeat="item in menu | toArray | orderBy:'order':false" class="{{ item.class }}">
          <a href="{{ item.href }}" title="{{ item.title }}" class="{{ item.active }}">{{ item.name }}</a>
        </li>
      </ul>
    </nav>
  </section>

</header>