<footer role="contentinfo" class="site-footer">

  <div class="container">

    <div class="row">

      <div class="column-16">
        <h3>Our Partners</h3>
      </div>

    </div>

    <div class="row partners">

      <div data-ng-repeat="partner in $root.site.partners" class="column-4 align-center">
        <a href="{{ partner.url }}" class="partner" title="{{ partner.name }}" target="_blank">
          <img data-ng-src="{{ partner.image }}" width="200" alt="{{ partner.name }} is a Clean Water Communities Partner" />
        </a>
      </div>

    </div>

  </div>

</footer>

<footer role="copyright" class="site-copyright">

  <div class="container">

    <div class="row">

      <div class="column-4">
      </div>

      <div class="column-8 align-center">
        <p>
          Copyright &copy; 2014 Clean Water Communities is a program of the <a href="http://www.aawsa.org/" target="_blank">Anne Arundel County — Watershed Stewards Academy</a> located at <a href="https://www.google.com/maps/place/Arlington+Echo+Outdoor+Education+Center/@39.074885,-76.612078,15z/data=!4m2!3m1!1s0x0:0xc856dbe75ef74367?sa=X&ei=Yr8qVL6GBYWmyQScqoLoCw&ved=0CHUQ_BIwCg" target="_blank">975 Indian Landing Rd, Millersville, MD 21108.</a>. This website and application were produced by <a href="http://www.viableindustries.com/" target="_blank">Viable Industries, L.L.C.</a> in partnership with the <a href="http://www.chesapeakecommons.org/" target="_blank">Chesapeake Commons</a>. All rights reserved.
        </p>
        <p>
          Use of this website and application if subject to the <a href="#">Terms of Use</a> and <a href="#">Privacy Policy</a>.
        </p>
      </div>

    </div>

  </div>

</footer>