<header role="banner" class="site-header">
  <div class="container">  
    <div class="row">
      <section class="site-brand column-8">
        <a href="/projects"><img src="/images/logo-NFWF-reverse.png" width="100" title="Commons Cloud Data Explorer" alt="Commons Cloud Data Explorer" class="img-responsive" /></a>
      </section>

      <nav data-ng-if="$root.user.email" class="site-navigation-utility column-8 align-right">
        <ul class="utility-navigation">
          <li><a href="/logout" class="logout">Logout</a></li>
          <li><a href="//api.commonscloud.org/user/profile" class="user"><img gravatar-src="'{{ $root.user.email }}'" gravatar-size="24" /></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>