//
// _breadcrumb.scss
//
// This stylesheet is written in SASS(1) and compiles all of the styles
// we use throughout the site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

.breadcrumb {
     height      : 30px;
     min-height      : 0px !important ;
     margin-right    : 0px;
     margin-bottom   : 16px !important ;
     padding         : 5px 32px 5px 0px;
     color           : #333333;
     background-color: transparent;
     display         : inline-block;
     float           : right;
     resize          : both;
     overflow     : auto;
}
.breadcrumb icon    {
    color:#666666;
    font-size:20px;

}

.breadcrumb-ui {
    max-height      : 30px;
    margin-bottom   : -20px !important;
}