//
// _button.scss
//
// This stylesheet is written in SASS(1) and contains site wide form
// specifications.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//


//
// Buttons
//
.button,
a.button,
button.button {
  background-color: $color-green-base;
  border: 0;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-size: 0.875em;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.025em;
  padding: 4px 48px;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;

  &:hover {
    background-color: $color-green-base;
  }

  &:active,
  &:focus {
    outline: none;
    position:relative;
    top: 1px;
  }
}

.button.button-inverse,
.button.button-inverse:hover {
  background-color: $color-white-base;
  border: 2px solid $color-green-base, 10%;
  color: $color-green-base, 10%;

  &:hover {
    background-color: $color-white-base;
    border: 2px solid $color-green-base;
  }
}

.button.button-default,
.button.button-default:hover {
  background-color: rgb(252,252,252);
  color: rgb(58,58,58);
}

.button.button-info,
.button.button-info:hover {
  background-color: $color-brightBlue;
  color: rgb(252,252,252);
  &:hover {
    background-color: darken($color-brightBlue, 5%);
  }
}
  .button.button-info.button-inverse,
  .button.button-info.button-inverse:hover {
    background-color: $color-white-base;
    border: 2px solid $color-brightBlue;
    color: $color-brightBlue;

    &:hover {
      background-color: $color-white-base;
      border: 2px solid darken($color-brightBlue, 5%);
    }
  }

.button.button-link,
.button.button-link:hover {
  background-color: rgb(252,252,252);
  border-bottom: 2px solid rgb(252,252,252);
  box-shadow: none;
}

.button.button-cancel,
.button.button-cancel:hover {
  background-color: darken($color-red-base, 5%);
  color: rgb(252,252,252);
  &:hover {
    background-color: $color-red-base;
  }
}
  .button.button-cancel.button-inverse,
  .button.button-cancel.button-inverse:hover {
    background-color: $color-white-base;
    border: 2px solid darken($color-red-base, 5%);
    color: darken($color-red-base, 5%);

    &:hover {
      background-color: $color-white-base;
      border: 2px solid $color-red-base;
    }
  }

.button.success {
    background-color: rgb(108,196,14);
    box-shadow: 0 0.2em 0 darken(rgb(108,196,14), 10%);
}
.button.success:active,
.button.success:focus {
    box-shadow: 0 0.1em 0 darken(rgb(108,196,14), 10%);
}

.button.button-danger {
  background-color: rgb(187, 17, 17);
}

.button.button-small,
.button.button-small:hover {
  font-size: 0.6875em;
  padding: 8px 24px;
}

.button.button-xsmall,
.button.button-xsmall:hover {
  font-size: 0.5em;
  padding: 4px 16px;
}

.button.button-round,
.button.button-round:hover {
  border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  -webkit-border-radius: 16px;
}
