//
// _content.scss
//
// This stylesheet is written in SASS(1) and contains site specific layout
// elements.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

//
// Site Header
//
.site-header {
  background-color: $color-black-base;
}

//
// Site Footer
//
.security-label {
  opacity: 0.25;
}

//
// Page Content
//
.site-content {
  border-top: 1px solid $color-white-darker;
  float: left;
  margin: 0 0 48px;
  padding-top: 32px;
  width: 100%;
}

//
//
//
.site-actions {
  background: $color-black-base;
  bottom: 0;
  padding: 16px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

  //
  // Login Element
  //
  .login {
    // background-color: $color-white-base;
    // border: 1px solid $color-white-darker;
    margin: 48px 0;
    padding: 48px 0;

    img {
      padding-bottom: 16px;
    }
  }


  //
  //
  //
  .table {

    td {
      em {
        &.supplemental {
          color: lighten($color-black-base, 50%);
          font-size: 80%;
        }
      }
    }
  }


  //
  // List
  //
  .list, .feature {
    .list-item, .feature-detail {
      border-top: 1px solid $color-white-darker;
      margin: 0;
      padding: 32px 0 24px;

      &:hover {
        background-color: $color-white-base;
      }

      .list-item-content,
      .feature-detail-content {
        h1 {
          font-family: $font-sans;
          font-size: 1.25em;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 1.2;
          margin-bottom: 12px;

          &.project-site-title {
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 4px;
          }
        }

        h2 {
          color: $color-black-lightest;
          font-family: $font-sans;
          font-size: 0.875em;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 1.2;
          margin-bottom: 8px;
        }

        h4 {
          color: $color-black-lightest;
          font-family: $font-sans;
          font-size: 0.875em;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 1.2;
          margin-bottom: 8px;

          strong {
            color: $color-black-lighter;
            font-weight: 300;
          }

          &.project-site-number {
            margin-bottom: 0;
            margin-top: 10px;
          }

          &.project-site-city {
            margin-bottom: 0;
          }
        }

        img {
          float: left;
          margin-right: 16px;

          &.pull-right {
            margin-left: 16px;
            margin-right: 0;
          }
        }
      }

      &.list-item-thin {
        background-color: $color-white-base;
        border-top: 0;
        margin-bottom: 16px;
        padding: 0;

        h1 {
          margin-bottom: 2px;
          margin-top: 16px;
        }
      }
    }
    .feature-detail {
      padding: 22px 0 24px;
      &:hover {
        background-color: transparent;
      }

      .feature-detail-content {
        h1.large {
          font-size: 2em;
        }
        
        h4.tall {
          margin-top: 32px;
        }
      }

      .feature-sidebar {
        border-left: 1px solid $color-white-darker;
        padding-left: 32px;

        .map {
          height: 30em;
        }
      }
    }
  }
  .list.action-list {
    .list-item {
      border-top: 0;
      border-bottom: 1px solid $color-white-darker;
      margin-bottom: 8px;
      &:hover {
        background-color: transparent;
      }
    }
  }
  .summary.feature {
    .feature-detail {
      .feature-detail-content {
        h2 {
          color: $color-black-base;
          font-family: $font-sans;
          font-size: 1em;
          font-weight: 300;
          margin: 0;
          padding: 32px 0 16px;
          text-transform: uppercase;

          strong {
            font-weight: 700;
          }
        }
      }
    }
  }


  //
  // Toolbox
  //
  .toolbox {
    margin: 36px 0 24px;

    .page-title {
      font-family: $font-sans;
      font-size: 1.125em;
      font-weight: 500;
      letter-spacing: 0;
      line-height: 1.5;
      margin: 0;
      text-transform: uppercase;
    }
  }

  .site-content .toolbox {
    margin-top: 0;
  }

//
// On page actions like deletion
//
  .action {
    font-size: 0.6875em;
    padding: 8px 6px;
    vertical-align: middle !important;

    .confirm {
      span {
        font-family: $font-serif;
        font-style: italic;
        padding: 0 5px;
      }
    }

    .remove {
      color: $color-red-base;

      &:hover {
        color: darken($color-red-base, 10%);
      }
    }

    .cancel {
      color: $color-black-base;

      &:hover {
        color: darken($color-black-base, 10%);
      }
    }
  }


.email-address {
  display: block;
  font-size: 0.6875em;
  font-style: italic;
}

//
// Thumbnails
//
.thumbnails {
  display: inline-block;
  width: 100%;

  h6 {
    margin: 16px 0 8px;
  }

  .thumbnail {
    display: inline-block;
    height: 100px;
    overflow: hidden;
    margin-right: 8px;
    width: 100px;
    
    img {
      min-width: 100px;
      min-height: 100px;
    }
  }

}