//
// Object creation modals
//

.creation-dialog-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1001;

    .dialog {
        display: flex;
        flex-flow: column;
        background: #FAFAFA;
        border: 1px solid #BDBDBD;
        border-radius: 8px;
        min-width: 400px;

        .title {
            position: relative;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            flex-flow: row nowrap;
            align-items: center;
            padding: 1rem;
            font-weight: bold;
            border-bottom: 1px solid #E0E0E0;
        }

        .title-text {
            display: flex;
            min-width: 200px;
            max-width: calc(100% - 32px);
        }

        .dismiss-container {
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
        }

        .dismiss {
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 0.25rem;
            background: #FAFAFA;
            border-radius: 50%;
            cursor: pointer;
        }

        .dismiss:hover {
            background: #EEEEEE;
        }

        .inputs {
            padding: 1rem;

            input {
                margin-top: 1rem;
            }

            .prompt {
                font-size: 0.9rem;
            }

        }

        .dialog-actions {
            width: 100%;
            position: relative;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
            padding: 0 1rem 1rem;

            button {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                padding: 6px 12px;
                box-shadow: none;
                border-radius: 4px;
                outline: 0;
                font-size: 1rem;
                padding: .5rem 1rem;
                min-width: 4rem;
                transition: all .2s cubic-bezier(.4,0,.2,1);
                cursor: pointer;
            }

            .cancel {
                margin-right: 1rem;
                background: transparent;
                color: #2196F3;
                border: 1px solid #e0e0e0;
            }

            .cancel:hover {
                background: #eef7fe;
                border: 1px solid #2196F3;
            }

            .confirm {
                background: #2196F3;
                color: #fff;
                border: 1px solid #2196F3;
            }

            .confirm:hover {
                background: #0c83e1;
            }

        }

    }

}