//
// Object creation modals
//

.creation-dialog-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1001;

    .dialog {
        display: flex;
        flex-flow: column;
        background: #FAFAFA;
        border: 1px solid #BDBDBD;
        border-radius: 8px;
        min-width: 400px;

        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #616161;
            opacity: 1; /* Firefox */
        }

        :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #616161;
        }

        ::-ms-input-placeholder { /* Microsoft Edge */
            color: #616161;
        }

        .title {
            position: relative;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            flex-flow: row nowrap;
            align-items: center;
            //padding: 1rem;
            font-weight: bold;
            border-bottom: 1px solid #E0E0E0;
        }

        .title-text {
            display: flex;
            flex-grow: 1;
            min-width: 200px;
            max-width: calc(100% - 32px);
            padding-left: 1rem;
        }

        .dismiss-container {
            display: flex;
            flex-grow: 0;
            flex-shrink: 0;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
        }

        .dismiss {
            position: relative;
            display: flex;
            flex-flow: column;
            justify-content: center;
            padding: 0.5rem;
            margin: 0.5rem;
            background: #FAFAFA;
            border-radius: 50%;
            cursor: pointer;

            .halo {
                transition: transform .05s cubic-bezier(0.4,0,0.2,1);
                background-color: #202124;
                -moz-border-radius: 50%;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                left: 0;
                top: 0;
                opacity: .04;
                position: absolute;
                transform-origin: center;
                transform: scale(0);

                //&:hover {
                //    transform: scale(1);
                //}

            }

        }

        .dismiss:hover {
            //background: #EEEEEE;
            .halo {
                transform: scale(1);
            }
        }

        .inputs {
            padding: 1rem;

            input {
                margin-top: 1rem;
            }

            .prompt {
                font-size: 0.9rem;
            }

            .upload-error {
                margin: 1rem 0;
                padding: 1rem;
                border: 1px solid #d70000;
                border-radius: 4px;
                background: #ffebeb;
            }

        }

        .dialog-actions {
            width: 100%;
            position: relative;
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
            padding: 0 1rem 1rem;

            button {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                box-shadow: none;
                border-radius: 4px;
                outline: 0;
                font-size: 1rem;
                padding: .5rem 1rem;
                min-width: 4rem;
                transition: all .2s cubic-bezier(.4,0,.2,1);
                cursor: pointer;
            }

            button[disabled] {
                cursor: not-allowed;
            }

            .cancel {
                margin-right: 1rem;
                background: transparent;
                color: #2196F3;
                border: 1px solid #e0e0e0;
            }

            .cancel:hover {
                background: #eef7fe;
                border: 1px solid #2196F3;
            }

            .confirm {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: center;
                background: #2196F3;
                color: #fff;
                border: 1px solid #2196F3;
            }

            .confirm:hover {
                background: #0c83e1;
                border: 1px solid #0c83e1;
            }

            .complete,
            .complete:hover {
                background: #33992E !important;
                border: 1px solid #33992E !important;
            }

        }

    }

}

.import-dialog-container {

    .dialog {
        max-width: 640px;
    }

    .download-wrapper {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: flex-start;
        flex-grow: 1;
        flex-shrink: 0;
        padding: 0 0 1rem 1rem;

        .download-tpl {
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            flex-grow: 0;
            flex-shrink: 0;
            border-radius: 4px;
            padding: .5rem 1rem;
            color: #FFFFFF;
            //background: #2196F3;
            background: #313131;
            cursor: pointer;
            transition: all .2s cubic-bezier(.4, 0, .2, 1);

            &:hover {
                //background: #0c83e1;
                background: #212121;
                border: none;
                outline: none;
            }

        }

        button {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            -moz-appearance: none;
            -ms-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            outline: 0 none;
            background: transparent;
            //padding: 0.5rem 1rem;
            margin: 0;
            //border: 1px solid #e0e0e0;
            border: none;
            font-size: 1rem;
            cursor: pointer;
            user-select: none;
            box-shadow: none;
            //border-radius: 4px;
            color: #FFFFFF;
            //min-width: 4rem;
            transition: all .2s cubic-bezier(.4, 0, .2, 1);
        }

        button:hover {
            //background: #F5F5F5;
            border: none;
            outline: none;
            box-shadow: none;
        }

    }

}