//
// _dashboard.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

.dashboard--filter--group {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 1em 0;

    > div {
        display: flex;
        flex-flow: column;
        flex: 1;
        margin-right: 1em;
    }

    > div:last-of-type {
        margin-right: 0;
    }

}