//
// _dashboard.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

.dashboard {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 1% 2% 0 2%;
    background: #252f3a;

    .panel--container {
        position: relative;
        display: flex;
        flex-flow: row nowrap;
        flex: 1;
        width: 100%;
        height: 100%;
        //margin: 1% 2% 0 2%;
        box-shadow: 0 0 20px rgba(0,0,0,0.8);
        border-radius: 4px;
        overflow: hidden;

        .map--container {
            flex: 1;
            //position: relative;
            width: 60%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;

            .reset--extent {
                position: absolute;
                height: 36px;
                width: 36px;
                top: 56px;
                right: 10px;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                appearance: none;
                cursor: pointer;
                border: 0 none;
                outline: none;
                color: #333;
                font-size: 1em;
                background: #fff;
                border-radius: 4px;
                box-shadow: 0 1px 5px rgba(0,0,0,0.65);
                z-index: 99;
            }

        }

        .map {
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;

            .project--marker {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                //position: absolute;
                //height: 24px;
                //width: 24px;
                //border: 2px solid #fff;
                //border-radius: 4px;
                //background: #123b9d;
                //transform: rotate(45deg);

                &:after {
                    content: '';
                    display: block;
                    //position: absolute;
                    top: 0;
                    left: 0;
                    height: 20px;
                    width: 20px;
                    border: 2px solid #fff;
                    border-radius: 8px;
                    background: #123b9d;
                    transform: rotate(45deg);
                }

            }

            .marker--title {
                font-family: Georgia,Cambria,"Times New Roman",Times,serif;
                padding: 10px;
            }

            .border--right {
                //padding-right: 1em;
                border-right: 1px solid #e0e0e0;
            }

            .project--popup {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                a {
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    //margin-left: 1em;
                    text-decoration: none;
                    color: #123b9d;
                    padding: 0 1em;
                }

            }

        }

        .sidebar {
            flex: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 40%;
            height: 100%;
            background: #252f3a;
            overflow-y: scroll;

            .filter--ui {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 2em;
                background: #252f3a;
                z-index: 9;
                //margin: 0 2em 2em;

                .close {
                    position: absolute;
                    top: 2em;
                    right: 2em;
                    display: flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    appearance: none;
                    cursor: pointer;
                    border: 0 none;
                    outline: none;
                    box-shadow: none;
                    color: #fff;
                    font-size: 1em;
                    padding: 0.5em;
                    border-radius: 50%;
                    //background: rgba(0,0,0,0.1);
                    background: transparent;
                }

                .filter--group {
                    margin-top: 1em;
                }

                .filter--header {
                    //display: flex;
                    //flex-flow: column;
                    //align-items: center;
                    margin-bottom: 1em;
                    color: #f9f9f9;

                    p {
                        color: #f9f9f9;
                        //font-weight: normal;
                        font-size: 0.9em;
                        //text-transform: uppercase;
                        margin: 1em 0;
                        opacity: 0.8;
                    }

                    span {
                        display: flex;
                        color: #f9f9f9;
                        font-weight: normal;
                        font-size: 1em;
                        //font-size: 0.8em;
                        //text-transform: uppercase;
                        //opacity: 0.8;
                    }

                }

                .filter--controls,
                .filter--header {

                    button {
                        display: flex;
                        flex-flow: column;
                        justify-content: center;
                        align-items: center;
                        appearance: none;
                        cursor: pointer;
                        border: 0 none;
                        outline: none;
                        box-shadow: none;
                        color: #fff;
                        font-size: 1em;
                        background: transparent;
                        //padding: 0 1em;
                        //border-top-right-radius: 4px;
                        //border-bottom-right-radius: 4px;
                    }

                    input {
                        position: relative;
                        appearance: none;
                        outline: none;
                        width: 100%;
                        //max-width: 400px;
                        margin: 0 auto;
                        //border: 1px solid #32393f;
                        border: 0 none;
                        border-radius: 4px;
                        //border-top: 1px solid #e0e0e0;
                        //border-bottom: 1px solid #e0e0e0;
                        //border-left: 1px solid #e0e0e0;
                        //border-top-left-radius: 4px;
                        //border-bottom-left-radius: 4px;
                        background: rgba(0,0,0,0.1);
                        color: #fff;
                        padding: 1em;
                        font-size: 1em;
                        box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
                    }

                    .filter--pill {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        border: 1px solid #32393f;
                        border-radius: 4px;
                        background: rgba(0,0,0,0.1);
                        color: #fff;
                        font-size: 1em;
                        padding: 0.5em 0.8em;
                        margin-right: 1em;
                        margin-bottom: 0.5em;
                        cursor: pointer;
                        transition: all 250ms ease 0s;

                        i {
                            color: #49525b;
                            transition: all 250ms ease 0s;
                        }

                        &:hover {
                            border: 1px solid #49525b;

                            i {
                                color: #fff;
                            }

                            > div:last-child {
                                border: 1px solid #49525b;
                            }

                        }

                        > div:last-child {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-weight: bold;
                            margin-left: 1em;
                            border: 1px solid #32393f;
                            border-radius: 50%;
                            padding: 0 0.4em;
                            transition: all 250ms ease 0s;
                            height: 2em;
                            width: 2em;
                            min-width: 2em;
                        }

                        span {
                            display: flex;
                        }

                        .geography {
                            color: #98c57e;
                        }

                        .organization {
                            color: #b47db0;
                        }

                        .project {
                            color: #ce987e;
                        }

                        .practice {
                            color: #7bb4a1;
                        }

                        .status {
                            color: #c77d91;
                        }

                        .category {
                            font-size: 0.7em;
                            text-transform: uppercase;
                            font-weight: normal;
                            //opacity: 0.6;
                            padding-bottom: 0.2em;
                            letter-spacing: 0.05em;
                        }

                    }

                }

            }

            .metadata--card {
                padding: 2em;
                color: #f9f9f9;

                p {
                    color: #f9f9f9;
                    opacity: 0.8;

                    a,
                    a:link {
                        color: #07f8f7;
                        text-decoration: none;
                        opacity: 0.7;
                        font-size: .7em;
                        transition: all 250ms ease 0s;
                        text-transform: uppercase;
                        font-weight: normal;
                        letter-spacing: 0.05em;
                    }

                    a:visited,
                    a:active,
                    a:hover {
                        opacity: 1;
                        text-decoration: none;
                    }

                }

                h1 {
                    font-size: 2em;
                    border-bottom: 1px solid #49525b;
                    padding-bottom: 0.5em;
                    margin-bottom: 0.5em;
                    color: #f9f9f9;
                    opacity: 0.9;
                    font-weight: 100;
                }

                .stat--group {
                    display: flex;
                    flex-flow: row nowrap;
                    margin-bottom: 1em;
                    padding-bottom: 1em;
                    border-bottom: 1px solid #49525b;

                    .stat--block {
                        display: flex;
                        flex-flow: column;
                        font-size: 1em;
                        margin-right: 2em;

                        span {
                            display: flex;
                        }

                        .label {
                            font-size: 0.7em;
                            text-transform: uppercase;
                            //font-weight: bold;
                            opacity: 0.6;
                            letter-spacing: 0.05em;
                        }

                    }

                }

            }

            .tab--controls {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                margin: 0em 2em;
                border-bottom: 1px solid #32393f;

                button {
                    position: relative;
                    display: inline-flex;
                    flex-flow: column;
                    justify-content: center;
                    align-items: center;
                    appearance: none;
                    cursor: pointer;
                    border: 0 none;
                    outline: none;
                    box-shadow: none;
                    color: #fff;
                    font-size: 1em;
                    background: transparent;
                    padding: 0 0 0.5em;
                    margin-right: 1em;
                    opacity: 0.6;
                    transition: all 250ms ease 0s;
                }

                .tab {

                    &:hover {
                        opacity: 1;

                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 2px;
                            width: 100%;
                            background: #fff;
                        }

                    }
                }

                .active {
                    opacity: 1;

                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        height: 2px;
                        width: 100%;
                        background: #fff;
                    }

                }

                .filter--toggle {
                    display: flex;
                    flex: 1;
                    flex-flow: row nowrap;
                    justify-content: flex-end;
                    align-items: center;
                    align-content: flex-end;
                    text-align: right;

                    button {
                        margin-right: 0;

                        &:hover {
                            opacity: 1;
                        }
                    }

                }

                .filter--count {
                    text-align: right;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    flex-flow: column;
                    margin-top: -0.5em;

                    button {
                        border-radius: 8px;
                        background: rgba(0,0,0,0.1);
                        padding: 0.5em;
                        text-align: center;
                        font-size: .8em;
                        margin-right: 0;
                        margin-left: 0.5em;
                        opacity: 1;
                    }
                }

            }

            .project--list {
                margin: 1em 2em 0;
                padding: 0;
                list-style: none;
                list-style-type: none;
                font-size: 1em;

                .project--card {
                    margin-bottom: 0.5em;
                    //box-shadow: 0 0 20px rgba(0,0,0,0.8);
                    border: 1px solid #32393f;
                    border-radius: 4px;
                    padding: 1em;
                    color: #f9f9f9;
                    background: rgba(0,0,0,0.1);
                    overflow: hidden;

                    .title {
                        display: block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        margin-right: 2em;
                        opacity: 0.9;
                        pointer-events: none;
                    }

                    p {
                        color: #f9f9f9;
                        margin: 0;
                        padding: 1em 0 0;
                        opacity: 0.8;
                    }

                    p:first-of-type {
                        pointer-events: none;
                        font-size: 0.9em;
                    }

                    p:last-of-type {
                        display: inline-block;
                    }

                    a,
                    a:link {
                        color: #07f8f7;
                        text-decoration: none;
                        opacity: 0.7;
                        font-size: .7em;
                        transition: all 250ms ease 0s;
                        text-transform: uppercase;
                        font-weight: normal;
                        letter-spacing: 0.05em;
                    }

                    a:visited,
                    a:active,
                    a:hover {
                        opacity: 1;
                        text-decoration: none;
                    }

                }

            }

        }

    }

}

.filter--actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    margin: 1em 0;

    button {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        appearance: none;
        cursor: pointer;
        border: 0 none;
        outline: none;
        box-shadow: none;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.7em;
        padding: 0.5em 1em;
        border-radius: 4px;
        background: transparent;
    }

    button:last-of-type {
        margin-left: 1em;
        background: #06aadf;
        padding: 1em 2em;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

}

.filter--group {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 0.5em;

    .filter--pill {
        display: flex;
        flex-flow: row nowrap;
        border: 1px solid rgb(224,224,224);
        border-radius: 8px;
        background: #fff;
        font-size: 1em;
        padding: 0.5em 0.8em;
        margin-right: 1em;
        cursor: pointer;

        .geography {
            color: #3c9303;
        }

        .organization {
            color: #740266;
        }

        .project {
            color: #a73903;
        }

        .practice {
            color: #027049;
        }

        .status {
            color: #990329;
        }

        > div:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            margin-left: 1em;
            border: 1px solid #e0e0e0;
            border-radius: 8px;
            padding: 0 .4em;
        }

        span {
            display: flex;
        }

        .category {
            font-size: 0.7em;
            text-transform: uppercase;
            font-weight: bold;
            //opacity: 0.6;
            padding-bottom: 0.2em;
        }

    }

}

.dashboard--filter--group {
    display: flex;
    flex-flow: row nowrap;
    padding: 0 0 1em 0;

    > div {
        position: relative;
        display: flex;
        flex-flow: column;
        flex: 1;
        margin-right: 1em;

        label {
            text-transform: uppercase;
            font-size: 0.7em;
            font-weight: bold;
            padding-bottom: 0.5em;
        }

    }

    > div:last-of-type {
        margin-right: 0;
    }

}

.dropdown-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fdfdfd;
    color: rgb(40,48,56);
    margin-top: 8px;
    min-width: 100%;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.04), 0 3px 6px rgba(0,0,0,0.08);
    z-index: 9999;
}

.dropdown-menu > li > a {
    display: flex;
    width: 100%;
    color: rgb(40,48,56);
    margin-right: 0;
    padding: 0.75em 0 0.75em 1em;
    text-transform: none;
    transition: all 250ms ease 0s;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    padding: 0.75em 0 0.75em 1.25em;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}