//
// _form.scss
//
// This stylesheet is written in SASS(1) and compiles all of the styles
// we use throughout the site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//



.form {
  display: table;
  margin: 1em auto;
  width: 100%;
}

.form-centered {
  text-align: center;
  width: 40%;
}

.form-xlarge {
  max-width: 52.2em;
}

.form-large {
  max-width: 48em;
}

.form-medium {
  max-width: 40em;
}

.form-small {
  max-width: 32em;
}


//
// Form Element Groups
//
.form-row {
  display: table-row;
  margin: 0;
  width: 100%;
}

.form-row:first-child .form-label,
.form-row:first-child .form-field {
  border-top: 1px solid rgb(232,232,232);
}

.form-row .form-label {
  border-bottom: 1px solid rgb(232,232,232);
  display: table-cell;
  margin: 0;
  padding: 2em 0;
  vertical-align: middle;
  width: 20%;

  .control-label,
  label.control-label {
    font-weight: 400;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }
}

.form-row .form-field {
  border-bottom: 1px solid rgb(232,232,232);
  display: table-cell;
  margin: 0;
  padding: 2em 0;
  vertical-align: middle;
  width: 70%;
}

.form-field .control-label ul {
  margin-top: 0;
}

.form-field li {
  font-family: $font-sans;
  margin-bottom: 0;
}


//
//
//
.form-value {
  color: $color-black-light;
  font-family: $font-sans;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5;

  &.form-title {
    font-size: 1.25em;
    font-weight: 700;
  }
}

pre.form-value {
  font-size: 0.875em;
  letter-spacing: 0;
  line-height: 1.5;
  white-space: pre-line;
}


//
//
//
.help-text {
  font-family: $font-sans;
  font-size: 0.75em;
  font-style: italic;
  max-width: 100%;

  &.help-text-top {
    margin-bottom: 2em;
  }
}


//
// Form Actions
//
.form-actions {
  display: table-row;
  width: 100%;
}

.form-actions-buttons {
  display: table-cell;
  padding: 2em 0;
}

.form-actions-center {
  text-align: center;
}


//
//
//
fieldset {
  border: 1px solid rgb(232,232,232);
  float: left;
  margin: 1em 0;
  padding: 1em;
  width: 100%;

  legend {
    color: $color-black-base;
    font-family: $font-sans;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.2;
    margin: 0;
    padding: 0 0.5em;
    text-transform: uppercase;
  }
}


//
// Labels
//
.control-label,
label.control-label {
  color: rgb(93,93,93);
  display: block;
  font-family: $font-sans-plain;
  font-size: 0.6875em;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 4px;
  text-transform: none;
  text-align: left;
}

.form-label p {
  color: $color-gray-light;
  font-family: $font-sans;
  font-size: 0.75em;
  font-weight: 300;
  text-transform: uppercase;
}

.form p {
  margin: 0;
}

.form-element {
  margin-bottom: 1.25em;
  width: 100%;
}


//
// Input fields
//
select.form-control,
input.form-control,
.form-control {
  background-color: transparent;

  -webkit-box-shadow: inset 0 0 6px rgba($color-white-dark, 0.5);
  -moz-box-shadow: inset 0 0 6px rgba($color-white-dark, 0.5);
  box-shadow: inset 0 0 6px rgba($color-white-dark, 0.5);

  border: 1px solid $color-white-dark;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;

  box-sizing: border-box;
  color: $color-gray-dark;
  font-family: $font-sans;
  font-size: 1em;
  font-weight: 300;
  line-height: 1;
  margin: 0;
  padding: 0.5em 0.75em;

  width: 100%;

  &:focus {
    border: 1px solid $color-blue-bright;
    outline: 0;
  }

  &.input-lg {
    font-size: 1.25em;
    height: 34px;
  }

  &.input-xl {
    font-size: 1.5em;
    height: 36px;
  }

  &.readonly,
  &.readonly:active,
  &.readonly:focus {
    border-bottom: none;
    cursor: default;
  }

  &.highlight {
    color: $color-blue-bright;
    font-weight: 600;
  }

  //
  // Error Messages
  //

    //
    // Field is required and (a form attempt has been saved without the user
    // entering a value into the field) or (the user has focused on the field
    // without entering a valid value and then moved on)
    //
    &.ng-invalid-required.ng-touched {
      border-color: $color-red-base;
    }

}

//
// Fix the Number input field
//
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select.form-control {
  -webkit-appearance: none;
  background-image: url(../images/select-arrows.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

.form-control.form-control-half {
  width: 49.375%;
}
  .form-control-half:first-child {
    margin-right: 0.625%
  }


  //
  // Multiple columns
  //
  .form-control.form-control-half,
  .form-element.form-element-half {
    display: inline-block;
    width: 49.375%;
  }
    .form-control-half:first-child,
    .form-element-half:first-child {
      margin-right: 0.625%
    }

  .form-control.form-control-thirds,
  .form-element.form-element-thirds {
    display: inline-block;
    margin-right: 0.625%;
    width: 32.3333333%;
  }
    .form-control-thirds:first-child,
    .form-element-thirds:first-child {
      margin-right: 0;
    }

  .form-control.form-control-quarters,
  .form-element.form-element-quarters {
    display: inline-block;
    margin-right: 0.625%;
    width: 23.3333333%;
  }
    .form-control-quarters:last-child,
    .form-element-quarters:last-child {
      margin-right: 0;
    }

  .form-control.form-control-fifths,
  .form-element.form-element-fifths {
    display: inline-block;
    margin-right: 0.625%;
    width: 18.75%;
  }
    .form-control-fifths:last-child,
    .form-element-fifths:last-child {
      margin-right: 0;
    }

  //
  // Input Placeholder Text
  //
  ::-webkit-input-placeholder {
    color: $color-white-dark;
    font-family: $font-sans;
    font-size: 1em;
    font-weight: 300;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $color-white-dark;
    font-family: $font-sans;
    font-size: 1em;
    font-weight: 300;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $color-white-dark;
    font-family: $font-sans;
    font-size: 1em;
    font-weight: 300;
  }

  :-ms-input-placeholder {
    color: $color-white-dark;
    font-family: $font-sans;
    font-size: 1em;
    font-weight: 300;
  }


  //
  // Input fields
  //
  textarea.form-control {
    background-color: transparent;

    -webkit-box-shadow: inset 0 0 6px rgba($color-white-dark, 0.5);
    -moz-box-shadow: inset 0 0 6px rgba($color-white-dark, 0.5);
    box-shadow: inset 0 0 6px rgba($color-white-dark, 0.5);

    border: 1px solid $color-white-dark;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    box-sizing: border-box;
    color: $color-gray-dark;
    font-family: $font-sans;
    font-size: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0.5em 0.75em;

    width: 100%;

    &:focus {
      border: 1px solid $color-blue-bright;
      outline: 0;
    }

    &.input-lg {
      font-size: 1.25em;
      height: 34px;
    }

    &.input-xl {
      font-size: 1.5em;
      height: 36px;
    }

    &.readonly,
    &.readonly:active,
    &.readonly:focus {
      border-bottom: none;
      cursor: default;
    }

    &.highlight {
      color: $color-blue-bright;
      font-weight: 600;
    }

  }

.form-control.form-control-disabled {
  background-color: rgb(232,232,232);
}

//
//
//
// select.form-control {
//   -webkit-appearance: menulist-button;
//   background-color: rgb(232,232,232);
//   border: 9px solid rgb(232,232,232);
//   color: $color-gray-dark;
//   font-family: $font-sans;
//   font-size: 16px;
//   font-weight: bold;
// }



//
// Quesitons & Labels
//
.form .form-question,
.form .form-question p {
  clear: both;
  font-family: $font-sans;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0.5em;
  width: 100%;
}


//
// Form Columns
//
.form-group-labelWrapper {
  float: left;
  width: 100%;
}
  .form-group-labelWrapper.form-group-checkboxQuestion,
  .form-group-indent {
    margin-left: 10%;
    width: 90%;
  }

.form-group-checkboxWrapper {
  float: left;
  width: 10%;
}

.form-group-checkboxWrapper + .form-group-labelWrapper {
  float: left;
  width: 90%;
}


//
//
//
.form-imaginaryCheckbox {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0.5em;
    width: 100%;
}
  .form-imaginaryCheckbox:last-child {
    margin-bottom: 0;
  }

  .form-imaginaryCheckbox-checkbox {
    background-color: $color-white-base;
    border: 2px solid $color-blue-bright;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    content: "";
    display: block;
    height: 2em;
    margin: 0 auto;
    text-align: center;
    width: 2em;
  }

    .form-imaginaryCheckbox-checkbox:active {
      background-color: rgba($color-blue-bright, 0.25);
      position: relative;
      top: 1px;
    }

    .form-imaginaryCheckbox-checkbox .icon-checkmark {
      color: $color-white-base;
      font-size: 1.25em;
      left: -1px;
      position: relative;
      top: 5px;
    }

    .form-imaginaryCheckbox-checkbox:focus,
    .form-imaginaryCheckbox-label:focus {
      outline: 0;
    }

  .form-imaginaryCheckbox-selected {
    background-color: $color-blue-bright;
  }

    .form-imaginaryCheckbox-selected:active {
      background-color: $color-blue-bright;
      top: 0;
    }

  .form-imaginaryCheckbox-label {
    font-family: $font-sans;
    font-size: 0.8125em;
    line-height: 1.25;
  }


// //
// // Autocomplete field drop down lists for elements such as the Relationship autocomplete
// // or the Mapbox geocoder/address search
// //
// .autocomplete {
//   position: relative;
//   .dropdown {
//     color: rgb(242, 242, 242);
//     left: 0;
//     position: absolute;
//     top: 37px;
//     width: 100%;
//     z-index: 9999;
//
//     ul {
//       background-color: $color-white-bright;
//       box-shadow: 0 2px 3px rgba(0,0,0,0.2);
//       list-style-type: none;
//       padding: 0;
//       width: 100%;
//     }
//
//     li {
//       font-size: 13px;
//       font-weight: 400;
//       list-style-type: none;
//       margin: 0;
//       padding: 8px 16px;
//       -webkit-font-smoothing: antialiased;
//
//       a {
//         color: $color-black-base;
//         display: block;
//         width: 100%;
//
//         &:hover {
//           color: $color-brightBlue;
//         }
//       }
//     }
//   }
// }
//
// .relationship-values {
//   padding: 16px 0 0;
//
//   .row {
//     border-bottom: 1px solid rgb(232, 232, 232);
//     margin-bottom: 16px;
//   }
//   .row:last-child {
//     border-bottom: 0;
//     margin-bottom: 0;
//   }
// }

//
// Errors
//
.input-error {
  .form-control {
    border-color: $color-red-base;
  }

  .control-label,
  .form-value-static {
    color: $color-red-base;
  }
}
