body {
	color: $text;
}

main {
	margin-bottom: 64px;
}

material-toolbar {
	background-color: $primary;
	color: $white;

	material-button:hover {
		background-color: $accent;
	}
}

material-button.material-button-fab {
	background-color: $accent;

	&:hover {
		background-color: $accent-dark;
	}
}

material-button.material-button-raised.material-button-colored {
	background-color: $accent;
	color: $icon;
	margin-top: 10px;

	&:hover {
		background-color: $accent-dark;
	}
}

.material-theme-light {
	background-color: $primary-light !important;
	color: $icon !important;
}

.material-tile-content {
	
	// When the entire content area needs to link to the next page
	&.content-link {
		cursor: pointer;
	}
}

material-button:hover {
	background-color: $accent;
}

material-button,
.material-button {
  display: block;
  width: 10em;
  margin: 2em auto;
  line-height: 25px;
}

material-button-default,
.material-button-default {
	
}