//
// Alphabetic index controls
//

.horizontal-alphabet-control {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    > div {
        padding: 1em;
        cursor: pointer;
    }

    > div:first-of-type {
        cursor: default;
    }

    .power-jump-wrapper {
        position: fixed;
        right: 0;
        bottom: 2rem;
        //width: 100%;
        padding: 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        cursor: default;
        z-index: 1001;

        .power-jump-btn {
            appearance: none;
            height: 56px;
            width: 56px;
            margin-right: 44px;
            display: flex;
            flex-flow: column;
            color: #fff;
            font-size: 1.5em;
            background: #2196F3;
            border: 1px solid #2196F3;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            align-content: center;
            -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;
            font-family: $font-sans;
            cursor: pointer;
            outline: none !important;
            transition: all .2s cubic-bezier(.4,0,.2,1);
        }

        .power-jump-btn:hover {
            background: #0c83e1;
            outline: none !important;
        }

        span {
            display: inline-block;
            margin-right: 10px;
            padding: 4px 8px;
            background: rgba(0,0,0,0.75);
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
            opacity: 0;
            visibility: hidden;
            whitespace: nowrap;
            transition: all 250ms ease 0s;
        }

        &:hover {

            span {
                opacity: 1;
                visibility: visible;
            }

        }

    }

}


