//
// _indicator.scss
//
// This stylesheet is written in SASS(1) and contains site specific layout
// elements.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//


.throbber {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  margin: 4em 0;

  &:after {
    border-top-color:  transparent;
    border-left-color: transparent;

    display: block;
    position: relative;
    width: 128px;
    height: 128px;
    -webkit-animation: rotate 0.6s linear infinite;
    -moz-animation: rotate 0.6s linear infinite;
    -ms-animation: rotate 0.6s linear infinite;
    -o-animation: rotate 0.6s linear infinite;
    animation: rotate 0.6s linear infinite;
    border-top: 4px solid $color-darkBlue-base;
    border-bottom: 4px solid rgba($color-darkBlue-base,0.4);
    border-left: 4px solid $color-darkBlue-base;
    border-right: 4px solid rgba($color-darkBlue-base,0.4);
    border-radius: 100%;
    content: '';
    opacity: 0.9;
  }
}

.throbber.throbber-small {
  &:after {
    width: 20px;
    height: 20px;
  }
}

//
// Animation
//
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}

@-moz-keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}

@-o-keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
    -webkit-transform: rotateZ(-360deg);
    -moz-transform: rotateZ(-360deg);
    -o-transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
  }
}
