//
// _map.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

.map,
.leaflet-container.map {
  height: 30em;

  .project--marker {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    //position: absolute;
    //height: 24px;
    //width: 24px;
    //border: 2px solid #fff;
    //border-radius: 4px;
    //background: #123b9d;
    //transform: rotate(45deg);
    cursor: pointer;

    &:after {
      content: '';
      display: block;
      //position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      border: 2px solid #fff;
      border-radius: 8px;
      background: #123b9d;
      transform: rotate(45deg);
    }

  }

  .marker--title {
    //font-family: Georgia,Cambria,"Times New Roman",Times,serif;
    padding: 10px;
  }

  .border--right {
    //padding-right: 1em;
    border-right: 1px solid #e0e0e0;
  }

  .project--popup {
    display: flex;
    flex-flow: column;

    .title--group {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      //border-bottom: 1px solid #e0e0e0;

      a {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          //margin-left: 1em;
          text-decoration: none;
          color: #123b9d;
          padding: 0 1em;
      }

    }

    .view-features,
    .view-features:hover {
      display: flex;
      justify-content: center;
      padding: 10px 0;
      cursor: pointer;
      text-decoration: none;
      color: #123b9d;
      border-top: 1px solid #e0e0e0;
      user-select: none;
    }

  }

}

.map.tall {
  min-height: 40em;
}

//
// Geocoder Dropdown
//
.form-geocoder .address {
  position: relative;
  .dropdown {
     background-color: transparent;
     color: $color-white-base;
     left: 0;
     position: absolute;
     top: 39px;
     width: 100%;
     z-index: 9999;

     ul {
         background-color: $color-white-base;
         box-shadow: 0 2px 3px rgba(0,0,0,0.2);
         list-style-type: none;
         padding: 0;
         width: 100%;
     }

     li {
         color: rgb(85,85,85);
         font-size: 16px;
         font-weight: 300;
         list-style-type: none;
         margin: 0;
         padding: 8px 16px;

         a {
           background-color: $color-white-base;
           color: $color-black-lighter;
           cursor: pointer;
           display: block;
           font-family: $font-sans-plain;
           font-size: 1.25em;
           font-weight: 300;
           width: 100%;

           &:hover {
             background-color: $color-white-base;
           }
         }
     }
  }
}

//
// Leaflet Overrides
//
//
// Marker Popup
//

.mapboxgl-popup .mapboxgl-popup-tip {
  //margin: -4px auto 0;
  display: none !important;
}

.mapboxgl-popup {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.mapboxgl-popup {
  //bottom: 0 !important;
}

.mapboxgl-popup-content {
  //margin: 8px 16px 9px;
  //margin: 0;
  padding: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mapboxgl-popup-content p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  margin: 8px 0;
}

.mapboxgl-popup-content p span {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: -0.0125em;
}

.mapboxgl-popup-close-button {
  display: none !important;
}

//
// Zoom Buttons
//
.leaflet-bar a:first-child,
.leaflet-bar a:last-child {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.leaflet-top.leaflet-right {
  //display: none !important;
}

.leaflet-control-layers-toggle {
    opacity: 1;
    background-size: 80% 80%;
}

.leaflet-bar a,
.leaflet-bar a:link,
.leaflet-bar a:visited,
.leaflet-bar a:hover,
.leaflet-bar a:active {
  color: transparent;
}

//
// Legend
//
.legend {
  .legend-list {
    display: table;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: table-row;
      font-size: 0.75em;
      font-weight: 300;

      img {
        max-width: 20px;
        width: 100%;
      }

      .legend-item-symbol {
        display: table-cell;
        height: 40px;
        margin-bottom: 8px;
        vertical-align: middle;
        width: 20px;

        &.legend-item-symbol-polygon {
          background-image: url("//api.tiles.mapbox.com/v4/developedsimple.k105bd34/-77.8714370727539,39.3727911029975,17/40x40@2x.png?access_token=pk.eyJ1IjoiZGV2ZWxvcGVkc2ltcGxlIiwiYSI6IlZGVXhnM3MifQ.Q4wmA49ggy9i1rLr8-Mc-w");
        }

        &.legend-item-symbol-county {
        }

        &.legend-item-symbol-land-river-segment {
          background-color: rgba($color-brightBlue, 0.75);
        }
      }
      .legend-item-label {
        display: table-cell;
        margin-bottom: 8px;
        height: 40px;
        padding-left: 8px;
        vertical-align: middle;
      }
    }
  }
}


//
// mapboxgl-map
//
.mapboxgl-map {
  bottom: 0;
  // height: 87% !important;
  // height: 87vh !important;
  height: 100%;
  position: absolute;
  // top: 83px;
  //   @include breakpoint($body--width--md) {
  //     top: 168px;
  //     height: 70% !important;
  //     height: 70vh !important;
  //   }
  width: 100%;
  z-index: 0;
}

.leaflet-draw-actions {
  //display: flex !important;
  //flex-flow: row nowrap;
  //align-items: center;
  left: 28px;
}

.leaflet-draw-actions li {
  display: inline-block !important;
}

.leaflet-draw-actions a,
.leaflet-draw-actions a:hover {
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-left: 1px solid #AAA;
  color: #212121 !important;
  font: inherit;
  font-size: 10px;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1);
}

.leaflet-draw-actions a {
  background-color: #fafafa;
}

.leaflet-draw-actions a:hover {
  background-color: #eeeeee;
}

.mapboxgl-map {
  position: relative;
}

.mapboxgl-map {
  font: 12px/20px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.geocoder {
  position: relative;
  z-index: 1;
  width: 100%;
  //left: 50%;
  //margin-left: -25%;
  //top: 20px;
  margin: 1em 0;
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  box-shadow: none;
}

.mapboxgl-ctrl-geocoder input {
  padding: 1em 1em 1em 2em !important;
}

.mapboxgl-ctrl-geocoder .suggestions > li > a {
  width: 100%;
}

@media screen and (min-width: 640px) {
  .mapboxgl-ctrl-geocoder {
    width: auto;
    font-size: 15px;
    line-height: 20px;
    max-width: 100%;
  }
}

.mapboxgl-ctrl-top-right {
  top: 42px;
}

.mapboxgl-layer-ctrl {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  flex-flow: colum;
  justify-content: center;
  align-items: center;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  z-index: 3;
}

.mapboxgl-layer-ctrl .layer-group {
  position: absolute;
  top: 0;
  right: 42px;
  min-width: 160px;
  //height: auto;
  //width: auto;
  display: flex;
  flex-flow: column;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.mapboxgl-layer-ctrl .layer-group .layers {
  border-top: 1px solid #E0E0E0;
}

.mapboxgl-layer-ctrl .layer-group label {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  align-items: center;
  padding: 0.5em 0.75em;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  transition: all 200ms ease 0s;
}

.mapboxgl-layer-ctrl .layer-group label:first-of-type {
  border-radius: 4px 4px 0 0;
}

.mapboxgl-layer-ctrl .layer-group label:last-of-type {
  border-radius: 0 0 4px 4px;
}

.mapboxgl-layer-ctrl .layer-group .active,
.mapboxgl-layer-ctrl .layer-group label:hover {
  background: #f0f0f0;
}

.mapboxgl-layer-ctrl .layer-group label span {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  //width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 1em;
}

.mapboxgl-layer-ctrl .layer-group label input {
  position: absolute;
  top: 0;
  right: 100%;
  margin-bottom: 0 !important;
  margin: 0;
  padding: 0;
}

.mapboxgl-layer-ctrl .layer-group .symbol-group {
    display: inline-flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-end;
}

.mapboxgl-layer-ctrl .layer-group .symbol-group .color {
    display: inline-flex;
    height: 1em;
    width: 1em;
    border-radius: 4px;
    margin-right: 0.5em;
}

.mapboxgl-layer-ctrl .layer-group .symbol-group .color:last-of-type {
    margin-right: 0;
}

