//
// _modal.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

body.modal-open {
  height: 100%;
  overflow: hidden;
  width: 100%;  
}

.modal {
  background: $color-white-base;
  height: 100%;
  overflow: scroll;
  padding: 64px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;

  overflow-y:scroll;

  .close {
    cursor: pointer;
    font-size: 2em;
    margin-top: 7px;

    &:hover {
      color: $color-brightBlue;
    }
  }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}