//
// _navigation.scss
//
// This stylesheet is written in SASS(1) and contains site wide navigation
// specifications.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

//
// Global Navigation
//
.primary-navigation {
  margin-top: 32px;

  ul {
      padding: 0;

    li {
      border-bottom: 1px solid rgba($color-black-base, 0.5);
      font-family: $font-sans;
      letter-spacing: 0.25em;
      list-style: none;
      margin-bottom: 16px;
      text-transform: uppercase;

      a,
      a:active,
      a:link,
      a:visited {
        color: $color-black-base;
        text-decoration: none;

        &.active,
        &:hover {
          color: $color-blue-base;
          text-decoration: none;
        }
      }
    }
  }
}


//
// Utility Navigation
//
.utility-navigation {
  background-color: transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  margin: 4px 0 0;
  padding: 0;

  .user img {
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    margin-top: 0;
    vertical-align: text-top;
  }

  > li {
    display: inline;
    display: inline-block;
    font-family: $font-sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    margin-left: 8px;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    vertical-align: middle;

    &.active {
      font-weight: 700;
    }

    > a {
      background-color: transparent;
      color: $color-white-base;
      padding: 0;

      &:hover {
        color: $color-white-base;
        text-decoration: none;
      }
    }

    .glyphicon {
      font-size: 16px;
      margin-right: 8px;
    }
  }
  
}
