//
// _profile.scss
//
// This stylesheet is written in SASS(1) and contains site specific layout
// elements.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

  h2.flow2 {
    display: flex;
    width: 100%;
    //background-color: #F2F2F2;
    padding: 1em 0 1em 32px;
    //font-size: 2em;
    border-bottom: 1px solid rgb(216,216,216);
    margin: 0;
    font-weight: bold;
  }
   h2.flow2-profile {
    display: flex;
    //background-color: #F2F2F2;
    padding: 0em 0 0em 0px;
    //font-size: 2em;
    border-bottom: 0px solid rgb(216,216,216);
    margin: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
  }



   .flow2--profileItem{
    float: left;
   }



  .flow2--features--container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 0 0em;
  }

  .flow2--field-container{
     padding: 0px 32px 0px 0px;

  }
  .flow2--profile-container{
     padding: 0px 32px 0px 0px;
    padding-right: 0px;
    margin: auto;
    border: 0px solid pink;
    max-width: 48rem;

    width: 100%;

  }

   .flow2--profile-edit-image-text{
        float:left;
        color: #616161;
        font-size: 0.9em;
        font-style: normal;
        margin-top: 0.5em;
   }

  .flow2--left-field{
    display: block;
    width:57%;
    float: left;

    max-height: 550px;
    border: 0px solid green;
    min-width:350px;
    margin-right:10px;
    padding-right: 1.5em;
  }


  .flow2--right-field{
    width:39%;
    height: 100%;
    float: left;
    border: 0px solid green;
    min-width:250px
  }

  .flow2--left-field-profile{
    width:30%;
    float: left;
    height: 100%;
    border: 0px solid green;
    max-width:250px;
    min-width:250px;
    max-height: 350px;
    margin-right:10px;
    padding-top:2em;
  }




  .flow2--right-field-profile{
    width:65%;
    height: 100%;
    float: left;
    border: 0px solid green;
    min-width:350px;
    display: block;
  }

  .flow2--organizationImage{

       display:block;
       width: auto;
       align: middle;
       min-width: 150px;
       max-width: 300px;
       height: auto;
    //   min-height: 150px;
       max-height: 300px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom:3em;

  }

  p.flow2-h {
      font-style: normal;
      color: #616161;
      font-size: 0.9em;
      margin-top: 1em;
  }
  .flow2-b {
      font-style: normal;
      font-size: 1em;
      margin-top: 0.5em;
      margin-left: 1em;
      color: #616161;

  }



  div.user-avatar-wrapper{
    width:100%;
    border: 0px solid red;
    margin-bottom:0px;
    padding-bottom:0.5em;

    display: flex;
  align-items: center;
  justify-content: center;

  }
  img.user--avatar{
    border-radius: 50%;
    width:100%;
    height:auto;
    display:block;
    border: 4px solid #e0e0e0;

     &:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.12);
      }
  }

  .flow2-text-container{
        float:left;
        clear:left;
  }

   .flow2-card{
        margin-left:20px;
        margin-right: 20px;
        min-height: 240px;
    flex-basis: 20%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1em;
    padding-left: 1em;
    box-sizing: border-box;
    min-width: 200px;
    max-width: 400px;

   }


   .flow2-card--content {
      display: flex;
      flex-flow: column;
      width: 100%;
      margin-bottom: 2em;
      border-radius: 4px;
      //box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      //box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
      overflow: hidden;
      transition: all 250ms ease 0s;

    //  &:hover {
    //    box-shadow: 0 10px 20px rgba(0,0,0,0.08), 0 6px 6px rgba(0,0,0,0.12);
    //  }

      img {
        width: 100%;
      }

      .name, .body {
        width: 100%;
        padding: 1em;
        background: #f5f5f5;
        border-bottom: 1px solid #e0e0e0;


        span {
          display: block;
          width: 100%;
          font-weight: bold;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-right: 1em;
          border:0px solid red;
           text-align: center;
        }

      }
    }

     .partner_name {
        width: 100%;

        border-bottom: 1px solid #e0e0e0;


        span {
          display: block;
          width: 100%;
          font-weight: normal;
           color:#666666;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          border:0px solid red;
           text-align: center;
        }

      }





  div.partner-logo-wrapper{
    display:block;
    vertical-align: middle;

    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom: auto;
    border: 0px solid red;

  }
  img.partner-logo{
    vertical-align: middle;
    margin: auto;
    width:100%;
    height:auto;
  }






@media only screen and (max-width: 1000px) {
     .flow2--left-field{
        width:100%;
     }
     .flow2--right-field{
        width:100%;
     }

    .flow2--organizationImage{
        margin-left:auto;
        margin-right:auto;
        margin-top: 1em;
    }


     .user--avatar{
        margin-left:auto;
        margin-right:auto;

    }

    .flow2--right-field-profile {

        width:100%;
    height: 100%;
    float: none;
    padding-right: 1em;



    }

    .flow2--left-field-profile {
        border : 0px solid red;
        width:100%;
         margin-left:auto;
        margin-right:auto;
        float: none;
        max-height: 310px;
        display:block;

    }
    .flow2--left-field-profile > .user-avatar-wrapper{
        width:100%;
        margin-left:auto;
        margin-right:auto;
        border:0px solid green;
    }
    body > img.user--avatar{
        border-radius: 50%;

        height:auto;
        display:block;

    }
    .flow2-text-container {
        float:none;
        margin-left: auto;
        margin-right: auto;
        border:0px solid blue;
        width: 100%;

    }
    h2.flow2-profile{
        float: center;
        display: block;
        margin-left: auto;
        margin-right:auto;
        text-align: center;
        border: 0px solid red;

    }
    .flow2-b{
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }

}