//
// _profile.scss
//
// This stylesheet is written in SASS(1) and contains site specific layout
// elements.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

  h2.flow2 {
    display: flex;
    width: 100%;
    //background-color: #F2F2F2;
    padding: 1em 0 1em 32px;
    //font-size: 2em;
    border-bottom: 1px solid rgb(216,216,216);
    margin: 0;
    font-weight: bold;
  }

  .flow2--features--container {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 0 0 0em;
  }

  .flow2--field-container{
     padding: 0px 32px 0px 0px;

  }

  .flow2--left-field{
    width:57%;
    float: left;
    height: 100%;
    border: 0px solid green;
    min-width:350px;
    margin-right:10px;
  }

  .flow2--right-field{
    width:39%;
    height: 100%;
    float: left;
    border: 0px solid green;
    min-width:250px
  }
  .flow2--organizationImage{

       display: block;
       width: auto;
       min-width: 150px;
       max-width: 300px;
       height: auto;
       min-height: 150px;
       max-height: 300px;
       margin: auto;

  }

  p.flow2-h {
      font-style: normal;
      color: #616161;
      font-size: 0.9em;
      margin-top: 1em;
  }
  p.flow2-b {
      font-style: normal;
      font-size: 1em;
      margin-top: 0.5em;
      margin-left: 1em;
      color: #616161;

  }



  img.user--avatar{
    border-radius: 50%;
  }