//
// _search.scss
//
// This stylesheet is written in SASS(1) and compiles all of the styles
// we use throughout the site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

//
// Search element
//

.search--group {
  display: flex;
  flex-flow: row nowrap;

  button {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    appearance: none;
    cursor: pointer;
    border: 0 none;
    outline: none;
    box-shadow: none;
    color: #fff;
    font-size: 1em;
    padding: 0 1em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .trigger--search {
    background: #3b9303;
  }

}

.global--search {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
  position: relative;
  //width: 30%;
  min-width: 30%;
  max-width: 50%;
  //padding-top: 1em;
  align-items: center;

  input {
    position: relative;
    appearance: none;
    outline: none;
    width: 100%;
    //max-width: 400px;
    margin: 0 auto;
    //border: 1px solid #e0e0e0;
    border: 0 none;
    //border-top: 1px solid #e0e0e0;
    //border-bottom: 1px solid #e0e0e0;
    //border-left: 1px solid #e0e0e0;
    //border-top-left-radius: 4px;
    //border-bottom-left-radius: 4px;
    background: rgba(0,0,0,0.1);
    color: #fff;
    border-radius: 4px;
    padding: 0.7em 1em;
    font-size: 1em;
    box-sizing: border-box;
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.5);
  }

  ul {
    position: absolute;
    //left: 50% !important;
    width: 100%;
    //max-width: 400px;
    margin: 0;
    margin-top: 4px;
    //margin-left: -200px;
    padding: 0;
    list-style: none;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.0975);
    z-index: 99999999;

    .active {

      a {
        background: #f5f5f5;
      }

    }
  }

  .search--suggestion {
    display: block;
    cursor: pointer;
    border-bottom: 1px solid rgb(237,237,237);
    color: #444;
    transition: all 200ms ease 0s;

    .name {
      display: block;
      margin-right: 2em;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .subcategory {
      font-size: 0.7em;
      text-transform: uppercase;
      font-weight: bold;
      opacity: 0.6;
    }

    &:last-child {

      > div {
        border-bottom: none;
      }

    }

    &:hover {
      text-decoration: none;
      background: #f5f5f5;
    }

    > div {
      width: 100%;
      padding: 0.5em;
      border-bottom: 1px solid rgb(224,224,224);
    }

    img {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      margin-right: 0.5em;
      background: #000;
      opacity: 0.1;
      transition: opacity 300ms ease 0s;
    }

    .fade {
      opacity: 1;
      background: transparent;
    }

  }

}
