//
// _status.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//

.status-dropdown {
    border: 0px solid purple;
    float:left;
    display: block;
    width: 40%;
    max-width: 400px;
    width: 190px;
    margin-bottom: 0px;
}

.status-dropdown_label {
    border: 0px solid green;
    float: left;
    display: block;
    margin-top: 16px;
    margin-left: 00px;
    font-weight: bold;
    color: rgb(121,122,124);
    font-style: normal;
}

.status-group {
    display:block;
    min-width: 400px;
    min-height: 50px;
    margin-bottom:30px;
}

.status-wrapper {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 1rem;
}

.status {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    border-radius: $rem-radius-50;
    padding: 0.5rem .75rem;
    font-size: .9rem;
    font-weight: 600;
    //text-transform: uppercase;
    line-height: 1rem;

    .dot {
        display: block;
        height: 10px;
        width: 10px;
        min-height: 10px;
        min-width: 10px;
        border-radius: 50%;
        margin-right: 0.5rem;
    }
}

.status-draft {
    //background-color: $color-status-draft;
    //background-color: #fdeadb;
    background-color: #fef4ed;
    color: #f37e21;
    //border: 1px solid #fbd5b6;
    border: 1px solid #f8b47e;

    .dot {
        background-color: #f37e21;
    }

}

.status-active {
    //background-color: $color-status-active;
    //background-color: #e8f7e8;
    background-color: #f4fbf4;
    color: #3AA63A;
    //border: 1px solid #cbedcb;
    border: 1px solid #9fde9f;

    .dot {
        background-color: #3AA63A;
    }

}

.status-complete {
    //background-color: $color-status-complete;
    //background-color: #dbeefd;
    background-color: #edf7fe;
    color: #2196F3;
    //border: 1px solid #b6dcfb;
    border: 1px solid #7ec2f8;

    .dot {
        background-color: #2196F3;
    }

}

//.status-history-link-wrapper {
//    display: flex;
//    flex-flow: row nowrap;
//    align-items: center;
//    padding-bottom: 1em;
//    color: $color-blue-base;
//    margin-bottom: 5px;
//
//    span {
//        display: inline-flex;
//        margin-right: 0.25em;
//    }
//
//}

//
// Archive notice.
//

.archive-notice {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    //background-color: #8B5A38;
    //color: #fff;
    //border-radius: $rem-radius-25;
    padding: 1rem 0;
    margin-bottom: 1rem;
    width: 100%;

    span:first-of-type {
        display: block;
        margin-right: 0.5rem;
        color: #8B5A38;
    }

}