// Target matrix

@media (min-width: 1600px) {
    .target-ui > p:first-of-type {
        max-width: 50rem;
    }
}

.target-lst {}

.target-lst button {
    appearance: none;
    border: 0 none !important;
    outline: 0 none;
    background: transparent;
    margin: 0;
    transition: all .2s cubic-bezier(.4,0,.2,1);
}

.target-lst button[disabled],
.target-lst-inactive button[disabled] {
    cursor: not-allowed;
}

.target-lst li {
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0.5em;
}

.target-lst li > div:first-of-type {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding-right: 1em;
}

.target-lst li input {
    width: 20%;
    max-width: 160px;
    margin-right: 1em;
}

.target-lst-inactive li > div:first-of-type {
    color: #616161;
}