// Target matrix

@media (min-width: 1600px) {
    .target-ui > p:first-of-type {
        max-width: 50rem;
    }
}

.target-lst {}

.target-lst button {
    appearance: none;
    border: 0 none !important;
    outline: 0 none;
    background: transparent;
    margin: 0;
    transition: all .2s cubic-bezier(.4,0,.2,1);
}

.target-lst button[disabled],
.target-lst-inactive button[disabled] {
    cursor: not-allowed;
}

.target-lst li,
.target-lst li > div:first-of-type {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0.5em;
    width: 100%;
}

.target-lst li > div > div:first-of-type {
    display: flex;
    flex-flow: column;
    flex-grow: 1;
}

.target-lst li .measurement > div:first-of-type {
    padding-right: 1em;
}

.target-lst li .measurement input {
    width: 20%;
    max-width: 160px;
    margin-right: 1em;
    text-align: right;
}

.target-lst li .report-tgt-meter {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin: 1rem 0 0;

    .labels {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        font-size: 0.9rem;

        div {
            flex-grow: 1;
            flex-shrink: 0;
        }

        div:first-of-type {
            text-align: left;
            padding-right: 1rem;
        }

        div:last-of-type {
            text-align: right;
            padding-left: 1rem;
        }

    }

    .meter-bar {
        width: 100%;
        position: relative;
        height: 8px;
        margin: 1rem 0;
        border-radius: 8px;
        //background: #f5f5f5;
        background: #c8e5fc;
        overflow: hidden;

        > div {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #2196F3;
            transition: width 200ms ease 0s;
        }

    }

}

.target-lst-inactive li > div > div:first-of-type {
    color: #616161;
}

/*practice targets view*/

    .target-block-wrapper {
    border-bottom:1px solid #cccccc;
    padding-bottom:20px;
    padding-top: 20px;
}

.target-block-header {
    margin-bottom:10px;
    height: 30px;
}

.target-block-number-circle {
    width: 20px;
    height: 20px;
    background-color:#cccccc;
    border-radius:50%;
    font-size:15px;
    text-align: center;
    color:#ffffff;
    font-style:bold;
    padding: 0px 0px 3px 0px;
    margin: 5px 10px 0px 0px;
    display: block;
    float: left;
}
.target-block-title{
    display:block;
    float: left;
    font-size: 1.5em;
}

// Metric summary meter

.metric-summary-meter {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin: 1rem 0 0;

    .labels {
        position: relative;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        font-size: 0.9rem;

        div {
            flex-grow: 1;
            flex-shrink: 0;
        }

        div:first-of-type {
            text-align: left;
            padding-right: 1rem;
        }

        div:last-of-type {
            text-align: right;
            padding-left: 1rem;
        }

    }

    .meter-bar {
        width: 100%;
        position: relative;
        height: 10px;
        margin: 1rem 0;
        border-radius: 8px;
        //background: #f5f5f5;
        background: #c8e5fc;
        overflow: hidden;

        > div {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #2196F3;
            transition: width 200ms ease 0s;
        }

    }

}