//
// _typography.scss
//
// This stylesheet is written in SASS(1) and contains site wide typographic
// specifications.
//


$base-font-size: 1em;


body {
  font-family: $font-sans;
  font-size: 100.00%; // This makes $base-font-size 16px
}


//
// Calculating Font Sizes from PX to EM
//
// [Desired Pixel Size]/[Base Pixel Size]=[EM Font Size Value]
//
// Examples:
//
//     24 / 16 = 1.500em
//     18 / 16 = 1.125em
//     12 / 16 = 0.750em
//     10 / 16 = 0.625em
//

//
// Calculating Line Height and Margins from PX to EM
//
// Example:
//
//     body {
//       font-size: 100%; // 100% body font-size is the same as saying 16px
//     }
//
//     h1 {
//       font-size: 3.000em; // 48px (body-font-size*font-size)
//       line-height: 1; // 48px (1*font-size)
//       margin-bottom: 0.333em; // 12px (0.250*font-size)
//       margin-top: 0; // 0px (0*font-size)
//     }
//
//


//
// Global Typeographic Styles
//
h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: $font-sans;
  color: $color-black-base;
  line-height: 1.5;
  letter-spacing: 0.025em;

  .label {
    background-color: transparent;
    color: $color-black-lightest;
    display: inline-block;
    font-size: 90%;
    margin-right: 2px;
    margin-top: 1px;
    padding: 2px 6px;

    &.label-info {
      background: $color-blue-base;
      color: $color-white-base;
    }
    &.label-static {
      background: $color-darkBlue-base;
      color: $color-white-base;
    }
    &.label-success {
      background: $color-green-base;
      color: $color-white-base;
    }
    &.label-warning {
      background: darken($color-gold-base, 15%);
      color: $color-white-base;
    }
    &.label-danger {
      background: $color-red-base;
      color: $color-white-base;
    }
  }
}

h1 {
  font-size: 3em;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 16px;
  margin-top: 0;

  .creation-date {
    color: $color-black-lightest;
    display: block;
    font-size: 0.6125em;
    font-style: italic;
    font-weight: 400;
    margin-top: 4px;
  }
}

h2,
p.lead {
  font-size: 1.8em;
  line-height: 1.3;
  margin-bottom: 16px;
  margin-top: 0;
}

p.introduction {
  font-size: 2em;
  line-height: 1.4;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
}

h2.sans {
  font-family: $font-sans;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: $font-sans;
  font-size: 1.000em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 16px;
}

h3.alt {
  color: $color-blue-base;
  font-family: $font-sans;
  font-size: 1.250em;
  font-weight: 300;
  text-transform: uppercase;
}

h4 {
  font-size: 1.250em;
  font-weight: 100;
  margin: 0 0 24px;
}

h5 {
  font-size: 1.000em;
  font-weight: 500;
  margin: 0 0 24px;
}

h6 {
  font-size: 0.6875em;
  font-weight: 300;
  margin: 0;
  padding: 32px 0 16px;
  text-transform: uppercase;
  strong {
    font-weight: 700;
  }
  &.rule-above {
    clear: both;
    padding-bottom: 32px;
  }
}

p,
address {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0;
  margin: 0 0 16px;
}

em {
  font-style: italic;
}

ul {
  list-style-type: square;
  margin: 0 0 32px;
}

ol {
  // default settings
}

li {
  font-size: 1.000em;
}

hr {
  border: 0;
  border-top: 1px solid rgb(225,225,225);
  clear: both;
  float: left;
  margin-top: 32px;
  margin-bottom: 32px;
  width: 100%;
}


//
// Global Hyperlink Styles
//
a,
a:active,
a:link,
a:visited {
  color: $color-brightBlue;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: darken($color-brightBlue, 5%);
  text-decoration: underline;
}


//
// Convenience Selectors
//
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}


//
//
//
.page-content-form > h1 {
  text-align: center;
}

.page-content-form > p {
  font-family: $font-sans;
  font-size: 1.2em;
  line-height: 1.5;
  margin: 0 auto 2em;
  text-align: center;
  max-width: 46.25em;
}


//
// Site Footer Typography
//
p {
  color: $color-black-base;
  font-family: $font-sans;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.25;
}

.site--footer,
.site--legal {
  hr {
    border: 0;
    border-top: 1px solid rgb(225,225,225);
    clear: both;
    float: left;
    margin-top: 0em;
    margin-bottom: 1em;
    width: 100%;
  }

  h2 {
    font-size: 0.75em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }

  p {
    color: $color-black-light;
    font-family: $font-sans;
    //font-size: 0.6875em;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.25;
  }
}

.site--footer {
  p {
    color: #fff;
    opacity: 0.8;
  }
}



//
//
//
.project--title,
a.project--title,
a.project--title:active,
a.project--title:link,
a.project--title:visited {
  color: $color-black-light;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px dashed #898989;
  text-decoration: none;

  &:hover {
    border-bottom: none;
    text-decoration: none;
  }
}

.project--state {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 0.0125em;

  .project--state--highlight {
    border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    background-color: $color-gray-light;
    display: inline-block;
    height: 8px;
    width: 8px;

    &.project--state--draft {
      background-color: $color-gray-light;
    }
    &.project--state--submitted {
      background-color: $color-gold-base;
    }
    &.project--state--funded {
      background-color: $color-green-base;
    }
    &.project--state--completed {
      background-color: $color-brightBlue;
    }
  }

}

.project--funder {
  font-size: 13px;
}

.column--state {
  width: 10%;
}

.column--programType {
  width: 10%;
}

.column--titleDescription {
  width: 40%;
}

.column--funder {
  width: 20%;
}

.column--contact {
  width: 10%;
}

.column--lastUpdated {
  width: 10%;
}


.column--vertialCenter {
  vertical-align: middle !important;

  p {
    display: inline;
  }
}
