$primary: rgba(0, 72, 144, 1);
$primary-light: rgba(195, 208, 226, 1);
$primary-dark: rgba(14, 58, 116, 1);
$accent: rgba(177, 187, 28, 1);
$accent-dark: rgba(143, 154, 39, 1);
$warning: rgba(229, 28, 35, 1);
$black: rgba(0, 0, 0, 1);
$white: rgba(250, 250, 250, 1);
$text: rgba($black, 0.87);
$icon: rgba($black, 0.54);
$hint: rgba($black, 0.26);
$divider: rgba($black, 0.12);
$serif: 'Crimson Text', serif;
$sans: 'RobotoDraft', 'Helvetica Neue', Helvetica, Arial;