//
// _variables.scss
//
// This stylesheet is written in SASS(1) and contains variables that apply to
// the site as a whole. This makes us more effective in retaining a consistency
// throughout the entire site.
//
// @see (1) http://sass-lang.com/documentation/file.SASS_REFERENCE.html
//

//
// Breakpoints
//

@mixin phone-only {
    @media (max-width: 599px) {
        @content;
    }
}
@mixin tablet-portrait {
    @media (min-width: 600px) {
        @content;
    }
}
@mixin tablet-portait-only {
    @media (min-width: 600px) and (max-width: 899px) {
        @content;
    }
}
@mixin tablet-landscape {
    @media (min-width: 900px) {
        @content;
    }
}
@mixin tablet-landscape-only {
    @media (min-width: 900px) and (max-width: 1199px) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}
@mixin desktop-only {
    @media (min-width: 1200px) and (max-width: 1799px) {
        @content;
    }
}
@mixin big-desktop {
    @media (min-width: 1800px) {
        @content;
    }
}

//
// Size variables
//

$rem-0: 0 !important;
$rem-25p: 0.25rem !important;
$rem-50p: 0.5rem !important;
$rem-75p: 0.75rem !important;
$rem-1: 1rem !important;
$rem-2: 2rem !important;
$rem-3: 3rem !important;
$rem-4: 4rem !important;
$rem-5: 5rem !important;
$rem-6: 6rem !important;
$rem-7: 7rem !important;
$rem-8: 8rem !important;
$rem-9: 9rem !important;
$rem-10: 10rem !important;


//
// Color Variables
//
//$color-black-base: rgb(31,33,32);
$color-black-base: rgb(33,33,33);
$color-black-light: rgb(51,52,54);
$color-black-lighter: rgb(77,77,77);
$color-black-lightest: rgb(126,121,122);

$color-gray-dark: rgb(71,72,74);
$color-gray-base: rgb(81,82,84);
$color-gray-light: rgb(121,122,124);

$color-white-default: rgb(255,255,255);
$color-white-bright: rgb(252,252,252);
$color-white-base: rgb(242,242,242);
$color-white-darker: rgb(232,232,232);
$color-white-dark: rgb(225,225,225);

//$color-blue-bright: rgb(20,171,224);
//$color-brightBlue: rgb(25,166,215);
//$color-blue-base: rgb(1, 62, 129);
$color-blue-bright: rgb(3,102,214);
$color-brightBlue: rgb(3,102,214);
$color-blue-base: rgb(3,102,214);
$color-darkBlue-base: rgb(37,47,58);

$color-green-dark: rgb(46,114,42);
$color-green-base: rgb(59,147,3);

$color-red-base: rgb(166,61,61);

$color-gold-base: rgb(229,191,8);

$color-grid-background: rgb(244, 193, 189);
$color-grid-border: rgb(243, 67, 18);

$color-status-draft: #cccc99;
$color-status-active: #77d095;
$color-status-complete: #cccccc;

$color-vivid-blue: #2196f3; // rgb(33,150,243)
$color-vivid-violet: #7e21f3; // rgb(126,33,243) (Halfway between vivid blue and vivid pink on HSV gradient.)
$color-vivid-violet-mixed: #5b21f3; // rgb(91,33,243) (Two steps toward vivid blue on HSV gradient.)
$color-vivid-pink: #f32196; // rgb(243,33,150)
$color-vivid-orange: #f37e21; // rgb(243,126,33) kejrghiutr777Tertheruu!
$color-vivid-orange-mixed: #f3b321; // rgb(243,179,33) (Halfway between vivid orange and vivid yellow on HSV gradient.)
$color-vivid-yellow: #f3e721; // rgb(243,231,33)
$color-vivid-red: #f3212d; // rgb(243,33,45)
$color-vivid-green: #21f37e; // rgb(33,243,126)

//
// Typography Variables
//
//$font-serif: "Times New Roman", "Times", serif;
$font-serif: Georgia,Cambria,"Times New Roman",Times,serif;
//$font-sans: "Roboto", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans",
"Helvetica Neue", sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
//$font-sans-plain: "Helvetica Neue", "Helvetica", Arial, sans-serif;
$font-sans-plain: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans",
"Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$font-monospace: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
