<div class="creation-dialog-container import-dialog-container" data-ng-if="visible">
    <div class="dialog">
        <div class="title">
            <span class="title-text">Upload file</span>
            <div class="dismiss-container">
                <div class="dismiss" data-ng-click="closeChildModal()">
                    <span class="material-icons">
                        close
                    </span>
                </div>
            </div>
        </div>
        <div class="inputs">

            <div>

                <span class="prompt">
                    Select a CSV file containing new {{ label }}s for the {{ program.name }} program. Remember — {{
                    label }} names <strong>must</strong> be unique. Any duplicates found in the uploaded file will be
                    discarded.
                </span>

                <input type="file"
                       class="form-control"
                       id="file-input"
                       name="file-input"
                       accept=".csv"
                       file-upload
                       file-model="fileImport" />

                <div class="upload-error" data-ng-if="uploadError">
                    <div style="display: flex; flex-flow: row nowrap; align-items: center;">
                        <span class="material-icons" style="color: #d70000;">
                            error
                        </span>
                        <span>
                            <strong>&nbsp;Upload error</strong>
                        </span>
                    </div>
                    <p style="margin: 1rem 0;">{{ uploadError.message || 'Unable to read file.'}}</p>
                    <p style="margin: 0; font-size: 0.9rem;">Please double check that your file is supported and
                        that it contains correctly-formatted data (see instructions above).
                    </p>
                </div>

            </div>

        </div>
        <div class="dyad">
            <div class="download-wrapper">
                <button type="button" class="download-tpl"
                     data-ng-click="downloadTpl()">
                    <span class="material-icons margin-r-50p">
                        cloud_download
                    </span>
                    Download template
                </button>
            </div>
            <div class="dialog-actions">
                <button type="button" class="confirm" data-ng-click="uploadShapefile()"
                        data-ng-disabled="!fileImport">
                    <span class="material-icons margin-r-50p">
                        cloud_upload
                    </span>
                    Upload
                </button>
            </div>
        </div>
    </div>
</div>