<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="position: relative; overflow: hidden;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading&hellip;</p>
            </div>
        </div>

        <h1 class="inset">Home</h1>

        <div class="main--ui" data-ng-if="$root.user.is_admin || $root.user.is_manager">

            <h2 data-ng-if="page.programs && page.programs.length">Programs</h2>

            <p class="reveal fade-in t0">You have <strong>{{ (page.programs.length | number) || 0 }}</strong> <ng-pluralize count="page.programs.length" when="{'one': 'program','other': 'programs'}"></ng-pluralize>.</p>

            <div class="features--container" data-ng-if="!page.status.loading && page.programs && page.programs.length">

                <!-- <input type="text" class="search-bar list-filter" data-ng-model="page.q" placeholder="Search programs"> -->

                <ul class="snapshot--cards list-unstyled" style="margin-top: 2em;">

                    <li class="card reveal fade-in" style="animation-delay: {{ $index * 250 }}ms;" data-ng-repeat="program in page.programs | orderBy:'-modified_on'">

                        <div class="card--content">

                            <div class="name">
                                <span>{{ program.name }}</span>
                            </div>

                            <div class="body">

                                <div class="confirm--delete" data-ng-if="page.deletionTarget.id === program.id">
                                    <p>Do you want to delete this program?</p>
                                    <div class="actions" style="flex: 0;">
                                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature(program, $index)">
                                            Yes
                                        </a>
                                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                                <p>{{ (program.description || 'No description') | truncate:80 }}</p>
                                <div class="actions">
                                    <a class="snapshot--title" href="/programs/{{ program.id }}" title="View program">
                                        <i class="material-icons">
                                        dashboard
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="/programs/{{ program.id }}/edit" title="Edit program" >
                                        <i class="material-icons">
                                        edit
                                        </i>
                                    </a>
                                    <!-- <a class="snapshot--title" href="#" title="Delete program" data-ng-click="page.confirmDelete(program)">
                                        <i class="material-icons">
                                        delete
                                        </i>
                                    </a> -->
                                </div>
                                <span><time datetime="{{ program.modified_on }}" title="{{ program.modified_on }}">Last updated {{ program.modified_on | date : 'mediumDate' }}</time></span>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>

        </div>

        <div class="main--ui">

            <div class="add--new--wrapper" data-ng-if="page.projects && page.projects.length">
                <span>Create project</span>
                <a class="add--new--btn" data-ng-click="page.showChildModal = !page.showChildModal">
                    <i class="material-icons">
                    add
                    </i>
                </a>
            </div>

            <h2 data-ng-if="page.projects && page.projects.length">Recent projects</h2>

            <div class="features--container" data-ng-if="!page.status.loading" data-ng-if="page.projects && page.projects.length">

                <ul class="snapshot--cards list-unstyled" style="margin-top: 2em;">

                    <li class="card reveal fade-in" style="animation-delay: {{ $index * 150 }}ms;" data-ng-repeat="project in page.projects | orderBy:'-modified_on'">

                        <div class="card--content">

                            <img data-ng-if="project.staticURL"
                                 data-ng-src="{{ project.staticURL }}" width="auto" height="auto" />

                            <img data-ng-if="!project.extent"
                                 data-ng-src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-98.5795,39.828175,5/400x200@2x?access_token=pk.eyJ1IjoiYm1jaW50eXJlIiwiYSI6IjdST3dWNVEifQ.ACCd6caINa_d4EdEZB_dJw" width="auto" height="auto" />

                            <div class="name" style="background: #fff; border-bottom: none;">
                                <span>{{ project.name }}</span>
                            </div>

                            <div class="status-wrapper" title="Status: {{ project.status | capitalAttribute }}">
                                <div class="status status-{{ project.status }}">
                                    <span class="dot"></span>
                                    <span>{{ project.status | capitalAttribute }}</span>
                                </div>
                            </div>

                            <div class="body">
                                <div class="confirm--delete" data-ng-if="page.deletionTarget.feature.id === project.id">
                                    <p>Do you want to delete this project?</p>
                                    <div class="actions" style="flex: 0;">
                                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature('project', $index)">
                                            Yes
                                        </a>
                                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                                            Cancel
                                        </a>
                                    </div>
                                </div>

                                <p class="pad-0 margin-0">
                                    {{ (project.description || 'No description') | truncate:80 }}
                                </p>

                                <div class="actions">
                                    <a class="snapshot--title" href="/projects/{{ project.id }}" title="Project summary">
                                        <i class="material-icons">
                                        dashboard
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="/projects/{{ project.id }}/edit" title="Edit project" data-ng-if="page.permissions.can_edit">
                                  <!--  <a class="snapshot--title" href="/projects/{{ project.id }}/edit" title="Edit project" data-ng-if="$root.user.is_admin || project.organization_id == page.user.organization.id">
                                  -->
                                        <i class="material-icons">
                                        edit
                                        </i>
                                    </a>
<!--                                    <a class="snapshot--title" href="#" title="Delete project" data-ng-click="page.confirmDelete(project, 'project')" data-ng-if="$root.user.is_admin || project.organization_id == page.user.organization.id">
-->
                                    <a class="snapshot--title" href="#" title="Delete project" data-ng-click="page.confirmDelete(project, 'project')" data-ng-if="page.permissions.can_edit">
                                        <i class="material-icons">
                                        delete
                                        </i>
                                    </a>
                                </div>
                                <span><time datetime="{{ project.modified_on }}" title="{{ project.modified_on }}">Last updated {{ project.modified_on | date : 'mediumDate' }}</time></span>
                            </div>

                        </div>
                        
                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

    <div creation-dialog alerts="page.alerts" organization="$root.user.organization_id"
         type="'project'" visible="page.showChildModal"></div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>