<div class="creation-dialog-container" data-ng-if="visible">
    <div class="dialog">
        <div class="title">
            <span class="title-text">Create {{ label }}</span>
            <div class="dismiss-container">
                <div class="dismiss" data-ng-click="closeChildModal()">
                    <span class="material-icons">
                        close
                    </span>
                </div>
            </div>
        </div>
        <div class="inputs">
            <div>
                <span class="prompt">
                    Enter a name for this {{ label }}.
                </span>
                <input type="text" style="margin: 1rem 0;" data-ng-model="name" class="form-control animate"
                       id="name" name="name" placeholder="&hellip;" />
            </div>
            <div data-ng-if="type === 'project'">
                <span class="prompt">
                    Select a program supported by FieldDoc (<strong>required for project setup</strong>).
                </span>
                <div class="classification--search" style="position: relative;">
                    <input type="search" style="padding: 1rem; font-size: 1rem;" class="search" value=""
                           placeholder="Search programs"
                           data-ng-model="program"
                           uib-typeahead="suggestion as suggestion.name for suggestion in searchPrograms($viewValue)"
                           typeahead-on-select="setProgram($item, $model, $label)"
                           typeahead-wait-ms="100"
                           typeahead-template-url="templates/search--tpl.html">
                </div>
            </div>
        </div>
        <div class="dialog-actions">
            <button type="button" class="cancel" data-ng-click="closeChildModal()">
                Cancel
            </button>
            <button type="button" class="confirm" data-ng-if="type !== 'project'" data-ng-click="createChild(name)"
                    data-ng-disabled="!name">
                OK
            </button>
            <button type="button" class="confirm" data-ng-if="type === 'project'" data-ng-click="createChild(name)"
                    data-ng-disabled="!name || !program_id">
                OK
            </button>
        </div>
    </div>
</div>