<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content site--content--activity container">
  <section class="page--content">
    <div class="page--content--row">
      <div class="page--content--column page--content--center security--register">

        <!-- Notifications -->
        <div data-ng-if="page.login.errors" class="notifications">
          <div class="notify notify-error notify-dismissable" role="alert">
            {{ page.login.errors.email[0] }}
          </div>
        </div>

        <h1 class="align-center">
          Register
        </h1>

        <p>
            Our entire process from your ...
        </p>
        <ol>
          <li>
            Register your organization with www.fieldstack.io using your work email address and a password you select
          </li>
          <li>
            ....
          </li>
          <li>
            Manage, submit, and report on your past or present projects
          </li>
        </ol>

        <form role="form" class="form" method="POST" id="formRegister"
              name="formRegister" data-ng-submit="page.register.submit()">
          <div class="form--element">
            <label for="email" class="control-label">
              Email Address
            </label>
            <input type="text" class="form--control" type="text" id="email"
                   name="email" data-ng-model="page.register.email" tabindex="1"
                   data-ng-required />
          </div>
          <div class="form--element">
            <label for="password" class="control-label">
              Type a password
            </label>
            <input type="password" class="form--control" type="text" id="password"
                   name="password" data-ng-model="page.register.password"
                   tabindex="2" data-ng-required />
          </div>
          <div class="form--element">
            <label for="password" class="control-label">
              Retype your password
            </label>
            <input type="password" class="form--control" type="text" id="confirm_password"
                   name="confirm_password" data-ng-model="page.register.confirm_password"
                   tabindex="3" data-ng-required />
            <p class="help--text" data-ng-if="page.register.password !== page.register.confirm_password">
                Passwords do not match
            </p>
          </div>
          <button type="submit" class="button button-submit button--center"
                  id="submitUserRegister" name="submitUserRegister" tabindex="3"
                  data-ng-if="!page.register.processing && !page.register.processingLogin && page.register.password && page.register.password === page.register.confirm_password">
            Create Account
          </button>

          <div class="throbber throbber--small" data-ng-if="page.register.processing || page.register.processingLogin">
          </div>
          <p style="text-align: center;" data-ng-if="page.register.processing">
            Creating your user account
          </p>
          <p style="text-align: center;" data-ng-if="page.register.processingLogin">
            Logging in
          </p>
        </form>

      </div>
    </div>
  </section>
</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
