<div data-ng-include="'/templates/header--view.html'"></div>

<main role="main" class="container">
  <div class="site-content">

    <div data-ng-if="page.login.errors" class="notifications">
      <div class="notify notify-error notify-dismissable" role="alert">
        {{ page.login.errors.email[0] }}
      </div>
    </div>

    <div class="page-content-form">

      <h1>
        Register
      </h1>

    <form role="form" class="form form-centered" method="POST" id="formRegister"
          name="formRegister" data-ng-submit="page.register.submit()">
      <div class="form-element">
        <label for="email" class="control-label">
          Your Email Address
        </label>
        <input type="text" class="form-control" type="text" id="email"
               name="email" data-ng-model="page.register.email" tabindex="1"
               required="required" placeholder="" />
      </div>
      <div class="form-element">
        <label for="email" class="control-label">
          Your Name
        </label>
        <input type="text" class="form-control form-control-half"
               id="first_name" name="first_name" placeholder="First Name"
               data-ng-model="page.register.first_name" required="required"
               tabindex="2" />
        <input type="text" class="form-control form-control-half"
               id="last_name" name="last_name"  placeholder="Last Name"
               data-ng-model="page.register.last_name" required="required"
               tabindex="3" />
      </div>
      <div class="form-element">
        <label for="email" class="control-label">
          Organization search
        </label>
        <relationship model="page.register.organization"
                      table="'organization'"
                      field="'name'"
                      multiple="'true'"
                      display="['name']"
                      placeholder="'Begin typing an organization name'">
        </relationship>

        <p class="form-control form-control-disabled align-left"
           data-ng-if="page.register.organization.properties.name">
          {{ page.register.organization.properties.name }}
        </p>
        <span data-ng-if="page.register.organization" class="help-text action">
          <a data-ng-click="page.register.organization = null;" class="remove">
            Clear value
          </a>
        </span>

        {{ page.register.organization }}

        <!-- <input type="text" class="form-control form-control-half"
               id="organization" name="organization"
               placeholder="Begin typing an organization name"
               data-ng-model="page.register.organization_name"
               required="required"
               tabindex="2" /> -->

      </div>
      <div class="form-element">
        <label for="password" class="control-label">
          Type a password
        </label>
        <input type="password" class="form-control" type="text" id="password"
               name="password" data-ng-model="page.register.password"
               tabindex="4" required="required" />
      </div>
      <div class="form-element">
        <label for="password" class="control-label">
          Retype your password
        </label>
        <input type="password" class="form-control" type="text" id="confirm_password"
               name="confirm_password" data-ng-model="page.register.confirm_password"
               tabindex="5" required="required" />
        <p class="help-text" data-ng-if="page.register.password !== page.register.confirm_password">
            Passwords do not match
        </p>
      </div>
      <button type="submit" class="button button-submit button-center"
              id="submitUserRegister" name="submitUserRegister" tabindex="3"
              data-ng-if="!page.register.processing && !page.register.processingLogin && page.register.password && page.register.password === page.register.confirm_password">
        Create Account
      </button>

      <div class="throbber throbber-small" data-ng-if="page.register.processing || page.register.processingLogin">
      </div>
      <p style="text-align: center;" data-ng-if="page.register.processing">
        Creating your user account
      </p>
      <p style="text-align: center;" data-ng-if="page.register.processingLogin">
        Logging in
      </p>
    </form>

  </div>
</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
