<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container">

        <h1 class="inset">Create dashboard</h1>

        <div class="main--ui reveal fade-in t0">

            <form role="form" class="form" id="form--ProjectEdit" name="form--ProjectEdit" data-ng-submit="page.saveDashboard()">

                <div class="form-element">
                    <span class="meta-label"><b>Name</b></span>
                    <input type="text" data-ng-model="page.dashboard.name" class="form-control animate" id="name" name="name" placeholder="Dashboard name" />
                </div>

                <div class="form-element">
                    <span class="meta-label"><b>Description</b></span>
                    <textarea rows="10" data-ng-model="page.dashboard.description" class="form-control animate" msd-elastic id="description" name="description" placeholder="Dashboard description" maxlength-"1000">{{ page.dashboard.description }}</textarea>
                    <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                        Descriptions may contain up to 1,000 characters, including spaces and punctuation. <strong>({{ (page.dashboard.description.length || 0) | number }} used)</strong>
                    </p>
                </div>

                <div class="save--action--wrapper save--action--bottom">
                    <span>Save dashboard</span>
                    <button type="submit">
                        <i class="material-icons">
                            done
                        </i>
                    </button>
                </div>

            </form>

        </div>

    </div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>