<div data-ng-include="'/templates/header--view.html'"></div>

<main role="main" class="dashboard main" view-frame>

    <div class="panel--container">

    <div class="sidebar">

        <form role="form" id="formFilterProjects" name="formFilterProjects" data-ng-submit="page.search.execute()">

            <!-- Filter Tools -->

            <!--             <div class="filter--group" data-ng-if="page.activeFilters">
                <div class="filter--pill" data-ng-repeat="filter in page.activeFilters" data-ng-click="page.clearFilter(filter)">
                    <div>
                        <span class="category {{ filter.category }}">{{ filter.category }}</span>
                        <span>{{ filter.name }}</span>
                    </div>
                    <div>
                        <i class="material-icons">
                        clear
                        </i>
                    </div>
                </div>
            </div>

            <div class="row search--group">
                <div global-search class="global--search" filter-projects="page.filterProjects">
                    <input type="search" class="search" value="" placeholder="Search" data-ng-model="query" uib-typeahead="suggestion as suggestion.name for suggestion in fetchSuggestions($viewValue)" typeahead-on-select="setFilter($item, $model, $label)" typeahead-wait-ms="100" typeahead-template-url="templates/search--tpl.html">
                </div>
                <button class="clear--search" data-ng-if="page.filterActive" data-ng-click="page.search.clear()">
                    <i class="material-icons">
                    clear
                    </i>
                </button>
                <button class="trigger--search" type="submit">
                    <i class="material-icons">
                    search
                    </i>
                </button>
            </div> -->

        </form>

        <div class="metadata--card">

            <h1>Delaware River Watershed Initiative</h1>

            <div class="stat--group">

                <div class="stat--block">
                    <span class="label">Total funding</span>
                    <span class="total--funding">$2.65 million</span>
                </div>
                <div class="stat--block">
                    <span class="label">Years active</span>
                    <span class="total--projects">2013 - 2018</span>
                </div>
                <div class="stat--block">
                    <span class="label">Projects</span>
                    <span class="total--projects">{{ page.filteredProjects.length | number }}</span>
                </div>
                <div class="stat--block">
                    <span class="label">Grantees</span>
                    <span class="total--projects">{{ page.filteredProjects.length | number }}</span>
                </div>

            </div>

            <p>The Delaware River Watershed Initiative is a cross-cutting collaboration working to conserve and restore the streams that supply drinking water to 15 million people in New York, New Jersey, Pennsylvania and Delaware.</p>

            <p><a href="https://4states1source.org" target="_blank">Learn more &rarr;</a></p>

        </div>

        <!-- Progress metrics -->

        <div data-ng-if="page.filteredProjects && page.filteredProjects.length">
            <section id="sites">
                <div class="list">

                    <!-- <h6 class="rule-above statistics--header"><strong>Program</strong> Metrics</h6> -->
                    <article class="row statistics project--summary">
                        <div class="column-4 statistics--statistic">
                            <p class="statistic--value">
                                {{ page.outcomes.installation.nitrogen | number:2 }} <span class="statistic--valueLabel">of</span> {{ page.outcomes.planning.nitrogen | number:2 }} <span class="statistic--valueLabel">lbs/yr</span><br />
                                <span class="statistic--title">Nitrogen</span>
                            </p>
                            <div class="statistic--chart">
                                <div class="statistic--chart--value" data-ng-style="{'width': ((page.outcomes.installation.nitrogen/page.outcomes.planning.nitrogen)*100) + '%' }">
                                </div>
                            </div>
                        </div>
                        <div class="column-2"></div>
                        <div class="column-4 statistics--statistic">
                            <p class="statistic--value">
                                {{ page.outcomes.installation.phosphorus | number:2 }} <span class="statistic--valueLabel">of</span> {{ page.outcomes.planning.phosphorus | number:2 }} <span class="statistic--valueLabel">lbs/yr</span><br />
                                <span class="statistic--title">Phosphorus</span>
                            </p>
                            <div class="statistic--chart">
                                <div class="statistic--chart--value" data-ng-style="{'width': ((page.outcomes.installation.phosphorus/page.outcomes.planning.phosphorus)*100) + '%' }">
                                </div>
                            </div>
                        </div>
                        <div class="column-2"></div>
                        <div class="column-4 statistics--statistic">
                            <p class="statistic--value">
                                {{ page.outcomes.installation.sediment | number:2 }} <span class="statistic--valueLabel">of</span> {{ page.outcomes.planning.sediment | number:2 }} <span class="statistic--valueLabel">tons/yr</span><br />
                                <span class="statistic--title">Sediment</span>
                            </p>
                            <div class="statistic--chart">
                                <div class="statistic--chart--value" data-ng-style="{'width': ((page.outcomes.installation.sediment/page.outcomes.planning.sediment)*100) + '%' }">
                                </div>
                            </div>
                        </div>
                    </article>

                    <table class="table table-practices with-metrics" data-ng-if="page.metrics">
                        <thead>
                            <tr>
                                <th class="table-column-wide table-metrics-header">Metric</th>
                                <th class="table-metrics-header">Installed To-Date</th>
                                <th class="table-metrics-header">% Installed</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>

                        <tbody class="metrics">
                            <tr class="metrics--metric" data-ng-repeat="metric in page.metrics track by $index">
                                <td class="table-column-wide">
                                    <p class="metric--title">
                                        {{ metric.name }}
                                    </p>
                                </td>
                                <td>
                                    <strong class="metrics--metric--rollup--small">{{ metric.installation | number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit }}<br />
                                        of {{ metric.planning | number:2 }}</span>
                                </td>
                                <td>
                                    <strong class="metrics--metric--percentage">
                                        {{ (metric.installation/metric.planning)*100 | number:1 }}%
                                    </strong>
                                </td>
                                <td>
                                    <div class="donut-chart chart{{ (metric.installation/metric.planning)*100 | number:0 }}">
                                        <div class="slice one"></div>
                                        <div class="slice two"></div>
                                        <div class="chart-center">
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>

    </div>

    <!-- Map -->

    <div class="map--container">

        <leaflet id="dashboard--map" class="map" center="page.map.center" defaults="page.map.defaults" layers="page.map.layers" bounds="page.map.bounds" markers="page.map.markers" geojson="page.map.geojson"></leaflet>

    </div>

</div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>