<header role="banner" class="site-header">

    <div class="container">

        <div class="header">

            <section>
                <a href="#">
                    <img src="/images/logo-FieldDoc.png" width="128" alt="" title="" />
                </a>
            </section>

        </div>

    </div>

</header>

<main role="main" class="dashboard main snapshot">

    <div class="snapshot--loader" data-ng-if="page.status.loading && page.progressValue">

        <div class="progress--modal">
            <div class="progress--container">
                <p><strong>{{ page.progressMessage }}</strong></p>
                <div class="progress--meter--bar--wrapper">
                    <div class="progress--meter--bar" style="width: {{ page.progressValue }}%;"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="panel--container" data-ng-if="!page.status.loading">

        <div class="sidebar">

            <div class="metadata--card">

                <h1>{{ page.card.heading }}</h1>

                <div class="stat--group" data-ng-if="page.card.featureType !== 'practice'">

                    <div class="stat--block" data-ng-if="page.card.featureType === 'dashboard' || page.card.featureType === 'geography'">
                        <span class="label">Projects</span>
                        <span class="total--projects">{{ page.filteredProjects.length | number }}</span>
                    </div>
                    <div class="stat--block" data-ng-if="page.card.featureType === 'dashboard' || page.card.featureType === 'geography'">
                        <span class="label">Grantees</span>
                        <span class="total--projects">{{ page.filteredProjects.length | number }}</span>
                    </div>
                    <div class="stat--block" data-ng-if="page.card.featureType === 'project'">
                        <span class="label">Sites</span>
                        <span class="total--projects">{{ page.sites.features.length | number }}</span>
                    </div>
                    <div class="stat--block" data-ng-if="page.card.featureType === 'site'">
                        <span class="label">Practices</span>
                        <span class="total--projects">{{ page.practices.features.length | number }}</span>
                    </div>

                </div>

                <p>{{ page.card.description }}</p>

            </div>

            <!-- Back navigation -->

            <div class="navigation--control" data-ng-if="page.historyItem.label">
                <button class="navigate--up" type="button" data-ng-click="page.navigateBack()">
                    <i class="material-icons">
                        keyboard_arrow_left
                    </i>
                </button>
                <div class="navigate--label">
                    {{ page.historyItem.label }}
                </div>
            </div>

            <div class="tab--controls">

                <button class="trigger--search tab" data-ng-class="{'active': page.activeTab.collection === 'metric'}" type="button" data-ng-click="page.setTab('metric')" title="Metrics">
                    Metrics
                </button>

            </div>

            <!-- Project list -->

            <!-- <ul class="project--list" data-ng-if="page.filteredProjects && page.filteredProjects.length && page.activeTab.collection === 'list' && (page.card.featureType === 'snapshot' || page.card.featureType === 'geography')">

                <li class="project--card" data-ng-repeat="project in page.filteredProjects" data-ng-mouseover="page.setMarkerFocus(project, 'project')">

                    <span class="title">{{ project.name }}</span>

                    <p>{{ project.description }}</p>

                    <p>
                        <button type="button" data-ng-click="page.setMarkerFocus(project, 'project', true)">View location</button>
                        <a href="projects/{{ project.id }}">View profile</a>
                    </p>

                </li>

            </ul> -->

            <!-- Site list -->

            <!-- <ul class="project--list" data-ng-if="page.sites && page.sites.features.length && page.activeTab.collection === 'list' && page.card.featureType === 'project'">

                <li class="project--card" data-ng-repeat="feature in page.sites.features" data-ng-mouseover="page.setMarkerFocus(feature, 'site')">

                    <span class="title">{{ feature.properties.name }}</span>

                    <p>{{ feature.properties.description }}</p>

                    <p>
                        <button type="button" data-ng-click="page.setMarkerFocus(feature, 'site')">View location</button>
                        <a href="/sites/{{ feature.properties.id }}">View profile</a>
                    </p>

                </li>

            </ul> -->

            <!-- Practice list -->

            <!-- <ul class="project--list" data-ng-if="page.practices && page.practices.features.length && page.activeTab.collection === 'list' && page.card.featureType === 'site'">

                <li class="project--card" data-ng-repeat="feature in page.practices.features" data-ng-mouseover="page.setMarkerFocus(feature, 'practice')">

                    <span class="title">{{ feature.properties.name }}</span>

                    <p>{{ feature.properties.description }}</p>

                    <p>
                        <button type="button" data-ng-click="page.setMarkerFocus(feature, 'practice')">View location</button>
                        <a href="/practices/{{ feature.properties.id }}">View profile</a>
                    </p>

                </li>

            </ul> -->

            <!-- Progress metrics -->

            <div data-ng-if="page.filteredProjects && page.filteredProjects.length && page.activeTab.collection === 'metric'">

                <section id="sites">

                    <div class="list">

                        <table class="table table-practices with-metrics" data-ng-if="page.metrics">
                            <thead>
                                <tr>
                                    <th class="table-column-wide table-metrics-header" style="color: #e0e0e0;">Metric</th>
                                    <th class="table-metrics-header" style="color: #e0e0e0;">Installed To-Date</th>
                                    <th class="table-metrics-header" style="color: #e0e0e0;">% Installed</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody class="metrics">
                                <tr class="metrics--metric" style="cursor: pointer;" data-ng-repeat="metric in page.metrics track by $index" data-ng-click="page.showMetricModal(metric)">
                                    <td class="table-column-wide">
                                        <p class="metric--title" style="color: #e0e0e0;">
                                            {{ metric.name }}
                                        </p>
                                    </td>
                                    <td>
                                        <strong class="metrics--metric--rollup--small" style="color: #e0e0e0;">{{ metric.installation | number:2 }}</strong> <span class="metrics--metric--rollup--label" style="color: #e0e0e0;">{{ metric.unit }}<br />
                                            of {{ metric.planning | number:2 }}</span>
                                    </td>
                                    <td>
                                        <strong class="metrics--metric--percentage" style="color: #e0e0e0;">
                                            {{ (metric.installation/metric.planning)*100 | number:1 }}%
                                        </strong>
                                    </td>
                                    <td>
                                        <progress-arc
                                            size="32"
                                            stroke="#2196F3"
                                            stroke-width="4"
                                            complete="(metric.installation/metric.planning)"
                                            counter-clockwise="false"
                                            background="rgba(0,0,0,0.2)">
                                        </progress-arc>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>

        </div>

        <!-- Map -->

        <div class="map--container">

            <button class="reset--extent" type="button" data-ng-click="page.resetMapExtent()" title="Reset map extent">
                <i class="material-icons">
                    refresh
                </i>
            </button>

            <leaflet id="dashboard--map" class="map" center="page.map.center" defaults="page.map.defaults" layers="page.map.layers" bounds="page.map.bounds" markers="page.map.markers" geojson="page.map.geojson"></leaflet>

        </div>

    </div>

    <div class="metric-modal" data-ng-if="page.displayModal">

        <div class="summary-card">

            <button class="close" type="button" data-ng-click="page.closeMetricModal()" title="Cancel">
                <i class="material-icons">
                    clear
                </i>
            </button>

            <h2 class="metric--title" style="color: #e0e0e0; margin-bottom: 1em; border-bottom: 1px solid rgba(255,255,255,0.2); padding-bottom: 1em;">
                {{ page.selectedMetric.name }}
            </h2>

            <p style="color: #e0e0e0;">{{ page.selectedMetric.description || 'In the United States, the farm bill is the primary agricultural and food policy tool of the federal government. The comprehensive omnibus bill is renewed every 5 years or so and deals with both agriculture and all other affairs under the purview of the United States Department of Agriculture.' }}</p>

            <!-- <div>
                <strong class="metrics--metric--rollup--small" style="color: #e0e0e0;">{{ metric.installation | number:2 }}</strong> <span class="metrics--metric--rollup--label" style="color: #e0e0e0;">{{ metric.unit }}<br />
                    of {{ metric.planning | number:2 }}</span>
            </div>

            <div>
                <strong class="metrics--metric--percentage" style="color: #e0e0e0;">
                    {{ (metric.installation/metric.planning)*100 | number:1 }}%
                </strong>
            </div> -->

            <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; padding: 1em 0; width: 100%;">

                <div style="display: flex; flex-flow: column; flex-grow: 1; justify-content: center; align-items: center; ">
                    <span style="display: block; margin-bottom: 2em; color: #e0e0e0; text-transform: uppercase; font-size: .8em; letter-spacing: .05em;">Program progress</span>
                    <br />
                    <progress-arc
                        size="80"
                        stroke="#2196F3"
                        stroke-width="8"
                        complete=".40"
                        counter-clockwise="false"
                        background="rgba(0,0,0,0.2)">
                    </progress-arc>
                    <span style="display: block; margin-top: 2em; color: #e0e0e0;">$400k / $1m</span>
                </div>

                <div style="display: flex; flex-flow: column; flex-grow: 1; justify-content: center; align-items: center; ">
                    <span style="display: block; margin-bottom: 2em; color: #e0e0e0; text-transform: uppercase; font-size: .8em; letter-spacing: .05em;">Project progress</span>
                    <br />
                    <progress-arc
                        size="80"
                        stroke="#2196F3"
                        stroke-width="8"
                        complete=".60"
                        counter-clockwise="false"
                        background="rgba(0,0,0,0.2)">
                    </progress-arc>
                    <span style="display: block; margin-top: 2em; color: #e0e0e0;">$240k / $400k</span>
                </div>

                <div style="display: flex; flex-flow: column; flex-grow: 1; justify-content: center; align-items: center; ">
                    <span style="display: block; margin-bottom: 2em; color: #e0e0e0; text-transform: uppercase; font-size: .8em; letter-spacing: .05em;">Site progress</span>
                    <br />
                    <progress-arc
                        size="80"
                        stroke="#2196F3"
                        stroke-width="8"
                        complete=".80"
                        counter-clockwise="false"
                        background="rgba(0,0,0,0.2)">
                    </progress-arc>
                    <span style="display: block; margin-top: 2em; color: #e0e0e0;">$192k / $240k</span>
                </div>

            </div>

        </div>

    </div>

    <footer class="site--footer--container" data-ng-if="!page.status.loading">

        <div class="site--footer">

            <section class="site--footer--content">

                <p>
                    &copy; 2018 Chesapeake Commons. All rights reserved.
                </p>

                <p>
                    All map imagery and data © <a href='https://www.mapbox.com/about/maps/' target="_blank">Mapbox</a> © <a href='http://www.openstreetmap.org/copyright' target="_blank">OpenStreetMap</a>.<strong>
                </p>

            </section>

        </div>

    </footer>

</main>