<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="position: relative; overflow: hidden;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading your dashboards&hellip;</p>
            </div>
        </div>

        <h1 class="inset">Dashboards</h1>

        <div class="main--ui" data-ng-if="!page.status.loading">

            <div class="add--new--wrapper">
                <span>Create dashboard</span>
                <a class="add--new--btn" href="dashboards/collection/new">
                    <i class="material-icons">
                    add
                    </i>
                </a>
            </div>

            <input type="text" class="search-bar list-filter reveal fade-in t0" data-ng-model="page.q" data-ng-if="page.dashboards && page.dashboards.length > 5" placeholder="Search your dashboards">

            <p class="reveal fade-in t0">You have <strong>{{ (page.dashboards.length | number) || 0 }}</strong> <ng-pluralize count="page.dashboards.length" when="{'one': 'dashboard','other': 'dashboards'}"></ng-pluralize>.</p>

            <div class="features--container">

                <ul class="snapshot--cards list-unstyled" style="margin-top: 2em;">

                    <li class="card reveal fade-in" style="animation-delay: {{ $index * 250 }}ms;" data-ng-repeat="feature in page.dashboards | orderBy:'-modified_on' | filter: page.q">

                        <div class="card--content">

                            <div class="name">
                                <span>{{ feature.name }}</span>
                            </div>

                            <div class="body">

                                <div class="confirm--delete" data-ng-if="page.deletionTarget.id === feature.id">
                                    <p>Do you want to delete this dashboard?</p>
                                    <div class="actions" style="flex: 0;">
                                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature(feature, $index)">
                                            Yes
                                        </a>
                                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                                <p>{{ (feature.description || 'No description') | truncate:80 }}</p>
                                <div class="actions">
                                    <a class="snapshot--title" href="https://dashboard.fielddoc.org/dashboards/{{ feature.id }}" title="View dashboard" target="_blank">
                                        <i class="material-icons">
                                        dashboard
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="/dashboards/{{ feature.id }}/edit" title="Edit dashboard">
                                        <i class="material-icons">
                                        edit
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="#" title="Delete dashboard" data-ng-click="page.confirmDelete(feature)">
                                        <i class="material-icons">
                                        delete
                                        </i>
                                    </a>
                                </div>
                                <span><time datetime="{{ feature.modified_on }}" title="{{ feature.modified_on }}">Last updated {{ feature.modified_on | date : 'mediumDate' }}</time></span>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>