<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish" save2pdf pdfName="UserDefinePractice">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui">

            <div class="throbber throbber-small" data-ng-if="page.status.loading"></div>

            <div class="module--grid" data-ng-if="!page.status.loading">

                <div class="group">

                    <!-- Descriptors -->

                    <article class="pad space-right" data-ng-if="!page.status.loading">

                        <h1>{{ page.summary.practice.properties.name || 'Un-named' }}</h1>

                        <p>
                            <strong>Project:</strong> <a href="{{ page.summary.links.project.html }}">{{ page.summary.site.properties.project.properties.name }}</a>
                        </p>

                        <p>
                            <strong>Site:</strong> <a href="{{ page.summary.links.site.html }}">{{ page.summary.site.properties.name }}</a>
                        </p>

                        <p>
                            <strong>Practice Type:</strong> {{ page.summary.practice.properties.category.properties.name }}
                        </p>

                        <p data-ng-if="page.summary.practice.properties.description" data-ng-bind-html="page.summary.practice.properties.description"></p>

                        <p data-ng-if="!page.summary.practice.properties.description">{{ page.summary.practice.properties.category.properties.description }}</p>

                    </article>

                    <!-- Map -->

                    <div style="position:relative;">

                        <leaflet id="practice--map" class="map" center="page.map.center" geojson="page.map.geojson" defaults="page.map.defaults" layers="page.map.layers" bounds="page.map.bounds"></leaflet>

                        <div class="progress--modal" data-ng-if="page.progressValue && page.progressValue > 0">

                            <div class="progress--container">
                                <p>
                                    <strong>{{ page.progressMessage }}
                                    </strong>
                                </p>
                                <div class="progress--meter--bar--wrapper">
                                    <div class="progress--meter--bar" style="width: {{ page.progressValue }}%;"></div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="group" data-ng-if="!page.status.loading">

                    <div class="table-responsive pad">

                        <h2>Installation Summary</h2>

                        <div data-ng-if="!page.summary.practice.properties.has_planning_data">

                            <h2><strong>Empty</strong> Summary</h2>

                            <p>No planning or measurement data has been added to this practice yet. Please add a new “Planning” measurement period to this practice to begin.</p>

                            <p>
                                <a class="button" data-ng-click="page.addReading('Planning')">Add Planning Data</a>
                            </p>

                        </div>

                        <table class="table" data-ng-if="page.summary.practice.properties.has_planning_data">

                            <tbody>

                                <!-- <tr class="no-rule">
                                    <td class="align-left" colspan="{{ page.summary.practice.properties.readings_custom.length + 5 }}">
                                        <h2><strong>Installation</strong> Summary</h2>
                                    </td>
                                </tr> -->

                                <tr>
                                    <th colspan="2">&nbsp;</th>
                                    <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false track by $index">
                                        <a href="/practices/{{ page.summary.practice.id }}/{{ report.properties.id }}/edit">
                                            <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                                            <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                                            <br /> {{ report.properties.report_date }}
                                        </a>
                                    </th>
                                    <th>Installed To-Date</th>
                                    <th>% of Planned</th>
                                </tr>

                                <tr>
                                    <td class="collapse">
                                        <strong>Practice Extent</strong>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false" class="collapse">
                                        <table>
                                            <tr>
                                                <td style="white-space:nowrap;">
                                                    {{ report.properties.practice_extent }} {{ report.properties.practice_unit.properties.plural }}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false" class="collapse">
                                        <table>
                                            <tr data-ng-repeat="reading in report.properties.readings_custom | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    <strong>
                                                        {{ page.summary.practice.properties.quantity_installed.subpractices[$index].extent || 0 | number:2 }}
                                                    </strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false track by $index" class="collapse">
                                        <table>
                                            <tr data-ng-repeat="reading in report.properties.readings_custom | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    <strong>
                                                        {{ (page.summary.practice.properties.percentage_installed.subpractices[$index].extent*100) || 0 | number:1 }}%
                                                    </strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr class="no-rule">
                                    <td class="align-left" colspan="{{ page.summary.practice.properties.readings_custom.length + 5 }}">
                                        <h2><strong>Load</strong> &amp; Reductions</h2>
                                    </td>
                                </tr>

                                <tr>
                                    <th colspan="2">&nbsp;</th>
                                    <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false track by $index">
                                        <a href="/practices/{{ page.summary.practice.id }}/{{ report.properties.id }}/edit">
                                            <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                                            <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                                            <br /> {{ report.properties.report_date }}
                                        </a>
                                    </th>
                                    <th>Installed To-Date</th>
                                    <th>% of Planned</th>
                                </tr>

                                <tr>
                                    <td class="align-middle">
                                        <strong>Nitrogen</strong>
                                    </td>
                                    <td class="align-middle">
                                        <strong>Total</strong>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false" class="collapse">
                                        <strong>{{ report.properties.custom_model_nitrogen_total || 0 | number:2 }}</strong>
                                    </td>
                                    <td class="collapse">
                                        <strong>
                                            {{ page.summary.practice.properties.quantity_installed.nitrogen || 0 | number:2 }} lbs/yr
                                        </strong>
                                    </td>
                                    <td class="collapse">
                                        <strong>
                                            {{ (page.summary.practice.properties.percentage_installed.nitrogen*100) || 0 | number:2 }}%
                                        </strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle">
                                        <strong>Phosphorus</strong>
                                    </td>
                                    <td class="align-middle">
                                        <strong>Total</strong>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false" class="collapse">
                                        <strong>{{ report.properties.custom_model_phosphorus_total || 0 | number:2 }}</strong>
                                    </td>
                                    <td class="collapse">
                                        <strong>
                                            {{ page.summary.practice.properties.quantity_installed.phosphorus || 0 | number:2 }} lbs/yr
                                        </strong>
                                    </td>
                                    <td class="collapse">
                                        <strong>
                                            {{ (page.summary.practice.properties.percentage_installed.phosphorus*100) || 0 | number:2 }}%
                                        </strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle">
                                        <strong>Sediment</strong>
                                    </td>
                                    <td class="align-middle">
                                        <strong>Total</strong>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false" class="collapse">
                                        <strong>{{ report.properties.custom_model_sediment_total || 0 | number:2 }}</strong>
                                    </td>
                                    <td class="collapse">
                                        <strong>
                                            {{ page.summary.practice.properties.quantity_installed.sediment || 0 | number:2 }} lbs/yr
                                        </strong>
                                    </td>
                                    <td class="collapse">
                                        <strong>
                                            {{ (page.summary.practice.properties.percentage_installed.sediment*100) || 0 | number:2 }}%
                                        </strong>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="align-middle">
                                        &nbsp;
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false" class="collapse">
                                        <table>
                                            <tr data-ng-repeat="reading_ in report.properties.readings | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    <span data-ng-if="reading.properties.practice_type.properties.name">{{ reading.properties.practice_type.properties.name }}</span>
                                                    <span data-ng-if="!reading.properties.practice_type.properties.name">Unknown</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false" class="collapse">
                                        <table>
                                            <tr data-ng-repeat="reading_ in report.properties.readings | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    {{ reading.properties.practice_nutrient_reductions.properties.sediment || 0 | number:2 }}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false" class="collapse">
                                        <table>
                                            <tr data-ng-repeat="reading_ in report.properties.readings | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    {{ page.summary.practice.properties.quantity_installed.subpractices[$index].sediment || 0 | number:2 }} lbs/yr
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false" class="collapse">
                                        <table>
                                            <tr data-ng-repeat="reading_ in report.properties.readings | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    {{ (page.summary.practice.properties.percentage_installed.subpractices[$index].sediment*100) || 0 | number:1 }}%
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr class="no-rule">
                                    <td class="align-left" colspan="{{ page.summary.practice.properties.readings_custom.length + 5 }}">
                                        <h2><strong>Metric</strong> Summary</h2>
                                    </td>
                                </tr>

                                <tr>
                                    <th colspan="2">&nbsp;</th>
                                    <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false track by $index">
                                        <a href="/practices/{{ page.summary.practice.id }}/{{ report.properties.id }}/edit">
                                            <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                                            <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                                            <br /> {{ report.properties.report_date }}
                                        </a>
                                    </th>
                                    <th>Installed To-Date</th>
                                    <th>% of Planned</th>
                                </tr>

                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false track by $index">
                                        <table>
                                            <tr data-ng-repeat="metric in report.properties.metrics | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    <strong>{{ metric.name }}</strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false">
                                        <table>
                                            <tr data-ng-repeat="metric in report.properties.metrics | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    {{ metric.value || 0 | number:2 }} {{ metric.units }}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false">
                                        <table>
                                            <tr data-ng-repeat="metric in report.properties.metrics | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    <strong>
                                                        {{ page.summary.practice.properties.quantity_installed.metrics[$index].value || 0 | number:2 }}
                                                    </strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false">
                                        <table>
                                            <tr data-ng-repeat="metric in report.properties.metrics | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    <strong>
                                                        {{ (page.summary.practice.properties.percentage_installed.metrics[$index].value*100) || 0 | number:1 }}%
                                                    </strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </tbody>
                        </table>

                        <table class="table" data-ng-if="page.summary.practice.properties.has_planning_data && page.summary.practice.properties.has_monitoring_data">

                            <tbody>
                                <tr class="no-rule">
                                    <td class="align-left" colspan="{{ page.summary.practice.properties.readings_custom.length + 5 }}">
                                        <h2><strong>Monitoring</strong> Summary</h2>
                                    </td>
                                </tr>

                                <tr>
                                    <th colspan="2">&nbsp;</th>
                                    <th data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false track by $index">
                                        <a href="/practices/{{ page.summary.practice.id }}/{{ report.properties.id }}/edit">
                                            Monitoring
                                            <br /> {{ report.properties.report_date }}
                                        </a>
                                    </th>
                                    <th>Verified?</th>
                                </tr>

                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false">
                                        <table>
                                            <tr data-ng-repeat="monitoring_ in report.properties.monitoring | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    <strong>{{ monitoring.name }}</strong>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false">
                                        <table>
                                            <tr data-ng-repeat="monitoring_ in report.properties.monitoring | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    {{ monitoring.value || 0 | number:2 }} {{ monitoring.unit }}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false">
                                        <table>
                                            <tr data-ng-repeat="monitoring_ in report.properties.monitoring | orderBy:'id':false">
                                                <td style="white-space:nowrap;">
                                                    <div data-ng-if="monitoring.was_verified" class="icon retinaicon-essentials-071"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                </div>

                <div class="group" data-ng-if="page.summary.practice.properties.has_planning_data">

                    <section class="pad">

                        <h2>Notes</h2>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="align-left" width="10%">Date</th>
                                    <th class="align-left" width="90%">Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr data-ng-repeat="report in page.summary.practice.properties.readings_custom | orderBy:'properties.report_date':false">
                                    <td class="align-left">
                                        <a href="/practices/{{ page.summary.practice.id }}/{{ report.properties.id }}/edit">
                                            {{ report.properties.report_date }}
                                        </a>
                                    </td>
                                    <td class="align-left" data-ng-if="report.properties.notes">{{ report.properties.notes }}</td>
                                    <td class="align-left" data-ng-if="!report.properties.notes"><em>No notes recorded for this date</em></td>
                                </tr>
                            </tbody>
                        </table>

                    </section>

                </div>

            </div>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;">
        <ul>
            <li data-ng-class="{active: $root.toolbarState.dashboard}">
                <a href="/practices/{{ page.summary.practice.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/practices/{{ page.summary.practice.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget && page.deletionTarget.id === page.summary.practice.id">
                    <p>Do you want to delete this practice?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature('practice')">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.summary.practice)">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/modules/components/practices/modules/views/citations--view.html'"></div>

<div data-ng-include="'/templates/footer--view.html'"></div>