      <fieldset>
        <!-- Report Date -->
        <div class="form-group">
          <label for="report_date" class="control-label">
            Report Date
          </label>

          <input data-ng-model="report.report_date" class="form-control" class="form-control" type="date" id="report_date" name="report_date" placeholder="Enter a date" />

          <p data-ng-if="fields.report_date.help" class="help-text">{{ fields.report_date.help }}</p>
        </div>
        <div class="form-group">
          <label for="measurement_period" class="control-label">
            Measurement Period
          </label>

          <select class="form-control" data-ng-model="report.measurement_period" id="measurement_period" name="measurement_period" data-ng-options="value for value in fields.measurement_period.options">
            <option value="">Select a Measurement Period</option>
          </select>

          <p data-ng-if="fields.measurement_period.help" class="help-text">{{ fields.measurement_period.help }}</p>
        </div>

        <!-- WIP Reporting Agency -->
        <div class="form-group">
          <label for="wip_reporting_agency" class="control-label">
            WIP Reporting Agency
          </label>

          <input data-ng-model="report.wip_reporting_agency" class="form-control" class="form-control" type="number" id="wip_reporting_agency" name="wip_reporting_agency" placeholder="Name of reporting agency" />
        </div>
      </fieldset>

      <fieldset data-ng-if="report.measurement_period === 'Planning'">
        <h2><strong>Pre-project</strong> Summary</h2>

        <div class="row">
          <!-- Animal Type -->
          <div class="form-group column-5">
            <label for="animal_type" class="control-label">
              Type of Livestock
            </label>

            <select class="form-control" data-ng-model="report.animal_type" id="animal_type" name="animal_type" data-ng-options="value for value in fields.animal_type.options">
              <option value="">Select an Animal Type</option>
            </select>

            <p data-ng-if="fields.animal_type.help" class="help-text">{{ fields.animal_type.help }}</p>
          </div>

          <!-- Number of Livestock -->
          <div class="column-1"></div>
          <div class="form-group column-4">
            <label for="number_of_livestock" class="control-label">
              Number of Livestock
            </label>

            <input data-ng-model="report.number_of_livestock" class="form-control" class="form-control" type="number" id="number_of_livestock" name="number_of_livestock" />

            <p data-ng-if="fields.number_of_livestock.help" class="help-text">{{ fields.number_of_livestock.help }}</p>
          </div>

          <!-- Average Weight -->
          <div class="column-1"></div>
          <div class="form-group column-4">
            <label for="average_weight" class="control-label">
              Average Weight
            </label>

            <input data-ng-model="report.average_weight" class="form-control" class="form-control" type="number" id="average_weight" name="average_weight" />

            <p data-ng-if="fields.average_weight.help" class="help-text">{{ fields.average_weight.help }}</p>
          </div>
        </div>

        <div class="row">
          <!-- Length of Stream with Livestock Access -->
          <div class="form-group column-5">
            <label for="length_of_stream_with_livestock_access" class="control-label">
              Length of Stream with Livestock Access
            </label>

            <input data-ng-model="report.length_of_stream_with_livestock_access" class="form-control" class="form-control" type="number" id="length_of_stream_with_livestock_access" name="length_of_stream_with_livestock_access" />

            <p data-ng-if="fields.length_of_stream_with_livestock_access.help" class="help-text">{{ fields.length_of_stream_with_livestock_access.help }}</p>
          </div>
          <!-- Length of Fencing -->
          <div class="column-1"></div>
          <div class="form-group column-4">
            <label for="length_of_fencing" class="control-label">
              Length of Fencing
            </label>

            <input data-ng-model="report.length_of_fencing" class="form-control" class="form-control" type="number" id="length_of_fencing" name="length_of_fencing" />

            <p data-ng-if="fields.length_of_fencing.help" class="help-text">{{ fields.length_of_fencing.help }}</p>
          </div>
          <!-- Average Buffer Width -->
          <div class="column-1"></div>
          <div class="form-group column-4">
            <label for="average_buffer_width" class="control-label">
              Average Buffer Width
            </label>

            <input data-ng-model="report.average_buffer_width" class="form-control" class="form-control" type="number" id="average_buffer_width" name="average_buffer_width" />

            <p data-ng-if="fields.average_buffer_width.help" class="help-text">{{ fields.average_buffer_width.help }}</p>
          </div>
        </div>

      </fieldset>

      <fieldset data-ng-if="report.measurement_period === 'Planning'">
        <h2><strong>Current</strong> In-stream Activity</h2>
        <div class="row">
          <div class="column-16 row-set">

            <div class="row">
              <div class="column-1">
                &nbsp;
              </div>
              <div class="column-5">
                <label class="control-label">
                  Stream Access (days/month)
                </label>
              </div>
              <div class="column-5">
                <label class="control-label">
                  Average Time In-stream (hrs/day)
                </label>
              </div>
            </div>

            <div class="row">
              <div class="column-1 align-right row-set-label">
                January
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmjan" class="form-control" class="form-control" type="number" id="instream_dpmjan" name="instream_dpmjan" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdjan" class="form-control" class="form-control" type="number" id="instream_hpdjan" name="instream_hpdjan" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                February
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmfeb" class="form-control" class="form-control" type="number" id="instream_dpmfeb" name="instream_dpmfeb" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdfeb" class="form-control" class="form-control" type="number" id="instream_hpdfeb" name="instream_hpdfeb" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                  March
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmmar" class="form-control" class="form-control" type="number" id="instream_dpmmar" name="instream_dpmmar" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdmar" class="form-control" class="form-control" type="number" id="instream_hpdmar" name="instream_hpdmar" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                  April
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmapr" class="form-control" class="form-control" type="number" id="instream_dpmapr" name="instream_dpmapr" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdapr" class="form-control" class="form-control" type="number" id="instream_hpdapr" name="instream_hpdapr" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                  May
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmmay" class="form-control" class="form-control" type="number" id="instream_dpmmay" name="instream_dpmmay" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdmay" class="form-control" class="form-control" type="number" id="instream_hpdmay" name="instream_hpdmay" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                  June
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmjun" class="form-control" class="form-control" type="number" id="instream_dpmjun" name="instream_dpmjun" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdjun" class="form-control" class="form-control" type="number" id="instream_hpdjun" name="instream_hpdjun" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                  July
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmjul" class="form-control" class="form-control" type="number" id="instream_dpmjul" name="instream_dpmjul" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdjul" class="form-control" class="form-control" type="number" id="instream_hpdjul" name="instream_hpdjul" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                  August
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmaug" class="form-control" class="form-control" type="number" id="instream_dpmaug" name="instream_dpmaug" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdaug" class="form-control" class="form-control" type="number" id="instream_hpdaug" name="instream_hpdaug" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                  September
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmsep" class="form-control" class="form-control" type="number" id="instream_dpmsep" name="instream_dpmsep" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdsep" class="form-control" class="form-control" type="number" id="instream_hpdsep" name="instream_hpdsep" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                  October
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmoct" class="form-control" class="form-control" type="number" id="instream_dpmoct" name="instream_dpmoct" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdoct" class="form-control" class="form-control" type="number" id="instream_hpdoct" name="instream_hpdoct" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                  November
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmnov" class="form-control" class="form-control" type="number" id="instream_dpmnov" name="instream_dpmnov" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpdnov" class="form-control" class="form-control" type="number" id="instream_hpdnov" name="instream_hpdnov" />
              </div>
            </div>
            <div class="row">
              <div class="column-1 align-right row-set-label">
                  December
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_dpmdec" class="form-control" class="form-control" type="number" id="instream_dpmdec" name="instream_dpmdec" />
              </div>
              <div class="column-5">
                <input data-ng-model="report.instream_hpddec" class="form-control" class="form-control" type="number" id="instream_hpddec" name="instream_hpddec" />
              </div>
            </div>

          </div>
        </div>

      </fieldset>

      <fieldset data-ng-if="report.measurement_period === 'Monitoring'">
        <h2><strong>Interim</strong> BMP Metrics Data</h2>

        <div class="row">
          <!-- Vegetative Cover -->
          <div class="form-group column-5">
            <label for="native_vegetation" class="control-label">
              Native Vegetation
            </label>

            <input data-ng-model="report.native_vegetation" class="form-control" class="form-control" type="number" id="native_vegetation" name="native_vegetation" placeholder="% intact" />
          </div>

          <!-- Buffer Composition (Woody) -->
          <div class="column-1"></div>
          <div class="form-group column-5">
            <label for="buffer_composition_woody" class="control-label">
              Buffer Composition (woody)
            </label>

            <input data-ng-model="report.buffer_composition_woody" class="form-control" class="form-control" type="number" max="100" min="0" id="buffer_composition_woody" name="buffer_composition_woody" placeholder="% woody" />
          </div>

          <!-- Buffer Composition (Shrub) -->
          <div class="column-1"></div>
          <div class="form-group column-4">
            <label for="buffer_composition_shrub" class="control-label">
              Buffer Composition (shrub)
            </label>

            <input data-ng-model="report.buffer_composition_shrub" class="form-control" class="form-control" type="number" max="100" min="0" id="buffer_composition_shrub" name="buffer_composition_shrub" placeholder="% shrub" />
          </div>
        </div>

        <div class="row">
          <!-- Buffer Composition (Grass) -->
          <div class="form-group column-5">
            <label for="buffer_composition_grass" class="control-label">
              Buffer Composition (grass)
            </label>

            <input data-ng-model="report.buffer_composition_grass" class="form-control" class="form-control" type="number" max="100" min="0" id="buffer_composition_grass" name="buffer_composition_grass" placeholder="% grass" />
          </div>

          <!-- Buffer Composition (Bare) -->
          <div class="column-1"></div>
          <div class="form-group column-5">
            <label for="buffer_composition_bare" class="control-label">
              Buffer Composition (bare)
            </label>

            <input data-ng-model="report.buffer_composition_bare" class="form-control" class="form-control" type="number" max="100" min="0" id="buffer_composition_bare" name="buffer_composition_bare" placeholder="% bare" />
          </div>

          <!-- Buffer Composition (Other) -->
          <div class="column-1"></div>
          <div class="form-group column-4">
            <label for="buffer_composition_other" class="control-label">
              Buffer Composition (other)
            </label>

            <input readonly="readonly" data-ng-model="report.buffer_composition_other" class="form-control" class="form-control" max="100" min="0" type="number" id="buffer_composition_other" name="buffer_composition_other" placeholder="% other" />
          </div>
        </div>

        <div class="row">
          <!-- Vegetative Protection -->
          <div class="form-group column-5">
            <label for="vegetative_protection_left_bank" class="control-label">
              Vegetative Protection (left bank)
            </label>

            <input data-ng-model="report.vegetative_protection_left_bank" class="form-control" class="form-control" type="number" id="vegetative_protection_left_bank" name="vegetative_protection_left_bank" placeholder="" />
          </div>

          <div class="column-1"></div>
          <div class="form-group column-5">
            <label for="vegetative_protection_right_bank" class="control-label">
              Vegetative Protection (right bank)
            </label>

            <input data-ng-model="report.vegetative_protection_right_bank" class="form-control" class="form-control" type="number" id="vegetative_protection_right_bank" name="vegetative_protection_right_bank" placeholder="" />
          </div>

        </div>

        <div class="row">
          <!-- Riparian Vegetative Zone Width -->
          <div class="form-group column-5">
            <label for="riparian_vegetative_zone_width_left_bank" class="control-label">
              Riparian Vegetative Zone Width (left bank)
            </label>

            <input data-ng-model="report.riparian_vegetative_zone_width_left_bank" class="form-control" class="form-control" type="number" id="riparian_vegetative_zone_width_left_bank" name="riparian_vegetative_zone_width_left_bank" placeholder="" />
          </div>

          <div class="column-1"></div>
          <div class="form-group column-5">
            <label for="riparian_vegetative_zone_width_right_bank" class="control-label">
              Riparian Vegetative Zone Width (right bank)
            </label>

            <input data-ng-model="report.riparian_vegetative_zone_width_right_bank" class="form-control" class="form-control" type="number" id="riparian_vegetative_zone_width_right_bank" name="riparian_vegetative_zone_width_right_bank" placeholder="" />
          </div>

        </div>
      </fieldset>

      <fieldset data-ng-if="report.measurement_period === 'Monitoring'">
        <h2><strong>Adaptive</strong> Management Checks Performed</h2>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="report.sediment_deposition" type="checkbox" id="sediment_deposition" name="sediment_deposition" /> Check for, and correct, causes of excess sediment build-up at the field-buffer interface that re-directs flow
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="report.concentrated_flow_paths" type="checkbox" id="concentrated_flow_paths" name="concentrated_flow_paths" /> Perform maintenance to remove concentrated flow paths through the buffer
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="report.monthly_buffer_maintenance" type="checkbox" id="monthly_buffer_maintenance" name="monthly_buffer_maintenance" /> Check for, correct causes, and path bare and/or eroded areas in the buffer
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="report.vegetative_cover" type="checkbox" id="vegetative_cover" name="vegetative_cover" /> Apply herbicide around shelters in spring and fall to reduce competing vegetation
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="report.invasive_species_control" type="checkbox" id="invasive_species_control" name="invasive_species_control" /> Control noxious and invasive weeds
            </label>
          </div>
        </div>

      </fieldset>

      <fieldset data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation' || report.measurement_period === 'Monitoring'">
        <h2><strong>Notes</strong></h2>
  
        <div class="form-group">
          <textarea rows="1" data-ng-model="report.notes" class="form-control animate"  msd-elastic id="notes" name="notes" placeholder="Notes">{{ report.notes }}</textarea>
        </div>

      </fieldset>