<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container">
  <form data-ng-submit="page.saveReport()" class="row feature summary">
    <article class="feature-detail">
            <div class="column-16 feature-detail-content">

                <fieldset>
                  <!-- Report Date -->
                  <div class="form-group column-8">
                    <label for="report_date" class="control-label">
                      Report Date
                    </label>

                    <input data-ng-model="page.report.properties.report_date" class="form-control" class="form-control" type="text" id="report_date" name="report_date" placeholder="Enter a date" />

                    <p data-ng-if="fields.report_date.help" class="help-text">{{ fields.report_date.help }}</p>
                  </div>

                  <!-- Measurement Period -->
                  <div class="form-group column-8">
                    <label for="measurement_period" class="control-label">
                      Measurement Period
                    </label>

                    <select class="form-control" data-ng-model="page.report.properties.measurement_period" id="measurement_period" name="measurement_period">
                      <option value="Planning">Planning</option>
                      <option value="Installation">Installation</option>
                      <option value="Monitoring">Monitoring</option>
                    </select>
                  </div>

                  <!-- WIP Reporting Agency -->
                  <div class="form-group column-8" data-ng-if="page.report.properties.measurement_period === 'Planning'">
                    <label for="wip_reporting_agency" class="control-label">
                      WIP Reporting Agency
                    </label>

                    <select class="form-control" data-ng-model="page.report.properties.wip_reporting_agency" id="wip_reporting_agency" name="wip_reporting_agency" data-ng-options="value for value in fields.wip_reporting_agency.options">
                      <option value="">Select a Report Agency</option>
                    </select>
                  </div>
                </fieldset>

                <fieldset data-ng-if="page.report.properties.measurement_period === 'Planning'" class="row">
                  <h2><strong>Landuse</strong></h2>

                  <!-- Existing Landuse -->
                  <div class="form-group column-7">
                    <label for="existing_riparian_landuse" class="control-label">
                      Existing Landuse
                    </label>

                    <select class="form-control" data-ng-model="page.report.properties.existing_riparian_landuse" id="existing_riparian_landuse" name="existing_riparian_landuse" data-ng-options="value.properties.landuse_code as value.properties.landuse_name for value in page.landuse.features | orderBy:'properties.landuse_name'">
                    </select>
                  </div>

                  <!-- Upland Landuse -->
                  <div class="column-2"></div>
                  <div class="form-group column-7">
                    <label for="upland_landuse" class="control-label">
                      Upland Landuse
                    </label>

                    <select class="form-control" data-ng-model="page.report.properties.upland_landuse" id="upland_landuse" name="upland_landuse" data-ng-options="value.properties.landuse_code as value.properties.landuse_name for value in page.landuse.features | orderBy:'properties.landuse_name'">
                    </select>
                  </div>

                </fieldset>

                <fieldset data-ng-if="page.report.properties.measurement_period === 'Planning'">
                  <h2><strong>Pre-project</strong> Summary</h2>

                  <div class="row">
                    <!-- Animal Type -->
                    <div class="form-group column-5">
                      <label for="animal_type" class="control-label">
                        Type of Livestock
                      </label>

                      <select class="form-control" data-ng-model="page.report.properties.animal_type" id="animal_type" name="animal_type" data-ng-options="value.properties.animal_type for value in page.animals.features">
                        <option value="">Select an Animal Type</option>
                      </select>
                    </div>

                    <!-- Number of Livestock -->
                    <div class="column-1"></div>
                    <div class="form-group column-4">
                      <label for="number_of_livestock" class="control-label">
                        Number of Livestock
                      </label>

                      <input data-ng-model="page.report.properties.number_of_livestock" class="form-control" class="form-control" type="number" id="number_of_livestock" name="number_of_livestock" />

                      <p data-ng-if="fields.number_of_livestock.help" class="help-text">{{ fields.number_of_livestock.help }}</p>
                    </div>

                    <!-- Average Weight -->
                    <div class="column-1"></div>
                    <div class="form-group column-4">
                      <label for="average_weight" class="control-label">
                        Average Weight
                      </label>

                      <input data-ng-model="page.report.properties.average_weight" class="form-control" class="form-control" type="number" id="average_weight" name="average_weight" />

                      <p data-ng-if="fields.average_weight.help" class="help-text">{{ fields.average_weight.help }}</p>
                    </div>
                  </div>

                  <div class="row">
                    <!-- Length of Stream with Livestock Access -->
                    <div class="form-group column-5">
                      <label for="length_of_stream_with_livestock_access" class="control-label">
                        Length of Stream with Livestock Access
                      </label>

                      <input data-ng-model="page.report.properties.length_of_stream_with_livestock_access" class="form-control" class="form-control" type="number" id="length_of_stream_with_livestock_access" name="length_of_stream_with_livestock_access" />

                      <p data-ng-if="fields.length_of_stream_with_livestock_access.help" class="help-text">{{ fields.length_of_stream_with_livestock_access.help }}</p>
                    </div>
                    <!-- Average Buffer Width -->
                    <div class="column-1"></div>
                    <div class="form-group column-4">
                      <label for="average_buffer_width" class="control-label">
                        Average Buffer Width
                      </label>

                      <input data-ng-model="page.report.properties.average_buffer_width" class="form-control" class="form-control" type="number" id="average_buffer_width" name="average_buffer_width" />

                      <p data-ng-if="fields.average_buffer_width.help" class="help-text">{{ fields.average_buffer_width.help }}</p>
                    </div>
                    <!-- Buffer Type -->
                    <div class="column-1"></div>
                    <div class="form-group column-4">
                      <label for="buffer_type" class="control-label">
                        Buffer Type
                      </label>

                      <select data-ng-model="page.report.properties.buffer_type" class="form-control" class="form-control" type="number" id="buffer_type" name="buffer_type">
                        <option>Select a buffer type</option>
                        <option value="Forest Buffer">Forest Buffer</option>
                        <option value="Grass Buffer">Grass Buffer</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <!-- Length of Fencing -->
                    <div class="form-group column-5">
                      <label for="length_of_fencing" class="control-label">
                        Length of Fencing to be Installed
                      </label>

                      <input data-ng-model="page.report.properties.length_of_fencing" class="form-control" class="form-control" type="number" id="length_of_fencing" name="length_of_fencing" />

                      <p data-ng-if="fields.length_of_fencing.help" class="help-text">{{ fields.length_of_fencing.help }}</p>
                    </div>
                  </div>

                </fieldset>

                <fieldset data-ng-if="page.report.properties.measurement_period === 'Installation'">
                  <h2><strong>Installation</strong> Summary</h2>

                  <div class="row">
                    <!-- Length of Fencing -->
                    <div class="form-group column-5">
                      <label for="length_of_fencing" class="control-label">
                        Length of Fencing Installed
                      </label>

                      <input data-ng-model="page.report.properties.length_of_fencing" class="form-control" class="form-control" type="number" id="length_of_fencing" name="length_of_fencing" />

                      <p data-ng-if="fields.length_of_fencing.help" class="help-text">{{ fields.length_of_fencing.help }}</p>
                    </div>
                    <!-- Average Buffer Width -->
                    <div class="column-1"></div>
                    <div class="form-group column-4">
                      <label for="average_buffer_width" class="control-label">
                        Average Buffer Width
                      </label>

                      <input data-ng-model="page.report.properties.average_buffer_width" class="form-control" class="form-control" type="number" id="average_buffer_width" name="average_buffer_width" />

                      <p data-ng-if="fields.average_buffer_width.help" class="help-text">{{ fields.average_buffer_width.help }}</p>
                    </div>
                    <!-- Buffer Type -->
                    <div class="column-1"></div>
                    <div class="form-group column-4">
                      <label for="buffer_type" class="control-label">
                        Buffer Type
                      </label>

                      <select data-ng-model="page.report.properties.buffer_type" class="form-control" class="form-control" type="number" id="buffer_type" name="buffer_type">
                        <option>Select a buffer type</option>
                        <option value="Forest Buffer">Forest Buffer</option>
                        <option value="Grass Buffer">Grass Buffer</option>
                      </select>
                    </div>
                  </div>
                  <div class="row" data-ng-if="page.report.properties.measurement_period === 'Planning'">
                    <!-- Average Buffer Width -->
                    <div class="form-group column-5">
                      <label for="extent_of_exclusion" class="control-label">
                        Extent of Exclusion
                      </label>

                      <input data-ng-model="page.report.properties.extent_of_exclusion" class="form-control" class="form-control" type="number" id="extent_of_exclusion" name="extent_of_exclusion" />

                      <p data-ng-if="fields.extent_of_exclusion.help" class="help-text">{{ fields.extent_of_exclusion.help }}</p>
                    </div>
                  </div>

                </fieldset>
                <fieldset data-ng-if="page.report.properties.measurement_period === 'Planning'">
                  <h2><strong>Current</strong> In-stream Activity</h2>
                  <div class="row">
                    <div class="column-16 row-set">

                      <div class="row">
                        <div class="column-1">
                          &nbsp;
                        </div>
                        <div class="column-5">
                          <label class="control-label">
                            Stream Access (days/month)
                          </label>
                        </div>
                        <div class="column-5">
                          <label class="control-label">
                            Average Time In-stream (hrs/day)
                          </label>
                        </div>
                      </div>

                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                          January
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmjan" class="form-control" class="form-control" type="number" id="instream_dpmjan" name="instream_dpmjan" min="0" max="31" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdjan" class="form-control" class="form-control" type="number" id="instream_hpdjan" name="instream_hpdjan" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                          February
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmfeb" class="form-control" class="form-control" type="number" id="instream_dpmfeb" name="instream_dpmfeb" min="0" max="29" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdfeb" class="form-control" class="form-control" type="number" id="instream_hpdfeb" name="instream_hpdfeb" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                            March
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmmar" class="form-control" class="form-control" type="number" id="instream_dpmmar" name="instream_dpmmar" min="0" max="31" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdmar" class="form-control" class="form-control" type="number" id="instream_hpdmar" name="instream_hpdmar" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                            April
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmapr" class="form-control" class="form-control" type="number" id="instream_dpmapr" name="instream_dpmapr" min="0" max="30" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdapr" class="form-control" class="form-control" type="number" id="instream_hpdapr" name="instream_hpdapr" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                            May
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmmay" class="form-control" class="form-control" type="number" id="instream_dpmmay" name="instream_dpmmay" min="0" max="31" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdmay" class="form-control" class="form-control" type="number" id="instream_hpdmay" name="instream_hpdmay" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                            June
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmjun" class="form-control" class="form-control" type="number" id="instream_dpmjun" name="instream_dpmjun" min="0" max="30" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdjun" class="form-control" class="form-control" type="number" id="instream_hpdjun" name="instream_hpdjun" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                            July
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmjul" class="form-control" class="form-control" type="number" id="instream_dpmjul" name="instream_dpmjul" min="0" max="31" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdjul" class="form-control" class="form-control" type="number" id="instream_hpdjul" name="instream_hpdjul" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                            August
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmaug" class="form-control" class="form-control" type="number" id="instream_dpmaug" name="instream_dpmaug" min="0" max="31" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdaug" class="form-control" class="form-control" type="number" id="instream_hpdaug" name="instream_hpdaug" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                            September
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmsep" class="form-control" class="form-control" type="number" id="instream_dpmsep" name="instream_dpmsep" min="0" max="30" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdsep" class="form-control" class="form-control" type="number" id="instream_hpdsep" name="instream_hpdsep" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                            October
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmoct" class="form-control" class="form-control" type="number" id="instream_dpmoct" name="instream_dpmoct" min="0" max="31" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdoct" class="form-control" class="form-control" type="number" id="instream_hpdoct" name="instream_hpdoct" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                            November
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmnov" class="form-control" class="form-control" type="number" id="instream_dpmnov" name="instream_dpmnov" min="0" max="30" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpdnov" class="form-control" class="form-control" type="number" id="instream_hpdnov" name="instream_hpdnov" min="0" max="24" step="0.001" />
                        </div>
                      </div>
                      <div class="row">
                        <div class="column-1 align-right row-set-label">
                            December
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_dpmdec" class="form-control" class="form-control" type="number" id="instream_dpmdec" name="instream_dpmdec" min="0" max="31" />
                        </div>
                        <div class="column-5">
                          <input data-ng-model="page.report.properties.instream_hpddec" class="form-control" class="form-control" type="number" id="instream_hpddec" name="instream_hpddec" min="0" max="24" step="0.001" />
                        </div>
                      </div>

                    </div>
                  </div>

                </fieldset>

                <fieldset data-ng-if="page.report.properties.measurement_period === 'Monitoring'">
                  <h2><strong>Interim</strong> BMP Metrics Data</h2>

                  <div class="row">
                    <!-- Vegetative Cover -->
                    <div class="form-group column-5">
                      <label for="vegetative_cover" class="control-label">
                        Vegetative Cover
                      </label>

                      <input data-ng-model="page.report.properties.vegetative_cover" class="form-control" class="form-control" type="number" id="vegetative_cover" name="vegetative_cover" placeholder="% cover" />
                    </div>

                    <!-- Bank Erosion Hazard Index (BEHI) -->
                    <div class="column-1"></div>
                    <div class="form-group column-5">
                      <label for="bank_erosion_hazard_index" class="control-label">
                        Bank Erosion Hazard Index (BEHI)
                      </label>

                      <input data-ng-model="page.report.properties.bank_erosion_hazard_index" class="form-control" class="form-control" type="number" id="bank_erosion_hazard_index" name="bank_erosion_hazard_index" />
                    </div>

                    <!-- Riffle Stability Index -->
                    <div class="column-1"></div>
                    <div class="form-group column-4">
                      <label for="riffle_stability_index" class="control-label">
                        Riffle Stability Index
                      </label>

                      <input data-ng-model="page.report.properties.riffle_stability_index" class="form-control" class="form-control" type="number" id="riffle_stability_index" name="riffle_stability_index" />
                    </div>
                  </div>

                  <div class="row">
                    <!-- Log Relative Bed Stability -->
                    <div class="form-group column-5">
                      <label for="log_relative_bed_stability" class="control-label">
                        Log Relative Bed Stability
                      </label>

                      <input data-ng-model="page.report.properties.log_relative_bed_stability" class="form-control" class="form-control" type="number" id="log_relative_bed_stability" name="log_relative_bed_stability" />
                    </div>

                    <!-- Substrate Mean D50 Particle Size -->
                    <div class="column-1"></div>
                    <div class="form-group column-5">
                      <label for="substrate_mean_d50_particle_size" class="control-label">
                        Substrate Mean D50 Particle Size
                      </label>

                      <input data-ng-model="page.report.properties.substrate_mean_d50_particle_size" class="form-control" class="form-control" type="number" max="100" min="0" id="substrate_mean_d50_particle_size" name="substrate_mean_d50_particle_size" />
                    </div>

                    <!-- Streambed Percent Fines -->
                    <div class="column-1"></div>
                    <div class="form-group column-4">
                      <label for="streambed_percent_fines" class="control-label">
                        Streambed Percent Fines
                      </label>

                      <input data-ng-model="page.report.properties.streambed_percent_fines" class="form-control" class="form-control" max="100" min="0" type="number" id="streambed_percent_fines" name="streambed_percent_fines" />
                    </div>
                  </div>

                  <div class="row">
                    <!-- Bed Armoring Ratio -->
                    <div class="form-group column-5">
                      <label for="bed_armoring_ratio" class="control-label">
                        Bed Armoring Ratio
                      </label>

                      <input data-ng-model="page.report.properties.bed_armoring_ratio" class="form-control" class="form-control" type="number" id="bed_armoring_ratio" name="bed_armoring_ratio" />
                    </div>

                  </div>

                </fieldset>

                <fieldset data-ng-if="page.report.properties.measurement_period === 'Monitoring'">
                  <h2><strong>Adaptive</strong> Management Checks Performed</h2>

                  <div class="form-group">
                    <div class="checkbox">
                      <label class="control-label">
                        <input data-ng-model="page.report.properties.concentrated_flow_paths" type="checkbox" id="concentrated_flow_paths" name="concentrated_flow_paths" /> Perform maintenance to remove concentrated flow paths through the buffer
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="checkbox">
                      <label class="control-label">
                        <input data-ng-model="page.report.properties.livestock_kept_out" type="checkbox" id="livestock_kept_out" name="livestock_kept_out" /> Prevent livestock from access to stabilized areas
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="checkbox">
                      <label class="control-label">
                        <input data-ng-model="page.report.properties.plantings_protected" type="checkbox" id="plantings_protected" name="plantings_protected" /> Repair any damage from destructive fire or destructive grazing
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="checkbox">
                      <label class="control-label">
                        <input data-ng-model="page.report.properties.bare_or_eroded_areas" type="checkbox" id="bare_or_eroded_areas" name="bare_or_eroded_areas" /> Check for, correct causes, and patch bare and/or eroded areas in the buffer.
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="checkbox">
                      <label class="control-label">
                        <input data-ng-model="page.report.properties.invasive_species_control" type="checkbox" id="invasive_species_control" name="invasive_species_control" /> Control noxious and invasive weeds
                      </label>
                    </div>
                  </div>

                </fieldset>

                <fieldset data-ng-if="page.report.properties.measurement_period === 'Planning' || page.report.properties.measurement_period === 'Installation' || page.report.properties.measurement_period === 'Monitoring'">
                  <h2><strong>Notes</strong></h2>

                  <div class="form-group">
                    <textarea rows="1" data-ng-model="page.report.properties.notes" class="form-control animate"  msd-elastic id="notes" name="notes" placeholder="Notes">{{ page.report.properties.notes }}</textarea>
                  </div>

                </fieldset>

                <div class="form-actions">
                  <button type="submit"class="button button-submit">
                    Save Changes
                  </button>
                  <button type="button" data-ng-click="page.deleteReport()"
                          class="button button-submit">
                    Delete
                  </button>
                </div>

              </div>
            </article>
          </form>
        </main>

        <div data-ng-include="'/templates/footer--view.html'"></div>
