<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="container">
  <section class="row feature summary">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">

        <h1>Summary for {{ page.practice.properties.practice_type }}</h1>
        <p data-ng-if="page.practice.properties.description" data-ng-bind-html="page.practice.properties.description"></p>

        <p><small>
          <strong>Project Title:</strong> {{ page.site.properties.project.properties.name }}
          <strong>Site Number:</strong> {{ page.site.properties.name }}<br />
          <strong>Stream Name: </strong> {{ page.site.properties.segment.properties.river_name }}
          <strong>HGMR: </strong> {{ page.site.properties.segment.properties.hgmr_name }}
        </small></p>
      </div>

      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Practice Manangement Navigation -->
          <li class="active">
            <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}">
              Practice Overview
            </a>
          </li>
          <li data-ng-if="page.permissions.can_edit">
            <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/edit">
              Edit
            </a>
          </li>
        </ul>
      </nav>

    </article>
  </section>
  <section class="row feature summary">
    <article class="feature-detail">
      <div class="column-16 feature-detail-content">
        <div class="table-responsive">

          <div data-ng-if="!page.total.planning">
            <h2><strong>Empty</strong> Summary</h2>

            <p>No planning or measurement data has been added to this Practice yet. Please add a new Planning measurement period to this Practice to begin.</p>

            <p>
              <a class="button" data-ng-click="page.addReading('Planning')">Add Planning Data</a>
            </p>
          </div>

          <div data-ng-if="page.total.planning">
            <table class="table">
              <tbody>
                <!-- Section Heading -->
                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Pre-project</strong> Summary</h2>
                    <p>LIVESTOCK INVENTORY</p>
                  </td>
                </tr>

                <!-- Measurement Period Headings -->
                <tr>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    &nbsp;
                  </th>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>

                <!-- Pre-project Summary -->
                <tr>
                  <th>Length of Stream with Livestock Access (ft)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.length_of_stream_with_livestock_access | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    &nbsp;
                  </td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <th>Number of Livestock (head)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.number_of_livestock | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    &nbsp;
                  </td>
                  <th>&nbsp;</th>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <th>Type of Livestock</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.animal_type.properties.animal_type }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    &nbsp;
                  </td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <th>Average Weight of Livestock (lbs/head)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.average_weight | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    &nbsp;
                  </td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <th>Number of Animal Units (AU)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ page.calculateLivestockExclusion.animalUnits(report.properties.number_of_livestock, report.properties.average_weight) }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    &nbsp;
                  </td>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                </tr>
              </tbody>
            </table>
          </div>

          <div data-ng-if="page.total.planning">
            <table class="table">
              <tbody>
                <!-- Section Heading -->
                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <p>CURRENT ANIMAL IN-STREAM ACTIVITY</p>
                  </td>
                </tr>

                <!-- Pre-project Summary -->
                <tr>
                  <th>&nbsp;</th>
                  <th>Jan</th>
                  <th>Feb</th>
                  <th>Mar</th>
                  <th>Apr</th>
                  <th>May</th>
                  <th>Jun</th>
                  <th>Jul</th>
                  <th>Aug</th>
                  <th>Sep</th>
                  <th>Oct</th>
                  <th>Nov</th>
                  <th>Dec</th>
                </tr>
                <tr>
                  <th>Stream Access (days/month)</th>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                      {{ report.properties.instream_dpmjan }}
                    </td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmfeb }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmmar }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmapr }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmmay }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmjun }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmjul }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmaug }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmsep }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmoct }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmnov }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_dpmdec }}</td>
                  </span>
                </tr>
                <tr>
                  <th>Avg. Time In-stream (hours/day)</th>
                  <span data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdjan | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdfeb | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdmar | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdapr | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdmay | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdjun | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdjul | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdaug | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdsep | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdoct | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpdnov | number:2 }}</td>
                    <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.instream_hpddec | number:2 }}</td>
                  </span>
                </tr>
                <tr>
                  <th>Avg. Number of Days/Year In-stream</th>
                  <td colspan="12" data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <strong>
                      {{ page.calculateLivestockExclusion.averageDaysPerYearInStream(report.properties) | number:1 }}
                    </strong>
                  </td>
                </tr>
                <tr>
                  <th>Extent of Livestock In-stream (AU-days/yr)</th>
                  <td colspan="12" data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                  <strong>
                    {{ (page.calculateLivestockExclusion.averageDaysPerYearInStream(report.properties)*page.calculateLivestockExclusion.animalUnits(report.properties.number_of_livestock, report.properties.average_weight)) | number:1 }}
                  </strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div data-ng-if="page.total.planning || page.total.installation">
            <table class="table">
              <tbody>
                <!-- Section Heading -->
                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Installation</strong> Summary</h2>
                  </td>
                </tr>

                <!-- Measurement Period Headings -->
                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                      <br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Installed To-Date</th>
                  <th>% of Planned</th>
                </tr>

                <!-- Installation Summary -->
                <tr>
                  <th>Length of Stream Fencing Installed (ft)</th>
                  <td>&nbsp;</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.length_of_fencing | number:2 }}</td>
                  <td>
                    <strong>
                      {{ page.calculateLivestockExclusion.quantityInstalled(page.readings.features, 'length_of_fencing') | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.calculateLivestockExclusion.quantityInstalled(page.readings.features, 'length_of_fencing', '%') | number:2 }}%
                    </strong>
                  </td>
                </tr>
                <tr>
                  <th>Average Buffer Width (ft)</th>
                  <td>&nbsp;</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.average_buffer_width | number:2 }}
                  </td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <th>Buffer Type</th>
                  <td>&nbsp;</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.buffer_type }}
                  </td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <th>Extent of Exclusion (if not 100%)</th>
                  <td>&nbsp;</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.extent_of_exclusion | number:2 }}
                  </td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <th>Pasture Area Managed with Rotational Grazing (acres)</th>
                  <td>&nbsp;</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.length_of_fencing*200/43560 | number:2 }}
                  </td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Load</strong> &amp; Reductions</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th>Pre-BMP Load</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned Reduction</span><span data-ng-if="report.properties.measurement_period === 'Installation'">Installed Reduction</span><br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Reduction To-date</th>
                  <th>% of Planned</th>
                </tr>


                <tr data-ng-if="page.calculateLivestockExclusion.results.totalPreInstallationLoad">
                  <th>Nitrogen (lbs/yr)</th>
                  <td>{{ page.calculateLivestockExclusion.results.totalPreInstallationLoad.nitrogen || 0 | number:2 }}</td>
                  <td>{{ page.calculateLivestockExclusion.results.totalPlannedLoad.nitrogen || 0 | number:2 }}</td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ page.calculateLivestockExclusion.GetSingleInstalledLoad(report).nitrogen || 0 | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.calculateLivestockExclusion.quantityBufferInstalled(page.readings.features, 'nitrogen') || 0 | number:2 }}
                    </strong> lbs/yr</td>
                  <td>
                    <strong>
                      {{ page.calculateLivestockExclusion.quantityBufferInstalled(page.readings.features, 'nitrogen', '%') || 0 | number:2 }}
                    </strong> %</td>
                  </td>
                </tr>
                <tr data-ng-if="page.calculateLivestockExclusion.results.totalPreInstallationLoad">
                  <th>Phosphorus (lbs/yr)</th>
                  <td>{{ page.calculateLivestockExclusion.results.totalPreInstallationLoad.phosphorus || 0 | number:2 }}</td>
                  <td>{{ page.calculateLivestockExclusion.results.totalPlannedLoad.phosphorus || 0 | number:2 }}</td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ page.calculateLivestockExclusion.GetSingleInstalledLoad(report).phosphorus || 0 | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.calculateLivestockExclusion.quantityBufferInstalled(page.readings.features, 'phosphorus') || 0 | number:2 }}
                    </strong> lbs/yr</td>
                  <td>
                    <strong>
                      {{ page.calculateLivestockExclusion.quantityBufferInstalled(page.readings.features, 'phosphorus', '%') || 0 | number:2 }}
                    </strong> %</td>
                  </td>
                </tr>
                <tr data-ng-if="page.calculateLivestockExclusion.results.totalPreInstallationLoad">
                  <th>Sediment (tons/yr)</th>
                  <td>{{ page.calculateLivestockExclusion.results.totalPreInstallationLoad.sediment || 0 | number:2 }}</td>
                  <td>{{ page.calculateLivestockExclusion.results.totalPlannedLoad.sediment || 0 | number:2 }}</td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ page.calculateLivestockExclusion.GetSingleInstalledLoad(report).sediment || 0 | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.calculateLivestockExclusion.quantityBufferInstalled(page.readings.features, 'sediment') || 0 | number:2 }}
                    </strong> lbs/yr</td>
                  <td>
                    <strong>
                      {{ page.calculateLivestockExclusion.quantityBufferInstalled(page.readings.features, 'sediment', '%') || 0 | number:2 }}
                    </strong> %</td>
                  </td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Chesapeake</strong> Bay Metrics</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                      <br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Installed To-date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Miles of Fencing Installed</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ page.calculateLivestockExclusion.toMiles(report.properties.length_of_fencing) | number:2 }}
                  </td>
                 <td><strong>{{ page.calculateLivestockExclusion.milesInstalled(page.readings.features, 'length_of_fencing') | number:2 }}</strong> miles</td>
                 <td><strong>{{ page.calculateLivestockExclusion.milesInstalled(page.readings.features, 'length_of_fencing', '%') | number:2 }}</strong> %</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div data-ng-if="page.total.monitoring">
            <table class="table">

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Interim</strong> BMP Metrics Data</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      Monitored on<br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                </tr>

                <tr>
                  <th class="align-left" colspan="{{ page.readings.features.length + 1 }}" style="background: #efefef;">Vegetation</th>
                </tr>
                <tr>
                  <th class="align-left">Cover (%)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">{{ report.properties.vegetative_cover }}</td>
                </tr>

                <tr>
                  <th class="align-left" colspan="{{ page.readings.features.length + 1 }}" style="background: #efefef;">Geomorphic</th>
                </tr>
                <tr>
                  <th class="align-left">Bank Erosion Hazard Index (BEHI)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.bank_erosion_hazard_index }}
                  </td>
                </tr>
                <tr>
                  <th class="align-left">Riffle Stability Index</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.riffle_stability_index }}
                  </td>
                </tr>
                <tr>
                  <th class="align-left">Log Relative Bed Stability</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.log_relative_bed_stability }}
                  </td>
                </tr>
                <tr>
                  <th class="align-left">Substrate Mean D50 Particle Size</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.substrate_mean_d50_particle_size }}
                  </td>
                </tr>
                <tr>
                  <th class="align-left">Streambed Percent Fines</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.streambed_percent_fines }}
                  </td>
                </tr>
                <tr>
                  <th class="align-left">Bed Armoring Ratio</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    {{ report.properties.bed_armoring_ratio }}
                  </td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Adaptive</strong> Management Checks Performed</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      Monitored on<br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                </tr>

                <tr>
                  <th class="align-left" width="50%">Perform maintenance to remove concentrated flow paths through the buffer</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <div data-ng-if="report.concentrated_flow_paths" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Prevent livestock from access to stabilized areas</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <div data-ng-if="report.livestock_kept_out" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Repair any damage from destructive fire or destructive grazing</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <div data-ng-if="report.plantings_protected" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Check for, correct causes, and patch bare and/or eroded areas in the buffer</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <div data-ng-if="report.bare_or_eroded_areas" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Control noxious and invasive weeds</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                    <div data-ng-if="report.invasive_species_control" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div data-ng-if="page.total.planning || page.total.installation || page.total.monitoring">
            <h2><strong>Notes</strong></h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="align-left" width="10%">Date</th>
                  <th class="align-left" width="90%">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="report in page.readings.features | orderBy:'report_date':false">
                  <td class="align-left">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      {{ report.properties.report_date }}
                    </a>
                  </td>
                  <td class="align-left" data-ng-if="report.notes">{{ report.properties.notes }}</td>
                  <td class="align-left" data-ng-if="!report.notes"><em>No notes recorded for this date</em></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </article>
  </section>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
