<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading site data&hellip;</p>
            </div>
        </div>

        <section class="privacy-message" data-ng-if="!page.status.loading && page.makePrivate">

            <p>
                <i class="material-icons">
                    lock
                </i>
            </p>

            <p>This site is private.</p>

        </section>

        <div class="main--ui" data-ng-if="!page.status.loading && !page.makePrivate">

            <div class="module--grid" data-ng-if="!page.status.loading">

                <div class="group">

                    <article class="pad space-right shadow reveal fade-in t0">

                        <h1>{{ page.site.properties.name }}</h1>

                        <p data-ng-if="page.site.id && page.site.properties.last_modified_by.properties.first_name && page.site.properties.last_modified_by.properties.last_name" class="label">
                            Last modified by {{ page.site.properties.last_modified_by.properties.first_name }} {{ page.site.properties.last_modified_by.properties.last_name }} on {{ page.site.properties.modified_on | date:'medium' }}
                        </p>

                        <p data-ng-if="page.project.id && page.project.properties.program">
                            <strong>Program:</strong> {{ page.project.properties.program.properties.name }}
                        </p>

                        <p>
                            <strong>Project:</strong> <a href="{{ page.site.links.project.html }}">{{ page.project.properties.name }}</a>
                        </p>

                        <p data-ng-if="page.site.properties.area && page.site.properties.area > 0">
                            <strong>Area:</strong> {{ page.site.properties.area | convertArea:'acre' | number:2 }} acres</a>
                        </p>

                        <p data-ng-if="page.site.properties.description" data-ng-bind-html="page.site.properties.description"></p>

                        <p data-ng-if="!page.site.properties.description">No description</p>

                    </article>

                    <!-- Map -->

                    <div class="shadow reveal fade-in t1" style="position:relative;">
                        <leaflet id="site--map" class="map tall" center="page.map.center" defaults="page.map.defaults" layers="page.map.layers" bounds="page.map.bounds" markers="page.map.markers" geojson="page.map.geojson"></leaflet>
                    </div>

                </div>

                <div class="group reveal fade-in t2">

                    <section class="pad shadow">

                        <h2>Metrics</h2>

                        <div data-ng-if="page.metrics && page.outcomes">

                            <section id="sites">

                                <div class="list">

                                    <article class="statistics project--summary">

                                        <div class="statistics--statistic">
                                            <p class="statistic--value">
                                                {{ page.outcomes.installation.nitrogen | number:2 }} <span class="statistic--valueLabel">of</span> {{ page.outcomes.planning.nitrogen | number:2 }} <span class="statistic--valueLabel">lbs/yr</span><br />
                                                <span class="statistic--title">Nitrogen</span>
                                            </p>
                                            <div class="statistic--chart">
                                                <div class="statistic--chart--value" data-ng-style="{'width': ((page.outcomes.installation.nitrogen/page.outcomes.planning.nitrogen)*100) + '%' }" style="background-color: #2196F3;">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="statistics--statistic">
                                            <p class="statistic--value">
                                                {{ page.outcomes.installation.phosphorus | number:2 }} <span class="statistic--valueLabel">of</span> {{ page.outcomes.planning.phosphorus | number:2 }} <span class="statistic--valueLabel">lbs/yr</span><br />
                                                <span class="statistic--title">Phosphorus</span>
                                            </p>
                                            <div class="statistic--chart">
                                                <div class="statistic--chart--value" data-ng-style="{'width': ((page.outcomes.installation.phosphorus/page.outcomes.planning.phosphorus)*100) + '%' }" style="background-color: #2196F3;">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="statistics--statistic">
                                            <p class="statistic--value">
                                                {{ page.outcomes.installation.sediment | number:2 }} <span class="statistic--valueLabel">of</span> {{ page.outcomes.planning.sediment | number:2 }} <span class="statistic--valueLabel">tons/yr</span><br />
                                                <span class="statistic--title">Sediment</span>
                                            </p>
                                            <div class="statistic--chart">
                                                <div class="statistic--chart--value" data-ng-style="{'width': ((page.outcomes.installation.sediment/page.outcomes.planning.sediment)*100) + '%' }" style="background-color: #2196F3;">
                                                </div>
                                            </div>
                                        </div>

                                    </article>

                                    <table class="table table-practices with-metrics" data-ng-if="page.metrics">

                                        <thead>
                                            <tr>
                                                <th class="table-column-wide table-metrics-header">&nbsp;</th>
                                                <th class="table-metrics-header">Installed To-Date</th>
                                                <th class="table-metrics-header">% Installed</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>

                                        <tbody class="metrics">
                                            <tr class="metrics--metric" data-ng-repeat="metric in page.metrics track by $index">
                                                <td class="table-column-wide">
                                                    <p class="metric--title">
                                                        {{ metric.name }}
                                                    </p>
                                                </td>
                                                <td>
                                                    <strong class="metrics--metric--rollup--small">{{ metric.installation | number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit }}<br />
                                                        of {{ metric.planning | number:2 }}</span>
                                                </td>
                                                <td>
                                                    <strong class="metrics--metric--percentage">
                                                        {{ metric.percentComplete }}%
                                                    </strong>
                                                </td>
                                                <td>
                                                    <div class="donut-chart chart{{ metric.percentComplete }}" data-ng-if="metric.percentComplete < 100">
                                                        <div class="slice one"></div>
                                                        <div class="slice two"></div>
                                                        <div class="chart-center"></div>
                                                    </div>
                                                    <div class="donut-chart chart100" data-ng-if="metric.percentComplete >= 100">
                                                        <div class="slice one"></div>
                                                        <div class="slice two"></div>
                                                        <div class="chart-center"></div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>

                            </section>

                        </div>

                    </section>

                </div>

            </div>

            <section class="reveal fade-in t3" style="padding: 0;">

                <h2>Practices</h2>

                <ul class="snapshot--cards list-unstyled">

                    <li class="card" data-ng-repeat="practice in page.practices | orderBy: '-properties.created_on' track by $index">

                        <div class="card--content">

                            <!-- <div class="name">
                                        <span>{{ practice.properties.name || practice.properties.category || 'Un-named' }}</span>
                                    </div> -->

                            <img data-ng-if="practice.staticURL" data-ng-src="{{ practice.staticURL }}" width="auto" height="auto" />

                            <img data-ng-if="!practice.geometry && page.site.geometry" data-ng-src="https://api.mapbox.com/styles/v1/mapbox/satellite-streets-v9/static/geojson({{ page.site.geometry }})/auto/400x200@2x?access_token=pk.eyJ1IjoiYm1jaW50eXJlIiwiYSI6IjdST3dWNVEifQ.ACCd6caINa_d4EdEZB_dJw" width="auto" height="auto" />

                            <img data-ng-if="!practice.geometry && !page.site.geometry" data-ng-src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-98.5795,39.828175,5/400x200@2x?access_token=pk.eyJ1IjoiYm1jaW50eXJlIiwiYSI6IjdST3dWNVEifQ.ACCd6caINa_d4EdEZB_dJw" width="auto" height="auto" />

                            <div class="name" style="background: #fff;">
                                <span>{{ practice.properties.name || practice.properties.category || 'Un-named' }}</span>
                            </div>

                            <div class="body">

                                <div class="confirm--delete" data-ng-if="page.deletionTarget && page.deletionTarget.feature.properties.id === practice.properties.id && page.deletionTarget.collection === 'practice'">
                                    <p>Do you want to delete this practice?</p>
                                    <div class="actions" style="flex: 0;">
                                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature('practice', $index)">
                                            Yes
                                        </a>
                                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                                <p>{{ (practice.properties.description || practice.properties.annotation) | truncate:80 }}</p>
                                <div class="actions">
                                    <a class="snapshot--title" href="/practices/{{ practice.properties.id }}" title="Practice summary">
                                        <i class="material-icons">
                                            dashboard
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="/practices/{{ practice.properties.id }}/photos" title="Practice photos">
                                        <i class="material-icons">
                                            insert_photo
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="/practices/{{ practice.properties.id }}/edit" title="Edit practice" data-ng-if="page.permissions.can_edit">
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="/practices/{{ practice.properties.id }}/location" title="Edit location" data-ng-if="page.permissions.can_edit">
                                        <i class="material-icons">
                                            location_on
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="#" title="Delete practice" data-ng-click="page.confirmDelete(practice, 'practice')" data-ng-if="page.permissions.can_edit">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </a>
                                </div>
                                <span><time datetime="{{ practice.properties.created_on }}" title="{{ practice.properties.created_on }}">
                                        Created on {{ practice.properties.created_on | date }}</time></span>
                            </div>

                        </div>

                    </li>

                    <li class="card" data-ng-if="page.permissions.can_edit">
                        <div class="card--content">
                            <div class="body">
                                <button type="button" class="snapshot--title" data-ng-click="page.createPractice()" title="Create practice">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </button>
                            </div>
                        </div>
                    </li>

                </ul>

            </section>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
            <li class="active">
                <a href="/sites/{{ page.site.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.edit}">
                <a href="/sites/{{ page.site.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editLocation}">
                <a href="/sites/{{ page.site.id }}/location">
                    <i class="material-icons">
                        location_on
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.viewGeographies}">
                <a href="/sites/{{ page.site.id }}/geographies">
                    <i class="material-icons">
                        public
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/sites/{{ page.site.id }}/tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget && page.deletionTarget.feature.id === page.site.id && page.deletionTarget.collection === 'site'">
                    <p>Do you want to delete this site?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature('site')">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.site, 'site')">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>