<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container feature">
  <article class="feature-detail">
    <div class="column-11 feature-detail-content" style="position:relative;">

      <h1 class="large">Edit Site</h1>

      <form role="form" class="form" id="form--SiteEdit" name="form--SiteEdit"
            data-ng-submit="page.saveSite()">
        <!-- Site Number -->
        <div class="form-row">
          <div class="form-field">
            <label for="site_number" class="control-label">1. What is the name of this site?</label>
            <textarea rows="1" data-ng-model="page.site.properties.name" class="form-control animate"  msd-elastic id="site_name" name="site_name" placeholder="Site Name">{{ page.site.properties.site_name }}</textarea>
          </div>
        </div>

        <!-- Site Description -->
        <div class="form-row">
          <div class="form-field">
            <label for="site_description" class="control-label">2. Please describe this site.</label>
            <textarea rows="1" data-ng-model="page.site.properties.description" class="form-control animate"  msd-elastic id="description" name="description" placeholder="Site Description">{{ page.site.properties.description }}</textarea>
          </div>
        </div>

        <!-- <div class="form-row">
          <div class="form-field">
            <label for="site_city" class="control-label">3. What is the nearest city?</label>
            <input type="text" class="form-control" id="address" name="address" data-ng-model="page.site.properties.city" placeholder="Enter the name of the nearest city" />
          </div>
        </div> -->

        <!-- <div class="form-row">
          <div class="form-field">
            <label for="site_county" class="control-label">
              4. What county is this site in?
            </label>
            <relationship data-ng-if="!page.site.properties.county"
                          model="page.site.properties.county"
                          table="'county'"
                          field="'county_name'"
                          multiple="'true'"
                          display="['county_name','state_name']"
                          placeholder="'Enter the name of the county'">
            </relationship>

            <p class="form-control form-control-disabled"
               data-ng-if="page.site.properties.county.properties.county_name && (page.site.properties.county.properties.state_name || page.site.properties.state)">
              {{ page.site.properties.county.properties.county_name }}, {{ page.site.properties.county.properties.state_name || page.site.properties.state }}
            </p>
            <span data-ng-if="page.site.properties.county" class="help-text action">
              <a data-ng-click="page.site.properties.county = null;" class="remove">
                Clear value
              </a>
            </span>
          </div>
        </div> -->

        <div class="form-row">
          <div class="form-field">

            <!-- <div class="form-element">
              <label for="site_city" class="control-label">5. What Land River Segment is your project in?</label>
              <p class="form-value form-value-static" data-ng-if="!page.site.properties.segment">
                Not Specified, use "Find a Location" to search for a nearby location or drag the pin
              </p>
              <p class="form-value" data-ng-if="page.site.properties.segment">
                {{ page.site.properties.segment.properties.hgmr_code }}
                <span data-ng-if="page.site.properties.segment" class="help-text action"><a data-ng-click="page.site.properties.segment = '';" class="remove">Clear value</a></span>
              </p>
              <p class="help-text">
                <em>
                  The Land River Segment will be set dynamically based on the location of the map pin. After relocating the pin, you'll notice a white outline appears on the map, helping you identify which Land River Segment your site is within.
                </em>
              </p>
            </div> -->

            <div class="form-element">
              <div class="autocomplete">
                <label data-ng-if="!page.showGeocoder" class="control-label pull-right">
                  <a href="javascript:void(0);"
                     data-ng-click="page.showGeocoder =! page.showGeocoder">
                     Search for an address or city
                  </a>
                </label>
                <div data-ng-if="page.showGeocoder" class="mapboxGeocoder">
                  <input type="text" id="address" name="address"
                         data-ng-model="page.geocode.query" class="form-control"
                         placeholder="Type in an address..." mapbox-geocoder
                         mapbox-geocoder-direction="forward"
                         mapbox-geocoder-query="page.geocode.query"
                         mapbox-geocoder-response="page.geocode.response"
                         autofocus="autofocus" />
                </div><br />
              </div>

              <div style="position:relative;">
                <leaflet id="site--map" class="map" center="page.map.center" defaults="page.map.defaults" layers="page.map.layers" bounds="page.map.bounds"></leaflet>
                <div class="progress--modal" data-ng-if="page.progressValue && page.progressValue > 0">
                  <div class="progress--container">
                    <p><strong>{{ page.progressMessage }}</strong></p>
                    <div class="progress--meter--bar--wrapper">
                        <div class="progress--meter--bar" style="width: {{ page.progressValue }}%;"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Shapefile input -->
        <div class="form-row">
          <div class="form-field">
            <label for="shapefile" class="control-label">
              Upload an ESRI Shapefile
            </label>
            <input type="file" class="form-control"
                   id="shapefile" name="shapefile" file-upload
                   file-model="page.shapefile" />
          </div>
        </div>

        <div class="form-row">
          <div>
              <button type="button" id="shapefile--upload" name="shapefile--upload"
              class="button button--submit button--outline" data-ng-click="page.uploadShapefile()">
              Upload
              </button>
          </div>
        </div>

        <div class="form-actions">
          <div class="form-actions-buttons">
            <button type="submit" class="button button-submit">
              Save Changes
            </button>
            <button type="button" class="button button-link button-outline pull-right"
                    data-ng-click="page.confirmDelete =! page.confirmDelete"
                    data-ng-if="!page.confirmDelete && !page.confirmDeleteReallySure">
              Delete
            </button>
            <span data-ng-if="page.confirmDelete" class="action pull-right">
              <a data-ng-click="page.confirmDelete =! page.confirmDelete; page.confirmDeleteReallySure =! page.confirmDeleteReallySure;"
                    class="remove">
                Remove site and all associated practices?</a> or <a class="cancel" data-ng-click="page.confirmDelete =! page.confirmDelete">nevermind</a>
            </span>
            <span data-ng-if="page.confirmDeleteReallySure" class="action pull-right">
              <a data-ng-click="page.deleteSite()"
                    class="remove">
                Yes, I'm sure, delete this site forever</a> or <a class="cancel" data-ng-click="page.confirmDelete = false; page.confirmDeleteReallySure = false;">nevermind</a>
            </span>
          </div>
        </div>
      </form>

      <!-- <div class="progress--modal" data-ng-if="page.progressValue && page.progressValue > 0">
          <div class="progress--container">
              <p><strong>{{ page.progressMessage }}</strong></p>
              <div class="progress--meter--bar--wrapper">
                  <div class="progress--meter--bar" style="width: {{ page.progressValue }}%;"></div>
              </div>
          </div>
      </div> -->

    </div>

    <nav class="column-5 contextual-navigation-wrapper">
      <h6><strong>Tools</strong></h6>
      <ul class="contextual-navigation">
        <!-- Site Manangement Navigation -->
        <li>
          <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}">
            Site Overview
          </a>
        </li>
        <li class="active" data-ng-if="page.permissions.can_edit">
          <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}/edit">
            Edit
          </a>
        </li>
      </ul>
    </nav>

  </article>
</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
