<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="container">
  <form class="row feature">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">

        <!-- Site Number -->
        <div class="form-group">
          <label for="site_number" class="control-label">Site Name</label>
          <textarea rows="1" data-ng-model="page.site.properties.name" class="form-control animate"  msd-elastic id="site_name" name="site_name" placeholder="Site Name">{{ page.site.properties.site_name }}</textarea>
        </div>

        <!-- Site Description -->
        <div class="form-group">
          <label for="site_description" class="control-label">Site Description</label>
          <textarea rows="1" data-ng-model="page.site.properties.description" class="form-control animate"  msd-elastic id="description" name="description" placeholder="Site Description">{{ page.site.properties.description }}</textarea>
        </div>

        <h6><strong>Location</strong> Information</h6>

        <div class="row">
          <div class="column-7">
            <!-- Land River Segment -->
            <div class="form-group">
              <label for="site_city" class="control-label">City</label>
              <div>
                <input type="text" class="form-control" id="address" name="address" data-ng-model="page.site.properties.city" placeholder="Enter the name of the nearest city" />
              </div>
            </div>
          </div>
          <div class="column-1"></div>
          <div class="column-8" data-ng-if="!site.type_b1baa10ba3ce493d90581a864ec95dc8.length">
            <!-- County -->
            <div class="form-group">
              <label for="site_county" class="control-label">County</label>
              <relationship data-ng-if="!site.type_b1baa10ba3ce493d90581a864ec95dc8.length"
                            model="page.site.type_b1baa10ba3ce493d90581a864ec95dc8"
                            table="'type_b1baa10ba3ce493d90581a864ec95dc8'"
                            multiple="'true'"
                            placeholder="'Enter the name of the county'">
              </relationship>
              <p data-ng-if="page.site.type_b1baa10ba3ce493d90581a864ec95dc8.length">
                {{ page.site.type_b1baa10ba3ce493d90581a864ec95dc8[0]['name'] }},
                <!-- If the state name is available from the county then use it -->
                <span data-ng-if="page.site.type_b1baa10ba3ce493d90581a864ec95dc8[0]['state_name']">
                  {{ page.site.type_b1baa10ba3ce493d90581a864ec95dc8[0]['state_name'] }}
                </span>
                <!-- If not, try and get the site_state field from the site -->
                <span data-ng-if="!site.type_b1baa10ba3ce493d90581a864ec95dc8[0]['state_name'] && site.site_state">
                  {{ page.site.type_b1baa10ba3ce493d90581a864ec95dc8[0].state_name }}
                </span>
                <span data-ng-if="page.site.type_b1baa10ba3ce493d90581a864ec95dc8.length" class="help-text action"><a data-ng-click="page.site.type_b1baa10ba3ce493d90581a864ec95dc8 = [];" class="remove">Clear value</a></span>
              </p>
            </div>
          </div>
          <div class="column-4" data-ng-if="page.site.type_b1baa10ba3ce493d90581a864ec95dc8.length">
            <!-- County -->
            <div class="form-group">
              <label for="site_county" class="control-label">County</label>
              <p data-ng-if="page.site.properties.county.length">
                {{ page.site.county }}
              </p>
            </div>
          </div>
          <div class="column-4" data-ng-if="page.site.type_b1baa10ba3ce493d90581a864ec95dc8.length">
            <!-- County -->
            <div class="form-group">
              <label for="site_state" class="control-label">State</label>
              <p>
                {{ page.site.type_b1baa10ba3ce493d90581a864ec95dc8[0].state_name || site.state }}
                <span data-ng-if="page.site.type_b1baa10ba3ce493d90581a864ec95dc8.length" class="help-text action"><a data-ng-click="page.site.type_b1baa10ba3ce493d90581a864ec95dc8 = [];" class="remove">Clear value</a></span>
              </p>
            </div>
          </div>

        </div>

        <h6><strong>Land River</strong> Segment</h6>

        <div class="row" data-ng-class="{'input-error': page.site.invalidLandRiverSegment}">
          <div class="column-7">
            <div class="autocomplete">
              <label for="site_geolocation" class="control-label">
                Find a Location
              </label>
              <input type="text" class="form-control" id="site_geolocation" name="site_geolocation" data-ng-model="page.site.geolocation" data-ng-change="page.geolocation.search()"  placeholder="Find an address, city, or zipcode" /><br />
              <div data-ng-if="page.geocode_features.length && page.site.geolocation.length >= 2" class="dropdown">
                <ul>
                  <!-- <li data-ng-if="relationship_focus && !features.length"><p><em>Begin typing to select the {{ field.label }} you want</em></p></li> -->
                  <li data-ng-repeat="possible_result in page.geocode_features"><a data-ng-click="page.geolocation.select(possible_result)">{{ possible_result.place_name }}</a></li>
                </ul>
              </div>
              <br />
            </div>
          </div>
          <div class="column-1"></div>
          <div class="column-8">
           <!-- Land River Segment -->
            <div class="form-group">
              <label for="site_city" class="control-label">Land River Segment</label>
              <p class="form-value form-value-static" data-ng-if="!page.site.properties.segment">
                Not Specified, use "Find a Location" or relocate the pin
              </p>
              <p class="form-value" data-ng-if="page.site.properties.county.length" data-ng-repeat="segment in page.site.properties.segment track by $index">
                {{ segment.name }}
                <span data-ng-if="page.site.properties.segment" class="help-text action"><a data-ng-click="page.site.properties.segment = '';" class="remove">Clear value</a></span>
              </p>
              <p class="help-text">
                <em>
                  Land River Segment is set dynamically based on the location of the map marker to the left, make note of the white outline making sure the pin is as close to the site location as possible to ensure the appropriate segement is selected
                </em>
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column-16">
            <leaflet data-ng-if="page.map" class="map" markers="page.map.markers" defaults="page.map.defaults" layers="page.map.layers" center="page.map.center"></leaflet>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" data-ng-click="page.saveSite()"
                  class="button button-submit">
            Save Changes
          </button>
          <button type="button" data-ng-click="page.deleteSite()"
                  class="button button-submit">
            Delete
          </button>
        </div>

      </div>
      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Site Manangement Navigation -->
          <li>
            <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}">
              Site Overview
            </a>
          </li>
          <li class="active" data-ng-if="page.permissions.can_edit">
            <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}/edit">
              Edit
            </a>
          </li>
        </ul>
      </nav>

      <aside class="column-5 feature-sidebar pull-right"></aside>
    </article>
  </form>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
