<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;" data-ng-if="page.makePrivate">

        <section class="privacy-message">

            <p>
                <i class="material-icons">
                    lock
                </i>
            </p>

            <p>This site is private.</p>

        </section>

    </div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;" data-ng-if="page.makePrivate !== null && !page.makePrivate">

        <h1 class="inset">Edit “{{ page.site.properties.name || 'Un-named' }}”</h1>

        <div class="main--ui">

            <article class="feature-detail">

                <div class="feature-detail-content" style="position:relative;">

                    <form role="form" class="form" id="form--SiteEdit" name="form--SiteEdit" data-ng-submit="page.saveSite()">
                        <!-- Site Number -->
                        <div class="form-element">
                            <span class="meta-label"><b>Name</b></span>
                            <!-- <label for="site_number" class="control-label">1. What is the name of this site?</label> -->
                            <input type="text" data-ng-model="page.site.properties.name" class="form-control animate" id="site_name" name="site_name" placeholder="Site name" />
                        </div>

                        <!-- Site Description -->
                        <div class="form-element">
                            <span class="meta-label"><b>Description</b></span>
                            <!-- <label for="site_description" class="control-label">2. Please describe this site.</label> -->
                            <textarea rows="1" data-ng-model="page.site.properties.description" class="form-control animate" msd-elastic id="description" name="description" placeholder="Site description">{{ page.site.properties.description }}</textarea>
                        </div>

                        <div class="form-row">
                            <div class="form-field">

                                <div class="form-element">
                                    <div class="autocomplete">
                                        <label data-ng-if="!page.showGeocoder" class="control-label pull-right">
                                            <a href="javascript:void(0);" data-ng-click="page.showGeocoder =! page.showGeocoder">
                                                Search for an address or city
                                            </a>
                                        </label>
                                        <div data-ng-if="page.showGeocoder" class="mapboxGeocoder">
                                            <input type="text" id="address" name="address" data-ng-model="page.geocode.query" class="form-control" placeholder="Type in an address..." mapbox-geocoder mapbox-geocoder-direction="forward" mapbox-geocoder-query="page.geocode.query" mapbox-geocoder-response="page.geocode.response" autofocus="autofocus" />
                                        </div><br />
                                    </div>

                                    <div style="position:relative;">
                                        <leaflet id="site--map" class="map" center="page.map.center" defaults="page.map.defaults" layers="page.map.layers" bounds="page.map.bounds"></leaflet>
                                        <div class="progress--modal" data-ng-if="page.progressValue && page.progressValue > 0">
                                            <div class="progress--container">
                                                <p><strong>{{ page.progressMessage }}</strong></p>
                                                <div class="progress--meter--bar--wrapper">
                                                    <div class="progress--meter--bar" style="width: {{ page.progressValue }}%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Shapefile input -->
                        <div class="form-row">
                            <div class="form-field">
                                <label for="shapefile" class="control-label">
                                    Upload an ESRI Shapefile
                                </label>
                                <input type="file" class="form-control" id="shapefile" name="shapefile" file-upload file-model="page.shapefile" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div>
                                <button type="button" id="shapefile--upload" name="shapefile--upload" class="button button--submit button--outline" data-ng-click="page.uploadShapefile()">
                                    Upload
                                </button>
                            </div>
                        </div>

                        <!-- <div class="form-actions">
                            <div class="form-actions-buttons">
                                <button type="submit" class="button button-submit">
                                    Save Changes
                                </button>
                                <button type="button" class="button button-link button-outline pull-right" data-ng-click="page.confirmDelete =! page.confirmDelete" data-ng-if="!page.confirmDelete && !page.confirmDeleteReallySure">
                                    Delete
                                </button>
                                <span data-ng-if="page.confirmDelete" class="action pull-right">
                                    <a data-ng-click="page.confirmDelete =! page.confirmDelete; page.confirmDeleteReallySure =! page.confirmDeleteReallySure;" class="remove">
                                        Remove site and all associated practices?</a> or <a class="cancel" data-ng-click="page.confirmDelete =! page.confirmDelete">nevermind</a>
                                </span>
                                <span data-ng-if="page.confirmDeleteReallySure" class="action pull-right">
                                    <a data-ng-click="page.deleteSite()" class="remove">
                                        Yes, I'm sure, delete this site forever</a> or <a class="cancel" data-ng-click="page.confirmDelete = false; page.confirmDeleteReallySure = false;">nevermind</a>
                                </span>
                            </div>
                        </div> -->
                    </form>

                    <div class="save--action--wrapper save--action--bottom">
                        <span>Save site</span>
                        <button type="button" data-ng-click="page.saveSite()">
                            <i class="material-icons">
                                done
                            </i>
                        </button>
                    </div>

                </div>

            </article>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
            <li data-ng-class="{active: $root.toolbarState.dashboard}">
                <a href="/sites/{{ page.site.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.edit}">
                <a href="/sites/{{ page.site.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editLocation}">
                <a href="/sites/{{ page.site.id }}/location">
                    <i class="material-icons">
                        location_on
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editPhotos}">
                <a href="/sites/{{ page.site.id }}/photos">
                    <i class="material-icons">
                        insert_photo
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.viewGeographies}">
                <a href="/sites/{{ page.site.id }}/geographies">
                    <i class="material-icons">
                        public
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget">
                    <p>Do you want to delete this site?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature()">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.site)">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>