<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container">
  <form class="row feature">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">
        <h1>
          {{ page.site.properties.name }}
        </h1>
        <h4 class="project-site-city">
          <span data-ng-if="page.site.properties.city">{{ page.site.properties.city }}</span><span data-ng-if="page.site.properties.city && page.site.properties.county.properties.county_name">,</span>
          <span data-ng-if="page.site.properties.county.properties.county_name">{{ page.site.properties.county.properties.county_name }} County</span><span data-ng-if="page.site.properties.state && page.site.properties.county.properties.county_name">,</span> {{ page.site.properties.state }}
        </h4>
        <h4 class="project-site-city">
          <span data-ng-if="page.site.id && page.site.properties.last_modified_by.properties.first_name && page.site.properties.last_modified_by.properties.last_name">Last Modified by: {{ page.site.properties.last_modified_by.properties.first_name }} {{ page.site.properties.last_modified_by.properties.last_name }}</span>
          <span data-ng-if="page.site.id && page.site.properties.modified_on">Modified on: {{ page.site.properties.modified_on | date }}</span>
        </h4>
        <h4 class="project-site-city">
          <span data-ng-if="page.site.properties.segment.properties.hgmr_code">{{ page.site.properties.segment.properties.hgmr_code }}</span>,
          <span data-ng-if="page.site.properties.segment.properties.hgmr_name">{{ page.site.properties.segment.properties.hgmr_name }}</span>,
          <span data-ng-if="page.site.properties.segment.properties.river_name">{{ page.site.properties.segment.properties.river_name }}</span>
        </h4>

        <br />

        <section class="list action-list">
          <h6 class="rule-above"><strong>Practices</strong> Installed</h6>

          <article class="row list-item"
                   data-ng-if="page.practices.features && !page.practices.features.length">
            <div class="column-16 list-item-content align-center empty-data">
              <div class="icon retinaicon-file-096"></div>
              <p>
                Practices will show up here,
                so you can easily view them later.
              </p>
              <p>
                <a href="javascript:void(0)"
                   data-ng-click="page.createPractice()">
                  Create your first practice now
                </a>
              </p>
            </div>
          </article>

          <article class="row list-item"
                   data-ng-if="page.practices.features && page.practices.features.length"
                   data-ng-repeat="practice in page.practices.features | orderBy:'id' track by $index">
             <div class="column-16 list-item-content">
              <h1>
                <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}/practices/{{ practice.id }}/{{ page.site.practices.cleanName(practice.name) }}">
                  {{ practice.properties.practice_type }}
                </a>
                <span class="creation-date">
                  Created on {{ practice.properties.created_on | date:'longDate' }}
                </span>
              </h1>
              <div class="thumbnails" data-ng-if="practice.attachment_4513d48492f2485ebcdc3293a3c3695e.length">
                <h6>Installation Photos</h6>
                <div data-ng-repeat="image in practice.attachment_4513d48492f2485ebcdc3293a3c3695e" class="thumbnail">
                  <img ng-src="//{{ image.filepath }}" alt="" title="" />
                </div>
              </div>
              <div class="thumbnails" data-ng-if="practice.attachment_deeff980383d47b7869b626080388ec5.length">
                <h6>Mature Photos</h6>
                <div data-ng-repeat="image in practice.attachment_deeff980383d47b7869b626080388ec5" class="thumbnail">
                  <img ng-src="//{{ image.filepath }}" alt="" title="" />
                </div>
              </div>
            </div>
          </article>
        </section>

      </div>
      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Site Manangement Navigation -->
          <li class="active">
            <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}">
              Site Overview
            </a>
          </li>
          <li data-ng-if="page.permissions.can_edit">
            <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}/edit">
              Edit
            </a>
          </li>
        </ul>
      </nav>
    </article>
  </form>
</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
