<main class="container">
  <form class="row feature" data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">

        <!-- Program Type -->
        <div class="form-group">
          <label for="program_type" class="control-label">Program Type</label>
          <select data-ng-model="project.program_type" data-ng-options="option for option in fields.program_type.options" class="form-control" id="program_type" name="program_type">
            <option value="">Choose a program type</option>
          </select>
        </div>

        <!-- NFWF ID-->
        <div class="form-group">
          <label for="nfwf_id" class="control-label">NFWF ID</label>
          <textarea rows="1" data-ng-model="project.name" class="form-control animate"  msd-elastic id="nfwf_id" name="nfwf_id" placeholder="NFWF ID">{{ project.name }}</textarea>
        </div>

        <!-- Easy Grants ID -->
        <div class="form-group">
          <label for="easy_grants_id" class="control-label">Easy Grants ID</label>
          <textarea rows="1" data-ng-model="project.easy_grants_id" class="form-control animate"  msd-elastic id="easy_grants_id" name="easy_grants_id" placeholder="Easy Grants ID">{{ project.easy_grants_id }}</textarea>
        </div>

        <!-- Project Title -->
        <div class="form-group">
          <label for="project_title" class="control-label">Project Title</label>
          <textarea rows="1" data-ng-model="project.project_title" class="form-control animate"  msd-elastic id="project_title" name="project_title" placeholder="Project Title">{{ project.project_title }}</textarea>
        </div>

        <!-- Organization -->
        <div class="form-group">
          <label for="type_271e6f04e893436588c8cd84da851a97" class="control-label">Organization</label>
          <relationship model="project.type_271e6f04e893436588c8cd84da851a97"
                        table="'type_271e6f04e893436588c8cd84da851a97'"
                        placeholder="'Enter the name of the organization'">
          </relationship>
        </div>

        <!-- Project Abstract -->
        <div class="form-group">
          <label for="project_abstract" class="control-label">Project Abstract</label>
          <div class="textarea form-control" medium-editor options='{"placeholder": "Enter a project abstract", "buttons": ["bold", "italic", "underline", "anchor"]}' data-ng-model="project.project_abstract">{{ project.project_abstract }}</div>
        </div>
      </div>
      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Proect Manangement Navigation -->
          <li data-ng-if="user.owner || user.feature.read || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}">Project Overview</a></li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator" class="active"><a href="/projects/{{ project.id }}/edit">Edit</a></li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}/users">Users</a></li>
        </ul>
      </nav>
      <aside class="column-5 feature-sidebar pull-right">

        <h6><strong>Location</strong> Description</h6>
        <!-- Location Description -->
        <div class="form-group">
          <label for="location_description" class="control-label element-invisible" aria-hidden="true">Location Description</label>
          <textarea rows="1" data-ng-model="project.location_description" class="form-control animate"  msd-elastic id="location_description" name="location_description" placeholder="Location Description">{{ project.location_description }}</textarea>
        </div>

        <h6><strong>Important</strong> Dates</h6>
        <!-- Proposed Start Date -->
        <div class="form-group">
          <label for="proposed_start_date" class="control-label">Proposed Start Date</label>
          <input type="text" class="form-control" id="proposed_start_date" name="proposed_start_date" data-ng-model="project.proposed_start_date" placeholder="Proposed Start Date" />
          <p class="help-text">YYYY-MM-DD</p>
        </div>

        <!-- Proposed End Date -->
        <div class="form-group">
          <label for="proposed_end_date" class="control-label">Proposed End Date</label>
          <input type="text" class="form-control" id="proposed_end_date" name="proposed_end_date" data-ng-model="project.proposed_end_date" placeholder="Proposed End Date" />
          <p class="help-text">YYYY-MM-DD</p>
        </div>

        <h6><strong>Financial</strong> Information</h6>

        <!-- Award -->
        <div class="form-group">
          <label for="award" class="control-label">Award</label>
          <input type="number" class="form-control" id="award" name="award" data-ng-model="project.award" placeholder="Award" />
        </div>

        <!-- Match -->
        <div class="form-group">
          <label for="match" class="control-label">Match</label>
          <input type="number" class="form-control" id="match" name="match" data-ng-model="project.match" placeholder="Match" />
        </div>

        <!-- Funders -->
        <div class="form-group">
          <label for="type_b3290b45fa414a9382078cee28e3ff78" class="control-label">Funders</label>
          <relationship model="project.type_b3290b45fa414a9382078cee28e3ff78" table="'type_b3290b45fa414a9382078cee28e3ff78'" fields="['name']" placeholder="'Enter the name of the funder'"></relationship>
        </div>

      </aside>
    </article>
  </form>
</main>
