<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading reports&hellip;</p>
            </div>
        </div>

        <section class="privacy-message reveal fade-in t0" data-ng-if="!page.status.loading && page.makePrivate">

            <p>
                <i class="material-icons">
                    lock
                </i>
            </p>

            <p>This project is private.</p>

        </section>

        <h1 class="inset" data-ng-if="!page.status.loading && !page.makePrivate">
            View or Create Report Groups</h1>

        <div class="main--ui reveal fade-in t0" data-ng-if="!page.status.loading && !page.makePrivate">

       <!--     <section class="reveal fade-in t3" style="padding: 0;">

                <div data-ng-repeat="program in page.programs">
                    {{program.name}}

                </div>


            </section>
       -->
            <!-- reports -->
            <section class="reveal fade-in t3" style="padding: 0;" data-ng-if="page.permissions.can_edit">

                <div data-ng-repeat="program in page.matrix | orderBy:'name':false">

                    <span style="margin-bottom:20px;"><h2 style="display:inline; margin-right:20px;">{{program.name}}</h2>
                        <a style="display:inline;" href="/programs/{{ program.id }}/">
                            <sub>
                                <i class="material-icons">
                                            dashboard
                                </i>
                            </sub>
                        </a>
                    </span>

                    <ul class="snapshot--cards list-unstyled" style="margin-top:20px;">

                        <li class="card" data-ng-repeat="report in program.reports | orderBy:'report_date':false">

                            <div class="card--content">

                                <div class="name">
                                    <span data-ng-if="report.title">{{ report.title }}</span>
                                    <span data-ng-if="!report.title">{{ report.date | date : 'longDate' }}</span>
                                </div>

                                <div class="body">

                                    <div class="confirm--delete" data-ng-if="page.deletionTarget && page.deletionTarget.feature.id === report.id && page.deletionTarget.collection === 'report'">
                                        <p>Do you want to delete this report?</p>
                                        <div class="actions" style="flex: 0;">
                                            <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteBundle('report', $index)">
                                                Yes
                                            </a>
                                            <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                                                Cancel
                                            </a>
                                        </div>
                                    </div>
                                    <p>{{ (report.notes || 'No notes recorded for this report group') | truncate:80 }}</p>
                                    <div class="actions">
                                        <a class="snapshot--title" href="/projects/{{page.project.id}}/reports/{{ report.id }}" title="Edit report" data-ng-if="page.permissions.can_edit">
                                            <i class="material-icons">
                                                edit
                                            </i>
                                        </a>
                                        <a class="snapshot--title" href="#" title="Delete report" data-ng-click="page.confirmDelete(report, 'report')" data-ng-if="page.permissions.can_edit">
                                            <i class="material-icons">
                                                delete
                                            </i>
                                        </a>
                                    </div>
                                    <span><time datetime="{{ report.report_date }}" title="{{ report.report_date }}">
                                            Last updated {{ report.modified_on | date : 'mediumDate' }}</time></span>
                                </div>

                            </div>

                        </li>

                        <li class="card" data-ng-if="page.permissions.can_edit">
                            <div class="card--content">
                                <div class="body">
                                    <button type="button" class="snapshot--title" data-ng-click="page.createReportBundle(program.id)" title="Create report">
                                        <i class="material-icons">
                                            add
                                        </i>
                                    </button>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>


            </section>



        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
            <li data-ng-class="{active: $root.toolbarState.dashboard}">
                <a href="/projects/{{ page.project.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/projects/{{ page.project.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.grant}">
                <a href="/projects/{{ page.project.id }}/grant">
                    <i class="material-icons">
                        account_balance
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/projects/{{ page.project.id }}/users">
                    <i class="material-icons">
                        group
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.partnerships}">
                <a href="/projects/{{ page.project.id }}/partnerships">
                    <i class="material-icons">
                        group_work
                    </i>
                </a>
            </li>
            <!-- <li data-ng-if="page.permissions.can_edit">
                <a href="/projects/{{ page.project.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li> -->
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTargets}">
                <a href="/projects/{{ page.project.id }}/targets">
                    <i class="material-icons">
                        multiline_chart
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/projects/{{ page.project.id }}/tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
     <!--       <li data-ng-if="page.permissions.can_edit">
                <a href="#" data-ng-click="page.print()">
                    <i class="material-icons">
                        print
                    </i>
                </a>
            </li>
            -->
            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget">
                    <p>Do you want to delete this site?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature()">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.site)">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>