<div data-ng-include="'/modules/shared/views/header--view.html'"></div>

<main class="container">
  <form class="row feature">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">
        <h4>
          <span data-ng-if="page.project.properties.program_type" class="label">{{ page.project.properties.program_type }}</span> 
        </h4>
        <h1 class="large">{{ page.project.properties.name }}</h1>
        <div class="project-abstract" data-ng-bind-html="page.project.properties.project_abstract"></div>

        <section data-ng-if="page.project.properties.sites" id="sites">
          <div class="list">
            <h6 class="rule-above"><strong>Project</strong> Sites</h6>
            <article class="row list-item list-item-thin" data-ng-repeat="site in page.project.properties.sites track by $index">
              <div class="column-16 list-item-content">
                <img data-ng-if="site.site_thumbnail" data-ng-src="{{ site.site_thumbnail }}" alt="{{ site.site_description }} location preview" width="80" height="80" />
                <h1 class="project-site-number">
                    <a href="/projects/{{ project.id }}/sites/{{ site.id }}" title="{{ site.properties.name }} project details">
                        {{ site.properties.name }}
                    </a>
                </h1>
                <h4 class="project-site-title">{{ site.properties.description }}</h4>
                <h4 class="project-site-city" data-ng-if="site.properties.city">
                  {{ site.properties.city }}
                </h4>
                <h4>
                  <span data-ng-if="site.properties.state && site.county.properties.name">
                    {{ site.county.properties.name }} County, {{ site.properties.state }}
                  </span>
                </h4>                
              </div>
            </article>
          </div>
        </section>
      </div>
      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Proect Manangement Navigation -->
          <li class="active">
            <a href="/projects/{{ page.project.id }}">
                Project Overview
            </a>
          </li>
          <li data-ng-if="page.permissions.can_edit">
            <a href="/projects/{{ page.project.id }}/edit">Edit</a>
          </li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}/users">Users</a></li>
        </ul>
      </nav>
    </article>
  </form>
</main>

<div data-ng-include="'/modules/shared/views/footer--view.html'"></div>
