<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading sites&hellip;</p>
            </div>
        </div>

        <section class="privacy-message reveal fade-in t0" data-ng-if="!page.status.loading && page.makePrivate">

            <p>
                <i class="material-icons">
                    lock
                </i>
            </p>

            <p>This project is private.</p>

        </section>

        <h1 class="inset" data-ng-if="!page.status.loading && !page.makePrivate">
            Edit Report</h1>

        <div class="main--ui reveal fade-in t0" data-ng-if="!page.status.loading && !page.makePrivate">

            <section class="reveal fade-in t3" style="padding: 0;">

                <div class="feature-detail-content">

                    <form data-ng-submit="page.saveReport()" class="form" role="form" autocomplete="off">

                        <!--
                         <h2>
                            Report date and measurement period
                        </h2>
                        -->
                        <div class="form-element">
                            <span class="meta-label"><b>Title</b></span>
                            <input id="report_title" name="report_date_month" type="text" value="page.bundle.title" data-ng-model="page.bundle.title" >
                        </div>



                        <div class="form-element">
                            <span class="meta-label"><b>Month</b></span>
                            <input id="report_date_month" name="report_date_month" type="text" value="page.date.month" data-ng-model="page.date.month" uib-typeahead="month.name for month in page.months | filter:$viewValue | limitTo:5" typeahead-min-length="0" typeahead-template-url="templates/search--tpl.html" required="required">
                        </div>

                        <div class="form-element">
                            <span class="meta-label"><b>Date</b></span>
                            <input type="number" min="1" max="31" step="1" id="report_date_date" name="report_date_date" data-ng-model="page.date.date" />
                        </div>

                        <div class="form-element">
                            <span class="meta-label"><b>Year</b></span>
                            <input number type="number" min="1900" step="1" id="report_date_year" name="report_date_year" data-ng-model="page.date.year" />
                        </div>

                        <div class="form-element">
                            <span class="meta-label"><b>Notes</b></span>
                            <textarea class="form-control" msd-elastic data-ng-model="page.bundle.notes" maxlength="1000" rows="10">{{ page.report.notes }}</textarea>
                            <p style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                                Notes may contain up to 1,000 characters, including spaces and punctuation. <strong>({{ (page.report.notes.length || 0) | number }} used)</strong>
                            </p>
                        </div>

                    </form>

                </div>



            </section>

            <!-- Unselected Sites -->
            <section class="reveal fade-in t3" style="padding: 0;" data-ng-if="page.permissions.can_edit">


                <ul class="snapshot--cards list-unstyled">

                        <li class="card" data-ng-repeat="practice in page.practices | orderBy:'name':false">

                            <div class="card--content">

                                <div style="position:relative;">

                                  <img data-ng-if="practice.staticURL" data-ng-src="{{ practice.staticURL }}" width="auto" height="auto" />


                                    <img data-ng-if="!practice.staticURL" data-ng-src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-98.5795,39.828175,5/400x200@2x?access_token=pk.eyJ1IjoiYm1jaW50eXJlIiwiYSI6IjdST3dWNVEifQ.ACCd6caINa_d4EdEZB_dJw" width="auto" height="auto" />


                                    <!--<div id="site-geography-preview-{{ $index }}" style="width: 100%; height: 200px;"></div>-->


                                    <!-- <leaflet id="site-geography-preview-{{ $index }}" style="width: 100%; height: 200px;" defaults="page.previewMap.defaults" layers="page.previewMap.layers" bounds="site.bounds" geojson="site.geojson"></leaflet> -->

                                </div>

                                <div class="name" style="background: #fff;">
                                    <span>{{ practice.name || 'Un-named' }}</span>
                                </div>

                                <div class="body">
                                <!--
                                    <div class="confirm--delete" data-ng-if="page.deletionTarget && page.deletionTarget.feature.properties.id === site.properties.id && page.deletionTarget.collection === 'site'">
                                        <p>Do you want to delete this site?</p>
                                        <div class="actions" style="flex: 0;">
                                            <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature('site', $index)">
                                                Yes
                                            </a>
                                            <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                                                Cancel
                                            </a>
                                        </div>
                                    </div>
                                  -->
                                    <p>{{ (site.properties.description || 'No description') | truncate:80 }}</p>
                                    <div class="actions">
                                        <a class="snapshot--title" href="/pratices/{{ practice.id }}" title="Site summary">
                                            <i class="material-icons">
                                                dashboard
                                            </i>
                                        </a>
                                        <a class="snapshot--title" href="/pratices/{{ practice.id }}/edit" title="Edit site" data-ng-if="page.permissions.can_edit">
                                            <i class="material-icons">
                                                edit
                                            </i>
                                        </a>
                                        <a class="snapshot--title" href="/pratices/{{ practice.id }}/location" title="Edit location" data-ng-if="page.permissions.can_edit">
                                            <i class="material-icons">
                                                location_on
                                            </i>
                                        </a>
                                        <a class="snapshot--title" href="#" title="Delete site" data-ng-click="page.confirmDelete(site, 'site')" data-ng-if="page.permissions.can_edit">
                                            <i class="material-icons">
                                                delete
                                            </i>
                                        </a>
                                    </div>
                                    <span><time datetime="{{ practice.modified_on }}" title="{{ practice.modified_on }}">Last updated on {{ site.properties.modified_on | date : 'mediumDate' }}</time></span>
                                </div>

                            </div>
                        </li>


                </ul>


            </section>



        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
            <li data-ng-class="{active: $root.toolbarState.dashboard}">
                <a href="/projects/{{ page.project.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/projects/{{ page.project.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.grant}">
                <a href="/projects/{{ page.project.id }}/grant">
                    <i class="material-icons">
                        account_balance
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/projects/{{ page.project.id }}/users">
                    <i class="material-icons">
                        group
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.partnerships}">
                <a href="/projects/{{ page.project.id }}/partnerships">
                    <i class="material-icons">
                        group_work
                    </i>
                </a>
            </li>
            <!-- <li data-ng-if="page.permissions.can_edit">
                <a href="/projects/{{ page.project.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li> -->
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTargets}">
                <a href="/projects/{{ page.project.id }}/targets">
                    <i class="material-icons">
                        multiline_chart
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/projects/{{ page.project.id }}/tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
     <!--       <li data-ng-if="page.permissions.can_edit">
                <a href="#" data-ng-click="page.print()">
                    <i class="material-icons">
                        print
                    </i>
                </a>
            </li>
            -->
            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget">
                    <p>Do you want to delete this site?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature()">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.site)">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>