<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading sites&hellip;</p>
            </div>
        </div>

        <section class="privacy-message reveal fade-in t0" data-ng-if="!page.status.loading && page.makePrivate">

            <p>
                <i class="material-icons">
                    lock
                </i>
            </p>

            <p>This project is private.</p>

        </section>

        <h1 class="inset" data-ng-if="!page.status.loading && !page.makePrivate">
            Edit Report</h1>

        <div class="main--ui reveal fade-in t0" data-ng-if="!page.status.loading && !page.makePrivate">

            <section class="reveal fade-in t3" style="padding: 0;">



            </section>

            <!-- Unselected Sites -->
            <section class="reveal fade-in t3" style="padding: 0;" data-ng-if="page.permissions.can_edit">



            </section>



        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
            <li data-ng-class="{active: $root.toolbarState.dashboard}">
                <a href="/projects/{{ page.project.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/projects/{{ page.project.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.grant}">
                <a href="/projects/{{ page.project.id }}/grant">
                    <i class="material-icons">
                        account_balance
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/projects/{{ page.project.id }}/users">
                    <i class="material-icons">
                        group
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.partnerships}">
                <a href="/projects/{{ page.project.id }}/partnerships">
                    <i class="material-icons">
                        group_work
                    </i>
                </a>
            </li>
            <!-- <li data-ng-if="page.permissions.can_edit">
                <a href="/projects/{{ page.project.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li> -->
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTargets}">
                <a href="/projects/{{ page.project.id }}/targets">
                    <i class="material-icons">
                        multiline_chart
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/projects/{{ page.project.id }}/tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
     <!--       <li data-ng-if="page.permissions.can_edit">
                <a href="#" data-ng-click="page.print()">
                    <i class="material-icons">
                        print
                    </i>
                </a>
            </li>
            -->
            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget">
                    <p>Do you want to delete this site?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature()">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.site)">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>