<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container">

        <h1 class="inset">Projects</h1>

        <div class="main--ui">

            <div class="add--new--wrapper">
                <span>Create project</span>
                <a class="add--new--btn" href="projects/collection/new">
                    <i class="material-icons">
                    add
                    </i>
                </a>
            </div>

            <div style="position: relative;" class="progress--modal" data-ng-if="page.loading">
                <div class="progress--container">
                    <p><strong>Loading your projects&hellip;</strong></p>
                    <div class="progress--meter--bar--wrapper">
                        <div class="progress--meter--bar" style="width: {{ page.progressValue }}%;"></div>
                    </div>
                </div>
            </div>

            <p data-ng-if="!page.loading">You have <strong>{{ (page.filteredProjects.length | number) || 0 }}</strong> <ng-pluralize count="page.filteredProjects.length" when="{'one': 'project','other': 'projects'}"></ng-pluralize>.</p>

            <div class="features--container" data-ng-if="!page.loading">

                <input type="text" class="search-bar list-filter" data-ng-model="page.q" placeholder="Search projects">

                <ul class="snapshot--cards list-unstyled" style="margin-top: 2em;">

                    <li class="card" data-ng-repeat="project in page.filteredProjects | orderBy:'-modified_on' | filter: page.q">

                        <div class="card--content">

                            <!-- <div class="name">
                                <span>{{ project.name }}</span>
                            </div> -->

                            <img data-ng-if="project.staticURL" data-ng-src="{{ project.staticURL }}" width="auto" height="200" />

                            <img data-ng-if="!project.extent" data-ng-src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-98.5795,39.828175,5/400x200@2x?access_token=pk.eyJ1IjoiYm1jaW50eXJlIiwiYSI6IjdST3dWNVEifQ.ACCd6caINa_d4EdEZB_dJw" width="auto" height="200" />

                            <div class="name" style="background: #fff;">
                                <span>{{ project.name }}</span>
                            </div>

                            <div class="body">
                                <div class="confirm--delete" data-ng-if="page.deletionTarget.id === project.id">
                                    <p>Do you want to delete this project?</p>
                                    <div class="actions" style="flex: 0;">
                                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature(project, $index)">
                                            Yes
                                        </a>
                                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                                <p>{{ project.description | truncate:80 }}</p>
                                <div class="actions">
                                    <a class="snapshot--title" href="/projects/{{ project.id }}" title="Project summary">
                                        <i class="material-icons">
                                        dashboard
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="/projects/{{ project.id }}/edit" title="Edit project">
                                        <i class="material-icons">
                                        edit
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="#" title="Delete project" data-ng-click="page.confirmDelete(project)">
                                        <i class="material-icons">
                                        delete
                                        </i>
                                    </a>
                                </div>
                                <span><time datetime="{{ project.modified_on }}" title="{{ project.modified_on }}">Last updated {{ project.modified_on | date : 'mediumDate' }}</time></span>
                            </div>

                        </div>
                        
                    </li>

                    <!-- <li class="card">
                        <div class="card--content">
                            <div class="body">
                                <button type="button" class="snapshot--title" data-ng-click="page.createSite()" title="Create site">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </button>
                            </div>
                        </div>
                    </li> -->

                </ul>

            </div>

        </div>

    </div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
