<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading project data&hellip;</p>
            </div>
        </div>

        <section class="privacy-message reveal fade-in t0"
                 data-ng-if="!page.status.loading && page.makePrivate">

            <p>
                <i class="material-icons">
                    lock
                </i>
            </p>

            <p>This project is private.</p>

        </section>

        <div class="main--ui"
             data-ng-if="!page.status.loading && !page.makePrivate">

            <div class="module--grid">

                <div breadcrumb class="full-width"
                     program="page.project.program"
                     project="page.project"></div>

                <div class="archive-notice" data-ng-if="page.project.archived">
                    <span class="material-icons">
                        archive
                    </span>
                    <span>This project is archived.</span>
                </div>

                <div class="group">

                    <article class="pad space-right shadow reveal fade-in t0">

                        <h1 class="margin-0 margin-b-1">
                            {{ page.project.name || 'Un-named' }}
                        </h1>

                        <div class="last-modified-summary">

                            <div data-ng-if="page.project.id && page.project.last_modified_by.first_name && page.project.last_modified_by.last_name"
                                 class="modtime">
                                Last modified by {{ page.project.last_modified_by.first_name }} {{
                                page.project.last_modified_by.last_name }} on {{ page.project.modified_on | localTime
                                | date:'fullDate' }} at {{ page.project.modified_on | localTime | date:'h:mm' }} {{ page.project.modified_on | localTime | date:'a' }}
                            </div>

                            <div class="status-wrapper margin-0 margin-y-1 pad-0"
                                 title="Status: {{ page.project.status | capitalAttribute }}">
                                <div class="status status-{{ page.project.status }}">
                                    <span class="dot"></span>
                                    <span>{{ page.project.status | capitalAttribute }}</span>
                                </div>
                            </div>

                            <div class="history-link-wrapper">
                                <span class="material-icons">
                                    history
                                </span>
                                <a href="/projects/{{ page.project.id }}/history">
                                    View change log
                                </a>
                            </div>

                        </div>

                        <div class="summary-warning-link-wrapper"
                             data-ng-if="!page.project.program.id">
                                <span class="material-icons">
                                    error
                                </span>
                            <a href="/projects/{{ page.project.id }}/grant">
                                Please add a funding program to this project.
                            </a>
                        </div>

                        <p data-ng-bind-html="page.project.description"></p>

                        <div data-ng-if="page.tags && page.tags.length">

                            <span style="display: block; margin: 1em 0; color: #757575; text-transform: uppercase; font-size: .8em; font-weight: bold; letter-spacing: .05em;">Tags</span>

                            <div class="tag--group">

                                <div class="tag--pill" data-ng-class="{'colorize': tag.color && tag.color.length === 7}"
                                     data-ng-repeat="tag in page.tags">
                                    <div class="colorize" data-ng-if="tag.color">
                                        <span class="category"
                                              style="background: {{ tag.color }}; color: #f5f5f5; border-bottom: 1px solid {{ tag.color }};">{{ tag.group.name || 'misc' }}</span>
                                        <span style="background: {{ tag.lightColor }}; color: #fafafa;">{{ tag.name }}</span>
                                    </div>
                                    <div data-ng-if="!tag.color || tag.color.length < 7">
                                        <span class="category">{{ tag.group.name || 'misc' }}</span>
                                        <span>{{ tag.name }}</span>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </article>

                    <div class="map--module shadow reveal fade-in t1" style="position:relative;">
                        <div id="primary--map" class="map tall" style="border-radius: 4px; overflow: hidden;">
                            <div class="mapboxgl-layer-ctrl"
                                 data-ng-click="page.showLayerOptions = !page.showLayerOptions" title="Switch layers">
                                <i class="material-icons">
                                    layers
                                </i>
                                <div class="layer-group" data-ng-show="page.showLayerOptions">
                                    <form>
                                        <label data-ng-repeat="style in page.mapStyles"
                                               data-ng-class="{'active': page.activeStyle === $index}"
                                               title="{{ style.name }}">
                                            <input type="radio" id="base-style-{{ $index }}" name="active-style"
                                                   data-ng-model="page.activeStyle" data-ng-value="{{ $index }}"
                                                   data-ng-change="page.switchMapStyle(style, $index)"><span> {{ style.name }}</span>
                                        </label>
                                    </form>
                                    <form class="layers" data-ng-show="page.layers && page.layers.length">
                                        <label for="layer-{{ $index }}" data-ng-repeat="layer in page.layers"
                                               data-ng-class="{'active': layer.selected}" title="{{ layer.name }}">
                                            <input type="checkbox" id="layer-{{ $index }}" name="layer-{{ $index }}"
                                                   data-ng-model="layer.selected" data-ng-value="{{ $index }}"
                                                   data-ng-change="page.toggleLayer(layer)">
                                            <span> {{ layer.name }}</span>
                                            <div class="symbol-group" data-ng-if="layer.symbol && layer.symbol.colors">
                                                <div class="color" data-ng-repeat="color in layer.symbol.colors"
                                                     style="background: {{ color }};"></div>
                                            </div>
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="group reveal fade-in t2">

                    <section class="pad shadow">

                        <h2>Metrics</h2>

                        <div class="empty-block-alert"
                             data-ng-if="page.metrics && !page.metrics.generic.length && !page.metrics.has_models">
                            <p class="pad-0 margin-0 margin-t-2">
                                <span class="material-icons">
                                    info
                                </span>
                            </p>
                            <p class="pad-0 margin-0 margin-y-2">
                                No metric progress available.<br><br>This may mean that the project has not begun tracking
                                practice implementation or that progress calculations are being updated.
                            </p>
                        </div>

                        <div data-ng-if="page.metrics && page.metrics.has_models">

                            <table class="table table-practices with-metrics"
                                   data-ng-repeat="model in page.metrics.models">

                                <thead>
                                <tr>
                                    <th>
                                        <strong>{{ model.datum.name }}</strong>
                                        <p style="color: #616161; margin: 0; padding-top: 2em; font-size: 0.9em;">
                                            The following metric values were generated using data and algorithms
                                            supplied by the {{ model.datum.name }} model. You can find more information
                                            about this model <a href="/models/{{ model.datum.id }}">here</a>.
                                        </p>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="table-column-wide table-metrics-header">&nbsp;</th>
                                    <th class="table-metrics-header">Estimated value</th>
                                </tr>
                                </thead>

                                <tbody class="metrics" data-ng-repeat="metric in model.collection track by $index">
                                <tr class="metrics--metric" data-ng-click="page.showMetricModal(metric)">
                                    <td class="table-column-wide">
                                        <p class="metric--title">
                                            {{ metric.name }}
                                        </p>
                                    </td>
                                    <td>
                                        <strong class="metrics--metric--rollup--small">{{ metric.current_value | number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit.plural }}</span>
                                    </td>
                                </tr>
                                </tbody>

                            </table>

                        </div>

                        <table class="table table-practices with-metrics" style="border-top: 1px solid #e0e0e0;"
                               data-ng-if="page.metrics && page.metrics.generic.length">

                            <thead>
                                <tr>
                                    <th class="table-column-wide table-metrics-header">&nbsp;</th>
                                    <th class="table-metrics-header">Installed / Planned</th>
                                    <th class="table-metrics-header">% Installed</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody class="metrics" data-ng-repeat="metric in page.metrics.generic track by $index">
                            <tr class="metrics--metric" data-ng-click="page.showMetricModal(metric)">
                                <td class="table-column-wide">
                                    <p class="metric--title">
                                        {{ metric.name }}
                                    </p>
                                </td>
                                <td>
                                    <strong class="metrics--metric--rollup--small">{{ metric.current_value | number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit.plural }}</span><br/>
                                    <span class="metrics--metric--rollup--label" data-ng-if="metric.show_progress"> / {{ metric.self_target | number:2 }} </span>
                                </td>
                                <td data-ng-if="metric.show_progress">
                                    <strong class="metrics--metric--percentage">
                                        {{ metric.selfProgress.value * 100 | number:1 }}%
                                    </strong>
                                </td>
                                <td data-ng-if="metric.show_progress">
                                    <progress-arc
                                            size="32"
                                            stroke="#2196F3"
                                            stroke-width="4"
                                            complete="metric.selfProgress.arcValue"
                                            counter-clockwise="false"
                                            background="rgba(0,0,0,0.2)">
                                    </progress-arc>
                                </td>
                            </tr>
                            </tbody>

                        </table>

                    </section>

                </div>

                <div class="metric-modal" data-ng-if="page.displayModal" data-ng-click="page.closeMetricModal()">

                    <div class="summary-card">

                        <button class="close" type="button" data-ng-click="page.closeMetricModal()" title="Cancel">
                            <i class="material-icons">
                                clear
                            </i>
                        </button>

                        <h2 class="metric--title"
                            style="color: #e0e0e0; margin-bottom: 1em; border-bottom: 1px solid rgba(255,255,255,0.2); padding-bottom: 1em;">
                            {{ page.selectedMetric.name }}
                        </h2>

                        <p style="color: #e0e0e0;">{{ page.selectedMetric.description || 'No description' }}</p>

                        <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; padding: 1em 0; width: 100%;">

                            <div style="display: flex; flex-flow: column; flex-grow: 1; justify-content: center; align-items: center; ">
                                <span style="display: block; margin-bottom: 2em; color: #e0e0e0; text-transform: uppercase; font-size: .8em; letter-spacing: .05em;">Program progress</span>
                                <br/>
                                <progress-arc
                                        size="80"
                                        stroke="#2196F3"
                                        stroke-width="8"
                                        complete="page.selectedMetric.contextProgress.arcValue"
                                        counter-clockwise="false"
                                        background="rgba(0,0,0,0.2)">
                                </progress-arc>
                                <span style="display: block; margin-top: 2em; color: #e0e0e0;">{{ page.selectedMetric.current_value | number:2 }} / {{ page.selectedMetric.target | number:2 }}</span>
                            </div>

                            <div style="display: flex; flex-flow: column; flex-grow: 1; justify-content: center; align-items: center;">
                                <span style="display: block; margin-bottom: 2em; color: #e0e0e0; text-transform: uppercase; font-size: .8em; letter-spacing: .05em;">Project progress</span>
                                <br/>
                                <progress-arc
                                        size="80"
                                        stroke="#2196F3"
                                        stroke-width="8"
                                        complete="page.selectedMetric.selfProgress.arcValue"
                                        background="rgba(0,0,0,0.2)">
                                </progress-arc>
                                <span style="display: block; margin-top: 2em; color: #e0e0e0;">{{ page.selectedMetric.current_value | number:2 }} / {{ page.selectedMetric.self_target | number:2 }}</span>
                            </div>

                        </div>

                        <p style="color: #e0e0e0; margin: 0; padding-top: 2em; font-size: 0.9em;"
                           data-ng-if="page.selectedMetric.model">
                            This is an automated metric. The values above were generated using data and algorithms
                            supplied by the {{ page.selectedMetric.model.name }} model. You can find more information
                            about this model <a href="/models/{{ page.selectedMetric.model.id }}">here</a>.
                        </p>

                    </div>

                </div>

            </div>

            <!-- START PRACTICES PANEL-->

            <section class="reveal fade-in t3 pad-0 margin-b-3">

                <div class="create-heading margin-t-1 margin-b-2">
                    <h2 class="margin-0">
                        Practices
                        <span class="tally">
                            {{ page.practicesSummary.feature_count | number }}
                        </span>
                    </h2>
                    <button type="button" class="margin-r-1" style="padding: .5rem 1rem .5rem .7rem;"
                            data-ng-click="page.presentChildModal('practice')"
                            data-ng-if="page.permissions.can_edit">
                        <span class="material-icons margin-r-50p">
                            add
                        </span>
                        Create
                    </button>
                    <button type="button"
                            data-ng-click="page.presentUploadModal('practice')"
                            data-ng-if="page.permissions.can_edit">
                        <span class="material-icons margin-r-50p">
                            cloud_upload
                        </span>
                        Upload file
                    </button>
                </div>

                <div>

                    <div>

                        <ul class="snapshot--cards list-unstyled">

                            <li class="card" data-ng-repeat="practice in page.practices track by $index">

                                <div class="card--content">

                                    <div style="position:relative;">

                                        <img data-ng-if="practice.staticURL" data-ng-src="{{ practice.staticURL }}"
                                             width="auto" height="auto"/>

                                        <img data-ng-if="!practice.staticURL"
                                             data-ng-src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-98.5795,39.828175,5/400x200@2x?access_token=pk.eyJ1IjoiYm1jaW50eXJlIiwiYSI6IjdST3dWNVEifQ.ACCd6caINa_d4EdEZB_dJw"
                                             width="auto" height="auto"/>

                                    </div>

                                    <div class="name pad-0 pad-t-50p pad-l-1 pad-r-1" style="background: #fff;
                                    border-bottom: none;">
                                        <span>
                                            {{ practice.properties.name || 'Un-named' }}
                                        </span>
                                        <span class="sub-label"
                                              data-ng-class="{'no-type': !practice.properties.practice_type}"
                                              style="text-transform: uppercase; font-size: .75rem;">
                                            {{ practice.properties.practice_type.name || 'No practice type assigned' }}
                                        </span>
                                    </div>

                                    <div class="body">

                                        <div class="confirm--delete"
                                             data-ng-if="page.deletionTarget && page.deletionTarget.feature.properties.id === practice.properties.id && page.deletionTarget.collection === 'practice'">
                                            <p>Do you want to delete this practice?</p>
                                            <div class="actions" style="flex: 0;">
                                                <a class="snapshot--title" href="#" title="Delete forever"
                                                   data-ng-click="page.deleteFeature('practice', $index)">
                                                    Yes
                                                </a>
                                                <a class="snapshot--title" href="#" title="Cancel"
                                                   data-ng-click="page.cancelDelete()">
                                                    Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <div class="confirm--delete"
                                             data-ng-if="page.copyTarget && page.copyTarget.feature.properties.id === practice.properties.id && page.copyTarget.collection === 'practice'">
                                            <p>Make a copy of this practice?</p>
                                            <div class="actions" style="flex: 0;">
                                                <a class="snapshot--title" href="#" style="background-color:#29cc82"
                                                   title="Copy" data-ng-click="page.copyFeature('practice', $index)">
                                                    Yes
                                                </a>
                                                <a class="snapshot--title" href="#" title="Cancel"
                                                   data-ng-click="page.cancelCopy()">
                                                    Cancel
                                                </a>
                                            </div>
                                        </div>

                                        <p>
                                            {{ (practice.properties.description || practice.properties.annotation || 'No description') | truncate:80 }}
                                        </p>

                                        <div class="actions">
                                            <a class="snapshot--title" href="/practices/{{ practice.properties.id }}"
                                               title="Practice summary">
                                                <i class="material-icons">
                                                    dashboard
                                                </i>
                                            </a>
                                            <a class="snapshot--title"
                                               href="/practices/{{ practice.properties.id }}/edit" title="Edit practice"
                                               data-ng-if="page.permissions.can_edit">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </a>
                                            <a class="snapshot--title"
                                               href="/practices/{{ practice.properties.id }}/location"
                                               title="Edit location" data-ng-if="page.permissions.can_edit">
                                                <i class="material-icons">
                                                    location_on
                                                </i>
                                            </a>
                                            <a class="snapshot--title" href="#"
                                               data-ng-click="page.confirmCopy(practice, 'practice')"
                                               title="Copy practice" data-ng-if="page.permissions.can_edit">
                                                <i class="material-icons">
                                                    file_copy
                                                </i>
                                            </a>

                                            <a class="snapshot--title" href="#" title="Delete practice"
                                               data-ng-click="page.confirmDelete(practice, 'practice')"
                                               data-ng-if="page.permissions.can_edit">
                                                <i class="material-icons">
                                                    delete
                                                </i>
                                            </a>
                                        </div>
                                        <span><time datetime="{{ practice.properties.created_on }}"
                                                    title="{{ practice.properties.created_on }}">
                                        Created on {{ practice.properties.created_on | date }}</time></span>
                                    </div>

                                </div>

                            </li>

                            <li data-ng-if="!page.practices.length && page.permissions.can_edit" class="card">
                                <div class="card--content">
                                    <div class="body">
                                        <button type="button" class="snapshot--title"
                                                data-ng-click="page.presentChildModal('practice')"
                                                title="Create practice">
                                            <i class="material-icons">
                                                add
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </li>

                        </ul>

                        <div class="view-all"
                             data-ng-if="page.practicesSummary && page.practicesSummary.feature_count > 4">
                            <a title="Batch delete"
                               class="block-link margin-r-1"
                               href="/projects/{{ page.project.id }}/batch-practice-delete"
                               data-ng-if="page.permissions.can_edit">
                                <span class="material-icons margin-r-50p">
                                      delete_sweep
                                </span>
                                Batch delete
                            </a>
                            <a href="/projects/{{ page.project.id }}/practices"
                               title="View all practices"
                               class="block-link">
                                View all
                                <span class="material-icons">
                                    arrow_forward
                                </span>
                            </a>
                        </div>

                    </div>

                </div>

            </section>

            <section class="reveal fade-in t0" style="padding: 1em 0 0;"
                     data-ng-if="!page.status.loading && page.pendingTasks.length">

                <h2 style="width: 100%; display: flex; flex-flow: row nowrap; align-items: center; text-align: left;">
                    Active tasks
                    <a href="#" data-ng-click="page.hideTasks()"
                       style="display: inline-block; font-size: 0.5em; margin-left: 1em;">Dismiss</a>
                </h2>

                <div class="features--container" style="padding: 0;">

                    <table class="features clearfix">
                        <thead>
                            <tr class="table-row clearfix">
                                <th class="table-heading" style="text-align: left;">
                                    Date
                                </th>
                                <th class="table-heading" style="text-align: left;">
                                    User
                                </th>
                                <th class="table-heading" style="text-align: left;">
                                    Annotation
                                </th>
                                <th class="table-heading" style="text-align: left;">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row clearfix" data-ng-repeat="task in page.pendingTasks | orderBy: '-start'">
                                <td>
                                    <time datetime="{{ task.start }}Z" title="{{ task.start }}Z">{{ task.start | date:'fullDate' }} at <span class="lowercase" style="display: inline-flex; padding-bottom: 0;">{{ task.start | date:'mediumTime' }}</span>
                                        UTC
                                    </time>
                                </td>
                                <td>
                                    <a data-ng-href="profiles/{{ task.user.id }}"
                                       style="display: inline; color: #333; font-weight: bold;">{{ task.creator.first_name }} {{ task.creator.last_name }}</a>
                                </td>
                                <td class="truncate" style="text-align: left;">
                                    {{ task.annotation }}
                                </td>
                                <td style="color: #616161; vertical-align: middle;">
                                    <span>{{ task.status }}</span>
                                    <span data-ng-repeat="error in task.errors">({{ error.message }})</span>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </section>

            <!-- Begin practice batch import -->

            <div batch-upload feature-type="{{ page.childType }}" form-action="page.uploadShapefile('practice')"
                 model="page.fileImport" upload-error="page.uploadError" visible="page.showUploadModal"
                 data-ng-if="page.permissions.can_edit"></div>

            <!-- End practice batch import -->

            <!-- END PRACTICE PANEL -->

            <section class="reveal fade-in t3 pad-0">

                <div class="create-heading margin-t-1 margin-b-2">
                    <h2 class="margin-0">
                        Sites
                        <span class="tally">
                            {{ page.summary.feature_count | number }}
                        </span>
                    </h2>
                    <button type="button" class="margin-r-1" style="padding: .5rem 1rem .5rem .7rem;"
                            data-ng-click="page.presentChildModal('site')"
                            data-ng-if="page.permissions.can_edit">
                        <span class="material-icons margin-r-50p">
                            add
                        </span>
                        Create
                    </button>
                    <button type="button"
                            data-ng-click="page.presentUploadModal('site')"
                            data-ng-if="page.permissions.can_edit">
                        <span class="material-icons margin-r-50p">
                            cloud_upload
                        </span>
                        Upload file
                    </button>
                </div>

                <div>

                    <div>

                        <ul class="snapshot--cards list-unstyled">

                            <li class="card" data-ng-repeat="site in page.sites track by $index">

                                <div class="card--content">

                                    <div style="position:relative;">

                                        <img data-ng-if="site.staticURL" data-ng-src="{{ site.staticURL }}" width="auto"
                                             height="auto"/>


                                        <img data-ng-if="!site.staticURL"
                                             data-ng-src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-98.5795,39.828175,5/400x200@2x?access_token=pk.eyJ1IjoiYm1jaW50eXJlIiwiYSI6IjdST3dWNVEifQ.ACCd6caINa_d4EdEZB_dJw"
                                             width="auto" height="auto"/>

                                    </div>

                                    <div class="name" style="background: #fff;">
                                        <span>{{ site.properties.name || 'Un-named' }}</span>
                                    </div>

                                    <div class="body">

                                        <div class="confirm--delete"
                                             data-ng-if="page.deletionTarget && page.deletionTarget.feature.properties.id === site.properties.id && page.deletionTarget.collection === 'site'">
                                            <p>Do you want to delete this site?</p>
                                            <div class="actions" style="flex: 0;">
                                                <a class="snapshot--title" href="#" title="Delete forever"
                                                   data-ng-click="page.deleteFeature('site', $index)">
                                                    Yes
                                                </a>
                                                <a class="snapshot--title" href="#" title="Cancel"
                                                   data-ng-click="page.cancelDelete()">
                                                    Cancel
                                                </a>
                                            </div>
                                        </div>
                                        <p>{{ (site.properties.description || 'No description') | truncate:80 }}</p>
                                        <div class="actions">
                                            <a class="snapshot--title" href="/sites/{{ site.properties.id }}"
                                               title="Site summary">
                                                <i class="material-icons">
                                                    dashboard
                                                </i>
                                            </a>
                                            <a class="snapshot--title" href="/sites/{{ site.properties.id }}/edit"
                                               title="Edit site" data-ng-if="page.permissions.can_edit">
                                                <i class="material-icons">
                                                    edit
                                                </i>
                                            </a>
                                            <a class="snapshot--title" href="/sites/{{ site.properties.id }}/location"
                                               title="Edit location" data-ng-if="page.permissions.can_edit">
                                                <i class="material-icons">
                                                    location_on
                                                </i>
                                            </a>
                                            <a class="snapshot--title" href="#" title="Delete site"
                                               data-ng-click="page.confirmDelete(site, 'site')"
                                               data-ng-if="page.permissions.can_edit">
                                                <i class="material-icons">
                                                    delete
                                                </i>
                                            </a>
                                        </div>
                                        <span><time datetime="{{ site.properties.modified_on }}"
                                                    title="{{ site.properties.modified_on }}">Last updated on {{ site.properties.modified_on | date : 'mediumDate' }}</time></span>
                                    </div>

                                </div>

                            </li>

                            <li data-ng-if="!page.sites.length && page.permissions.can_edit" class="card">
                                <div class="card--content">
                                    <div class="body">
                                        <button type="button" class="snapshot--title"
                                                data-ng-click="page.presentChildModal('site')" title="Create site">
                                            <i class="material-icons">
                                                add
                                            </i>
                                        </button>
                                    </div>
                                </div>
                            </li>

                        </ul>

                        <div class="view-all"
                             data-ng-if="page.summary && page.summary.feature_count > 4">
                            <a title="Batch delete"
                               class="block-link margin-r-1"
                               href="/projects/{{ page.project.id }}/batch-delete"
                               data-ng-if="page.permissions.can_edit">
                                <span class="material-icons margin-r-50p">
                                      delete_sweep
                                </span>
                                Batch delete
                            </a>
                            <a href="/projects/{{ page.project.id }}/sites"
                               class="view-all-link">
                                View all
                                <span class="material-icons">
                                    arrow_forward
                                </span>
                            </a>
                        </div>

                    </div>

                </div>

            </section>

            <section class="reveal fade-in t0" style="padding: 1em 0 0;"
                     data-ng-if="!page.status.loading && page.pendingTasks.length">

                <h2 style="width: 100%; display: flex; flex-flow: row nowrap; align-items: center; text-align: left;">
                    Active tasks
                    <a href="#" data-ng-click="page.hideTasks()"
                       style="display: inline-block; font-size: 0.5em; margin-left: 1em;">Dismiss</a>
                </h2>

                <div class="features--container" style="padding: 0;">

                    <table class="features clearfix">
                        <thead>
                            <tr class="table-row clearfix">
                                <th class="table-heading" style="text-align: left;">
                                    Date
                                </th>
                                <th class="table-heading" style="text-align: left;">
                                    User
                                </th>
                                <th class="table-heading" style="text-align: left;">
                                    Annotation
                                </th>
                                <th class="table-heading" style="text-align: left;">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row clearfix" data-ng-repeat="task in page.pendingTasks | orderBy: '-start'">
                                <td>
                                    <time datetime="{{ task.start }}Z" title="{{ task.start }}Z">{{ task.start | date:'fullDate' }} at <span class="lowercase" style="display: inline-flex; padding-bottom: 0;">{{ task.start | date:'mediumTime' }}</span>
                                        UTC
                                    </time>
                                </td>
                                <td>
                                    <a data-ng-href="profiles/{{ task.user.id }}"
                                       style="display: inline; color: #333; font-weight: bold;">{{ task.creator.first_name }} {{ task.creator.last_name }}</a>
                                </td>
                                <td class="truncate" style="text-align: left;">
                                    {{ task.annotation }}
                                </td>
                                <td style="color: #616161; vertical-align: middle;">
                                    <span>{{ task.status }}</span>
                                    <span data-ng-repeat="error in task.errors">({{ error.message }})</span>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>

            </section>

            <!-- Begin site batch import -->

<!--            <div batch-upload feature-type="site" form-action="page.uploadShapefile('site')"-->
<!--                 model="page.fileImport" upload-error="page.uploadError"-->
<!--                 data-ng-if="page.permissions.can_edit"></div>-->

            <div batch-upload feature-type="{{ page.childType }}" form-action="page.uploadShapefile('site')"
                 model="page.fileImport" upload-error="page.uploadError" visible="page.showUploadModal"
                 data-ng-if="page.permissions.can_edit"></div>

            <!-- End site batch import -->

            <section class="reveal fade-in t3" style="padding: 0;" data-ng-if="page.partnerships.length">
                <h2 class="">Partners</h2>
                <div class="main--ui reveal fade-in t0" data-ng-if="!page.status.loading">
                    <div class="add--new--wrapper" style="position:relative">
                        <span></span>

                        </a>
                    </div>

                    <p data-ng-if="!page.status.loading && !$root.user.is_admin && !$root.user.is_manager">
                        {{page.project.name}} has <strong>{{ (page.partnerships.length | number) || 0 }}</strong>
                        <ng-pluralize count="page.partnerships.length"
                                      when="{'one': 'partnership','other': 'partnerships'}"></ng-pluralize>
                        .
                    </p>

                    <div class="features--container" data-ng-if="!page.status.loading">

                        <ul class="snapshot--cards list-unstyled" style="margin-top: 2em;">

                            <li class="flow2-card reveal fade-in"
                                style="padding-left:0; padding-bottom:2em; position:relative; display:block; animation-delay: {{ $index * 50 }}ms;"
                                data-ng-repeat="partner in page.partnerships | orderBy:'-created_on' | filter: page.q">

                                <div class="flow2-card--content"
                                     style="width: 100%;height: 100%; display:table; border: 0px solid red; ">

                                    <a href="/organizations/{{partner.organization.id}}"
                                       style="display: table-cell; vertical-align: middle;">
                                        <div class="partner-logo-wrapper" style="border: 0px solid purple; "
                                             ng-if="partner.organization.picture">
                                            <img class='partner-logo' style="width: 100%; height: auto;"
                                                 src="{{partner.organization.picture}}">
                                        </div>
                                        <div class="partner-logo-wrapper" style="border: 0px solid purple;"
                                             ng-if="!partner.organization.picture">
                                            <img class='partner-logo' style="clear:right;"
                                                 src="/images/partner-Default-1024x.png">
                                        </div>
                                    </a>

                                </div>

                                <div class="partner_name"
                                     style="max-width:400px;  margin-top: -2em; border-bottom:1px ; display:block;">
                                    <span>{{ partner.organization.name }}</span>
                                </div>

                            </li>

                        </ul>

                    </div>

                </div>

            </section>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
<!--            <li data-ng-class="{active: $root.toolbarState.dashboard}">-->
<!--                <a href="/projects/{{ page.project.id }}" title="Summary">-->
<!--                    <i class="material-icons">-->
<!--                        dashboard-->
<!--                    </i>-->
<!--                </a>-->
<!--            </li>-->
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.grant}">
                <a href="/projects/{{ page.project.id }}/grant" title="Program">
                    <i class="material-icons">
                        account_balance
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/projects/{{ page.project.id }}/users" title="Collaborators">
                    <i class="material-icons">
                        group
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.partnerships}">
                <a href="/projects/{{ page.project.id }}/partnerships" title="Partnerships">
                    <i class="material-icons">
                        group_work
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/projects/{{ page.project.id }}/tags" title="Tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit"
                style="border-top: 1px solid #e0e0e0;">
                <a href="/projects/{{ page.project.id }}/edit" title="Edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="#"
                   title="Export"
                   data-ng-click="page.showExportDialog = !page.showExportDialog">
                    <i class="material-icons">
                        cloud_download
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="#" data-ng-click="page.print()" title="Print">
                    <i class="material-icons">
                        print
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup"
                     data-ng-if="page.deletionTarget && page.deletionTarget.feature.id === page.project.id && page.deletionTarget.collection === 'project'">
                    <p>Do you want to delete this project?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever"
                           data-ng-click="page.deleteFeature('project')">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.project, 'project')" title="Delete">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts"
                 data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

    <div creation-dialog alerts="page.alerts" parent="page.project.id" organization="page.project.organization_id"
         type="page.childType" visible="page.showChildModal"></div>

    <div export-dialog
         alerts="page.alerts"
         feature="page.project"
         reset-type="false"
         type="'project'"
         visible="page.showExportDialog"></div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>