<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container" save2pdf pdfName="StormwaterManagement">
  <section class="row feature summary">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">

        <h1>Summary for {{ $root.page.title }}</h1>
        <p data-ng-if="page.practice.properties.description" data-ng-bind-html="page.practice.properties.description"></p>

        <p><small>
          <strong>Project Title:</strong> {{ page.site.properties.project.properties.name }}
          <strong>Site Number:</strong> {{ page.site.properties.name }}<br />
          <strong>Stream Name: </strong> {{ page.site.properties.segment.properties.river_name }}
          <strong>HGMR: </strong> {{ page.site.properties.segment.properties.hgmr_name }}
        </small></p>
      </div>

      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Practice Manangement Navigation -->
          <li class="active">
            <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}">
              Practice Overview
            </a>
          </li>
          <li data-ng-if="page.permissions.can_edit">
            <a href="/projects/{{ page.site.properties.project_id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/edit">
              Edit
            </a>
          </li>
        </ul>
      </nav>

    </article>
  </section>
  <section class="row feature summary">
    <article class="feature-detail">
      <div class="column-16 feature-detail-content">
        <div class="table-responsive">

          <div data-ng-if="!page.total.planning">
            <h2><strong>Empty</strong> Summary</h2>

            <p>No planning or measurement data has been added to this Practice yet. Please add a new Planning measurement period to this Practice to begin.</p>

            <p>
              <a class="button" data-ng-click="page.addReading('Planning')">Add Planning Data</a>
            </p>
          </div>

          <div data-ng-if="page.total.planning || page.total.installation">
            <table class="table">
              <tbody>
                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Installation</strong> Summary</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/stormwater/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                      <br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Installed To-Date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Impervious area (sq. ft.)</th>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ report.properties.impervious_area | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ report.properties.impervious_area | number:2 }}
                  </td>
                  <td>--</td>
                  <td>--</td>
                </tr>
                <tr>
                  <th>Total drainage area (sq. ft.)</th>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ report.properties.total_drainage_area | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ report.properties.total_drainage_area | number:2 }}
                  </td>
                  <td>--</td>
                  <td>--</td>
                </tr>
                <tr>
                  <th>Runoff Volume captured (acre-ft.)</th>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    --
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ report.properties.runoff_volume_captured | number:2 }}
                  </td>
                  <td>--</td>
                  <td>--</td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Adjustor Curve</strong> % Reductions</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/stormwater/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned Reduction</span><span data-ng-if="report.properties.measurement_period === 'Installation'">Installed Reduction</span><br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Reduction To-date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Total Nitrogen</th>
                  <td>&nbsp;</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    <span data-ng-if="report.properties.site_reduction_classification === 'Runoff Reduction' && page.loaddata">
                      {{ page.calculateStormwater.plannedRunoffReductionAdjustorCurveNitrogen(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata) || 0 | number:2 }}
                    </span>
                    <span data-ng-if="report.properties.site_reduction_classification === 'Stormwater Treatment' && page.loaddata">
                      {{ page.calculateStormwater.plannedStormwaterTreatmentAdjustorCurveNitrogen(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata) || 0 | number:2 }}
                    </span>
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    --
                  </td>
                  <td>--</td>
                  <td>--</td>
                </tr>

                <tr>
                  <th>Total Phosphorus</th>
                  <td>&nbsp;</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    <span data-ng-if="report.properties.site_reduction_classification === 'Runoff Reduction' && page.loaddata">
                      {{ page.calculateStormwater.plannedRunoffReductionAdjustorCurvePhosphorus(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata) || 0 | number:2 }}
                    </span>
                    <span data-ng-if="report.properties.site_reduction_classification === 'Stormwater Treatment' && page.loaddata">
                      {{ page.calculateStormwater.plannedStormwaterTreatmentAdjustorCurvePhosphorus(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata) || 0 | number:2 }}
                    </span>
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    --
                  </td>
                  <td>--</td>
                  <td>--</td>
                </tr>

                <tr>
                  <th>Total Sediment</th>
                  <td>&nbsp;</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    <span data-ng-if="report.properties.site_reduction_classification === 'Runoff Reduction' && page.loaddata">
                      {{ page.calculateStormwater.plannedRunoffReductionAdjustorCurveSediment(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata) || 0 | number:2 }}
                    </span>
                    <span data-ng-if="report.properties.site_reduction_classification === 'Stormwater Treatment' && page.loaddata">
                      {{ page.calculateStormwater.plannedStormwaterTreatmentAdjustorCurveSediment(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata) || 0 | number:2 }}
                    </span>
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    --
                  </td>
                  <td>--</td>
                  <td>--</td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Load</strong> &amp; Reductions</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th>Pre-BMP Loads</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/stormwater/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned Reduction</span><span data-ng-if="report.properties.measurement_period === 'Installation'">Installed Reduction</span><br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Reduction To-date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Nitrogen (lbs/yr)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' && page.loaddata" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ page.calculateStormwater.prePlannedNitrogenLoad(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata) || 0 | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' && page.loaddata"
                      data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                      {{ page.calculateStormwater.plannedNitrogenReduction(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata, 'plannedRunoffReductionAdjustorCurveNitrogen') || 0 | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">

                  </td>
                  <td>
                    <strong data-ng-if="page.CalculateStormwater.ual['nitrogen']"
                            data-ng-bind="page.CalculateStormwater.quantityInstalled(page.CalculateStormwater.ual['nitrogen'], 'n_efficiency') || 0 | number:2">
                    </strong> lbs/yr</td>
                  <td>
                    <strong data-ng-if="page.CalculateStormwater.ual['nitrogen']"
                            data-ng-bind="page.CalculateStormwater.quantityInstalled(page.CalculateStormwater.ual['nitrogen'], 'n_efficiency', '%') || 0 | number:2">
                    </strong> %</td>
                  </td>
                </tr>

                <tr>
                  <th>Phosphorus (lbs/yr)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' && page.loaddata" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ page.calculateStormwater.prePlannedPhosphorusLoad(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata) || 0 | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' && page.loaddata"
                      data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                      {{ page.calculateStormwater.plannedPhosphorusReduction(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata, 'plannedRunoffReductionAdjustorCurvePhosphorus') || 0 | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                      <span data-ng-if="report.properties.custom_model_phosphorus === null">
                        {{ report.properties.custom_practice_extent_acres*page.CalculateStormwater.ual["phosphorus"]*(report.properties.generic_agriculture_efficiency.properties.p_efficiency/100) || 0 | number:2 }}
                      </span>

                      <span data-ng-if="report.properties.custom_model_phosphorus !== null">
                        {{ report.properties.custom_practice_extent_acres*page.CalculateStormwater.ual["phosphorus"]*(report.properties.custom_model_phosphorus/100) || 0 | number:2 }}
                      </span>
                  </td>
                  <td>
                    <strong data-ng-if="page.CalculateStormwater.ual['phosphorus']"
                            data-ng-bind="page.CalculateStormwater.quantityInstalled(page.CalculateStormwater.ual['phosphorus'], 'p_efficiency') || 0 | number:2">
                    </strong> lbs/yr</td>
                  <td>
                    <strong data-ng-if="page.CalculateStormwater.ual['phosphorus']"
                            data-ng-bind="page.CalculateStormwater.quantityInstalled(page.CalculateStormwater.ual['phosphorus'], 'p_efficiency', '%') || 0 | number:2">
                    </strong> %</td>
                  </td>
                </tr>
                <tr>
                  <th>Sediment (tons/yr)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' && page.loaddata" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ page.calculateStormwater.prePlannedSedimentLoad(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata) || 0 | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' && page.loaddata"
                      data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                      {{ page.calculateStormwater.plannedSedimentReduction(report.properties.impervious_area, report.properties.total_drainage_area, page.loaddata, 'plannedRunoffReductionAdjustorCurveSediment') || 0 | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                      <span data-ng-if="report.properties.custom_model_phosphorus === null">
                        {{ report.properties.custom_practice_extent_acres*page.CalculateStormwater.ual["sediment"]*(report.properties.generic_agriculture_efficiency.properties.s_efficiency/100) || 0 | number:2 }}
                      </span>

                      <span data-ng-if="report.properties.custom_model_phosphorus !== null">
                        {{ report.properties.custom_practice_extent_acres*page.CalculateStormwater.ual["sediment"]*(report.properties.custom_model_sediment/100) || 0 | number:2 }}
                      </span>
                  </td>
                  <td>
                    <strong data-ng-if="page.CalculateStormwater.ual['sediment']"
                            data-ng-bind="page.CalculateStormwater.quantityInstalled(page.CalculateStormwater.ual['sediment'], 's_efficiency') || 0 | number:2">
                    </strong> lbs/yr</td>
                  <td>
                    <strong data-ng-if="page.CalculateStormwater.ual['sediment']"
                            data-ng-bind="page.CalculateStormwater.quantityInstalled(page.CalculateStormwater.ual['sediment'], 's_efficiency', '%') || 0 | number:2">
                    </strong> %</td>
                  </td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Chesapeake</strong> Bay Metrics</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/stormwater/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                      <br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Installed To-date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Gallons/year of stormwater detained or infiltrated</th>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ report.properties.custom_practice_extent_acres || 0 | number:2 }}
                  </td>
                  <td><strong>{{ page.CalculateStormwater.totalAcresInstalled() || 0 | number:2 }}</strong> acres</td>
                  <td><strong>{{ page.CalculateStormwater.percentageAcresInstalled() || 0 | number:2 }}%</strong></td>
                </tr>

                <tr>
                  <th>Acres protected by BMPs to reduce stormwater runoff</th>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ page.calculateStormwater.metricTotalAcresProtected(report) || 0 | number:2 }}
                  </td>
                  <td><strong>{{ page.CalculateStormwater.totalAcresInstalled() || 0 | number:2 }}</strong> acres</td>
                  <td><strong>{{ page.CalculateStormwater.percentageAcresInstalled() || 0 | number:2 }}%</strong></td>
                </tr>

                <tr>
                  <th>Acres of stormwater BMPs installed</th>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                    {{ page.calculateStormwater.metricTotalPracticeArea(report) || 0 | number:2 }}
                  </td>
                  <td><strong>{{ page.CalculateStormwater.totalAcresInstalled() || 0 | number:2 }}</strong> acres</td>
                  <td><strong>{{ page.CalculateStormwater.percentageAcresInstalled() || 0 | number:2 }}%</strong></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div data-ng-if="page.total.planning || page.total.installation || page.total.monitoring">
            <h2><strong>Notes</strong></h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="align-left" width="10%">Date</th>
                  <th class="align-left" width="90%">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="report in page.readings.features | orderBy:'properties.report_date':false">
                  <td class="align-left">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/stormwater/{{ report.properties.id }}/edit">
                      {{ report.properties.report_date }}
                    </a>
                  </td>
                  <td class="align-left" data-ng-if="report.properties.notes">{{ report.properties.notes }}</td>
                  <td class="align-left" data-ng-if="!report.properties.notes"><em>No notes recorded for this date</em></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </article>
  </section>
</main>

<div data-ng-include="'/modules/components/practices/modules/stormwater/views/citations--view.html'"></div>

<div data-ng-include="'/templates/footer--view.html'"></div>
