<div class="autocomplete">
  <div class="row">
    <div class="column-15 typeAhead">
      <input data-ng-focus="relationship_focus=true" data-ng-blur="relationship_focus=false" type="text" placeholder="{{ placeholder }}" data-ng-model="searchText" data-ng-change="search()" class="form-control" />
      <div data-ng-if="features.length" class="dropdown">
        <ul class="typeAhead--results">
          <li class="typeAhead--results--result"
              data-ng-repeat="feature in features track by $index"
              data-ng-click="addFeatureToRelationships(feature.feature)">
              {{ feature.text }}
          </li>
        </ul>
      </div>
    </div>
    <div class="column-1 align-center">
        <a data-ng-click="resetField()"><span class="icon retinaicon-essentials-045"></span></a>
    </div>
  </div>
  <div class="row">
    <div class="column-16">
      <table data-ng-if="model.length >= 1" class="relationship-values">
        <tr class="row" data-ng-repeat="option in model track by $index">
          <td>
            {{ option.properties.name }}
          </td>
          <td>
            <a class="" data-ng-click="removeFeatureFromRelationships($index)">
              remove organization from my account
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
