<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container reveal fade-in t0" style="border-right: 1px solid #e0e0e0;">

        <div class="progress--modal" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading geography data&hellip;</p>
            </div>
        </div>

        <h1 class="inset">Geographies</h1>

        <div class="main--ui">

            <div class="add--new--wrapper">
                <span>Create geography</span>
                <a class="add--new--btn" href="#" data-ng-click="page.createGeography()">
                    <i class="material-icons">
                        add
                    </i>
                </a>
            </div>

            <p class="reveal fade-in t0" data-ng-if="!page.status.loading && page.summary.total">There <ng-pluralize count="page.summary.total" when="{'one': 'is','other': 'are'}"></ng-pluralize> <strong>{{ (page.summary.total | number) || 0 }}</strong>
                <ng-pluralize count="page.summary.total" when="{'one': 'geography','other': 'geographies'}"></ng-pluralize> in your collection.
            </p>

            <p class="reveal fade-in t0" data-ng-if="!page.status.loading && ((page.filters.category > 1) || (page.filters.program > 1))">
                Showing
                <strong>{{ (page.summary.matches | number) || 0 }} </strong>
                filtered
                <ng-pluralize count="page.summary.matches" when="{'one': 'match','other': 'matches'}"></ng-pluralize>.
            </p>

            <div class="collection-filter-group" data-ng-if="!page.status.loading && ($root.user.is_admin || $root.user.is_manager)">

                <div class="collection-filter drop-down program">
                    <button type="button" data-ng-class="{'open-btn': (page.showModal.program || (page.filters.program > 0))}" data-ng-click="page.showModal.program = !page.showModal.program">
                        Programs&nbsp;
                        <i class="material-icons">
                            arrow_drop_down
                        </i>
                    </button>
                    <form name="collection-filter-form" class="collection-filter-modal" style="width: auto;" data-ng-if="page.showModal.program">
                        <label data-ng-repeat="program in page.programs" data-ng-class="{'active': page.filters.program === program.id}" title="{{ program.name }}">
                            <span class="input-mask" data-ng-if="page.filters.program === program.id">
                                <i class="material-icons">
                                    radio_button_checked
                                </i>
                            </span>
                            <span class="input-mask" data-ng-if="page.filters.program !== program.id">
                                <i class="material-icons">
                                    radio_button_unchecked
                                </i>
                            </span>
                            <input type="radio" id="program-option-{{ program.id }}" name="active-program" data-ng-model="page.filters.program" data-ng-value="{{ program.id }}" data-ng-change="page.inspectSearchParams(true)"><span> {{ program.name }}</span>
                        </label>
                    </form>
                </div>

                <div class="collection-filter drop-down category">
                    <button type="button" data-ng-class="{'open-btn': (page.showModal.category || (page.filters.category > 0))}" data-ng-click="page.showModal.category = !page.showModal.category">
                        Categories&nbsp;
                        <i class="material-icons">
                            arrow_drop_down
                        </i>
                    </button>
                    <form name="collection-filter-form" class="collection-filter-modal" style="width: auto;" data-ng-if="page.showModal.category">
                        <label data-ng-repeat="category in page.geographyGroups" data-ng-class="{'active': page.filters.category === category.id}" title="{{ category.name }}">
                            <span class="input-mask" data-ng-if="page.filters.category === category.id">
                                <i class="material-icons">
                                    radio_button_checked
                                </i>
                            </span>
                            <span class="input-mask" data-ng-if="page.filters.category !== category.id">
                                <i class="material-icons">
                                    radio_button_unchecked
                                </i>
                            </span>
                            <input type="radio" id="category-option-{{ category.id }}" name="active-category" data-ng-model="page.filters.category" data-ng-value="{{ category.id }}" data-ng-change="page.inspectSearchParams(true)"><span> {{ category.name }}</span>
                        </label>
                    </form>
                </div>

                <div class="collection-filter drop-down batch-delete">
                    <button type="reset" data-ng-click="page.batchDelete = !page.batchDelete">
                        <i class="material-icons">
                            delete_sweep
                        </i>
                    </button>
                    <div class="collection-filter-modal" data-ng-if="page.batchDelete">
                        <p class="prompt">Do you want to delete these geographies? This action cannot be undone.</p>
                        <div class="action-options">
                            <a class="snapshot--title confirm" href="#" title="Delete forever" data-ng-click="page.deleteCollection()">
                                Confirm
                            </a>
                            <a class="snapshot--title cancel" href="#" title="Cancel" data-ng-click="page.batchDelete = !page.batchDelete">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>

            </div>

            <section class="reveal fade-in t0" style="padding: 1em 0 0;" data-ng-if="!page.status.loading && page.pendingTasks.length">

                <h2 style="width: 100%; display: flex; flex-flow: row nowrap; align-items: center; text-align: left;">
                    Active tasks
                    <a href="#" data-ng-click="page.hideTasks()" style="display: inline-block; font-size: 0.5em; margin-left: 1em;">Dismiss</a>
                </h2>

                <!-- <a href="#" data-ng-click="page.hideTasks()">Dismiss</a> -->

                <div class="features--container" style="padding: 0;">

                    <table class="features clearfix">
                        <thead>
                            <tr class="table-row clearfix">
                                <th class="table-heading" style="text-align: left;">
                                    Date
                                </th>
                                <th class="table-heading" style="text-align: left;">
                                    User
                                </th>
                                <th class="table-heading" style="text-align: left;">
                                    Annotation
                                </th>
                                <th class="table-heading" style="text-align: left;">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-row clearfix" data-ng-repeat="task in page.pendingTasks | orderBy: '-start'">
                                <td>
                                    <time datetime="{{ task.start }}Z" title="{{ task.start }}Z">{{ task.start | date:'fullDate' }} at <span class="lowercase" style="display: inline-flex; padding-bottom: 0;">{{ task.start | date:'mediumTime' }}</span> UTC</time>
                                </td>
                                <td>
                                    <a data-ng-href="profiles/{{ task.user.id }}" style="display: inline; color: #333; font-weight: bold;">{{ task.creator.first_name }} {{ task.creator.last_name }}</a>
                                </td>
                                <td class="truncate" style="text-align: left;">
                                    {{ task.annotation }}
                                </td>
                                <td style="color: #616161; vertical-align: middle;">
                                    <span>{{ task.status }}</span>
                                    <span data-ng-repeat="error in task.errors">({{ error.message }})</span>
                                    <!-- <i class="material-icons">
                                    remove_circle
                                    </i> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </section>

            <section class="reveal fade-in t0" style="padding: 1em 0 0;" data-ng-if="!page.status.loading && !page.geographies.length">

                <form role="form" class="form" id="form--geography-collection" name="form--geography-collection" style="position: relative;" data-ng-submit="page.uploadCollection()">

                    <!-- Shapefile input -->
                    <div class="form-field">

                        <p style="font-style: normal; font-size: 1em; margin-top: 1.5em;">
                            <strong>Upload GeoJSON or an Esri Shapefile</strong>
                        </p>

                        <p style="font-style: normal; font-size: 1em; margin-top: 1em; color: #616161;">Import a file to jumpstart your geography collection. To categorize your geographies, type a name into the field below (recommended). If features have an attribute called “name”, “Name”, or “NAME”, FieldDoc will make sure that new geographies are labeled accordingly.</p>

                        <p style="font-style: normal; font-size: 1em; margin-top: 1em; color: #616161;">In addition to the mandatory <span style="font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;">.shp</span>, <span style="font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;">.shx</span>, and <span style="font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;">.dbf</span> files, shapefile archives must include a <span style="font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;">.prj</span> file that describes the coordinate system and projection.
                         All files must be compressed into a .zip file before uploading.
                        </p>

                        <p style="font-style: normal; font-size: 1em; margin-top: 1em; color: #616161;">GeoJSON files must use the <span style="font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;">.json</span> or <span style="font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;">.geojson</span> file extensions and follow the format described in <a href="https://tools.ietf.org/html/rfc7946" target="_blank">this specification</a>. We recommend testing GeoJSON data with <a href="http://geojson.io" target="_blank">geojson.io</a> before uploading it to FieldDoc. See <a href="https://www.mapbox.com/help/define-geojson/" target="_blank">here</a> for more help with the GeoJSON format.</p>

                        <!-- Category -->

                        <div class="classification--search" style="margin: 2em 0; position: relative;">
                            <p style="font-style: normal; font-size: 1em; margin-bottom: 1em;"><strong>Category</strong></p>
                            <input type="search" class="search" placeholder="Search categories&hellip;" data-ng-model="page.group" uib-typeahead="group as group.name for group in page.geographyGroups | filter:$viewValue" typeahead-min-length="0" typeahead-template-url="templates/search--tpl.html">
                            <p style="font-style: normal; color: #616161; font-size: 0.9em; margin-top: 0.5em;"><strong>Tip:</strong> If the category you enter doesn’t exist, FieldDoc will create it automatically.</p>
                        </div>

                        <!-- Program -->

                        <div class="form-element" data-ng-if="page.programs && page.programs.length">
                            <span class="meta-label"><b>Program</b></span>
                            <input id="geography_program_id" name="geography_program_id" type="text" placeholder="Search programs&hellip;" data-ng-model="page.program" uib-typeahead="program as program.name for program in page.programs | filter:$viewValue | limitTo:5" typeahead-min-length="0" typeahead-template-url="templates/search--tpl.html">
                        </div>

                        <input type="file" class="form-control" id="geography-collection" name="geography-collection" file-upload file-model="page.fileImport" />

                        <p style="font-style: normal; font-size: 1em; margin-top: 1em; color: #616161;">Regardless of type, file uploads cannot exceed 100MB. For shapefile archives, this is the maximum total size of all <strong>un-compressed</strong> files. If your import exceeds the 100MB limit, <a href="mailto:support@fielddoc.org">contact the FieldDoc team</a> and we’ll help you bring the data online.</p>

                    </div>

                    <div class="save--action--wrapper save--action--bottom">
                        <button type="submit" data-ng-disabled="page.status.processing">
                            <i class="material-icons" data-ng-if="page.status.processing">
                                more_horiz
                            </i>
                            <i class="material-icons" data-ng-if="!page.status.processing">
                                done
                            </i>
                        </button>
                    </div>

                </form>

            </section>

            <section style="padding: 1em 0 0;" data-ng-if="!page.status.loading && page.geographies.length">

                <ul class="snapshot--cards list-unstyled">

                    <li class="card reveal fade-in" style="animation-delay: {{ $index * 50 }}ms;" data-ng-repeat="geography in page.geographies | orderBy: 'name'">

                        <div class="card--content">

                            <!-- <div style="position:relative;">

                                <div id="geography-preview-{{ $index }}" style="width: 100%; height: 200px;"></div>

                            </div> -->

                            <div class="name">
                                <span>{{ geography.name || 'Un-named' }}</span>
                                <span style="font-size: 0.7em; font-weight: normal; color: #757575; text-transform: uppercase;">{{ geography.category || 'Un-categorized' }}</span>
                            </div>

                            <div class="body">

                                <div class="confirm--delete" data-ng-if="page.deletionTarget.id === geography.id">
                                    <p>Do you want to delete this geography?</p>
                                    <div class="actions" style="flex: 0;">
                                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature(geography, $index)">
                                            Yes
                                        </a>
                                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                                            Cancel
                                        </a>
                                    </div>
                                </div>

                                <p>{{ (geography.description || 'No description') | truncate:80 }}</p>

                                <div class="actions">
                                    <a class="snapshot--title" href="/geographies/{{ geography.id }}" title="Geography summary">
                                        <i class="material-icons">
                                            dashboard
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="/geographies/{{ geography.id }}/edit" title="Edit geography">
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="/geographies/{{ geography.id }}/location" title="Edit area">
                                        <i class="material-icons">
                                            map
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="#" title="Delete geography" data-ng-click="page.confirmDelete(geography)">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </a>
                                </div>

                                <span><time datetime="{{ geography.created_on }}" title="{{ geography.created_on }}">
                                        Created on {{ geography.created_on | date }}</time></span>
                            </div>

                        </div>

                    </li>

                    <li class="card" data-ng-if="page.permissions.can_edit">
                        <div class="card--content">
                            <div class="body">
                                <button type="button" class="snapshot--title" data-ng-click="page.createGeography()" title="Create geography">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </button>
                            </div>
                        </div>
                    </li>

                </ul>

            </section>

        </div>

    </div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>