<main class="container">
	<material-content>
		<section layout="vertical">
			<div layout="horizontal" layout-align="center center">
				<img src="assets/nfwf.jpg" alt="National Fish and Wildlife Federation" class="img-responsive" width="450" />
			</div>
			<material-list layout="vertical" layout-align="space-around" class="projects">
				<material-item ng-repeat="project in projects">
					<div class="material-tile-left">
						<img ng-src="{{ gravatar }}" class="face">
					</div>
					<div class="material-tile-content content-link" data-ng-click="getProject()">
						<h2>{{project.project_title}}</h2>
						<h3>{{project.type_271e6f04e893436588c8cd84da851a97[0].name}}</h3>
						<p>Proposed Start Date: {{project.proposed_start_date | date}}</p>
						<p>Proposed End Date: {{project.proposed_end_date | date}}</p>
					</div>
					<div class="material-tile-right">
						<material-button class="material-button-fab" data-ng-click="getProject()">
				            <material-icon icon="assets/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></material-icon>
				        </material-button>
					</div>
				</material-item>
			</material-list>
		</section>
	</material-content>
</main>