<div data-ng-include="'/partials/includes/menu.html'"></div>

<main class="container">
	<material-content>
    <section layout="vertical" layout-sm="horizontal" layout-align="center center">
      <p class="instruction">Please sign in with your NFWF Monitoring &amp; Assessment account to begin.</p>
<!--     <p><a class="button" href="http://api.commonscloud.org/oauth/authorize?response_type=token&amp;client_id=MbanCzYpm0fUW8md1cdSJjUoYI78zTbak2XhZ2hF&amp;redirect_uri=http%3A%2F%2F127.0.0.1:8080%2Fauthorize&amp;scope=user applications">Sign in</a></p>
 -->  
      <material-button data-ng-href="/#/projects">Sign In</material-button>
    </section>
  </material-content>
</main>