<div data-ng-include="'/partials/includes/menu.html'"></div>

<main class="container">
  <div layout="vertical" layout-md="horizontal" layout-padding>

    <div flex>
    </div>

    <div flex class="text-center">
        <p><img src="assets/logo-NFWF-standard.png" alt="National Fish and Wildlife Federation" width="240" /></p>
        <p>Please sign in with your NFWF Monitoring &amp;<br /> Assessment account to begin.</p>
<!--     <p><a class="button" href="http://api.commonscloud.org/oauth/authorize?response_type=token&amp;client_id=MbanCzYpm0fUW8md1cdSJjUoYI78zTbak2XhZ2hF&amp;redirect_uri=http%3A%2F%2F127.0.0.1:8080%2Fauthorize&amp;scope=user applications">Sign in</a></p>
 -->  
        <p><material-button class="material-button-raised" data-ng-href="/#/projects">Sign In</material-button></p>
    </div>

    <div flex>
    </div>

  </div>

      <div flex>
        
      </div>
</main>