<div data-ng-include="'/partials/includes/menu.html'"></div>

<material-content class="container">

  <span ng-init="page.name='Metric: Habitat'"></span>

  <section layout="vertical">
    <material-card class="main-project-card">
      <div data-ng-hide="showEdit">
        <h1 style="text-align:center">{{metric.name}}</h1>
        <hr style="width:100%" />
        <p><span class="key">Measurement Period:</span> {{metric.period}}</p>
        <p><span class="key">Report Date:</span> {{metric.date}}</p>
        <p><span class="key">RBP Bank Stability:</span> {{metric.stability}}</p>
        <p><span class="key">RBP Bank Vegetative Protection:</span> {{metric.protection}}</p>
        <p><span class="key">RBP Channel Alteration:</span> {{metric.alteration}}</p>
        <p><span class="key">RBP Channel Flow Status:</span> {{metric.flow}}</p>
        <p><span class="key">RBP Embeddedness:</span> {{metric.embed}}</p>
        <p><span class="key">RBP Epifaunal Substrate:</span> {{metric.epifaunal}}</p>
        <p><span class="key">RBP Riparian Vegetative Zone Width:</span> {{metric.width}}</p>
        <p><span class="key">RBP Sediment Deposition:</span> {{metric.sediment}}</p>
        <p><span class="key">RBP Velocity/Depth Combinations:</span> {{metric.combinations}}</p>
        <p><span class="key">MBSS Macroinvertebrate Substrata:</span> {{metric.macro}}</p>
        <p><span class="key">MBSS Shelter for Fish:</span> {{metric.shelter}}</p>
        <p><span class="key">USA In-Stream Condition Subtotal:</span> {{metric.instream}}</p>
        <p><span class="key">USA Floodplain Condition Subtotal:</span> {{metric.floodplain}}</p>
        <p><span class="key">USA Total Reach Habitat Score:</span> {{metric.score}}</p>
        <p><span class="key">Notes:</span> {{metric.notes}}</p>
      </div>
      <form data-ng-show="showEdit">
        <div class="group">
          <input type="text" data-ng-model="metric.name" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.period" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Measurement Period</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.date" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Report Date</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.stability" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Bank Stability</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.protection" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Bank Vegetative Protection</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.alteration" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Channel Alteration</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.flow" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Channel Flow Status</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.embed" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Embeddedness</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.epifaunal" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Epifaunal Substrate</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.width" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Riparian Vegetative Zone Width</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.sediment" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Sediment Deposition</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.combinations" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Velocity/Depth Combinations</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.macro" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>MBSS Macroinvertebrate Substrata</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.shelter" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>MBSS Shelter for Fish</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.instream" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>USA In-Stream Condition Subtotal</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.floodplain" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>USA Floodplain Condition Subtotal</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.score" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>USA Total Reach Habitat Score</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.notes" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Notes</label>
        </div>
      </form>
      <div layout="vertical" layout-align="center center">
        <material-button data-ng-hide="showEdit" class="material-button-fab" data-ng-click="edit()">
          <material-icon icon="assets/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>
        <material-button data-ng-show="showEdit" class="material-button-fab" data-ng-click="save()">
          <material-icon icon="assets/ic_save_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>
      </div>
    </material-card>
  </section>
</material-content>

<!-- <div data-ng-include="'/partials/includes/menu.html'"></div>

<material-content class="container">

  <span ng-init="page.name='Metric'"></span>
  <section layout="vertical">
    <material-card class="main-project-card">
      <div data-ng-hide="showEdit">
        <h1 style="text-align:center">{{metric.name}}</h1>
        <hr style="width:100%" />
        <p><span class="key">Measurement Period:</span> {{metric.period}}</p>
        <p><span class="key">Report Date:</span> {{metric.date}}</p>
        <p><span class="key">RBP Bank Stability:</span> {{metric.stability}}</p>
        <p><span class="key">RBP Bank Vegetative Protection:</span> {{metric.protection}}</p>
        <p><span class="key">RBP Channel Alteration:</span> {{metric.alteration}}</p>
        <p><span class="key">RBP Channel Flow Status:</span> {{metric.flow}}</p>
        <p><span class="key">RBP Embeddedness:</span> {{metric.embed}}</p>
        <p><span class="key">RBP Epifaunal Substrate:</span> {{metric.epifaunal}}</p>
        <p><span class="key">RBP Riparian Vegetative Zone Width:</span> {{metric.width}}</p>
        <p><span class="key">RBP Sediment Deposition:</span> {{metric.sediment}}</p>
        <p><span class="key">RBP Velocity/Depth Combinations:</span> {{metric.combinations}}</p>
        <p><span class="key">MBSS Macroinvertebrate Substrata:</span> {{metric.macro}}</p>
        <p><span class="key">MBSS Shelter for Fish:</span> {{metric.shelter}}</p>
        <p><span class="key">USA In-Stream Condition Subtotal:</span> {{metric.instream}}</p>
        <p><span class="key">USA Floodplain Condition Subtotal:</span> {{metric.floodplain}}</p>
        <p><span class="key">USA Total Reach Habitat Score:</span> {{metric.score}}</p>
        <p><span class="key">Notes:</span> {{metric.notes}}</p>
      </div>
      <form data-ng-show="showEdit">
        <div class="group">
          <input type="text" data-ng-model="metric.name" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.period" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Measurement Period</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.date" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Report Date</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.stability" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Bank Stability</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.county" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Bank Vegetative Protection</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.district" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Channel Alteration</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Channel Flow Status</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Embeddedness</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Epifaunal Substrate</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Riparian Vegetative Zone Width</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Sediment Deposition</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Velocity/Depth Combinations</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>MBSS Macroinvertebrate Substrata</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>MBSS Shelter for Fish</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>USA In-Stream Condition Subtotal</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>USA Floodplain Condition Subtotal</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>USA Total Reach Habitat Score</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.notes" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Notes</label>
        </div>
      </form>
      <div layout="vertical" layout-align="center center">
        <material-button data-ng-hide="showEdit" class="material-button-fab" data-ng-click="edit()">
          <material-icon icon="assets/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>
        <material-button data-ng-show="showEdit" class="material-button-fab" data-ng-click="save()">
          <material-icon icon="assets/ic_save_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>
      </div>
    </material-card>
  </section> -->
 <!--  <section layout="vertical">
    <material-card class="main-project-card">
      <div data-ng-hide="showEdit">
        <h1 style="text-align:center">{{metric.name}}</h1>
        <hr style="width:100%" />
        <p><span class="key">Measurement Period:</span> {{metric.period}}</p>
        <p><span class="key">Report Date:</span> {{metric.date}}</p>
        <p><span class="key">RBP Bank Stability:</span> {{metric.stability}}</p>
        <p><span class="key">RBP Bank Vegetative Protection:</span> {{metric.protection}}</p>
        <p><span class="key">RBP Channel Alteration:</span> {{metric.alteration}}</p>
        <p><span class="key">RBP Channel Flow Status:</span> {{metric.flow}}</p>
        <p><span class="key">RBP Embeddedness:</span> {{metric.embed}}</p>
        <p><span class="key">RBP Epifaunal Substrate:</span> {{metric.epifaunal}}</p>
        <p><span class="key">RBP Riparian Vegetative Zone Width:</span> {{metric.width}}</p>
        <p><span class="key">RBP Sediment Deposition:</span> {{metric.sediment}}</p>
        <p><span class="key">RBP Velocity/Depth Combinations:</span> {{metric.combinations}}</p>
        <p><span class="key">MBSS Macroinvertebrate Substrata:</span> {{metric.macro}}</p>
        <p><span class="key">MBSS Shelter for Fish:</span> {{metric.shelter}}</p>
        <p><span class="key">USA In-Stream Condition Subtotal:</span> {{metric.instream}}</p>
        <p><span class="key">USA Floodplain Condition Subtotal:</span> {{metric.floodplain}}</p>
        <p><span class="key">USA Total Reach Habitat Score:</span> {{metric.score}}</p>
        <p><span class="key">Notes:</span> {{metric.notes}}</p>
      </div>
      <form data-ng-show="showEdit">
        <div class="group">
          <input type="text" data-ng-model="metric.name" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Name</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.period" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Measurement Period</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.date" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Report Date</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.stability" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Bank Stability</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.county" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Bank Vegetative Protection</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.district" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Channel Alteration</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Channel Flow Status</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Embeddedness</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Epifaunal Substrate</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Riparian Vegetative Zone Width</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Sediment Deposition</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>RBP Velocity/Depth Combinations</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>MBSS Macroinvertebrate Substrata</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>MBSS Shelter for Fish</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>USA In-Stream Condition Subtotal</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>USA Floodplain Condition Subtotal</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric." required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>USA Total Reach Habitat Score</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="metric.notes" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Notes</label>
        </div>
      </form>
      <div layout="vertical" layout-align="center center">
        <material-button data-ng-hide="showEdit" class="material-button-fab" data-ng-click="edit()">
          <material-icon icon="assets/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>
        <material-button data-ng-show="showEdit" class="material-button-fab" data-ng-click="save()">
          <material-icon icon="assets/ic_save_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>
      </div>
    </material-card>
  </section> -->

<!-- </material-content> -->
