<div data-ng-include="'/partials/includes/menu.html'"></div>

<material-content class="container">

  <span ng-init="page.name='Habitat Restoration, Rockingham'"></span>

  <section layout="vertical">

    <material-card class="main-project-card">
      <div data-ng-hide="showEdit">
        <h1 style="text-align:center">{{bmp.site}}</h1>
        <hr style="width:100%" />
        <p><span class="key">Type:</span> {{bmp.type}}</p>
        <p><span class="key">Description:</span> {{bmp.description}}</p>
        <p><span class="key">Installation Photo:</span> {{bmp.installation}}</p>
        <p><span class="key">Mature Photo:</span> {{bmp.mature}}</p>
      </div>
      <form data-ng-show="showEdit">
        <div class="group">
          <input type="text" data-ng-model="bmp.site" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Site</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="bmp.type" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Type</label>
        </div>
        <div class="group">
          <input type="text" data-ng-model="bmp.description" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Description</label>
        </div>
        <div class="group">
          <input type="file" data-ng-model="bmp.installation" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Installation Photo</label>
        </div>
        <div class="group">
          <input type="file" data-ng-model="bmp.mature" required="">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Mature Photo</label>
        </div>
      </form>
      <div layout="vertical" layout-align="center center">
        <material-button data-ng-hide="showEdit" class="material-button-fab" data-ng-click="edit()">
          <material-icon icon="assets/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>
        <material-button data-ng-show="showEdit" class="material-button-fab" data-ng-click="save()">
          <material-icon icon="assets/ic_save_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>
      </div>
    </material-card>

    <h3>Metrics Tracked for this Practice</h3>

    <material-list layout="vertical" layout-align="space-around" class="projects">
      <material-item>
        <div class="material-tile-content content-link" data-ng-click="getMetric(1)">
          <h2>Instream Habitat (metric)</h2>
          <p>Planned</p>
          <p>June 19, 2014</p>
        </div>
      </material-item>

      <material-item>
        <div class="material-tile-content content-link" data-ng-click="getMetric(1)">
          <h2>Habitat (metric)</h2>
          <p>Planned</p>
          <p>June 19, 2014</p>
        </div>
      </material-item>

      <material-item layout-align="center center">
        <p><material-button class="material-button-raised" data-ng-href="/#/projects/1/sites/1/practices/1/metrics/new">Add a metric</material-button></p>
      </material-item>
    </material-list>

  </section>
</material-content>

</material-content>
