<material-toolbar scroll-shrink class="material-theme-light">
	<div class="material-toolbar-tools">
	  <span>{{project.project_title}}</span>
	</div>
</material-toolbar>
<material-content class="container">
	<section layout="vertical">
		<material-card class="main-project-card">
			<!--<img src="{{image}}" class="material-card-image img-responsive" width="450">-->
			<h2>{{project.project_title}}</h2>
			<h3>{{project.type_271e6f04e893436588c8cd84da851a97[0].name}}</h3>
			<h5>Proposed Start Date: {{project.proposed_start_date | date}}</h5>
			<h5>Proposed End Date: {{project.proposed_end_date | date}}</h5>
			<p>
			Bacon ipsum dolor sit amet chicken fatback salami capicola, pork belly ribeye meatball tongue landjaeger t-bone pancetta. Turducken ground round chuck, ribeye boudin short loin prosciutto turkey leberkas biltong pork shankle cow. Porchetta strip steak ham hock, turkey beef swine tail jerky meatball sirloin andouille brisket. Sirloin corned beef kielbasa tri-tip, filet mignon hamburger ball tip sausage andouille spare ribs landjaeger short loin doner. Pastrami cow pork short loin. Bresaola meatball ribeye ground round, doner bacon venison jowl pig. Kevin short ribs cow, shoulder pork loin meatball chuck tri-tip strip steak.
			</p>
			<div layout="vertical" layout-align="center center">
				<material-button class="material-button-fab" data-ng-click="edit()">
		            <material-icon icon="assets/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></material-icon>
		        </material-button>
	    	</div>
	    </material-card>
	    <form>
	    	<div class="group" data-ng-repeat="field in fields | orderBy: 'label'">
	    		<input type="text" required>
	    		<span class="highlight"></span>
	    		<span class="bar"></span>
	    		<label>{{field.label}}</label>
	    	</div>
	    </form>
	    <material-list data-ng-show="showKeys">
			<material-item ng-repeat="field in fields | orderBy: 'label'">
			<div class="material-tile-content">
			  <h2>{{field.label}}</h2>
			</div>
			</material-item>
		</material-list>
	</section>
</material-content>