<div data-ng-include="'/partials/includes/menu.html'"></div>

<material-content class="container">

  <span ng-init="page.name='Expanding Brook Trout Habitat in the Shenandoah Valley, VA'"></span>

	<section layout="vertical">
		<material-card class="main-project-card">
			<div data-ng-hide="showEdit">
				<h1 style="text-align:center">{{project.title}}</h1>
				<hr />
				<h2><span class="key">Organization:</span> {{project.organization}}</h2>
				<h4><span class="key">Proposed Start Date:</span> {{project.start | date}}</h4>
				<h4><span class="key">Proposed End Date:</span> {{project.end | date}}</h4>
				<h4><span class="key">Easy Grants ID:</span> {{project.id}}</h4>
				<h4><span class="key">Grant Type:</span> {{project.grantType}}</h4>
				<h4><span class="key">Funders:</span> {{project.funders}}</h4>
				<h4><span class="key">Award:</span> {{project.award}}</h4>
				<h4><span class="key">Matching Contributions:</span> {{project.match | currency}}</h4>
				<p><span class="key">Project Abstract:</span> {{project.abstract}}</p>
				<p><span class="key">Project Location:</span> {{project.location}}</p>
			</div>
			<form data-ng-show="showEdit">
				<div class="group">
					<input data-ng-model="project.title" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Project Title</label>
				</div>

				<div class="group">
					<input data-ng-model="project.organization" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Organization</label>
				</div>

				<div class="group">
					<input data-ng-model="project.start" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Proposed Start Date</label>
				</div>

				<div class="group">
					<input data-ng-model="project.end" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Proposed End Date</label>
				</div>

				<div class="group">
					<input data-ng-model="project.id" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Easy Grants ID</label>
				</div>

				<div class="group">
					<input data-ng-model="project.grantType" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Grant Type</label>
				</div>

				<div class="group">
					<input data-ng-model="project.funders" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Funders</label>
				</div>

				<div class="group">
					<input data-ng-model="project.award" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Award</label>
				</div>

				<div class="group">
					<input data-ng-model="project.match" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Matching Contributions</label>
				</div>

				<div class="group">
					<input data-ng-model="project.abstract" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Project Abstract</label>
				</div>

				<div class="group">
					<input data-ng-model="project.location" type="text" required />
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Project Location</label>
				</div>
			</form>
<!-- 			<div data-ng-repeat="field in fields | orderBy: 'weight'">
				<h2 data-ng-if="field.weight===1">{{project[field.name]}}</h2>
				<h3 data-ng-if="field.weight===2"><span class="key">{{field.name | key}}:</span> {{project[field.name]}}</h3>
				<h4 data-ng-if="filterh4(field.weight) && field.data_type==='date'"><span class="key">{{field.name | key}}:</span> {{project[field.name] | date}}</h4>
				<h4 data-ng-if="filterh4(field.weight) && field.data_type==='float'"><span class="key">{{field.name | key}}:</span> {{project[field.name] | number}}</h4>
				<p data-ng-if="field.weight===11 || field.weight===12"><span class="key">{{field.name | key}}:</span> {{project[field.name]}}</p>
			</div> -->
			<div layout="vertical" layout-align="center center">
				<material-button data-ng-hide="showEdit" class="material-button-fab" data-ng-click="edit()">
		            <material-icon icon="assets/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></material-icon>
		        </material-button>
		        <material-button data-ng-show="showEdit" class="material-button-fab" data-ng-click="save()">
		            <material-icon icon="assets/ic_save_24px.svg" style="width: 24px; height: 24px;"></material-icon>
		        </material-button>
	    	</div>
	    </material-card>
<!-- 	    <form data-ng-show="showFields">
	    	<div class="group" data-ng-repeat="field in fields | orderBy: 'weight'">
	    		<input data-ng-model="project[field.name]" type="text" required value="project[field.name]" />
 				<input data-ng-model="project[field.name]" data-ng-if="field.data_type === 'email'" type="email" required />
	    		<span class="highlight"></span>
	    		<span class="bar"></span>
	    		<label>{{field.label}}</label>
	    	</div>
	    </form> -->
        <material-item>
          <div class="material-tile-content content-link" data-ng-click="getSite(1)">
		        <h2>Site Number</h2>
		        <p>2 barriers on headwater streams in Passage Creek (1) and Mountain Run (1) and will be removed. Opening up 5 miles of habitat</p>
		        <p>City</p>
		        <p>County</p>
		        <p>Congressional District</p>
          </div>
        </material-item>

        <material-item>
          <div class="material-tile-content content-link" data-ng-click="getSite(2)">
		        <h2>Site Number</h2>
		        <p>2 barriers on headwater streams in Passage Creek (1) and Mountain Run (1) and will be removed. Opening up 5 miles of habitat</p>
		        <p>City</p>
		        <p>County</p>
		        <p>Congressional District</p>
          </div>
        </material-item>

        <material-item>
          <div class="material-tile-content content-link" data-ng-click="getSite(2)">
		        <h2>Site Number</h2>
		        <p>2 barriers on headwater streams in Passage Creek (1) and Mountain Run (1) and will be removed. Opening up 5 miles of habitat</p>
		        <p>City</p>
		        <p>County</p>
		        <p>Congressional District</p>
          </div>
        </material-item>

        <material-item layout-align="center center">
          <p><material-button class="material-button-raised" data-ng-href="/#/projects/1/sites/new">Add a site</material-button></p>
        </material-item>
	</section>

</material-content>