<div data-ng-include="'/partials/includes/menu.html'"></div>

<material-content class="container">

  <span ng-init="page.name='Expanding Brook Trout Habitat in the Shenandoah Valley, VA'"></span>

  <section layout="vertical">
    <material-card class="main-project-card">
      <div layout="vertical">
        <h2>Site Number</h2>
        <p>2 barriers on headwater streams in Passage Creek (1) and Mountain Run (1) and will be removed. Opening up 5 miles of habitat</p>
        <p>City</p>
        <p>County</p>
        <p>Congressional District</p>
        <leaflet defaults="map.defaults" markers="map.markers" center="map.center" width="100%" height="425"></leaflet>
        <material-button class="material-button-fab" data-ng-click="edit()">
          <material-icon icon="assets/ic_mode_edit_24px.svg" style="width: 24px; height: 24px;"></material-icon>
        </material-button>
        </div>
      </material-card>
      <material-list layout="vertical" layout-align="space-around" class="projects">
        <material-item>
          <div class="material-tile-content content-link" data-ng-click="getBMP(1)">
            <h2>BMP Type</h2>
            <p>BMP Type (SWG)</p>
            <div>Description</div>
          </div>
        </material-item>

        <material-item>
          <div class="material-tile-content content-link" data-ng-click="getBMP(2)">
            <h2>BMP Type</h2>
            <p>BMP Type (SWG)</p>
            <div>Description</div>
          </div>
        </material-item>

        <material-item>
          <div class="material-tile-content content-link" data-ng-click="getBMP(3)">
            <h2>BMP Type</h2>
            <p>BMP Type (SWG)</p>
            <div>Description</div>
          </div>
        </material-item>

        <material-item>
          <div class="material-tile-content content-link" data-ng-click="getBMP(4)">
            <h2>BMP Type</h2>
            <p>BMP Type (SWG)</p>
            <div>Description</div>
          </div>
        </material-item>

        <material-item layout-align="center center">
          <p><material-button class="material-button-raised" data-ng-href="/#/projects/1/sites/1/practices/new">Add a practice</material-button></p>
        </material-item>

      </material-list>
  </section>

</material-content>
