<div data-ng-if="!total.planning">
  <h2><strong>Empty</strong> Summary</h2>

  <p>
    Please add a new Planning measurement period to this Practice to begin.
  </p>

  <p>
    <a class="button" data-ng-click="readings.add(practice, 'Planning')">Add Planning Data</a>
  </p>
</div>


<div data-ng-if="total.planning || total.installation">
  <table class="table">
    <tbody>
      <!-- Section Heading -->
      <tr class="no-rule">
        <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
          <h2><strong>Installation</strong> Summary</h2>
        </td>
      </tr>

      <!-- Measurement Period Headings -->
      <tr>
        <th>&nbsp;</th>
        <th data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            <span data-ng-if="report.measurement_period === 'Planning'">Planned</span>
            <span data-ng-if="report.measurement_period === 'Installation'">Installed</span>
            <br />
            {{ report.report_date }}
          </a>
        </th>
        <th>Installed To-Date</th>
        <th>% of Planned</th>
      </tr>

      <!-- Installation Summary -->
      <tr>
        <th>{{ fields.stream_width_at_bankfull.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.stream_width_at_bankfull | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'stream_width_at_bankfull') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'stream_width_at_bankfull', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.stream_width_at_mean_base_flow.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.stream_width_at_mean_base_flow | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'stream_width_at_mean_base_flow') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'stream_width_at_mean_base_flow', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.length_of_left_bank_with_improved_connectivity.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.length_of_left_bank_with_improved_connectivity | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'length_of_left_bank_with_improved_connectivity') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'length_of_left_bank_with_improved_connectivity', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.project_left_bank_height.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.project_left_bank_height | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'project_left_bank_height') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'project_left_bank_height', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.left_bank_bankfull_height.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.left_bank_bankfull_height | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'left_bank_bankfull_height') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'left_bank_bankfull_height', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.length_of_right_bank_with_improved_connectivity.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.length_of_right_bank_with_improved_connectivity | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'length_of_right_bank_with_improved_connectivity') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'length_of_right_bank_with_improved_connectivity', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.project_right_bank_height.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.project_right_bank_height | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'project_right_bank_height') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'project_right_bank_height', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.right_bank_bankfull_height.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.right_bank_bankfull_height | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'right_bank_bankfull_height') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'right_bank_bankfull_height', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.bulk_density_of_soil_in_hyporheic_zone.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.bulk_density_of_soil_in_hyporheic_zone | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'bulk_density_of_soil_in_hyporheic_zone') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'bulk_density_of_soil_in_hyporheic_zone', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>Left Bank Height Ratio</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          0
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <th>Right Bank Height Ratio</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          0
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <th>&nbsp;</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <th>{{ fields.stream_length_reconnected_at_floodplain.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.stream_length_reconnected_at_floodplain | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'stream_length_reconnected_at_floodplain') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'stream_length_reconnected_at_floodplain', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.connected_floodplain_surface_area.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.connected_floodplain_surface_area | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'connected_floodplain_surface_area') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'connected_floodplain_surface_area', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.watershed_contributing_area.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.watershed_contributing_area | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'watershed_contributing_area') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'watershed_contributing_area', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.watershed_impervious_area.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.watershed_impervious_area | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'watershed_impervious_area') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'watershed_impervious_area', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.watershed_pervious_area.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.watershed_pervious_area | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'watershed_pervious_area') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'watershed_pervious_area', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.rainfall_depth_where_connection_occurs.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.rainfall_depth_where_connection_occurs | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'rainfall_depth_where_connection_occurs') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'rainfall_depth_where_connection_occurs', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.floodplain_connection_volume.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.floodplain_connection_volume | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'floodplain_connection_volume') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'floodplain_connection_volume', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <th>{{ fields.fraction_of_annual_runoff_treated_by_floodplain.label }}</th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.fraction_of_annual_runoff_treated_by_floodplain | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'fraction_of_annual_runoff_treated_by_floodplain') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'fraction_of_annual_runoff_treated_by_floodplain', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>


    </tbody>
  </table>
</div>
