<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container" save2pdf>

  <div data-ng-include="'/modules/components/practices/views/practiceSummaryHeader--view.html'"></div>

  <section class="row feature summary">
    <article class="feature-detail">

      <div class="throbber throbber-small"
           data-ng-if="page.status.loading"></div>

         <div class="column-16 feature-detail-content"
              data-ng-if="!page.status.loading">
        <div class="table-responsive">

          <div data-ng-if="!page.summary.practice.properties.readings_enhanced_stream_restoration.length">
            <h2><strong>Empty</strong> Summary</h2>

            <p>
              Please add a Pre-project measurement period to this Practice to begin.
            </p>

            <p>
              <a class="button" data-ng-click="page.addReading('Pre-Project')">Add Pre-Project Data</a>
            </p>
          </div>


          <div data-ng-if="page.summary.practice.properties.readings_enhanced_stream_restoration.length">
            <table class="table">
              <tbody>
                <!-- Section Heading -->
                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.summary.practice.properties.readings_enhanced_stream_restoration + 4 }}">
                    <h2><strong>Installation</strong> Summary</h2>
                  </td>
                </tr>

                <!-- Measurement Period Headings -->
                <tr>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Pre-Project'">Pre-project</span>
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                      <br />
                      {{ report.properties.report_date | date }}
                    </a>
                  </th>
                  <th>Installed To-Date</th>
                  <th>% of Planned</th>
                </tr>

                <!-- Installation Summary -->
                <tr>
                  <th>Stream Width at Bankfull</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.stream_width_at_bankfull | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.stream_width_at_bankfull | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.stream_width_at_bankfull | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Stream Width at Mean Base flow</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.stream_width_at_mean_base_flow | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.stream_width_at_mean_base_flow | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.stream_width_at_mean_base_flow | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Length of Left Bank with Improved Connectivity</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    --
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.length_of_left_bank_with_improved_connectivity | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.length_of_left_bank_with_improved_connectivity | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.length_of_left_bank_with_improved_connectivity | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Project Left Bank Height</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.project_left_bank_height | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.project_left_bank_height | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.project_left_bank_height | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Left Bank Bankfull Height</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.left_bank_bankfull_height | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.left_bank_bankfull_height | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.left_bank_bankfull_height | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Length of Right Bank with Improved Connectivity</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    --
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.length_of_right_bank_with_improved_connectivity | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.length_of_right_bank_with_improved_connectivity | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.length_of_right_bank_with_improved_connectivity | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Project Right Bank Height</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.project_right_bank_height | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.project_right_bank_height | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.project_right_bank_height | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Right Bank Bankfull Height</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.right_bank_bankfull_height | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.right_bank_bankfull_height | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.right_bank_bankfull_height | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Bulk Density of Soil in Hyporheic Zone</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.bulk_density_of_soil_in_hyporheic_zone | number:2 }}
                  </td>
                  <td>
                    --
                  </td>
                  <td>
                    --
                  </td>
                </tr>

                <tr>
                  <th>Left Bank Height Ratio</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ page.calculateEnhancedStreamRestoration.bankHeightRatio(report.project_left_bank_height, report.left_bank_bankfull_height) || 0 | number:2 }}
                  </td>
                  <td>
                    --
                  </td>
                  <td>
                    --
                  </td>
                </tr>

                <tr>
                  <th>Right Bank Height Ratio</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ page.calculateEnhancedStreamRestoration.bankHeightRatio(report.project_right_bank_height, report.right_bank_bankfull_height) || 0 | number:2 }}
                  </td>
                  <td>
                    --
                  </td>
                  <td>
                    --
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    &nbsp;
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>

                <tr>
                  <th>Stream Length Reconnected at Floodplain</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    --
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.stream_length_reconnected_at_floodplain | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.stream_length_reconnected_at_floodplain | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.stream_length_reconnected_at_floodplain | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Connected Floodplain Surface Area</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    --
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.connected_floodplain_surface_area | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.connected_floodplain_surface_area | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.connected_floodplain_surface_area | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Watershed Contributing Area</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    --
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || page.report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ (report.properties.watershed_impervious_area+report.properties.watershed_pervious_area) | number:2 }}
                  </td>
                  <td>
                    &nbsp;
                    <!-- <strong>
                      {{ calculate.quantityInstalled(page.readings.features, 'watershed_contributing_area') || 0 | number:2 }}
                    </strong> -->
                  </td>
                  <td>
                    &nbsp;
                    <!-- <strong>
                      {{ calculate.quantityInstalled(page.readings.features, 'watershed_contributing_area', '%') || 0 | number:0 }}.00%
                    </strong> -->
                  </td>
                </tr>

                <tr>
                  <th>Watershed Impervious Area</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    --
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.watershed_impervious_area | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.watershed_impervious_area | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.watershed_impervious_area | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Watershed Pervious Area</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    --
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.watershed_pervious_area | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.watershed_pervious_area | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.watershed_pervious_area | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Fraction of Runoff Carried in the Channel</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.rainfall_depth_where_connection_occurs | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.rainfall_depth_where_connection_occurs | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.rainfall_depth_where_connection_occurs | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Fraction of Runoff Treated in the Floodplain</th>
                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project' || report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.floodplain_connection_volume | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.floodplain_connection_volume | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.floodplain_connection_volume | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Fraction of Annual Runoff Treated by Floodplain</th>

                  <td data-ng-if="report.properties.measurement_period === 'Pre-Project'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                      {{ report.properties.preproject.fraction_of_runoff_treated_by_floodplain | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                      {{ report.properties.planning.fraction_of_runoff_treated_by_floodplain | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                      {{ report.properties.installation.fraction_of_runoff_treated_by_floodplain | number:2 }}
                  </td>

                  <td>
                    &nbsp;
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Load</strong> &amp; Reductions</h2>
                    <p>Looking for Protocol 1? Protocol 1 is part of the Bank Stabilization practice. <a href="javascript:void(0);" data-ng-click="page.createBankStabilizationPractice()">Create a Bank Stabilization practice here.</a></p>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned Reduction</span><span data-ng-if="report.properties.measurement_period === 'Installation'">Installed Reduction</span><br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Reduction To-date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Nitrogen (lbs/yr) <em>Protocol 2</em></th>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.planning.nitrogen.protocol_2 | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.installation.nitrogen.protocol_2 | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.nitrogen.protocol_2 | number:2 }} lbs/yr
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.nitrogen.protocol_2 | number:0 }}.00%
                    </strong>
                  </td>
                </tr>


                <tr>
                  <th>Nitrogen (lbs/yr) <em>Protocol 3</em></th>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.planning.nitrogen.protocol_3 | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.installation.nitrogen.protocol_3 | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.nitrogen.protocol_3 | number:2 }} lbs/yr
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.nitrogen.protocol_3 | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Phosphorus (lbs/yr) <em>Protocol 3</em></th>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.planning.phosphorus.protocol_3 | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.installation.phosphorus.protocol_3 | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.phosphorus.protocol_3 | number:2 }} lbs/yr
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.phosphorus.protocol_3 | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Sediment (tons/yr)</th>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.planning.sediment | number:3 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.installation.sediment | number:3 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.sediment | number:2 }} tons/yr
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.sediment | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Chesapeake</strong> Bay Metrics</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                      <br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Installed To-date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Miles of Streambank Restored</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                      {{ report.properties.metrics.miles_of_streambank_restored | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.miles_of_streambank_restored | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.miles_of_streambank_restored | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Acres of Hyporheic Area Treated</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.metrics.acres_of_streambank_restored | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.acres_of_streambank_restored | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.acres_of_streambank_restored | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Acres of Floodplain Reconnected</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.metrics.acres_of_floodplain_reconnected | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.acres_of_floodplain_reconnected | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.acres_of_floodplain_reconnected | number:0 }}.00%
                    </strong>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <div data-ng-if="page.summary.practice.properties.has_monitoring_data">
            <table class="table">
              <tbody>
                <!-- Section Heading -->
                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.monitoring + 4 }}">
                    <h2><strong>Interim</strong> BMP Metrics Data</h2>
                  </td>
                </tr>

                <tr>
                  <th colspan="2">&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      Monitored on<br />
                      {{ report.properties.report_date }}
                    </a>
                  </td>
                </tr>

                <tr>
                  <td rowspan="2" class="align-middle">
                    Hydrologic
                  </td>
                  <th class="align-left">
                    Mean Annual Bankfull Flow
                  </th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.mean_annual_bankfull_flow }}
                  </td>
                </tr>
                <tr>
                  <!-- SKIP BECAUSE OF ROWSPAN ABOVE-->
                  <th class="align-left">
                    Monthly Flow Frequency Probability Plot
                  </th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.monthly_flow_frequency_probability_plot }}
                  </td>
                </tr>

                <tr>
                  <td rowspan="2" class="align-middle">
                    Hydraulic
                  </td>
                  <th class="align-left">
                    Number of Overbank Flows Per Year
                  </th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.number_of_overbank_flows_per_year }}
                  </td>
                </tr>
                <tr>
                  <th class="align-left">
                    Bank Height Ratio
                  </th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    --
                  </td>
                </tr>

                <tr>
                  <td rowspan="4" class="align-middle">
                    Riparian Vegetation
                  </td>
                  <th class="align-left">
                    Left Bank Vegetative Protection
                  </th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.left_bank_vegetative_protection }}
                  </td>
                </tr>
                <tr>
                  <!-- SKIP BECAUSE OF ROWSPAN ABOVE-->
                  <th class="align-left">
                    Left Bank Riparian Vegetative Zone Width
                  </th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.left_bank_riparian_vegetative_zone_width }}
                  </td>
                </tr>
                <tr>
                  <!-- SKIP BECAUSE OF ROWSPAN ABOVE-->
                  <th class="align-left">
                    Right Bank Vegetative Protection
                  </th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.right_bank_vegetative_protection }}
                  </td>
                </tr>
                <tr>
                  <!-- SKIP BECAUSE OF ROWSPAN ABOVE-->
                  <th class="align-left">
                    Right Bank Riparian Vegetative Zone Width
                  </th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    {{ report.properties.right_bank_riparian_vegetative_zone_width }}
                  </td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.summary.practice.properties.readings_enhanced_stream_restoration + 4 }}">
                    <h2><strong>Adaptive</strong> Management Checks Performed</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      Monitored on<br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                </tr>

                <tr>
                  <td class="align-middle">
                    Hydrologic
                  </td>
                  <th class="align-left" width="50%">Does discharge need to be adjusted through dam management, channel adjustments, or riparian plantings? If so, see Sellner et al., 2012, p.101.</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    <div data-ng-if="report.properties.adaptive_management_hydrologic" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>

                <tr>
                  <td class="align-middle">
                    Hydraulic
                  </td>
                  <th class="align-left" width="50%">Is overland accretion occurring? If so, see Sellner et al., 2012, p.103.</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    <div data-ng-if="report.properties.adaptive_management_hydraulic" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>

                <tr>
                  <td class="align-middle">
                    Riparian Vegetation
                  </td>
                  <th class="align-left" width="50%">Protocol 2 requires adequate riparian plant establishment to provide a carbon source for de-nitrification.</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                    <div data-ng-if="report.properties.adaptive_management_riparian_vegetation" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div data-ng-if="page.summary.practice.properties.readings_enhanced_stream_restoration.length">
            <h2><strong>Notes</strong></h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="align-left" width="10%">Date</th>
                  <th class="align-left" width="90%">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="report in page.summary.practice.properties.readings_enhanced_stream_restoration | orderBy:'id'">
                  <td class="align-left">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      {{ report.properties.report_date }}
                    </a>
                  </td>
                  <td class="align-left" data-ng-if="report.properties.notes">{{ report.properties.notes }}</td>
                  <td class="align-left" data-ng-if="!report.properties.notes"><em>No notes recorded for this date</em></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </article>
  </section>
</main>

<div data-ng-include="'/modules/components/practices/modules/enhanced-stream-restoration/views/citations--view.html'"></div>

<div data-ng-include="'/templates/footer--view.html'"></div>

<div data-ng-show="page.showData">
  <code>
    <pre>
      {{ page.summary | json }}
    </pre>
  </code>
</div>
