<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar"
         data-ng-class="{'no-grow': $root.collapseSidebar}"
         data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading your exports&hellip;</p>
            </div>
        </div>

        <div class="main--ui">

            <div class="create-heading" data-ng-if="!page.status.loading">
                <h1 class="margin-0">
                    Exports
                    <span class="tally">
                        {{ page.summary.feature_count | number }}
                    </span>
                </h1>
            </div>

            <div class="dyad margin-t-2" data-ng-if="!page.status.loading">

                <div class="table-view-ctrl"
                     data-ng-if="!page.status.loading">
                    <button type="button"
                            title="Card mode"
                            class="margin-r-50p"
                            data-ng-class="{active: !page.viewTable}"
                            data-ng-click="page.toggleTable()">
                        <span class="material-icons margin-r-50p">
                            view_module
                        </span>
                        <span>
                            Card
                        </span>
                    </button>
                    <button type="button"
                            title="Table mode"
                            data-ng-class="{active: page.viewTable}"
                            data-ng-click="page.toggleTable()">
                        <span class="material-icons margin-r-50p">
                            table_view
                        </span>
                        <span>
                            Table
                        </span>
                    </button>
                </div>

                <div style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-end;
                flex-grow: 1;"
                     data-ng-if="!page.status.loading">

                    <div data-ng-if="!page.status.loading"
                         pagination
                         summary="page.summary"
                         rotate="page.loadExports(page.queryParams)"
                         params="page.queryParams"
                         update-params="true"></div>

                </div>

            </div>

            <div class="features--container" data-ng-if="!page.status.loading">

                <div data-ng-if="!page.exports.length" style="width: 100%; display: flex; flex-grow: 1; flex-shrink:
                0;">

                    <ul class="selectable-group-items list-unstyled margin-t-2"
                        style="grid-template-columns: repeat(1, 1fr);">

                        <li class="card reveal fade-in">

                            <div class="card--content"
                                 style="display: flex; flex-flow: row nowrap; box-shadow: none; border: none;
                                 border-radius: 4px; overflow: hidden;">

                                <div class="description" style="width: 100%; border-right: none;">

                                    <div class="body" style="padding: 4rem 0;">
                                        <p style="font-style: normal; font-size: 1.2em; padding: 0; margin: 0;
                                        text-align: center;">
                                            <em>You don’t have any exports.</em>
                                        </p>
                                    </div>

                                </div>

                            </div>

                        </li>

                    </ul>

                </div>

                <div style="width: 100%;"
                     table-view
                     alerts="page.alerts"
                     callback="page.loadExports(page.queryParams)"
                     feature-type="export"
                     index="page.exports"
                     visible="page.viewTable"
                     data-ng-if="page.exports.length"></div>

                <ul class="snapshot--cards list-unstyled"
                    data-ng-if="page.exports.length && !page.viewTable" style="margin-top: 2em;">

                    <li class="card reveal fade-in"
                        style="animation-delay: {{ $index * 50 }}ms;"
                        data-ng-repeat="export in page.exports | filter: page.q">

                        <div class="card--content">

                            <div class="name">
                                <span>{{ export.name }}</span>
                            </div>

                            <div class="body">

                                <div class="confirm--delete" data-ng-if="page.deletionTarget.id === export.id">
                                    <p>Do you want to delete this export?</p>
                                    <div class="actions" style="flex: 0;">
                                        <a class="snapshot--title" href="#" title="Delete forever"
                                           data-ng-click="page.deleteFeature(export, $index)">
                                            Yes
                                        </a>
                                        <a class="snapshot--title" href="#" title="Cancel"
                                           data-ng-click="page.cancelDelete()">
                                            Cancel
                                        </a>
                                    </div>
                                </div>

                                <p class="pad-0 margin-0"
                                   style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"
                                   data-ng-if="export.site && export.site.name">
                                    Site: <a href="sites/{{ export.site.id }}">{{ export.site.name | truncate:50 }}</a>
                                </p>
                                <p class="pad-0 margin-0"
                                   style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"
                                   data-ng-if="!export.site && export.project && export.project.name">
                                    Project: <a href="projects/{{ export.project.id }}">{{ export.project.name | truncate:50
                                    }}</a>
                                </p>
                                <p class="pad-0 margin-0"
                                   style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;"
                                   data-ng-if="!export.project && export.program && export.program.name">
                                    Program: <a href="programs/{{ export.program.id }}">{{ export.program.name }}</a>
                                </p>

                                <p class="pad-0 margin-0 margin-t-1">
                                    {{ export.practice_count | number }} <ng-pluralize
                                        count="export.practice_count"
                                        when="{'one': 'practice','other': 'practices'}"></ng-pluralize>
                                </p>

                                <div class="actions">

                                    <a class="snapshot--title"
                                       href="{{ export.url }}"
                                       target="_blank"
                                       title="File link"
                                       data-ng-if="export.url && export.url.length">
                                        <i class="material-icons">
                                            attachment
                                        </i>
                                    </a>

                                    <a class="snapshot--title" href="#" title="Delete export"
                                       data-ng-click="page.confirmDelete(export)"
                                       data-ng-if="$root.user.is_admin || export.organization_id == page.user.organization.id || $root.user.is_manager">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </a>

                                </div>

                                <span>
                                    <time datetime="{{ export.created_on }}" title="{{ export.created_on }}">
                                        {{ export.created_on | date : 'mediumDate' }} &middot; {{ export.created_on |
                                        localTime | date:'h:mm' }} {{ export.created_on | localTime | date:'a' }}
                                    </time>
                                </span>

                            </div>

                        </div>

                    </li>

                    <li class="card" data-ng-if="!page.exports.length && page.permissions.can_edit">
                        <div class="card--content">
                            <div class="body">
                                <a title="Create practice"
                                   data-ng-click="page.showChildModal = !page.showChildModal">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </a>
                            </div>
                        </div>
                    </li>

                </ul>

            </div>

            <div data-ng-if="!page.status.loading"
                 pagination
                 summary="page.summary"
                 rotate="page.loadExports(page.queryParams)"
                 params="page.queryParams"
                 update-params="true"></div>

        </div>

    </div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts"
                 data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
