      <fieldset>
        <!-- Report Date -->
        <div class="form-group">
          <label for="report_date" class="control-label">
            Report Date
          </label>

          <input data-ng-model="report.report_date" class="form-control" class="form-control" type="date" id="report_date" name="report_date" placeholder="Enter a date" />

          <p data-ng-if="fields.report_date.help" class="help-text">{{ fields.report_date.help }}</p>
        </div>
        <div class="form-group">
          <label for="measurement_period" class="control-label">
            Measurement Period
          </label>

          <select class="form-control" data-ng-model="report.measurement_period" id="measurement_period" name="measurement_period" data-ng-options="value for value in fields.measurement_period.options">
            <option value="">Select a Measurement Period</option>
          </select>

          <p data-ng-if="fields.measurement_period.help" class="help-text">{{ fields.measurement_period.help }}</p>
        </div>

        <!-- WIP Reporting Agency -->
        <div class="form-group column-8" data-ng-if="report.measurement_period === 'Planning'">
          <label for="wip_reporting_agency" class="control-label">
            WIP Reporting Agency
          </label>

          <input data-ng-model="report.wip_reporting_agency" class="form-control" class="form-control" type="number" id="wip_reporting_agency" name="wip_reporting_agency" placeholder="Name of reporting agency" />
        </div>

      </fieldset>

      <fieldset data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'">
        <h2><strong>Installation</strong> Summary</h2>

        <div class="row">
          <div class="form-group column-8">
            <label for="bioretention_impervious_area" class="control-label">
              Area Draining to the Practice
            </label>

            <input data-ng-model="report.bioretention_impervious_area" class="form-control" class="form-control" type="number" id="bioretention_impervious_area" name="bioretention_impervious_area" />
            
            <p data-ng-if="fields.bioretention_impervious_area.help" class="help-text">{{ fields.bioretention_impervious_area.help }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group column-8">
            <label for="bioretention_total_drainage_area" class="control-label">
              &nbsp;
            </label>

            <input data-ng-model="report.bioretention_total_drainage_area" class="form-control" class="form-control" type="number" id="bioretention_total_drainage_area" name="bioretention_total_drainage_area" />
            
            <p data-ng-if="fields.bioretention_total_drainage_area.help" class="help-text">{{ fields.bioretention_total_drainage_area.help }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group column-8">
            <label for="bioretention_runoff_volume_captured" class="control-label">
              &nbsp;
            </label>

            <input data-ng-model="report.bioretention_runoff_volume_captured" class="form-control" class="form-control" type="number" id="bioretention_runoff_volume_captured" name="bioretention_runoff_volume_captured" />
            
            <p data-ng-if="fields.bioretention_runoff_volume_captured.help" class="help-text">{{ fields.bioretention_runoff_volume_captured.help }}</p>
          </div>
        </div>   

        <div class="row">
          <div class="form-group column-8">
            <label for="bioretention_practice_area" class="control-label">
              Bioretention Practice
            </label>

            <input data-ng-model="report.bioretention_practice_area" class="form-control" class="form-control" type="number" id="bioretention_practice_area" name="bioretention_practice_area" />
            
            <p data-ng-if="fields.bioretention_practice_area.help" class="help-text">{{ fields.bioretention_practice_area.help }}</p>
          </div>
        </div>  


      </fieldset>

      <fieldset data-ng-if="report.measurement_period === 'Monitoring'">
        <h2><strong>Interim</strong> BMP Metrics Data</h2>

        <div class="form-group column-5">
          <label for="bird_count" class="control-label">
            Number of observed bird or small animal species
          </label>

          <input data-ng-model="report.bird_count" class="form-control" class="form-control" type="number" id="bird_count" name="bird_count" />
          
          <p data-ng-if="fields.bird_count.help" class="help-text">{{ fields.bird_count.help }}</p>
        </div>

      </fieldset>

      <fieldset data-ng-if="report.measurement_period === 'Monitoring'">
        <h2><strong>Adaptive</strong> Management Checks Performed</h2>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="report.obstruction" type="checkbox" id="obstruction" name="obstruction" /> Keep all inflows into, and outflows from, the BMP free of obstructions
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="report.maintenance" type="checkbox" id="maintenance" name="maintenance" /> Initially, and then annually, review CSN LID maintenance guide (CSN, 2014)
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="report.poststorm_maintenance" type="checkbox" id="poststorm_maintenance" name="poststorm_maintenance" /> Visually check the BMP after each major storm and perform any needed maintenance
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="report.ponding" type="checkbox" id="ponding" name="ponding" /> Ponding may indicate clogging of the media. Replace media as needed in bioretention area
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="report.dying_plants" type="checkbox" id="dying_plants" name="dying_plants" /> Check and correct conditions producing too much or too little water, resulting in dying plants
          </div>
        </div>

      </fieldset>

      <fieldset data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation' || report.measurement_period === 'Monitoring'">
        <h2><strong>Notes</strong></h2>
  
        <div class="form-group">
          <textarea rows="1" data-ng-model="report.notes" class="form-control animate"  msd-elastic id="notes" name="notes" placeholder="Notes">{{ report.notes }}</textarea>
        </div>

      </fieldset>