<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container" save2pdf>

  <div data-ng-include="'/modules/components/practices/views/practiceSummaryHeader--view.html'"></div>

  <section class="row feature summary">
    <article class="feature-detail">

      <div class="throbber throbber-small"
           data-ng-if="page.status.loading"></div>

         <div class="column-16 feature-detail-content"
              data-ng-if="!page.status.loading">
           <div class="table-responsive">

          <div data-ng-if="!page.summary.practice.properties.has_planning_data">
            <h2><strong>Empty</strong> Summary</h2>

            <p>
              Please add a new Planning measurement period to this Practice to begin.
            </p>

            <p>
              <a class="button" data-ng-click="page.addReading('Planning')">Add Planning Data</a>
            </p>
          </div>


          <div data-ng-if="page.summary.practice.properties.has_planning_data">
            <table class="table">
              <tbody>
                <!-- Section Heading -->
                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.summary.practice.properties.readings_bioretention + 4 }}">
                    <h2><strong>Installation</strong> Summary</h2>
                  </td>
                </tr>

                <!-- Measurement Period Headings -->
                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                      <br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Installed To-Date</th>
                  <th>% of Planned</th>
                </tr>

                <!-- Installation Summary -->
                <tr>
                  <th rowspan="4">Area Draining to (Treated by) the BMP</th>
                  <td>Impervious Area (sq ft)</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.installation_bioretention_impervious_area | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.installation_bioretention_impervious_area | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.installation_bioretention_impervious_area | number:2 }}%
                    </strong>
                  </td>
                </tr>
                <tr>
                  <!-- Blank TH because of rowspan above -->
                  <td>Total Drainage Area (sq ft)</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.installation_bioretention_total_drainage_area || 0 | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.installation_bioretention_total_drainage_area | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.installation_bioretention_total_drainage_area | number:2 }}%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <!-- Blank TH because of rowspan above -->
                  <td>Rainfall Depth Treated (in)</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.installation_rainfall_depth_treated || 0 | number:5 }}
                  </td>
                  <td>
                    &nbsp;
                    <!-- <strong>
                      {{ page.calculateBioretention.quantityInstalled(page.readings.features, 'installation_rainfall_depth_treated') || 0 | number:5 }}
                    </strong> -->
                  </td>
                  <td>
                    &nbsp;
                    <!-- <strong>
                      {{ page.calculateBioretention.quantityInstalled(page.readings.features, 'installation_rainfall_depth_treated', '%') || 0 | number:5 }}%
                    </strong> -->
                  </td>
                </tr>

                <tr>
                  <!-- Blank TH because of rowspan above -->
                  <td>Runoff Volume Captured (acre/ft)</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ page.calculateBioretention.runoffVolumeCaptured(report) || 0 | number:5 }}
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>

                <tr>
                  <th rowspan="3">Adjustor Curve % Reductions</th>
                  <td>TN</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.planning.nitrogen.adjustor*100 | number:1 }}%
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.installation.nitrogen.adjustor*100 | number:1 }}%
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>

                <tr>
                  <!-- Blank TH because of rowspan above -->
                  <td>TP</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.planning.phosphorus.adjustor*100 | number:1 }}%
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.installation.phosphorus.adjustor*100 | number:1 }}%
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>

                <tr>
                  <!-- Blank TH because of rowspan above -->
                  <td>TSS</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.planning.sediment.adjustor*100 | number:1 }}%
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.installation.sediment.adjustor*100 | number:1 }}%
                  </td>
                  <td>
                    &nbsp;
                  </td>
                  <td>
                    &nbsp;
                  </td>
                </tr>

                <tr>
                  <th>Bioretention Practice</th>
                  <td>Area of Practice (sq ft)</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.installation_bioretention_practice_area || 0 | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.installation_bioretention_practice_area | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.installation_bioretention_practice_area | number:2 }}%
                    </strong>
                  </td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Load</strong> &amp; Reductions</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th>Pre-BMP Load</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned Reduction</span><span data-ng-if="report.properties.measurement_period === 'Installation'">Installed Reduction</span><br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Reduction To-date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Nitrogen (lbs/yr)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    {{ report.properties.preinstallation.nitrogen.value | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.planning.nitrogen.value | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.installation.nitrogen.value | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.nitrogen | number:2 }} lbs/yr
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.nitrogen | number:2 }}%
                    </strong>
                  </td>
                </tr>
                <tr>
                  <th>Phosphorus (lbs/yr)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.preinstallation.phosphorus.value | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.planning.phosphorus.value | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.installation.phosphorus.value | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.phosphorus | number:2 }} lbs/yr
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.phosphorus | number:2 }}%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Sediment (tons/yr)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.preinstallation.sediment.value | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.planning.sediment.value | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.installation.sediment.value | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.sediment | number:2 }} tons/yr
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.sediment | number:2 }}%
                    </strong>
                  </td>
                </tr>
                <tr data-ng-if="page.summary.practice.properties.has_planning_data">
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      <a href="javascript:void(0);" class="button-nutrient" data-ng-click="page.nutrients.addCustomNutrients(report.id)"
                         data-ng-if="!report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                        Add
                      </a>
                      <a href="javascript:void(0);" class="button-nutrient" data-ng-click="page.nutrients.addCustomNutrients(report.id)"
                         data-ng-if="report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                        Edit
                      </a>
                      <div data-ng-if="page.nutrients.showNutrientForm[report.id]">
                         <a data-ng-if="report.properties.custom_nutrient_reductions.id"
                            class="pull-left button-nutrient-delete" href="javascript:void(0);"
                            data-ng-click="page.nutrients.deleteCustomNutrients(report)">
                           Delete</a>
                        <a href="javascript:void(0);"
                           class="button-nutrient-cancel"
                           data-ng-click="page.nutrients.cancelCustomNutrients(report.id)">
                          Discard</a>
                        <a data-ng-if="!report.properties.custom_nutrient_reductions.id"
                           class="button-nutrient-save"
                           href="javascript:void(0);" data-ng-click="page.nutrients.saveCustomNutrients(report)">
                          Save
                        </a>
                        <a data-ng-if="report.properties.custom_nutrient_reductions.id"
                           class="button-nutrient-save"
                           href="javascript:void(0);" data-ng-click="page.nutrients.updateCustomNutrients(report)">
                          Update</a>
                      </div>
                      <span data-ng-if="page.nutrients.showNutrientFormSaved[report.id]"><br />Reduction Saved!</span>
                      <span data-ng-if="page.nutrients.showNutrientFormUpdated[report.id]"><br />Reduction Updated!</span>
                      <span data-ng-if="page.nutrients.showNutrientFormDeleted[report.id]"><br />Reduction Deleted!</span>
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      <a href="javascript:void(0);" class="button-nutrient" data-ng-click="page.nutrients.addCustomNutrients(report.id)"
                         data-ng-if="!report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                        Add
                      </a>
                      <a href="javascript:void(0);" class="button-nutrient" data-ng-click="page.nutrients.addCustomNutrients(report.id)"
                         data-ng-if="report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                        Edit
                      </a>
                      <div data-ng-if="page.nutrients.showNutrientForm[report.id]">
                         <a data-ng-if="report.properties.custom_nutrient_reductions.id"
                            class="pull-left button-nutrient-delete" href="javascript:void(0);"
                            data-ng-click="page.nutrients.deleteCustomNutrients(report)">
                           Delete</a>
                        <a href="javascript:void(0);"
                           class="button-nutrient-cancel"
                           data-ng-click="page.nutrients.cancelCustomNutrients(report.id)">
                          Discard</a>
                        <a data-ng-if="!report.properties.custom_nutrient_reductions.id"
                           class="button-nutrient-save"
                           href="javascript:void(0);" data-ng-click="page.nutrients.saveCustomNutrients(report)">
                          Save
                        </a>
                        <a data-ng-if="report.properties.custom_nutrient_reductions.id"
                           class="button-nutrient-save"
                           href="javascript:void(0);" data-ng-click="page.nutrients.updateCustomNutrients(report)">
                          Update</a>
                      </div>
                      <span data-ng-if="page.nutrients.showNutrientFormSaved[report.id]"><br />Reduction Saved!</span>
                      <span data-ng-if="page.nutrients.showNutrientFormUpdated[report.id]"><br />Reduction Updated!</span>
                      <span data-ng-if="page.nutrients.showNutrientFormDeleted[report.id]"><br />Reduction Deleted!</span>
                  </td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Chesapeake</strong> Bay Metrics</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                      <br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Installed To-date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Gallons/Year of Stormwater Detained or Infiltrated</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.metrics.gallons_per_year_of_stormwater_detained_or_infiltrated | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.gallons_per_year_of_stormwater_detained_or_infiltrated | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.gallons_per_year_of_stormwater_detained_or_infiltrated | number:2 }}%
                    </strong>
                  </td>
                </tr>

                <tr>
                  <th>Acres of Protected by BMP's to Reduce Stormwater Runoff</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.metrics.acres_of_protected_bmps_to_reduce_stormwater_runoff | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.acres_of_protected_bmps_to_reduce_stormwater_runoff | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.acres_of_protected_bmps_to_reduce_stormwater_runoff | number:2 }}%
                    </strong>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <div data-ng-if="page.total.monitoring">
            <table class="table">

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Interim</strong> BMP Metrics Data</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      Monitored on<br />
                      {{ report.properties.report_date }}
                    </a>
                  </td>
                </tr>

                <tr>
                  <th class="align-left">Number of observed bird or small animal species</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                      {{ report.properties.monitoring_bird_count }}</td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.total.planning + page.total.installation + 4 }}">
                    <h2><strong>Adaptive</strong> Management Checks Performed</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Monitoring'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      Monitored on<br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                </tr>

                <tr>
                  <th class="align-left" width="50%">Keep all inflows into, and outflows from, the BMP free of obstructions</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    <div data-ng-if="report.properties.monitoring_obstructions" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Initially, and then annually, review CSN LID maintenance guide (CSN, 2014)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    <div data-ng-if="report.properties.monitoring_maintenance" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Visually check the BMP after each major storm and perform any needed maintenance</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    <div data-ng-if="report.properties.monitoring_post_storm" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Ponding may indicate clogging of the media. Replace media as needed in bioretention area</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    <div data-ng-if="report.properties.monitoring_ponding" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Check and correct conditions producing too much or too little water, resulting in dying plants</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                    <div data-ng-if="report.properties.monitoring_dying_plants" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div data-ng-if="page.summary.practice.properties.has_planning_data || page.summary.practice.properties.has_installation_data || page.summary.practice.properties.has_monitoring_data">
            <h2><strong>Notes</strong></h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="align-left" width="10%">Date</th>
                  <th class="align-left" width="90%">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="report in page.summary.practice.properties.readings_bioretention | orderBy:'id'">
                  <td class="align-left">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                      {{ report.properties.report_date }}
                    </a>
                  </td>
                  <td class="align-left" data-ng-if="report.properties.notes">{{ report.properties.notes }}</td>
                  <td class="align-left" data-ng-if="!report.properties.notes"><em>No notes recorded for this date</em></td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>
      </div>
    </article>
  </section>
  </main>

  <div data-ng-include="'/modules/components/practices/modules/bioretention/views/citations--view.html'"></div>

  <div data-ng-include="'/templates/footer--view.html'"></div>

  <div data-ng-show="page.showData">
    <code>
      <pre>
        {{ page.summary | json }}
      </pre>
    </code>
  </div>
