<!DOCTYPE html>

<html class="no-js" data-ng-app="practiceMonitoringAssessmentApp">

  <head>

    <meta charset="utf-8" />

    <!-- Sitewide meta tags -->
    <meta data-ng-repeat="tag in $root.site.meta" name="{{ tag.name }}" content="{{ tag.content }}" />

    <!-- Page specific meta tags -->
    <meta data-ng-repeat="tag in $root.page.meta" name="{{ tag.name }}" content="{{ tag.content }}" />

    <!-- Page Title based on either the root site title or the page specific site title -->
    <title>{{ $root.page.title }}{{ $root.site.title }}</title>

    <link rel="stylesheet" type="text/css" href='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="/bower_components/medium-editor/dist/css/medium-editor.css" />
    <link rel="stylesheet" href="/bower_components/medium-editor/dist/css/themes/default.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>

    <!-- build:css(.tmp) /styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css">
    <!-- endbuild -->


    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="author" href="/humans.txt" />

    <link data-ng-repeat="link in $root.site.links" rel="{{ link.rel }}" href="{{ link.href }}" />

    <base href="/" />

  </head>

  <body class="{{ $root.page.class }}">

    <div data-ng-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55209146-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- build:js(.) /scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
    <script>
        L.mapbox.accessToken = 'pk.eyJ1IjoiZGV2ZWxvcGVkc2ltcGxlIiwiYSI6IlZGVXhnM3MifQ.Q4wmA49ggy9i1rLr8-Mc-w';
    </script>

    <!-- build:js(.) /modules/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-gravatar/build/md5.js"></script>
    <script src="bower_components/angular-gravatar/build/angular-gravatar.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angularjs-geolocation/src/geolocation.js"></script>
    <script src="bower_components/angular-elastic/elastic.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/medium-editor/dist/js/medium-editor.js"></script>
    <script src="bower_components/angular-medium-editor/dist/angular-medium-editor.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) /modules/modules.js -->
        <script src="modules/app--module.js"></script>
        <script src="modules/app--routes.js"></script>

            <!-- Security Module -->
            <script src="modules/shared/security/security--routes.js"></script>
            <script src="modules/shared/security/securityAuthorize--controller.js"></script>
            <script src="modules/shared/security/securityLogin--controller.js"></script>
            <script src="modules/shared/security/securityLogout--controller.js"></script>
            <script src="modules/shared/security/security--interceptor.js"></script>
            <script src="modules/shared/security/token--service.js"></script>

            <!-- Projects Module -->
            <script src="modules/components/projects/projects--routes.js"></script>
            <script src="modules/components/projects/projects--list.js"></script>
            <script src="modules/components/projects/projects--view.js"></script>
            <script src="modules/components/projects/projects--edit.js"></script>
            <script src="modules/components/projects/projects--users.js"></script>

            <!-- Sites Module -->
            <script src="modules/components/sites/sites--routes.js"></script>
            <script src="modules/components/sites/sites--view.js"></script>
            <script src="modules/components/sites/sites--edit.js"></script>

            <!-- Practices Module -->
            <script src="modules/components/practices/practices--routes.js"></script>
            <script src="modules/components/practices/practices--storage.js"></script>
            <script src="modules/components/practices/practices--calculate.js"></script>
            <script src="modules/components/practices/practicesEdit--controller.js"></script>
            <script src="modules/components/practices/animalType--constant.js"></script>
            <script src="modules/components/practices/landuse--constant.js"></script>

                <!-- Forest Buffer -->
                <script src="modules/components/practices/modules/forest-buffer/forestBuffer--routes.js"></script>
                <script src="modules/components/practices/modules/forest-buffer/forestBuffer--calculate.js"></script>
                <script src="modules/components/practices/modules/forest-buffer/forestBuffer--report.js"></script>
                <script src="modules/components/practices/modules/forest-buffer/forestBuffer--form.js"></script>

                <!-- Grass Buffer -->
                <script src="modules/components/practices/modules/grass-buffer/grassBuffer--routes.js"></script>
                <script src="modules/components/practices/modules/grass-buffer/grassBuffer--calculate.js"></script>
                <script src="modules/components/practices/modules/grass-buffer/grassBuffer--report.js"></script>
                <script src="modules/components/practices/modules/grass-buffer/grassBuffer--form.js"></script>

                <!-- Livestock Exclusion -->
                <script src="modules/components/practices/modules/livestock-exclusion/livestockExclusion--routes.js"></script>
                <script src="modules/components/practices/modules/livestock-exclusion/livestockExclusion--calculate.js"></script>
                <script src="modules/components/practices/modules/livestock-exclusion/livestockExclusion--report.js"></script>
                <script src="modules/components/practices/modules/livestock-exclusion/livestockExclusion--form.js"></script>

                <!-- Urban Homeowner -->
                <script src="modules/components/practices/modules/urban-homeowner/urbanHomeowner--routes.js"></script>
                <script src="modules/components/practices/modules/urban-homeowner/urbanHomeowner--calculate.js"></script>
                <script src="modules/components/practices/modules/urban-homeowner/urbanHomeowner--report.js"></script>
                <script src="modules/components/practices/modules/urban-homeowner/urbanHomeowner--form.js"></script>

                <!-- Bioretention -->
                <script src="modules/components/practices/modules/bioretention/bioretention--routes.js"></script>
                <script src="modules/components/practices/modules/bioretention/bioretention--calculate.js"></script>
                <script src="modules/components/practices/modules/bioretention/bioretention--report.js"></script>
                <script src="modules/components/practices/modules/bioretention/bioretention--form.js"></script>

                <!-- In-stream Habitat -->
                <script src="modules/components/practices/modules/instream-habitat/instreamHabitat--routes.js"></script>
                <script src="modules/components/practices/modules/instream-habitat/instreamHabitat--calculate.js"></script>
                <script src="modules/components/practices/modules/instream-habitat/instreamHabitat--report.js"></script>
                <script src="modules/components/practices/modules/instream-habitat/instreamHabitat--form.js"></script>

                <!-- Bank Stabilization -->
                <script src="modules/components/practices/modules/bank-stabilization/bankStabilization--routes.js"></script>
                <script src="modules/components/practices/modules/bank-stabilization/bankStabilization--calculate.js"></script>
                <script src="modules/components/practices/modules/bank-stabilization/bankStabilization--report.js"></script>
                <script src="modules/components/practices/modules/bank-stabilization/bankStabilization--form.js"></script>

                <!-- Enhanced Stream Restoration -->
                <script src="modules/components/practices/modules/enhanced-stream-restoration/enhancedStreamRestoration--routes.js"></script>
                <script src="modules/components/practices/modules/enhanced-stream-restoration/enhancedStreamRestoration--calculate.js"></script>
                <script src="modules/components/practices/modules/enhanced-stream-restoration/enhancedStreamRestoration--report.js"></script>
                <script src="modules/components/practices/modules/enhanced-stream-restoration/enhancedStreamRestoration--form.js"></script>

            <!-- CommonsCloud Module -->
            <script src="modules/shared/commons-cloud/configuration--constant.js"></script>
            <script src="modules/shared/commons-cloud/geometry--service.js"></script>
            <script src="modules/shared/commons-cloud/map--service.js"></script>

            <!-- Mapbox Module -->
            <script src="modules/shared/mapbox/geocoding--directive.js"></script>
            <script src="modules/shared/mapbox/geocoding--service.js"></script>
            <script src="modules/shared/mapbox/mapbox--constant.js"></script>

            <!-- Providers -->
            <script src="modules/shared/api/application.js"></script>
            <script src="modules/shared/api/load--resource.js"></script>
            <script src="modules/shared/api/stateLoad--resource.js"></script>
            <script src="modules/shared/api/attachment.js"></script>
            <script src="modules/shared/api/feature.js"></script>
            <script src="modules/shared/api/field.js"></script>
            <script src="modules/shared/api/template.js"></script>
            <script src="modules/shared/api/user.js"></script>

            <!-- Factories -->

            <!-- Directives -->
            <script src="modules/shared/directives/imageResize.js"></script>
            <script src="modules/shared/directives/relationship/relationship.js"></script>

            <!-- Filters -->
            <script src="modules/shared/filters/toAcres--filter.js"></script>
            <script src="modules/shared/filters/toArray--filter.js"></script>
            <!-- endbuild -->

  </body>

</html>
