<!DOCTYPE html>

<html class="no-js" data-ng-app="FieldDoc">

    <head>

        <meta charset="utf-8" />

        <!-- Sitewide meta tags -->
        <meta data-ng-repeat="tag in $root.site.meta" name="{{ tag.name }}" content="{{ tag.content }}" />

        <!-- Page specific meta tags -->
        <meta data-ng-repeat="tag in $root.page.meta" name="{{ tag.name }}" content="{{ tag.content }}" />

        <!-- Page Title based on either the root site title or the page specific site title -->
        <title>FieldDoc | {{ $root.page.title || '' }}</title>

        <!-- Mapbox -->

        <!--<script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script> -->
        <!-- <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' /> -->
        <!-- <link rel="stylesheet" type="text/css" href='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' /> -->

        <!-- Material icons -->

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' /> -->

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="/styles/mapbox-gl.css" />
        <link rel="stylesheet" href="/styles/mapbox-gl-draw.css" />
        <link rel="stylesheet" href="/styles/mapbox-gl-geocoder.css" />

        <!-- build:css(.tmp) /styles/main.css -->
        <link rel="stylesheet" href="/styles/main.css" media="screen" />
        <!-- endbuild -->

        <link href="/styles/print.css" rel="stylesheet" media="print" />

        <link rel="shortcut icon" href="/images/favicon.png" />
        <link rel="author" href="/humans.txt" />

        <link data-ng-repeat="link in $root.site.links" rel="{{ link.rel }}" href="{{ link.href }}" />

        <base href="/" />

        <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PG8N4PR');</script>

        <!-- End Google Tag Manager -->

    </head>

    <body class="{{ $root.page.class }}">

        <div data-ng-view=""></div>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-75868314-1', 'auto');
            ga('send', 'pageview');

        </script>

        <!-- Google Tag Manager (noscript) -->
              <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PG8N4PR"
              height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
              
        <!-- End Google Tag Manager (noscript) -->

        <!-- Sentry Bot Integration -->
        <!-- Note that we now also provide a es6 build only -->
        <!-- <script src="https://browser.sentry-cdn.com/5.6.3/bundle.es6.min.js" integrity="sha384-NEWge0n6G1Kne9yTAYJ/i9ezaKNstK9IbfJS7vlZk53XtWjF4wEJs3TOkC3hGGN1" crossorigin="anonymous"></script> -->
        <script src="https://browser.sentry-cdn.com/5.20.0/bundle.min.js"
                integrity="sha384-mmBh0B1uYbzmP0q9QcqWr4el7gVXBSY0hWB2U8cNhNZi/RIuVQRp7pm1NlPOa644"
                crossorigin="anonymous"></script>

        <!-- If you include the integration it will be available under Sentry.Integrations.Angular -->
        <script src="https://browser.sentry-cdn.com/5.20.0/angular.min.js"
                crossorigin="anonymous"></script>

        <script>
            Sentry.init({
                dsn: 'https://f29cbae5e61746f09b905fa73941aa64@o308125.ingest.sentry.io/5355057',
                integrations: [
                    new Sentry.Integrations.Angular(),
                ],
                environment: 'fielddoc_web'
            });
        </script>

        <!-- <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script> -->

        <!-- build:js(.) /scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.js"></script>
        <![endif]-->
        <!-- endbuild -->

        <!-- build:js(.) /modules/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-cookie/angular-cookie.js"></script>
        <script src="bower_components/angularjs-geolocation/src/geolocation.js"></script>
        <script src="bower_components/angular-elastic/elastic.js"></script>
        <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
        <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
        <script src="bower_components/angular-mocks/angular-mocks.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/angular-moment/angular-moment.js"></script>
        <script src="bower_components/jspdf/dist/jspdf.min.js"></script>
        <script src="bower_components/html2canvas/build/html2canvas.js"></script>
        <script src="bower_components/angular-save2pdf/angular-save2pdf.js"></script>
        <script src="bower_components/angular-progress-arc/angular-progress-arc.js"></script>
        <script src="bower_components/tinycolor/tinycolor.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) /modules/modules.js -->

        <script src="modules/shared/turf/turf.min.js"></script>

        <script src="modules/shared/mapboxgl/mapbox-gl.js"></script>
        <script src="modules/shared/mapboxgl/mapbox-gl-draw.js"></script>
        <script src="modules/shared/mapboxgl/mapbox-gl-geocoder.min.js"></script>

        <script src="modules/shared/typeahead/ui-bootstrap-typeahead-tpls-2.5.0.min.js"></script>

        <script src="modules/app--module.js"></script>
        <script src="modules/app--routes.js"></script>
        <script src="config/environment.js"></script>

        <script src="modules/shared/pdf/save2pdf.js"></script>

        <script src="modules/shared/anchor-scroll/anchorScroll--service.js"></script>

        <!-- Security Module -->
        <script src="modules/shared/security/security--routes.js"></script>
        <script src="modules/shared/security/securityLogin--controller.js"></script>
        <script src="modules/shared/security/securityRegister--controller.js"></script>
        <script src="modules/shared/security/securityLogout--controller.js"></script>
        <script src="modules/shared/security/securityResetPassword--controller.js"></script>
        <script src="modules/shared/security/security--interceptor.js"></script>
        <script src="modules/shared/security/token--service.js"></script>

        <!-- Dashboard Module -->
        <script src="modules/components/dashboard/dashboard--routes.js"></script>
        <script src="modules/components/dashboard/dashboardList--controller.js"></script>
        <script src="modules/components/dashboard/dashboardCreate--controller.js"></script>
        <script src="modules/components/dashboard/dashboardEdit--controller.js"></script>
        <script src="modules/components/dashboard/dashboardFilter--controller.js"></script>
        <script src="modules/components/dashboard/dashboardGeography--controller.js"></script>
        <script src="modules/components/dashboard/dashboardMetric--controller.js"></script>

        <!-- Organization Module -->
        <script src="modules/components/organization/organization--routes.js"></script>
        <script src="modules/components/organization/organizationEdit--controller.js"></script>
        <script src="modules/components/organization/organizationProfile--controller.js"></script>
        <script src="modules/components/organization/orgList--controller.js"></script>

        <!-- Projects Module -->
        <script src="modules/components/projects/projects--routes.js"></script>
        <script src="modules/components/projects/projectsList--controller.js"></script>
        <script src="modules/components/projects/projectsSummary--controller.js"></script>
        <script src="modules/components/projects/projectsEdit--controller.js"></script>

        <script src="modules/components/projects/projectsUsers--controller.js"></script>
        <script src="modules/components/projects/projectPartnership--controller.js"></script>
        <script src="modules/components/projects/projectGrant--controller.js"></script>
        <script src="modules/components/projects/projectImage--controller.js"></script>
        <script src="modules/components/projects/projectTag--controller.js"></script>
        <script src="modules/components/projects/projectsBatchDelete--controller.js"></script>
        <script src="modules/components/projects/projectsPracticesBatchDelete--controller.js"></script>
        <script src="modules/components/projects/projectPracticeList--controller.js"></script>
        <script src="modules/components/projects/projectSiteList--controller.js"></script>

        <!-- ChangeLog Module -->
        <script src="modules/components/change-log/changeLog--routes.js"></script>
        <script src="modules/components/change-log/changeLog--controller.js"></script>

        <!-- Onboarding Module -->
        <script src="modules/components/onboarding/onboarding--routes.js"></script>
        <script src="modules/components/onboarding/onboardingOrganization--controller.js"></script>

        <!-- Home Module -->
        <script src="modules/components/home/home--routes.js"></script>
        <script src="modules/components/home/home--controller.js"></script>

        <!-- Account Module -->
        <script src="modules/components/account/account--routes.js"></script>
        <script src="modules/components/account/accountEdit--controller.js"></script>
        <!--     <script src="modules/components/account/accountProfileView--controller.js"></script> -->

        <!-- Profile Module -->
        <script src="modules/components/profile/profile--routes.js"></script>
        <script src="modules/components/profile/profileView--controller.js"></script>

        <!-- Sites Module -->
        <script src="modules/components/sites/sites--routes.js"></script>
        <script src="modules/components/sites/sites--summary.js"></script>
        <script src="modules/components/sites/sites--edit.js"></script>
        <script src="modules/components/sites/siteLocation--controller.js"></script>
        <script src="modules/components/sites/siteGeography--controller.js"></script>
        <script src="modules/components/sites/siteImage--controller.js"></script>
        <script src="modules/components/sites/siteTag--controller.js"></script>
        <script src="modules/components/sites/siteBatchDelete--controller.js"></script>
        <script src="modules/components/sites/sitePracticeList--controller.js"></script>

        <!--     <script src="modules/components/sites/siteBatchDelete--controller.js"></script>-->

        <!-- Practices Module -->
        <script src="modules/components/practices/practice--routes.js"></script>
        <script src="modules/components/practices/practiceEdit--controller.js"></script>
        <script src="modules/components/practices/practiceSummary--controller.js"></script>
        <script src="modules/components/practices/practiceLocation--controller.js"></script>
        <script src="modules/components/practices/practiceLegacyData--controller.js"></script>
        <script src="modules/components/practices/practiceModelData--controller.js"></script>
        <script src="modules/components/practices/practiceImage--controller.js"></script>
        <script src="modules/components/practices/practiceTag--controller.js"></script>
        <script src="modules/components/practices/practiceTarget--controller.js"></script>
        <script src="modules/components/practices/reportEdit--controller.js"></script>

        <!-- PracticeType Module -->
        <script src="modules/components/practice-types/practiceType--routes.js"></script>
        <script src="modules/components/practice-types/practiceTypeEdit--controller.js"></script>
        <script src="modules/components/practice-types/practiceTypeSummary--controller.js"></script>
        <script src="modules/components/practice-types/practiceTypeList--controller.js"></script>

        <!-- MetricType Module -->
        <script src="modules/components/metrics/metricType--routes.js"></script>
        <script src="modules/components/metrics/metricTypeEdit--controller.js"></script>
        <script src="modules/components/metrics/metricTypeSummary--controller.js"></script>
        <script src="modules/components/metrics/metricTypeList--controller.js"></script>

        <!-- County Module -->
        <script src="modules/components/counties/county--routes.js"></script>
        <script src="modules/components/counties/countySummary--controller.js"></script>

        <!-- Watershed Module -->
        <script src="modules/components/watersheds/watershed--routes.js"></script>
        <script src="modules/components/watersheds/watershedSummary--controller.js"></script>

        <!-- Geography Module -->
        <script src="modules/components/geographies/geography--routes.js"></script>
        <script src="modules/components/geographies/geographyCreate--controller.js"></script>
        <script src="modules/components/geographies/geographyEdit--controller.js"></script>
        <script src="modules/components/geographies/geographySummary--controller.js"></script>
        <script src="modules/components/geographies/geographyList--controller.js"></script>
        <script src="modules/components/geographies/geographyLocation--controller.js"></script>
        <script src="modules/components/geographies/geographyTarget--controller.js"></script>

        <!-- Layer Module -->
        <script src="modules/components/layers/layer--routes.js"></script>
        <script src="modules/components/layers/layerCreate--controller.js"></script>
        <script src="modules/components/layers/layerEdit--controller.js"></script>
        <script src="modules/components/layers/layerSummary--controller.js"></script>
        <script src="modules/components/layers/layerList--controller.js"></script>

        <!-- Program Module -->
        <script src="modules/components/programs/program--routes.js"></script>
        <script src="modules/components/programs/programEdit--controller.js"></script>
        <script src="modules/components/programs/programSummary--controller.js"></script>
        <script src="modules/components/programs/programList--controller.js"></script>
        <script src="modules/components/programs/programTag--controller.js"></script>
        <script src="modules/components/programs/programMetrics--controller.js"></script>
        <script src="modules/components/programs/programPracticeType--controller.js"></script>
        <script src="modules/components/programs/programPracticeTypeList--controller.js"></script>

        <!-- Tag Module -->
        <script src="modules/components/tags/tag--routes.js"></script>
        <script src="modules/components/tags/tagEdit--controller.js"></script>
        <script src="modules/components/tags/tagSummary--controller.js"></script>
        <script src="modules/components/tags/tagList--controller.js"></script>

        <script src="modules/shared/tags/featureTag--controller.js"></script>

        <!-- Target Module -->
        <script src="modules/shared/targets/featureTarget--controller.js"></script>

        <!-- Award Module -->
        <script src="modules/components/award/award--routes.js"></script>
        <script src="modules/components/award/awardEdit--controller.js"></script>
        <script src="modules/components/award/awardSummary--controller.js"></script>
        <script src="modules/components/award/awardList--controller.js"></script>

        <!-- Funding Source Module -->
        <script src="modules/components/funding-source/fundingSource--routes.js"></script>
        <script src="modules/components/funding-source/fundingSourceEdit--controller.js"></script>
        <script src="modules/components/funding-source/fundingSourceSummary--controller.js"></script>
        <script src="modules/components/funding-source/fundingSourceList--controller.js"></script>

        <!-- Model Module -->
        <script src="modules/components/model/model--routes.js"></script>
        <script src="modules/components/model/modelSummary--controller.js"></script>

        <!-- Export Module -->
        <script src="modules/components/exports/export--routes.js"></script>
        <script src="modules/components/exports/exportList--controller.js"></script>

        <!-- Mapbox Module -->
        <script src="modules/shared/mapbox/mapbox--module.js"></script>
        <script src="modules/shared/mapbox/mapbox--constant.js"></script>
        <script src="modules/shared/mapbox/states--constant.js"></script>
        <script src="modules/shared/mapbox/template--service.js"></script>

        <!-- Viable Modules -->
        <script src="modules/shared/mapboxgl/mapboxgl--module.js"></script>
        <script src="modules/shared/mapboxgl/mapboxgl--constant.js"></script>
        <script src="modules/shared/mapboxgl/mapboxgl--directive.js"></script>
        <script src="modules/shared/mapboxgl/extent/estimatedExtent--directive.js"></script>

        <script src="modules/shared/mapboxgl/mapManager--service.js"></script>

        <script src="modules/shared/mapboxgl-geocoding/mapboxglGeocoding--module.js"></script>
        <script src="modules/shared/mapboxgl-geocoding/mapboxglGeocoding--service.js"></script>
        <script src="modules/shared/mapboxgl-geocoding/mapboxglGeocoding--directive.js"></script>

        <script src="modules/shared/collaborator/collaborator--module.js"></script>
        <script src="modules/shared/collaborator/collaborator--service.js"></script>
        <script src="modules/shared/collaborator/collaboratorInvite--directive.js"></script>

        <!-- Notification Module -->
        <script src="modules/shared/notifications/notifications--service.js"></script>

        <!-- File Upload Module -->
        <script src="modules/shared/upload/upload--directive.js"></script>

        <!-- Providers -->
        <script src="modules/shared/api/account--service.js"></script>
        <script src="modules/shared/api/color--service.js"></script>
        <script src="modules/shared/api/file--service.js"></script>
        <script src="modules/shared/api/filter--service.js"></script>
        <script src="modules/shared/api/geography--service.js"></script>
        <script src="modules/shared/api/layer--service.js"></script>
        <script src="modules/shared/api/image--service.js"></script>
        <script src="modules/shared/api/media--service.js"></script>
        <script src="modules/shared/api/shapefile--service.js"></script>
        <script src="modules/shared/api/metric--service.js"></script>
        <script src="modules/shared/api/metricType--service.js"></script>
        <script src="modules/shared/api/monitoringType--service.js"></script>
        <script src="modules/shared/api/organization--service.js"></script>
        <script src="modules/shared/api/outcome--service.js"></script>
        <script src="modules/shared/api/practice--service.js"></script>
        <script src="modules/shared/api/report--service.js"></script>
        <script src="modules/shared/api/reportMetric--service.js"></script>
        <script src="modules/shared/api/reportMonitoring--service.js"></script>
        <script src="modules/shared/api/partnership--service.js"></script>
        <script src="modules/shared/api/practiceType--service.js"></script>
        <script src="modules/shared/api/program--service.js"></script>
        <script src="modules/shared/api/profile--service.js"></script>
        <script src="modules/shared/api/project--service.js"></script>
        <script src="modules/shared/api/search--service.js"></script>
        <script src="modules/shared/api/security--service.js"></script>
        <script src="modules/shared/api/site--service.js"></script>
        <script src="modules/shared/api/unitType--service.js"></script>
        <script src="modules/shared/api/utility--service.js"></script>
        <script src="modules/shared/api/queryParam--service.js"></script>
        <script src="modules/shared/api/dashboard--service.js"></script>
        <script src="modules/shared/api/tag--service.js"></script>
        <script src="modules/shared/api/tagGroup--service.js"></script>
        <script src="modules/shared/api/target--service.js"></script>
        <script src="modules/shared/api/county--service.js"></script>
        <script src="modules/shared/api/watershed--service.js"></script>
        <script src="modules/shared/api/geographyType--service.js"></script>
        <script src="modules/shared/api/task--service.js"></script>
        <script src="modules/shared/api/fundingSource--service.js"></script>
        <script src="modules/shared/api/award--service.js"></script>
        <script src="modules/shared/api/allocation--service.js"></script>
        <script src="modules/shared/api/model--service.js"></script>
        <script src="modules/shared/api/document--service.js"></script>
        <script src="modules/shared/api/changeLog--service.js"></script>
        <script src="modules/shared/api/preprocessors--service.js"></script>
        <script src="modules/shared/api/user--service.js"></script>
        <script src="modules/shared/api/batch--service.js"></script>
        <script src="modules/shared/api/importTpl--service.js"></script>
        <script src="modules/shared/api/export--service.js"></script>

        <!-- Factories -->

        <script src="modules/shared/filter-store/filter-store--service.js"></script>
        <script src="modules/shared/project-store/project-store--service.js"></script>

        <!-- Directives -->
        <script src="modules/shared/directives/relationship/relationship.js"></script>

        <script src="modules/shared/directives/organization/organization.js"></script>

        <script src="modules/shared/directives/search/search--directive.js"></script>

        <script src="modules/shared/directives/viewFeatures--directive.js"></script>

        <script src="modules/shared/directives/viewFrame--directive.js"></script>

        <script src="modules/shared/directives/upload--directive.js"></script>

        <script src="modules/shared/directives/control/alphabet/alphabetControl--directive.js"></script>

        <script src="modules/shared/directives/control/collection-filter/collectionFilter--directive.js"></script>

        <script src="modules/shared/directives/control/pagination/pagination--directive.js"></script>

        <script src="modules/shared/directives/dialog/creationDialog--directive.js"></script>

        <script src="modules/shared/directives/dialog/import/importDialog--directive.js"></script>

        <script src="modules/shared/directives/toolbar/practice/practiceToolbar--directive.js"></script>

        <script src="modules/shared/directives/list/practice-type/practiceTypeList--directive.js"></script>

        <script src="modules/shared/directives/batch-upload/batchUpload--directive.js"></script>

        <script src="modules/shared/directives/list/feature-index/featureIndex--directive.js"></script>

        <script src="modules/shared/directives/list/metric-link/metricLinkList--directive.js"></script>

        <script src="modules/shared/directives/breadcrumb/breadcrumb--directive.js"></script>

        <script src="modules/shared/directives/table-view/tableView--directive.js"></script>

        <script src="modules/shared/directives/dialog/deletion/deletionDialog--directive.js"></script>

        <script src="modules/shared/directives/dialog/export/exportDialog--directive.js"></script>

        <script src="modules/shared/directives/dialog/image/imageUploadDialog--directive.js"></script>

        <!-- Filters -->
        <script src="modules/shared/filters/toAcres--filter.js"></script>
        <script src="modules/shared/filters/toArray--filter.js"></script>
        <script src="modules/shared/filters/isArray--filter.js"></script>
        <script src="modules/shared/filters/truncate--filter.js"></script>
        <script src="modules/shared/filters/areaConversion--filter.js"></script>
        <script src="modules/shared/filters/rawHtml--filter.js"></script>
        <script src="modules/shared/filters/pathSplit--filter.js"></script>
        <script src="modules/shared/filters/capitalAttribute--filter.js"></script>
        <script src="modules/shared/filters/localTime--filter.js"></script>
        <script src="modules/shared/filters/elapsedTime--filter.js"></script>
        <script src="modules/shared/filters/fileSize--filter.js"></script>
        <!-- endbuild -->

    </body>

</html>