<!DOCTYPE html>

<html class="no-js" data-ng-app="FieldDoc">

  <head>

    <meta charset="utf-8" />

    <!-- Sitewide meta tags -->
    <meta data-ng-repeat="tag in $root.site.meta" name="{{ tag.name }}" content="{{ tag.content }}" />

    <!-- Page specific meta tags -->
    <meta data-ng-repeat="tag in $root.page.meta" name="{{ tag.name }}" content="{{ tag.content }}" />

    <!-- Page Title based on either the root site title or the page specific site title -->
    <title>{{ $root.page.title }} &middot; FieldDoc</title>

    <link rel="stylesheet" type="text/css" href='//api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' />

    <!-- Material icons -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' /> -->

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) /styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="bower_components/leaflet-draw/dist/leaflet.draw.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) /styles/main.css -->
    <link href="/styles/main.css" rel="stylesheet" media="screen" />
    <!-- endbuild -->

    <link href="/styles/print.css" rel="stylesheet" media="print" />

    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="author" href="/humans.txt" />

    <link data-ng-repeat="link in $root.site.links" rel="{{ link.rel }}" href="{{ link.href }}" />

    <base href="/" />

  </head>

  <body class="{{ $root.page.class }}">

    <div data-ng-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75868314-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script> -->

    <!-- build:js(.) /scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) /modules/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
    <script src="bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js"></script>
    <script src="bower_components/angular-cookie/angular-cookie.js"></script>
    <script src="bower_components/angularjs-geolocation/src/geolocation.js"></script>
    <script src="bower_components/angular-elastic/elastic.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/ng-file-upload-shim/angular-file-upload-shim.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/jspdf/dist/jspdf.min.js"></script>
    <script src="bower_components/html2canvas/build/html2canvas.js"></script>
    <script src="bower_components/angular-save2pdf/angular-save2pdf.js"></script>
    <script src="bower_components/leaflet-draw/dist/leaflet.draw.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) /modules/modules.js -->

        <script src="modules/shared/typeahead/ui-bootstrap-typeahead-tpls-2.5.0.min.js"></script>

        <script src="modules/app--module.js"></script>
        <script src="modules/app--routes.js"></script>
        <script src="config/environment.js"></script>

        <script src="modules/shared/pdf/save2pdf.js"></script>

            <!-- Security Module -->
            <script src="modules/shared/security/security--routes.js"></script>
            <script src="modules/shared/security/securityLogin--controller.js"></script>
            <script src="modules/shared/security/securityRegister--controller.js"></script>
            <script src="modules/shared/security/securityLogout--controller.js"></script>
            <script src="modules/shared/security/securityResetPassword--controller.js"></script>
            <script src="modules/shared/security/security--interceptor.js"></script>
            <script src="modules/shared/security/token--service.js"></script>

            <!-- Snapshot Module -->
            <script src="modules/components/snapshot/snapshot--routes.js"></script>
            <script src="modules/components/snapshot/snapshot--controller.js"></script>
            <script src="modules/components/snapshot/snapshotCreate--controller.js"></script>
            <script src="modules/components/snapshot/snapshotEdit--controller.js"></script>

            <!-- Dashboard Module -->
            <script src="modules/components/dashboard/dashboard--routes.js"></script>
            <script src="modules/components/dashboard/dashboard--controller.js"></script>

            <!-- Projects Module -->
            <script src="modules/components/projects/projects--routes.js"></script>
            <script src="modules/components/projects/projectsList--controller.js"></script>
            <script src="modules/components/projects/projectsSummary--controller.js"></script>
            <script src="modules/components/projects/projectsEdit--controller.js"></script>
            <script src="modules/components/projects/projectsUsers--controller.js"></script>

            <!-- Account Module -->
            <script src="modules/components/account/account--routes.js"></script>
            <script src="modules/components/account/accountEdit--controller.js"></script>

           <!-- Sites Module -->
            <script src="modules/components/sites/sites--routes.js"></script>
            <script src="modules/components/sites/sites--summary.js"></script>
            <script src="modules/components/sites/sites--edit.js"></script>

            <!-- Practices Module -->
            <script src="modules/components/practices/practices--routes.js"></script>
            <script src="modules/components/practices/practices--calculate.js"></script>
            <script src="modules/components/practices/practicesEdit--controller.js"></script>
            <script src="modules/components/practices/practicesView--controller.js"></script>
            <script src="modules/components/practices/nutrient--service.js"></script>

            <!-- Custom -->
            <script src="modules/components/practices/modules/custom/custom--routes.js"></script>
            <script src="modules/components/practices/modules/custom/custom--form.js"></script>
            <script src="modules/components/practices/modules/custom/custom--summary.js"></script>

            <!-- CommonsCloud Module -->
            <script src="modules/shared/commons-cloud/configuration--constant.js"></script>
            <script src="modules/shared/commons-cloud/geometry--service.js"></script>
            <script src="modules/shared/commons-cloud/map--service.js"></script>

            <!-- Mapbox Module -->
            <script src="modules/shared/mapbox/mapbox--module.js"></script>
            <script src="modules/shared/mapbox/geocoding--directive.js"></script>
            <script src="modules/shared/mapbox/geocoding--service.js"></script>
            <script src="modules/shared/mapbox/geometry--service.js"></script>
            <script src="modules/shared/mapbox/leaflet--service.js"></script>
            <script src="modules/shared/mapbox/mapbox--constant.js"></script>
            <script src="modules/shared/mapbox/states--constant.js"></script>
            <script src="modules/shared/mapbox/template--service.js"></script>

            <!-- Viable Modules -->
            <script src="modules/shared/mapboxgl/mapboxgl--module.js"></script>
            <script src="modules/shared/mapboxgl/mapboxgl--constant.js"></script>
            <script src="modules/shared/mapboxgl/mapboxgl--directive.js"></script>

            <script src="modules/shared/mapboxgl-geocoding/mapboxglGeocoding--module.js"></script>
            <script src="modules/shared/mapboxgl-geocoding/mapboxglGeocoding--service.js"></script>
            <script src="modules/shared/mapboxgl-geocoding/mapboxglGeocoding--directive.js"></script>

            <script src="modules/shared/collaborator/collaborator--module.js"></script>
            <script src="modules/shared/collaborator/collaborator--service.js"></script>
            <script src="modules/shared/collaborator/collaboratorInvite--directive.js"></script>


            <!-- Notification Module -->
            <script src="modules/shared/notifications/notifications--service.js"></script>

            <!-- File Upload Module -->
            <script src="modules/shared/upload/upload--directive.js"></script>

            <!-- Providers -->
            <script src="modules/shared/api/account--service.js"></script>
            <script src="modules/shared/api/animalManure--service.js"></script>
            <script src="modules/shared/api/efficiency--service.js"></script>
            <script src="modules/shared/api/efficiencyAgricultureGeneric--service.js"></script>
            <script src="modules/shared/api/file--service.js"></script>
            <script src="modules/shared/api/filter--service.js"></script>
            <script src="modules/shared/api/geography--service.js"></script>
            <script src="modules/shared/api/image--service.js"></script>
            <script src="modules/shared/api/landuse--service.js"></script>
            <script src="modules/shared/api/media--service.js"></script>
            <script src="modules/shared/api/shapefile--service.js"></script>
            <script src="modules/shared/api/loaddata--service.js"></script>
            <script src="modules/shared/api/metric--service.js"></script>
            <script src="modules/shared/api/metricType--service.js"></script>
            <script src="modules/shared/api/monitoringType--service.js"></script>
            <script src="modules/shared/api/nutrient--service.js"></script>
            <script src="modules/shared/api/outcome--service.js"></script>
            <script src="modules/shared/api/practice--service.js"></script>
            <script src="modules/shared/api/practiceCustom--service.js"></script>
            <script src="modules/shared/api/practiceCustomReading--service.js"></script>
            <script src="modules/shared/api/practiceCustomMetric--service.js"></script>
            <script src="modules/shared/api/practiceCustomMonitoring--service.js"></script>
            <script src="modules/shared/api/practiceAgricultureGeneric--service.js"></script>
            <script src="modules/shared/api/practiceUrbanHomeowner--service.js"></script>
            <script src="modules/shared/api/practiceBioretention--service.js"></script>
            <script src="modules/shared/api/practiceBankStabilization--service.js"></script>
            <script src="modules/shared/api/practiceEnhancedStreamRestoration--service.js"></script>
            <script src="modules/shared/api/practiceForestBuffer--service.js"></script>
            <script src="modules/shared/api/practiceGrassBuffer--service.js"></script>
            <script src="modules/shared/api/practiceInstreamHabitat--service.js"></script>
            <script src="modules/shared/api/practiceLivestockExclusion--service.js"></script>
            <script src="modules/shared/api/practiceWetlandsNonTidal--service.js"></script>
            <script src="modules/shared/api/practiceShorelineManagement--service.js"></script>
            <script src="modules/shared/api/practiceStormwater--service.js"></script>
            <script src="modules/shared/api/practiceType--service.js"></script>
            <script src="modules/shared/api/project--service.js"></script>
            <script src="modules/shared/api/search--service.js"></script>
            <script src="modules/shared/api/security--service.js"></script>
            <script src="modules/shared/api/site--service.js"></script>
            <script src="modules/shared/api/segment--service.js"></script>
            <script src="modules/shared/api/stateLoad--service.js"></script>
            <script src="modules/shared/api/unitType--service.js"></script>
            <script src="modules/shared/api/utility--service.js"></script>
            <script src="modules/shared/api/snapshot--service.js"></script>

            <script src="modules/shared/api/preprocessors--service.js"></script>
            <script src="modules/shared/api/user--service.js"></script>

            <!-- Factories -->

            <script src="modules/shared/filter-store/filter-store--service.js"></script>
            <script src="modules/shared/project-store/project-store--service.js"></script>            

            <!-- Directives -->
            <script src="modules/shared/directives/relationship/relationship.js"></script>

            <script src="modules/shared/directives/organization/organization.js"></script>

            <script src="modules/shared/directives/search/search--directive.js"></script>

            <script src="modules/shared/directives/viewFrame--directive.js"></script>

            <!-- Filters -->
            <script src="modules/shared/filters/toAcres--filter.js"></script>
            <script src="modules/shared/filters/toArray--filter.js"></script>
            <script src="modules/shared/filters/isArray--filter.js"></script>
            <!-- endbuild -->

  </body>

</html>
