<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui">

            <div class="module--grid">

                <div breadcrumb class="full-width"
                     metric="page.metricType"
                     program="page.metricType.program"></div>

                <h1 style="width: 100%; margin: 1rem 2rem 2rem; text-align: left; letter-spacing: normal;">
                    {{ page.metricType.name }}
                </h1>

                <div style="width: 100%;" data-ng-if="!page.status.loading">

                    <div data-ng-if="page.metricType.id && page.metricType.last_modified_by.first_name && page.metricType.last_modified_by.last_name"
                         class="modtime">
                        Last modified by {{ page.metricType.last_modified_by.first_name }} {{
                        page.metricType.last_modified_by.last_name }} on {{ page.metricType.modified_on |
                        date:'fullDate' }} at {{ page.metricType.modified_on | localTime | date:'h:mm' }} {{ page.metricType.modified_on | localTime | date:'a' }}
                    </div>

                    <div class="history-link-wrapper margin-t-50p">
                        <span class="material-icons">
                            history
                        </span>
                        <a href="/metric-types/{{ page.metricType.id }}/history">
                            View change log
                        </a>
                    </div>

                </div>

                <div class="dyad">

                    <div style="flex-direction: column;" class="pad-r-1">

                        <h2 class="with-icon">
                            <span class="material-icons">
                                description
                            </span>
                            Description
                        </h2>

                        <div>

                            <p>{{ page.metricType.description || 'No description provided.' }}</p>

                        </div>

                    </div>

                    <div style="flex-direction: column;" class="pad-l-1">

                        <h2 class="with-icon">
                            <span class="material-icons">
                                analytics
                            </span>
                            Usage
                        </h2>

                        <p style="margin: 0;">
                            <span>There</span>
                            <span>
                                <ng-pluralize count="page.metricType.total_practices"
                                              when="{'one': 'is','other': 'are'}"></ng-pluralize>
                            </span>
                            <span>
                                <strong>{{ page.metricType.total_practices | number }}</strong>
                            </span>
                            <span>
                                <ng-pluralize count="page.metricType.total_practices"
                                              when="{'one': 'practice','other': 'practices'}"></ng-pluralize>
                            </span>
                            <span>tracking this metric.</span>
                        </p>

                    </div>

                </div>

                <div style="width: 100%;" class="pad-y-1">

                    <div>

                        <h2 class="with-icon">
                            <span class="material-icons">
                                trip_origin
                            </span>
                            Goal
                        </h2>

                        <div class="group" style="max-height: none;">

                            <h1>{{ page.metricType.target || 0 | number:2 }} {{ page.metricType.unit.plural }}</h1>

                        </div>

                        <div class="metric-summary-meter" data-ng-if="page.metricType.target">
                            <div class="labels">
                                <div>
                                    <strong>Total implemented</strong>
                                </div>
                                <div></div>
                            </div>
                            <div class="meter-bar">
                                <div style="width: {{ page.metricType.percent_implemented }}%;"></div>
                            </div>
                            <div class="labels">
                                <div data-ng-if="page.metricType.percent_implemented < 1">
                                    {{ page.metricType.total_progress | number:2 }} (<1% of goal)
                                </div>
                                <div data-ng-if="page.metricType.percent_implemented >= 1">
                                    {{ page.metricType.total_progress | number:2 }} ({{ page.metricType.percent_implemented | number:0
                                    }}% of goal)
                                </div>
                                <div>
                                    {{ page.metricType.target | number:2 }}
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div style="width: 100%;" class="margin-y-2">

                    <h2 class="with-icon">
                        <span class="material-icons">
                            calculate
                        </span>
                        Model
                    </h2>

                    <a href="/models/{{ page.metricType.model.id }}"
                       data-ng-if="page.metricType.model">
                        {{ page.metricType.model.name }}
                    </a>

                    <p class="margin-0 pad-y-1">
                        <em>This metric is not linked to any mathematical models.</em>
                    </p>

                </div>

            </div>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
            <li>
                <a href="/metrics/{{ page.metricType.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.write" data-ng-class="{active: $root.toolbarState.edit}">
                <a href="/metrics/{{ page.metricType.id }}/edit" title="Edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.write && !page.metricType.locked">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget">
                    <p>Do you want to delete this metric type?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature()">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.metricType)" title="Delete">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts"
                 data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>