<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container">
  <form data-ng-submit="page.saveReport()" class="row feature summary">
    <article class="feature-detail">
      <div class="column-16 feature-detail-content">

      <fieldset>
        <!-- Report Date -->
        <div class="form-group column-8">
          <label for="report_date" class="control-label">
            Report Date
          </label>

          <input data-ng-model="page.report.properties.report_date" class="form-control" class="form-control" type="text" id="report_date" name="report_date" placeholder="Enter a date" />
        </div>

        <!-- Measurement Period -->
        <div class="form-group column-8">
          <label for="measurement_period" class="control-label">
            Measurement Period
          </label>

          <select class="form-control" data-ng-model="page.report.properties.measurement_period" id="measurement_period" name="measurement_period">
            <option value="Planning">Planning</option>
            <option value="Installation">Installation</option>
            <option value="Monitoring">Monitoring</option>
\          </select>
        </div>

        <!-- WIP Reporting Agency -->
        <div class="form-group column-8" data-ng-if="page.report.properties.measurement_period === 'Planning'">
          <label for="wip_reporting_agency" class="control-label">
            WIP Reporting Agency
          </label>

          <select class="form-control" data-ng-model="page.report.properties.wip_reporting_agency" id="wip_reporting_agency" name="wip_reporting_agency" data-ng-options="value for value in fields.wip_reporting_agency.options">
            <option value="">Select a Report Agency</option>
          </select>
        </div>

        <div class="form-group column-8" data-ng-if="page.report.properties.measurement_period === 'Planning'">
          <label for="certification_type" class="control-label">
            Type of Urban BMP Homeowner Certification
          </label>

          <select class="form-control" data-ng-model="page.report.properties.certification_type" id="certification_type" name="certification_type" data-ng-options="value for value in fields.certification_type.options">
          </select>

          <p data-ng-if="fields.certification_type.help" class="help-text">{{ fields.certification_type.help }}</p>
        </div>
      </fieldset>

      <fieldset data-ng-if="page.report.properties.measurement_period === 'Planning' || page.report.properties.measurement_period === 'Installation'">
        <h2><strong>Installation</strong> Summary</h2>

        <div class="row">
          <div class="form-group column-8">
            <label for="rain_garden_area" class="control-label">
              Rain Garden
            </label>

            <input data-ng-model="page.report.properties.rain_garden_area" class="form-control" class="form-control" type="number" id="rain_garden_area" name="rain_garden_area" />

            <p data-ng-if="fields.rain_garden_area.help" class="help-text">{{ fields.rain_garden_area.help }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group column-8">
            <label for="rain_barrel_drainage_area" class="control-label">
              Rain Barrel
            </label>

            <input data-ng-model="page.report.properties.rain_barrel_drainage_area" class="form-control" class="form-control" type="number" id="rain_barrel_drainage_area" name="rain_barrel_drainage_area" />

            <p data-ng-if="fields.rain_barrel_drainage_area.help" class="help-text">{{ fields.rain_barrel_drainage_area.help }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group column-8">
            <label for="permeable_pavement_area" class="control-label">
              Permeable Pavement
            </label>

            <input data-ng-model="page.report.properties.permeable_pavement_area" class="form-control" class="form-control" type="number" id="permeable_pavement_area" name="permeable_pavement_area" />

            <p data-ng-if="fields.permeable_pavement_area.help" class="help-text">{{ fields.permeable_pavement_area.help }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group column-8">
            <label for="downspout_disconnection_drainage_area" class="control-label">
              Downspout Disconnection
            </label>

            <input data-ng-model="page.report.properties.downspout_disconnection_drainage_area" class="form-control" class="form-control" type="number" id="downspout_disconnection_drainage_area" name="downspout_disconnection_drainage_area" />

            <p data-ng-if="fields.downspout_disconnection_drainage_area.help" class="help-text">{{ fields.downspout_disconnection_drainage_area.help }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group column-8">
            <label for="urban_nutrient_management_pledge_area" class="control-label">
              UNM Pledge
            </label>

            <input data-ng-model="page.report.properties.urban_nutrient_management_pledge_area" class="form-control" class="form-control" type="number" id="urban_nutrient_management_pledge_area" name="urban_nutrient_management_pledge_area" />

            <p data-ng-if="fields.urban_nutrient_management_pledge_area.help" class="help-text">{{ fields.urban_nutrient_management_pledge_area.help }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group column-8">
            <label for="urban_nutrient_management_plan_area_hi_risk" class="control-label">
              UNM Plan, High Risk
            </label>

            <input data-ng-model="page.report.properties.urban_nutrient_management_plan_area_hi_risk" class="form-control" class="form-control" type="number" id="urban_nutrient_management_plan_area_hi_risk" name="urban_nutrient_management_plan_area_hi_risk" />

            <p data-ng-if="fields.urban_nutrient_management_plan_area_hi_risk.help" class="help-text">{{ fields.urban_nutrient_management_plan_area_hi_risk.help }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group column-8">
            <label for="conservation_landscaping" class="control-label">
              Conservation Landscaping
            </label>

            <input data-ng-model="page.report.properties.conservation_landscaping" class="form-control" class="form-control" type="number" id="conservation_landscaping" name="conservation_landscaping" />

            <p data-ng-if="fields.conservation_landscaping.help" class="help-text">{{ fields.conservation_landscaping.help }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group column-8">
            <label for="tree_planting" class="control-label">
              Tree Planting
            </label>

            <input data-ng-model="page.report.properties.tree_planting" class="form-control" class="form-control" type="number" id="tree_planting" name="tree_planting" />

            <p data-ng-if="fields.tree_planting.help" class="help-text">{{ fields.tree_planting.help }}</p>
          </div>
        </div>

        <div class="row">
          <div class="form-group column-8">
            <label for="impervious_cover_removal_area" class="control-label">
              Impervious Cover Removal
            </label>

            <input data-ng-model="page.report.properties.impervious_cover_removal_area" class="form-control" class="form-control" type="number" id="impervious_cover_removal_area" name="impervious_cover_removal_area" />

            <p data-ng-if="fields.impervious_cover_removal_area.help" class="help-text">{{ fields.impervious_cover_removal_area.help }}</p>
          </div>
        </div>

      </fieldset>

      <fieldset data-ng-if="page.report.properties.measurement_period === 'Monitoring'">
        <h2><strong>Interim</strong> BMP Metrics Data</h2>

        <div class="form-group column-5">
          <label for="bird_count" class="control-label">
            Number of observed bird or small animal species
          </label>

          <input data-ng-model="page.report.properties.bird_count" class="form-control" class="form-control" type="number" id="bird_count" name="bird_count" />

          <p data-ng-if="fields.bird_count.help" class="help-text">{{ fields.bird_count.help }}</p>
        </div>

      </fieldset>

      <fieldset data-ng-if="page.report.properties.measurement_period === 'Monitoring'">
        <h2><strong>Adaptive</strong> Management Checks Performed</h2>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="page.report.properties.obstruction" type="checkbox" id="obstruction" name="obstruction" /> Keep all inflows into, and outflows from, the BMP free of obstructions
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="page.report.properties.vegetation" type="checkbox" id="vegetation" name="vegetation" /> Maintain dense vegetative cover, grass, or conservation landscaping to reduce runoff, prevent erosion, and to retain nutrients.
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="page.report.properties.maintenance" type="checkbox" id="maintenance" name="maintenance" /> Initially, and then annually, review CSN Homeowners Guide sections for appropriate BMP maintenance (CSN, 2013,2014).
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="page.report.properties.poststorm_maintenance" type="checkbox" id="poststorm_maintenance" name="poststorm_maintenance" /> Visually check the BMPs after each major storm and perform any needed maintenance.
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="page.report.properties.rain_barrel_check" type="checkbox" id="rain_barrel_check" name="rain_barrel_check" /> Make sure barrels are empty before each storm; inspect for mosquitos, cracks, and clogging. If runoff volumes generally exceed barrel capacities, increase the number or size of barrels.
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="page.report.properties.ponding" type="checkbox" id="ponding" name="ponding" /> Ponding may indicate clogging of the media. Replace media in raingardens; sweep, vacuum, or power-wash pervious pavement.
            </label>
          </div>
        </div>

        <div class="form-group">
          <div class="checkbox">
            <label class="control-label">
              <input data-ng-model="page.report.properties.dying_plants" type="checkbox" id="dying_plants" name="dying_plants" /> Check and correct conditions producing too much or too little water, resulting in dying plants.
            </label>
          </div>
        </div>

      </fieldset>

      <fieldset data-ng-if="page.report.properties.measurement_period === 'Planning' || page.report.properties.measurement_period === 'Installation' || page.report.properties.measurement_period === 'Monitoring'">
        <h2><strong>Notes</strong></h2>

        <div class="form-group">
          <textarea rows="1" data-ng-model="page.report.properties.notes" class="form-control animate"  msd-elastic id="notes" name="notes" placeholder="Notes">{{ report.notes }}</textarea>
        </div>

      </fieldset>

      <div class="form-actions">
        <button type="submit"class="button button-submit">
          Save Changes
        </button>
        <button type="button" data-ng-click="page.deleteReport()"
                class="button button-submit">
          Delete
        </button>
      </div>

    </div>
  </article>
</form>
</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
