      <div data-ng-if="!total.planning">
        <h2><strong>Empty</strong> Summary</h2>

        <p>No planning or measurement data has been added to this Practice yet. Please add a new Planning measurement period to this Practice to begin.</p>

        <p>
          <a class="button" data-ng-click="readings.addReading(practice, 'Planning')">Add Planning Data</a>
        </p>
      </div>


      <div data-ng-if="total.planning || total.installation">
        <table class="table">
          <tbody>
            <!-- Section Heading -->
            <tr class="no-rule">
              <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
                <h2><strong>Installation</strong> Summary</h2>
              </td>
            </tr>

            <!-- Measurement Period Headings -->
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
                  <span data-ng-if="report.measurement_period === 'Planning'">Planned</span>
                  <span data-ng-if="report.measurement_period === 'Installation'">Installed</span>
                  <br />
                  {{ report.report_date }}                  
                </a>
              </th>
              <th>Installed To-Date</th>
              <th>% of Planned</th>
            </tr>

            <!-- Installation Summary -->
            <tr>
              <th rowspan="2">Rain Garden</th>
              <td>Area (sq ft)</td>
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.rain_garden_area | number:2 }}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'rain_garden_area') | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'rain_garden_area', '%') | number:2 }}%
                </strong>
              </td>
            </tr>
            <tr>
              <!-- Blank TH because of rowspan above -->
              <td>Drainage Area (sq ft)</td>
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.rain_garden_drainage_area || 0 | number:2 }}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'rain_garden_drainage_area') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'rain_garden_drainage_area', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr>
              <th>Rain Barrel</th>
              <td>Drainage Area (sq ft)</td>
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.rain_barrel_drainage_area || 0 | number:2 }}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'rain_barrel_drainage_area') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'rain_barrel_drainage_area', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr>
              <th>Permeable Pavement</th>
              <td>Area (sq ft)</td>
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.permeable_pavement_area || 0 | number:2 }}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'permeable_pavement_area') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'permeable_pavement_area', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr>
              <th>Downspout Disconnection</th>
              <td>Drainage Area (sq ft)</td>
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.downspout_disconnection_drainage_area || 0 | number:2 }}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'downspout_disconnection_drainage_area') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'downspout_disconnection_drainage_area', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr>
              <th>UNM Pledge</th>
              <td>Area (sq ft)</td>
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.urban_nutrient_management_pledge_area || 0 | number:2 }}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'urban_nutrient_management_pledge_area') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'urban_nutrient_management_pledge_area', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr>
              <th>UNM Plan, High Risk</th>
              <td>Area (sq ft)</td>
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.urban_nutrient_management_plan_area_hi_risk || 0 | number:2 }}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'urban_nutrient_management_plan_area_hi_risk') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'urban_nutrient_management_plan_area_hi_risk', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr>
              <th>Conservation Landscaping</th>
              <td>Area (sq ft)</td>
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.conservation_landscaping || 0 | number:2 }}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'conservation_landscaping') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'conservation_landscaping', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr>
              <th>Tree Planting</th>
              <td>Number of Trees</td>
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.tree_planting || 0 | number:2 }}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'tree_planting') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'tree_planting', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr>
              <th>Impervious Cover Removal</th>
              <td>Area (sq ft)</td>
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.impervious_cover_removal_area || 0 | number:2 }}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'impervious_cover_removal_area') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'impervious_cover_removal_area', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr class="no-rule">
              <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
                <h2><strong>Load</strong> &amp; Reductions</h2>
              </td>
            </tr>

            <tr>
              <th>&nbsp;</th>
              <th>Pre-BMP Load</th>
              <th data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
                  <span data-ng-if="report.measurement_period === 'Planning'">Planned Reduction</span><span data-ng-if="report.measurement_period === 'Installation'">Installed Reduction</span><br />
                  {{ report.report_date }}                  
                </a>
              </th>
              <th>Reduction To-date</th>
              <th>% of Planned</th>
            </tr>        

            <tr>
              <th>Nitrogen (lbs/yr)</th>
              <td>{{ calculate.results.totalPreInstallationLoad.nitrogen | number:2 }}</td>
              <td>{{ calculate.results.totalPlannedLoad.nitrogen | number:2 }}</td>
              <td data-ng-if="report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                {{ calculate.plannedNitrogenLoadReduction(report) || 0 | number:2 }}
              </td>
              <td><strong>{{ calculate.results.totalInstalledLoad.nitrogen | number:2 }}</strong> lbs/yr</td>
              <td>
                <strong>
                  <span data-ng-bind="calculate.GetPercentage(calculate.results.totalInstalledLoad.nitrogen, calculate.results.totalPlannedLoad.nitrogen) | number:0"></span>%
                </strong>
              </td>
            </tr>
            <tr>
              <th>Phosphorus (lbs/yr)</th>
              <td>{{ calculate.results.totalPreInstallationLoad.phosphorus | number:2 }}</td>
              <td>{{ calculate.results.totalPlannedLoad.phosphorus | number:2 }}</td>
              <td data-ng-if="report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                {{ calculate.plannedPhosphorusLoadReduction(report) || 0 | number:2 }}
              </td>
              <td><strong>{{ calculate.results.totalInstalledLoad.phosphorus | number:2 }}</strong> lbs/yr</td>
              <td>
                <strong>
                  <span data-ng-bind="calculate.GetPercentage(calculate.results.totalInstalledLoad.phosphorus, calculate.results.totalPlannedLoad.phosphorus) | number:0"></span>%
                </strong>
              </td>
            </tr>

            <tr class="no-rule">
              <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
                <h2><strong>Chesapeake</strong> Bay Metrics</h2>
              </td>
            </tr>

            <tr>
              <th>&nbsp;</th>
              <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
              <th data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
                  <span data-ng-if="report.measurement_period === 'Planning'">Planned</span>
                  <span data-ng-if="report.measurement_period === 'Installation'">Installed</span>
                  <br />
                  {{ report.report_date }}
                </a>
              </th>
              <th>Installed To-date</th>
              <th>% of Planned</th>
            </tr>

            <tr>
              <th>Number of Trees Planted</th>
              <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.tree_planting || 0 | number:2}}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'tree_planting') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'tree_planting', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr>
              <th>Square Feet of Impervious Surface Removed</th>
              <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.impervious_cover_removal_area || 0 | number:2}}</td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'impervious_cover_removal_area') || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.quantityInstalled(practice.readings, 'impervious_cover_removal_area', '%') || 0 | number:2 }}%
                </strong>
              </td>
            </tr>

            <tr>
              <th>Gallons/Year of Stormwater Detained or Infiltrated</th>
              <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                {{ calculate.gallonsReducedPerYear(report) || 0 | number:2 }}
              </td>
              <td>
                <strong>
                  {{ calculate.reductionPracticesInstalled(practice.readings) || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.reductionPracticesInstalled(practice.readings, '%') || 0 | number:2 }}
                </strong>
              </td>
            </tr>

            <tr>
              <th>Areas of Protected by BMP's to Reduce Stormwater Runoff</th>
              <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
              <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                {{ calculate.acresProtected(report) || 0 | number:2 }}
              </td>
              <td>
                <strong>
                  {{ calculate.acresInstalled(practice.readings) || 0 | number:2 }}
                </strong>
              </td>
              <td>
                <strong>
                  {{ calculate.acresInstalled(practice.readings) || 0 | number:2 }}
                </strong>
              </td>
            </tr>

          </tbody>
        </table>
      </div>

      <div data-ng-if="total.monitoring">
        <table class="table">

            <tr class="no-rule">
              <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
                <h2><strong>Interim</strong> BMP Metrics Data</h2>
              </td>
            </tr>

            <tr>
              <th>&nbsp;</th>
              <th data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
                  Monitored on<br />
                  {{ report.report_date }}
                </a>
              </th>
            </tr>

            <tr>
              <th class="align-left" colspan="{{ practice.readings.length + 1 }}" style="background: #efefef;">Vegetation</th>
            </tr>
            <tr>
              <th class="align-left">Cover (%) <a href="#">?</a></th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.vegetative_cover }}</td>
            </tr>

            <tr>
              <th class="align-left" colspan="{{ practice.readings.length + 1 }}" style="background: #efefef;">Geomorphic</th>
            </tr>
            <tr>
              <th class="align-left">Bank Erosion Hazard Index (BEHI)</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                {{ report.bank_erosion_hazard_index }}
              </td>
            </tr>
            <tr>
              <th class="align-left">Riffle Stability Index</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                {{ report.riffle_stability_index }}
              </td>
            </tr>
            <tr>
              <th class="align-left">Log Relative Bed Stability</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                {{ report.log_relative_bed_stability }}
              </td>
            </tr>
            <tr>
              <th class="align-left">Substrate Mean D50 Particle Size</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                {{ report.substrate_mean_d50_particle_size }}
              </td>
            </tr>
            <tr>
              <th class="align-left">Streambed Percent Fines</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                {{ report.streambed_percent_fines }}
              </td>
            </tr>
            <tr>
              <th class="align-left">Bed Armoring Ratio</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                {{ report.bed_armoring_ratio }}
              </td>
            </tr>

            <tr class="no-rule">
              <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
                <h2><strong>Adaptive</strong> Management Checks Performed</h2>
              </td>
            </tr>

            <tr>
              <th>&nbsp;</th>
              <th data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
                  Monitored on<br />
                  {{ report.report_date }}
                </a>
              </th>
            </tr>

            <tr>
              <th class="align-left" width="50%">Perform maintenance to remove concentrated flow paths through the buffer</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                <div data-ng-if="report.concentrated_flow_paths" class="icon retinaicon-essentials-071"></div>
              </td>
            </tr>
            <tr>
              <th class="align-left" width="50%">Prevent livestock from access to stabilized areas</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                <div data-ng-if="report.livestock_kept_out" class="icon retinaicon-essentials-071"></div>
              </td>
            </tr>
            <tr>
              <th class="align-left" width="50%">Repair any damage from destructive fire or destructive grazing</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                <div data-ng-if="report.plantings_protected" class="icon retinaicon-essentials-071"></div>
              </td>
            </tr>
            <tr>
              <th class="align-left" width="50%">Check for, correct causes, and patch bare and/or eroded areas in the buffer</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                <div data-ng-if="report.bare_or_eroded_areas" class="icon retinaicon-essentials-071"></div>
              </td>
            </tr>
            <tr>
              <th class="align-left" width="50%">Control noxious and invasive weeds</th>
              <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
                <div data-ng-if="report.invasive_species_control" class="icon retinaicon-essentials-071"></div>
              </td>
            </tr>
          </tbody>  
        </table>
      </div>
      <div data-ng-if="total.planning || total.installation || total.monitoring">
        <h2><strong>Notes</strong></h2>
        <table class="table">
          <thead>
            <tr>
              <th class="align-left" width="10%">Date</th>
              <th class="align-left" width="90%">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
              <td class="align-left">
                <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
                  {{ report.report_date }}
                </a>
              </td>
              <td class="align-left" data-ng-if="report.notes">{{ report.notes }}</td>
              <td class="align-left" data-ng-if="!report.notes"><em>No notes recorded for this date</em></td>
            </tr>
          </tbody>  
        </table>
      </div>