<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container" save2pdf pdfName="UrbanHomeowner">

  <div data-ng-include="'/modules/components/practices/views/practiceSummaryHeader--view.html'"></div>

  <section class="row feature summary">
    <article class="feature-detail">

      <div class="throbber throbber-small"
           data-ng-if="page.status.loading"></div>

      <div class="column-16 feature-detail-content"
           data-ng-if="!page.status.loading">
        <div class="table-responsive">

          <div data-ng-if="!page.summary.practice.properties.has_planning_data">
          <h2><strong>Empty</strong> Summary</h2>

          <p>No planning or measurement data has been added to this Practice yet. Please add a new Planning measurement period to this Practice to begin.</p>

          <p>
            <a class="button" data-ng-click="page.addReading('Planning')">Add Planning Data</a>
          </p>
        </div>

        <div data-ng-if="page.summary.practice.properties.has_planning_data">
          <table class="table">
            <tbody>
              <!-- Section Heading -->
              <tr class="no-rule">
                <td class="align-left" colspan="{{ page.summary.practice.properties.readings_urban_homeowner.length + 4 }}">
                  <h2><strong>Installation</strong> Summary</h2>
                </td>
              </tr>

              <!-- Measurement Period Headings -->
              <tr>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                    <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                    <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                    <br />
                    {{ report.properties.report_date | date }}
                  </a>
                </th>
                <th>Installed To-Date</th>
                <th>% of Planned</th>
              </tr>

              <!-- Installation Summary -->
              <tr>
                <th rowspan="2">Rain Garden</th>
                <td>Area (sq ft)</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                    {{ report.properties.rain_garden_area || 0 | number:2 }}
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.rain_garden_area | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.rain_garden_area | number:2 }}%
                  </strong>
                </td>
              </tr>
              <tr>
                <!-- Blank TH because of rowspan above -->
                <td>Drainage Area (sq ft)</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                    {{ report.properties.rain_garden_area/0.12 || 0 | number:2 }}
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.rain_garden_area/0.12 | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.rain_garden_area | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>Rain Barrel</th>
                <td>Drainage Area (sq ft)</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                    {{ report.properties.rain_barrel_drainage_area || 0 | number:2 }}
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.rain_barrel_drainage_area | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.rain_barrel_drainage_area | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>Permeable Pavement</th>
                <td>Area (sq ft)</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">{{ report.properties.permeable_pavement_area || 0 | number:2 }}</td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.permeable_pavement_area | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.permeable_pavement_area | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>Downspout Disconnection</th>
                <td>Drainage Area (sq ft)</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">{{ report.properties.downspout_disconnection_drainage_area || 0 | number:2 }}</td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.downspout_disconnection_drainage_area | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.downspout_disconnection_drainage_area | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>UNM Pledge</th>
                <td>Area (sq ft)</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">{{ report.properties.urban_nutrient_management_pledge_area || 0 | number:2 }}</td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.urban_nutrient_management_pledge_area | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.urban_nutrient_management_pledge_area | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>UNM Plan, High Risk</th>
                <td>Area (sq ft)</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">{{ report.properties.urban_nutrient_management_plan_area_hi_risk || 0 | number:2 }}</td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.urban_nutrient_management_plan_area_hi_risk | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.urban_nutrient_management_plan_area_hi_risk | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>Conservation Landscaping</th>
                <td>Area (sq ft)</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">{{ report.properties.conservation_landscaping || 0 | number:2 }}</td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.conservation_landscaping | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.conservation_landscaping | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>Tree Planting</th>
                <td>Number of Trees</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">{{ report.properties.tree_planting || 0 | number:2 }}</td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.number_of_trees_planted | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.number_of_trees_planted | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>Impervious Cover Removal</th>
                <td>Area (sq ft)</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">{{ report.properties.impervious_cover_removal_area || 0 | number:2 }}</td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.impervious_cover_removal_area | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.impervious_cover_removal_area | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr class="no-rule">
                <td class="align-left" colspan="{{ page.summary.practice.properties.readings_urban_homeowner.length + 4 }}">
                  <h2><strong>Load</strong> &amp; Reductions</h2>
                </td>
              </tr>

              <tr>
                <th>&nbsp;</th>
                <th>Pre-BMP Load</th>
                <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                    <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned Reduction</span><span data-ng-if="report.properties.measurement_period === 'Installation'">Installed Reduction</span><br />
                    {{ report.properties.report_date | date }}
                  </a>
                </th>
                <th>Reduction To-date</th>
                <th>% of Planned</th>
              </tr>

              <tr>
                <th>Nitrogen (lbs/yr)</th>
                <td data-ng-if="report.properties.measurement_period === 'Planning'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                  {{ report.properties.preinstallation.nitrogen | number:2 }}
                </td>
                <td data-ng-if="report.properties.measurement_period === 'Planning'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    <div class="nutrient">
                      <div class="nutrient--option">
                        <span class="nutrient--label">Phase 5.3.2</span><br />
                        <span class="nutrient--value">{{ report.properties.planning.nitrogen | number:2 }}</span>
                      </div>
                      <div class="nutrient--option"
                           data-ng-if="report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                         <span class="nutrient--label">Custom</span><br />
                         <span class="nutrient--value"
                               data-ng-if="!page.nutrients.showNutrientForm[report.id]">
                            {{ report.properties.custom_nutrient_reductions.nitrogen | number:2 }}
                         </span>
                      </div>
                      <div class="nutrient--option"
                          data-ng-if="page.nutrients.showNutrientForm[report.id]">
                          <span class="nutrient--label">Custom</span><br />
                         <input class="form-control nutrient--input"
                                type="number" data-ng-model="report.properties.custom_nutrient_reductions.nitrogen" />
                      </div>
                    </div>
                </td>
                <td data-ng-if="report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    <div class="nutrient">
                      <div class="nutrient--option">
                        <span class="nutrient--label">Phase 5.3.2</span><br />
                        <span class="nutrient--value">{{ report.properties.installation.nitrogen | number:2 }}</span>
                      </div>
                      <div class="nutrient--option"
                           data-ng-if="report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                         <span class="nutrient--label">Custom</span><br />
                         <span class="nutrient--value"
                               data-ng-if="!page.nutrients.showNutrientForm[report.id]">
                            {{ report.properties.custom_nutrient_reductions.nitrogen | number:2 }}
                         </span>
                      </div>
                      <div class="nutrient--option"
                          data-ng-if="page.nutrients.showNutrientForm[report.id]">
                          <span class="nutrient--label">Custom</span><br />
                         <input class="form-control nutrient--input"
                                type="number" data-ng-model="report.properties.custom_nutrient_reductions.nitrogen" />
                      </div>
                    </div>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.nitrogen | number:2 }} lbs/yr
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.nitrogen | number:2 }}%
                  </strong>
                </td>
              </tr>
              <tr>
                <th>Phosphorus (lbs/yr)</th>
                <td data-ng-if="report.properties.measurement_period === 'Planning'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    {{ report.properties.preinstallation.phosphorus | number:2 }}
                </td>
                <td data-ng-if="report.properties.measurement_period === 'Planning'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    <div class="nutrient">
                      <div class="nutrient--option">
                        <span class="nutrient--label">Phase 5.3.2</span><br />
                        <span class="nutrient--value">
                          {{ report.properties.planning.phosphorus | number:2 }}
                        </span>
                      </div>
                      <div class="nutrient--option"
                           data-ng-if="report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                         <span class="nutrient--label">Custom</span><br />
                         <span class="nutrient--value"
                               data-ng-if="!page.nutrients.showNutrientForm[report.id]">
                            {{ report.properties.custom_nutrient_reductions.phosphorus | number:2 }}
                         </span>
                      </div>
                      <div class="nutrient--option"
                          data-ng-if="page.nutrients.showNutrientForm[report.id]">
                          <span class="nutrient--label">Custom</span><br />
                         <input class="form-control nutrient--input"
                                type="number" data-ng-model="report.properties.custom_nutrient_reductions.phosphorus" />
                      </div>
                    </div>
                </td>
                <td data-ng-if="report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    <div class="nutrient">
                      <div class="nutrient--option">
                        <span class="nutrient--label">Phase 5.3.2</span><br />
                        <span class="nutrient--value">
                          {{ report.properties.installation.phosphorus | number:2 }}
                        </span>
                      </div>
                      <div class="nutrient--option"
                           data-ng-if="report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                         <span class="nutrient--label">Custom</span><br />
                         <span class="nutrient--value"
                               data-ng-if="!page.nutrients.showNutrientForm[report.id]">
                            {{ report.properties.custom_nutrient_reductions.phosphorus | number:2 }}
                         </span>
                      </div>
                      <div class="nutrient--option"
                          data-ng-if="page.nutrients.showNutrientForm[report.id]">
                          <span class="nutrient--label">Custom</span><br />
                         <input class="form-control nutrient--input"
                                type="number" data-ng-model="report.properties.custom_nutrient_reductions.phosphorus" />
                      </div>
                    </div>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.phosphorus | number:2 }} lbs/yr
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.phosphorus | number:2 }}%
                  </strong>
                </td>
              </tr>
              <tr data-ng-if="page.summary.practice.properties.has_planning_data">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td data-ng-if="report.properties.measurement_period === 'Planning'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    <a href="javascript:void(0);" class="button-nutrient" data-ng-click="page.nutrients.addCustomNutrients(report.id)"
                       data-ng-if="!report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                      Add
                    </a>
                    <a href="javascript:void(0);" class="button-nutrient" data-ng-click="page.nutrients.addCustomNutrients(report.id)"
                       data-ng-if="report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                      Edit
                    </a>
                    <div data-ng-if="page.nutrients.showNutrientForm[report.id]">
                       <a data-ng-if="report.properties.custom_nutrient_reductions.id"
                          class="pull-left button-nutrient-delete" href="javascript:void(0);"
                          data-ng-click="page.nutrients.deleteCustomNutrients(report)">
                         Delete</a>
                      <a href="javascript:void(0);"
                         class="button-nutrient-cancel"
                         data-ng-click="page.nutrients.cancelCustomNutrients(report.id)">
                        Discard</a>
                      <a data-ng-if="!report.properties.custom_nutrient_reductions.id"
                         class="button-nutrient-save"
                         href="javascript:void(0);" data-ng-click="page.nutrients.saveCustomNutrients(report, 'nutrients_urban_homeowner')">
                        Save
                      </a>
                      <a data-ng-if="report.properties.custom_nutrient_reductions.id"
                         class="button-nutrient-save"
                         href="javascript:void(0);" data-ng-click="page.nutrients.updateCustomNutrients(report)">
                        Update</a>
                    </div>
                    <span data-ng-if="page.nutrients.showNutrientFormSaved[report.id]"><br />Reduction Saved!</span>
                    <span data-ng-if="page.nutrients.showNutrientFormUpdated[report.id]"><br />Reduction Updated!</span>
                    <span data-ng-if="page.nutrients.showNutrientFormDeleted[report.id]"><br />Reduction Deleted!</span>
                </td>
                <td data-ng-if="report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    <a href="javascript:void(0);" class="button-nutrient" data-ng-click="page.nutrients.addCustomNutrients(report.id)"
                       data-ng-if="!report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                      Add
                    </a>
                    <a href="javascript:void(0);" class="button-nutrient" data-ng-click="page.nutrients.addCustomNutrients(report.id)"
                       data-ng-if="report.properties.custom_nutrient_reductions && !page.nutrients.showNutrientForm[report.id]">
                      Edit
                    </a>
                    <div data-ng-if="page.nutrients.showNutrientForm[report.id]">
                       <a data-ng-if="report.properties.custom_nutrient_reductions.id"
                          class="pull-left button-nutrient-delete" href="javascript:void(0);"
                          data-ng-click="page.nutrients.deleteCustomNutrients(report)">
                         Delete</a>
                      <a href="javascript:void(0);"
                         class="button-nutrient-cancel"
                         data-ng-click="page.nutrients.cancelCustomNutrients(report.id)">
                        Discard</a>
                      <a data-ng-if="!report.properties.custom_nutrient_reductions.id"
                         class="button-nutrient-save"
                         href="javascript:void(0);" data-ng-click="page.nutrients.saveCustomNutrients(report, 'nutrients_urban_homeowner')">
                        Save
                      </a>
                      <a data-ng-if="report.properties.custom_nutrient_reductions.id"
                         class="button-nutrient-save"
                         href="javascript:void(0);" data-ng-click="page.nutrients.updateCustomNutrients(report)">
                        Update</a>
                    </div>
                    <span data-ng-if="page.nutrients.showNutrientFormSaved[report.id]"><br />Reduction Saved!</span>
                    <span data-ng-if="page.nutrients.showNutrientFormUpdated[report.id]"><br />Reduction Updated!</span>
                    <span data-ng-if="page.nutrients.showNutrientFormDeleted[report.id]"><br />Reduction Deleted!</span>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>

              <tr class="no-rule">
                <td class="align-left" colspan="{{ page.summary.practice.properties.readings_urban_homeowner.length + 4 }}">
                  <h2><strong>Chesapeake</strong> Bay Metrics</h2>
                </td>
              </tr>

              <tr>
                <th>&nbsp;</th>
                <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                    <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                    <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                    <br />
                    {{ report.properties.report_date | date }}
                  </a>
                </th>
                <th>Installed To-date</th>
                <th>% of Planned</th>
              </tr>

              <tr>
                <th>Number of Trees Planted</th>
                <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    {{ report.properties.metrics.number_of_trees_planted | number:2 }}
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.number_of_trees_planted | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.number_of_trees_planted | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>Square Feet of Impervious Surface Removed</th>
                <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    {{ report.properties.impervious_cover_removal_area | number:2 }}
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.impervious_cover_removal_area | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.impervious_cover_removal_area | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>Gallons/Year of Stormwater Detained or Infiltrated</th>
                <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    {{ report.properties.metrics.gallons_per_year_of_stormwater_detained_or_infiltrated | number:2 }}
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.gallons_per_year_of_stormwater_detained_or_infiltrated | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.gallons_per_year_of_stormwater_detained_or_infiltrated | number:2 }}%
                  </strong>
                </td>
              </tr>

              <tr>
                <th>Areas of Protected by BMP's to Reduce Stormwater Runoff</th>
                <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'"
                    data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'id'">
                    {{ report.properties.metrics.acres_protected | number:2 }}
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.quantity_installed.acres_protected | number:2 }}
                  </strong>
                </td>
                <td>
                  <strong>
                    {{ page.summary.practice.properties.percentage_installed.acres_protected | number:2 }}%
                  </strong>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

        <div data-ng-if="page.summary.practice.properties.has_monitoring_data">
          <table class="table">

              <tr class="no-rule">
                <td class="align-left" colspan="{{ page.summary.practice.properties.readings_urban_homeowner.length + 4 }}">
                  <h2><strong>Interim</strong> BMP Metrics Data</h2>
                </td>
              </tr>

              <tr>
                <th>&nbsp;</th>
                <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                    Monitored on<br />
                    {{ report.properties.report_date | date }}
                  </a>
                </td>
              </tr>

              <tr>
                <th class="align-left">Number of observed bird or small animal species</th>
                <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">{{ report.properties.bird_count }}</td>
              </tr>

              <tr class="no-rule">
                <td class="align-left" colspan="{{ page.summary.practice.properties.readings_urban_homeowner.length + 4 }}">
                  <h2><strong>Adaptive</strong> Management Checks Performed</h2>
                </td>
              </tr>

              <tr>
                <th>&nbsp;</th>
                <th data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                    Monitored on<br />
                    {{ report.properties.report_date | date }}
                  </a>
                </th>
              </tr>

              <tr>
                <th class="align-left" width="50%">Keep all inflows into, and outflows from, the BMP free of obstructions</th>
                <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <div data-ng-if="report.properties.obstruction" class="icon retinaicon-essentials-071"></div>
                </td>
              </tr>
              <tr>
                <th class="align-left" width="50%">Maintain dense vegetative cover, grass, or conservation landscaping to reduce runoff, prevent erosion, and to retain nutrients.</th>
                <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <div data-ng-if="report.properties.vegetation" class="icon retinaicon-essentials-071"></div>
                </td>
              </tr>
              <tr>
                <th class="align-left" width="50%">Initially, and then annually, review CSN Homeowners Guide sections for appropriate BMP maintenance (CSN, 2013,2014).</th>
                <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <div data-ng-if="report.properties.maintenance" class="icon retinaicon-essentials-071"></div>
                </td>
              </tr>
              <tr>
                <th class="align-left" width="50%">Visually check the BMPs after each major storm and perform any needed maintenance.</th>
                <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <div data-ng-if="report.properties.poststorm_maintenance" class="icon retinaicon-essentials-071"></div>
                </td>
              </tr>
              <tr>
                <th class="align-left" width="50%">Make sure barrels are empty before each storm; inspect for mosquitos, cracks, and clogging. If runoff volumes generally exceed barrel capacities, increase the number or size of barrels.</th>
                <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <div data-ng-if="report.properties.rain_barrel_check" class="icon retinaicon-essentials-071"></div>
                </td>
              </tr>
              <tr>
                <th class="align-left" width="50%">Ponding may indicate clogging of the media. Replace media in raingardens; sweep, vacuum, or power-wash pervious pavement.</th>
                <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <div data-ng-if="report.properties.ponding" class="icon retinaicon-essentials-071"></div>
                </td>
              </tr>
              <tr>
                <th class="align-left" width="50%">Check and correct conditions producing too much or too little water, resulting in dying plants.</th>
                <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                  <div data-ng-if="report.properties.dying_plants" class="icon retinaicon-essentials-071"></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div data-ng-if="page.summary.practice.properties.has_planning_data || page.summary.practice.properties.has_monitoring_data">
          <h2><strong>Notes</strong></h2>
          <table class="table">
            <thead>
              <tr>
                <th class="align-left" width="10%">Date</th>
                <th class="align-left" width="90%">Notes</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="report in page.summary.practice.properties.readings_urban_homeowner | orderBy:'report_date':false">
                <td class="align-left">
                  <a href="/projects/{{ page.project.id }}/sites/{{ page.summary.site.id }}/practices/{{ page.summary.practice.id }}/{{ page.practiceType }}/{{ report.properties.id }}/edit">
                    {{ report.properties.report_date | date }}
                  </a>
                </td>
                <td class="align-left" data-ng-if="report.properties.notes">{{ report.properties.notes }}</td>
                <td class="align-left" data-ng-if="!report.properties.notes"><em>No notes recorded for this date</em></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </article>
</section>
</main>

<div data-ng-include="'/modules/components/practices/modules/urban-homeowner/views/citations--view.html'"></div>

<div data-ng-include="'/templates/footer--view.html'"></div>
