<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container">

        <h1 class="inset">Profile</h1>

        <div class="main--ui">

            <div class="save--action--wrapper save--action--top">
                <span>Save profile</span>
                <button type="button" data-ng-click="page.actions.save()">
                    <i class="material-icons">
                        done
                    </i>
                </button>
            </div>

            <form role="form" class="form" method="POST" id="form" name="form" data-ng-submit="page.actions.save()">

                <div class="form-element">
                    <span class="meta-label"><b>First name</b></span>
                    <input type="text" class="form-control form-control-half" id="first_name" name="first_name" placeholder="First Name" data-ng-model="page.user.properties.first_name" required="required" tabindex="2" />
                </div>

                <div class="form-element">
                    <span class="meta-label"><b>Last name</b></span>
                    <input type="text" class="form-control form-control-half" id="last_name" name="last_name" placeholder="Last Name" data-ng-model="page.user.properties.last_name" required="required" tabindex="3" />
                </div>

                <div class="form-element">
                    <span class="meta-label"><b>Email</b></span>
                    <input type="text" class="form-control" id="email" name="email" disabled="disabled" data-ng-model="page.user.properties.email" required="required" />
                    <p style="color: #9e9e9e; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">
                        Email address is not editable
                    </p>
                </div>

                <div class="throbber throbber-small" data-ng-if="page.status.saving">
                </div>

                <p style="text-align: center;" data-ng-if="page.status.saving">
                    Saving changes to your account...
                </p>

            </form>

            <div class="save--action--wrapper save--action--bottom">
                <span>Save profile</span>
                <button type="button" data-ng-click="page.actions.save()">
                    <i class="material-icons">
                        done
                    </i>
                </button>
            </div>

        </div>

    </div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>