<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>


    <div class="content--container">

        <h1 class="inset">My Profile</h1>

        <div class="main--ui">


            <!--<div class="add--new--wrapper"  data-ng-if="!$root.user.is_manager">-->
            <div class="add--new--wrapper"  data-ng-if=" page.user.id == page.member.id ">
                    <span>Edit profile</span>
                    <a class="add--new--btn" href="/account" data-ng-class="{viewing: $root.viewState.accountEdit}">
                        <i class="material-icons">
                        edit
                        </i>
                    </a>
                </div>
             <div class="flow2--profile-container reveal fade-in" style="">
                  <div class="flow2--left-field-profile" style="">

                       <div class="user-avatar-wrapper" style=""  ng-if="page.user.picture">
                             <img class='user--avatar' style="" src="{{page.user.picture}}">

                        </div>
                      <div class="user-avatar-wrapper" style=""  ng-if="!page.user.picture">
                                 <img class='user--avatar' style="" src="/images/avatar-Default-1024x.png">
                          <!-- <i class="material-icons">
                                person
                            </i> -->

                        </div>


                    </div>

                    <div class="flow2--right-field-profile" style="">
                        <div class='flow2-text-container' style="float:left;" >

                           <h2 class="flow2-profile" style="">
                                       {{page.user.first_name}}  {{page.user.last_name}}
                            </h2>
                        </div>
                        <div style="float:left; margin-right:3em; clear:left;" ng-if="page.user.title">

                                <p class="flow2-b">
                                   {{page.user.title}}
                                </p>

                        </div>
                        <div style="float:left; clear:left;" ng-if="page.user.email">

                            <p class="flow2-b">
                                {{page.user.email}}
                            </p>
                        </div>
                        <div style="float:left; clear:left;" ng-if="page.user.bio">

                            <p class="flow2-b">
                                {{page.user.bio}}
                            </p>
                        </div>

                     </div>

                </div>


        </div>


    </div>















    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>