<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container"
         style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui reveal fade-in t0" data-ng-if="!page.status.loading">

            <div breadcrumb class="full-width"
                 root-path="organizations"
                 tail="{{ page.feature.name }}"></div>

            <div class="create-heading" data-ng-if="!page.status.loading">
                <h1 class="margin-0">
                    {{ page.feature.name }}
                </h1>
            </div>

            <div class="flow2--field-container">

                <div class="flow2--left-field">

                    <div class="flow2--profileItem" data-ng-if="page.feature.description">
                        <p class="flow2-h">
                            <i>Description:</i>
                        </p>
                        <p class="flow2-b" style="text-align: left;">
                            {{page.feature.description}}
                        </p>
                    </div>

                    <div class="flow2--profileItem" style="margin-right:3em; clear:left;" data-ng-if="page.feature.website">

                        <p class="flow2-h">
                            <i>Website:</i>
                        </p>

                        <p class="flow2-b" style="text-overflow:ellipsis">
                            <a href="{{page.feature.website}}">{{page.feature.website}}</a>
                        </p>

                    </div>

                    <div class="flow2--profileItem" data-ng-if="page.feature.email">
                        <p class="flow2-h">
                            <i>Email:</i>
                        </p>
                        <p class="flow2-b">
                            {{page.feature.email}}
                        </p>
                    </div>
                    <br>
                    <div class="flow2--profileItem" data-ng-if="page.feature.created_on">
                        <p class="flow2-h">
                            <i>Created on:</i>
                        </p>
                        <p class="flow2-b">
                            {{ page.feature.created_on | date : 'longDate' }}

                        </p>
                    </div>

                    <div class="flow2--profileItem" data-ng-if="page.feature.modified_on">
                        <p class="flow2-h">
                            <i>Last Modified:</i>
                        </p>
                        <p class="flow2-b">
                            {{ page.feature.modified_on | date : 'longDate' }}

                        </p>
                        <p>
                            <a href="/organizations/{{ page.feature.id }}/history">
                                <sub><i class="material-icons">history</i></sub> View change log
                            </a>
                        </p>
                    </div>

                    <div class="flow2--profileItem"
                         style="clear:left;  position: absolute; bottom: 0;"
                         data-ng-if="$root.user.is_admin || page.feature.id == page.user.organization.id">
                        <p class="flow2-h">
                            To request changes to your organization, please contact <a href="mailto:support@fielddoc.org">support@fielddoc.org</a>.
                        </p>
                    </div>

                </div>

                <div class="flow2--right-field" style="border: 0px solid green">

                    <img class='flow2--organizationImage'  data-ng-if="page.feature.picture" src="{{page.feature.picture}}">
                    <img class='flow2--organizationImage'  data-ng-if="!page.feature.picture" src="/images/partner-Default-1024x.png">

                </div>

            </div>

        </div>

        <h2 class="flow2" data-ng-if="page.members.length">Members</h2>

        <div class="main--ui reveal fade-in t0" data-ng-if="!page.status.loading && page.members.length">

            <p data-ng-if="!page.status.loading && !$root.user.is_admin && !$root.user.is_manager">{{page.feature.name}} has <strong>{{ (page.members.length | number) || 0 }}</strong> <data-ng-pluralize count="page.members.length" when="{'one': 'member','other': 'members'}"></data-ng-pluralize>.</p>

            <div class="features--container" data-ng-if="!page.status.loading" style="padding-bottom: 20px;">

                <ul class="snapshot--cards list-unstyled" style="margin-top: 2em;">

                    <li class="flow2-card reveal fade-in" style="max-width:25%; display:block; animation-delay: {{ $index * 150 }}ms;" data-ng-repeat="member in page.members | orderBy:'-last_login_at' | filter: page.q">

                        <div class="flow2-card--content">

                            <a href="/profile/" data-ng-class="{viewing: $root.viewState.profile}" data-ng-if="member.id == page.user.id">

                                <div class="user-avatar-wrapper" data-ng-if="member.picture">

                                    <div class="user-avatar user-avatar-sm" style="background-image: url({{ member.picture }});"></div>

                                </div>

                                <div class="user-avatar-wrapper" data-ng-if="!member.picture">

                                    <div class="user-avatar user-avatar-sm" style="background-image: url(images/avatar-Default-1024x.png);"></div>

                                </div>

                            </a>

                            <a href="/profile/{{member.id}}" data-ng-class="{viewing: $root.viewState.profile}" data-ng-if="member.id != page.user.id">

                                <div class="user-avatar-wrapper" data-ng-if="member.picture">

                                    <div class="user-avatar user-avatar-sm" style="background-image: url({{ member.picture }});"></div>

                                </div>

                                <div class="user-avatar-wrapper" data-ng-if="!member.picture">

                                    <div class="user-avatar user-avatar-sm" style="background-image: url(images/avatar-Default-1024x.png);"></div>

                                </div>

                            </a>

                            <div class="name" style="border-radius: 4px;">
                                            <span>
                                                {{ member.first_name }} {{ member.last_name }}
                                            </span>
                            </div>

                            <!-- <div class="body">
                                 <span>{{ member.title }}</span>
                           </div> -->

                        </div>

                    </li>

                </ul>

            </div>

        </div>

        <h2 class="flow2" style="display:block" data-ng-if="page.projects.length">Projects</h2>

        <div class="main--ui reveal fade-in t0" data-ng-if="!page.status.loading && page.projects.length">

            <div class="add--new--wrapper" data-ng-if="$root.user.is_admin || page.feature.id == page.user.organization.id">

                <span>Create project</span>

                <a class="add--new--btn" href="projects/collection/new">
                    <i class="material-icons">
                        add
                    </i>
                </a>

            </div>

            <p data-ng-if="!page.status.loading && page.feature.id == page.user.organization.id">{{page.feature.name}} has
                <strong>{{ (page.projects.length | number) || 0 }}</strong> <data-ng-pluralize count="page.projects.length" when="{'one': 'project','other': 'projects'}"></data-ng-pluralize>.
            </p>

            <p data-ng-if="!page.status.loading && ($root.user.is_admin || $root.user.is_manager) && page.feature.id != page.user.organization.id">There <data-ng-pluralize count="page.projects.length" when="{'one': 'is','other': 'are'}"></data-ng-pluralize>
                <strong>{{ (page.projects.length | number) || 0 }}</strong> <data-ng-pluralize count="page.projects.length" when="{'one': 'project','other': 'projects'}"></data-ng-pluralize> in programs that you manage.
            </p>

            <div class="features--container" data-ng-if="!page.status.loading" style="border:0px solid blue;">

                <ul class="snapshot--cards list-unstyled" style="margin-top: 2em;">

                    <li class="card reveal fade-in" style="animation-delay: {{ $index * 150 }}ms;" data-ng-repeat="project in page.projects | orderBy:'-modified_on' | filter: page.q">

                        <div class="card--content">

                            <img data-ng-if="project.staticURL" data-ng-src="{{ project.staticURL }}" width="auto" height="auto" />

                            <img data-ng-if="!project.extent" data-ng-src="https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-98.5795,39.828175,5/400x200@2x?access_token=pk.eyJ1IjoiYm1jaW50eXJlIiwiYSI6IjdST3dWNVEifQ.ACCd6caINa_d4EdEZB_dJw" width="auto" height="auto" />

                            <div class="name" style="background: #fff;">
                                <span>{{ project.name }}</span>
                            </div>

                            <div class="body">
                                <div class="confirm--delete" data-ng-if="page.deletionTarget.id === project.id">
                                    <p>Do you want to delete this project?</p>
                                    <div class="actions" style="flex: 0;">
                                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature(project, $index)">
                                            Yes
                                        </a>
                                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                                <p>{{ (project.description || 'No description') | truncate:80 }}</p>
                                <div class="actions">
                                    <a class="snapshot--title" href="/projects/{{ project.id }}" title="Project summary">
                                        <i class="material-icons">
                                            dashboard
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="/projects/{{ project.id }}/edit" title="Edit project" data-ng-if="$root.user.is_admin">
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="#" title="Delete project" data-ng-click="page.confirmDelete(project)" data-ng-if="$root.user.is_admin || page.feature.id == page.user.organization.id">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </a>
                                </div>
                                <span><time datetime="{{ project.modified_on }}" title="{{ project.modified_on }}">Last updated {{ project.modified_on | date : 'mediumDate' }}</time></span>
                            </div>

                        </div>

                    </li>

                </ul>

            </div>

        </div>

    </div>

    <div data-ng-include="'/templates/toolbars/organization.html'"></div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts"
                 data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>