<div class="creation-dialog-container" data-ng-if="visible">

    <form class="dialog" style="width: auto; max-width: 640px;"
          data-ng-submit="createExport(name, fileFormat)">

        <div class="title">
            <span class="title-text">Export {{ label }} data</span>
            <div class="dismiss-container">
                <div class="dismiss" data-ng-click="closeChildModal()">
                    <div class="halo"></div>
                    <span class="material-icons">
                        close
                    </span>
                </div>
            </div>
        </div>

        <div class="inputs">

            <div>

                <span class="prompt">
                    Exported files contain practice and metric data along with a limited amount of site,
                    project, and program information where available. Exports are point-in-time snapshots of practice
                    data and are not guaranteed to be accurate if practice edits are currently in progress. Files are
                    retained for 30 days and are not intended to serve as data backups.
                </span>

            </div>

            <div class="margin-t-1">

                <span class="prompt">
                    Enter a name for this export. (<strong>required</strong>)
                </span>

                <input type="text" style="margin: 1rem 0;" data-ng-model="name" class="form-control animate"
                       id="name" name="name" placeholder="&hellip;" />

            </div>

            <div>

                <span class="prompt">
                    Select a data format. (<strong>required</strong>)
                </span>

                <div class="radio-options margin-t-1 flex flex-dir-col flex-align-center flex-justify-start flex-wrap">

                    <label data-ng-class="{'active': activeRadio.csv}"
                           for="csv-format-option"
                           style="width: 100%;"
                           title="Comma-separated values">
                        <span class="input-mask material-icons"
                              data-ng-if="activeRadio.csv">
                            radio_button_checked
                        </span>
                        <span class="input-mask material-icons"
                              data-ng-if="!activeRadio.csv">
                            radio_button_unchecked
                        </span>
                        <input type="radio"
                               id="csv-format-option"
                               name="frmt"
                               data-ng-model="fileFormat"
                               data-ng-click="setFormat('csv')"
                               value="csv">
                        <span>
                            Comma-separated values (.csv)
                        </span>
                    </label>

                    <p class="pad-0 margin-0 margin-t-1"
                       style="font-size: .9rem;"
                       data-ng-if="activeRadio.csv">
                        A delimited text file that uses a comma to separate values. Each line of the file is a practice
                        record. Compatible with Google Sheets, Microsoft Excel and other spreadsheet software.
                    </p>

                    <label data-ng-class="{'active': activeRadio.gpkg}"
                           for="gpkg-format-option"
                           class="margin-t-1"
                           style="width: 100%;"
                           title="Esri Shapefile">
                        <span class="input-mask material-icons"
                              data-ng-if="activeRadio.gpkg">
                            radio_button_checked
                        </span>
                        <span class="input-mask material-icons"
                              data-ng-if="!activeRadio.gpkg">
                            radio_button_unchecked
                        </span>
                        <input type="radio"
                               id="gpkg-format-option"
                               name="frmt"
                               data-ng-model="fileFormat"
                               data-ng-click="setFormat('gpkg')"
                               value="gpkg">
                        <span>
                            GeoPackage (.gpkg)
                        </span>
                    </label>

                    <p class="pad-0 margin-0 margin-t-1"
                       style="font-size: .9rem;"
                       data-ng-if="activeRadio.gpkg">
                        An <a href="https://www.geopackage.org" target="_blank">open</a>, non-proprietary,
                        platform-independent and standards-based geographic data format implemented as an <a
                            href="https://sqlite.org/index.html" target="_blank">SQLite database</a> container.
                        Compatible with <a href="https://www.qgis.org/en/site/" target="_blank">QGIS</a> and <a
                            href="https://www.esri.com/en-us/arcgis/products/index" target="_blank">Esri ArcGIS</a>
                        software.
                    </p>

                    <label data-ng-class="{'active': activeRadio.geojson}"
                           data-ng-if="type !== 'program'"
                           for="geojson-format-option"
                           class="margin-t-1"
                           style="width: 100%;"
                           title="GeoJSON">
                        <span class="input-mask material-icons"
                              data-ng-if="activeRadio.geojson">
                            radio_button_checked
                        </span>
                        <span class="input-mask material-icons"
                              data-ng-if="!activeRadio.geojson">
                            radio_button_unchecked
                        </span>
                        <input type="radio"
                               id="geojson-format-option"
                               name="frmt"
                               data-ng-model="fileFormat"
                               data-ng-click="setFormat('geojson')"
                               value="geojson">
                        <span>
                            GeoJSON (.geojson)
                        </span>
                    </label>

                    <p class="pad-0 margin-0 margin-t-1"
                       style="font-size: .9rem;"
                       data-ng-if="activeRadio.geojson">
                        An open standard format designed for representing simple geographical features, along with
                        their non-spatial attributes. GeoJSON is a subset of the JSON format supported by FieldDoc
                        and other modern software.
                    </p>

                </div>

            </div>

        </div>

        <div class="dialog-actions">
            <button type="button" class="cancel" data-ng-click="closeChildModal()">
                Cancel
            </button>
            <button type="submit" class="confirm"
                    data-ng-disabled="!name">
                OK
            </button>
        </div>

    </form>
</div>