<div class="breadcrumb"
     data-ng-class="{'pad-crumb': pad}"
     data-ng-if="program && program.id">
    <div class="no-shrink anchor">
        <a href="/"
           style="color: #616161;">
            Programs
        </a>
        <span>/</span>
    </div>
    <div style="max-width: {{ basis }}px;">
        <a href="/programs/{{ program.id }}">
            {{ program.name }}
        </a>
        <span data-ng-if="(tail && tail.length) || metric || practiceType">
            /
        </span>
    </div>
    <div class="no-shrink anchor" style="color: #616161;"
         data-ng-if="metric && metric.id">
        <a href="/programs/{{ program.id }}/metrics"
           style="color: #616161;">
            Metrics
        </a>
        <span>/</span>
    </div>
    <div class="no-shrink anchor" style="color: #616161;"
         data-ng-if="practiceType && practiceType.id">
        <a href="/programs/{{ program.id }}/practice-types"
           style="color: #616161;">
            Practice types
        </a>
        <span>/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="metric && metric.id">
        <a href="/metrics/{{ metric.id }}">
            {{ metric.name || 'Un-named' }}
        </a>
        <span data-ng-if="tail && tail.length">/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="practiceType && practiceType.id">
        <a href="/practices/{{ practiceType.id }}">
            {{ practiceType.name || 'Un-named' }}
        </a>
        <span data-ng-if="tail && tail.length">/</span>
    </div>
    <div class="no-shrink anchor" style="color: #616161;"
         data-ng-if="tail && tail.length">
        {{ tail }}
    </div>
</div>

<div class="breadcrumb"
     data-ng-class="{'pad-crumb': pad}"
     data-ng-if="project && project.id">
    <div class="no-shrink anchor">
        <a href="/projects"
           style="color: #616161;">
            Projects
        </a>
        <span>/</span>
    </div>
    <div style="max-width: {{ basis }}px;">
        <a href="/projects/{{ project.id }}">
            {{ project.name }}
        </a>
        <span data-ng-if="(tail && tail.length) || (practice && practice.id) || (site && site.id)">
            /
        </span>
    </div>
    <div class="no-shrink anchor" style="color: #616161;"
         data-ng-if="site && site.id">
        <a href="/projects/{{ project.id }}/sites"
           style="color: #616161;">
            Sites
        </a>
        <span>/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="site && site.id">
        <a href="/sites/{{ site.id }}">
            {{ site.name || 'Un-named' }}
        </a>
        <span data-ng-if="(tail && tail.length) || (practice && practice.id)">
            /
        </span>
    </div>
    <div class="no-shrink anchor" style="color: #616161;"
         data-ng-if="!site && practice && practice.id">
        <a href="/projects/{{ project.id }}/practices"
           style="color: #616161;">
            Practices
        </a>
        <span data-ng-if="!site && practice && practice.id">/</span>
    </div>
    <div class="no-shrink anchor" style="color: #616161;"
         data-ng-if="site && site.id && practice && practice.id">
        <a href="/sites/{{ site.id }}/practices"
           style="color: #616161;">
            Practices
        </a>
        <span data-ng-if="site && site.id && practice && practice.id">/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="practice && practice.id">
        <a href="/practices/{{ practice.id }}">
            {{ practice.name || 'Un-named' }}
        </a>
        <span data-ng-if="tail && tail.length">/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="report && report.report_date">
        <a href="/reports/{{ report.id }}/edit">
            {{ report.name || (report.report_date | date) }}
        </a>
        <span>/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="report && !report.report_date">
        <a href="/reports/{{ report.id }}/edit">
            {{ report.measurement_period }}
        </a>
        <span>/</span>
    </div>
    <div class="no-shrink anchor" style="color: #616161;"
         data-ng-if="tail && tail.length">
        {{ tail }}
    </div>
</div>