<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui">

            <div class="module--grid">

                <div class="breadcrumb">
                    <div>
                        <span>Program:&nbsp;</span>
                        <a href="/programs/{{ page.program.id }}">{{ page.program.name }}</a>
                        <span>&nbsp;/&nbsp;</span>
                    </div>
                    <div>
                        Metric Types
                    </div>
                </div>

               <!--
                <div class="group">
                -->
                    <!-- Descriptors -->

               <!--     <article class="pad space-right shadow">

                        <h1>{{ page.program.name || 'Un-named' }}</h1>

                        <div class="last-modified-summary">

                            <div data-ng-if="page.program.id && page.program.last_modified_by.first_name && page.program.last_modified_by.last_name" class="modtime">
                                Last modified by {{ page.program.last_modified_by.first_name }} {{ page.program.last_modified_by.last_name }} on {{ page.program.modified_on | date:'fullDate' }} at <span class="lowercase">{{ page.program.modified_on | localTime | date:'h:mma' }}</span>
                            </div>

                            <div class="history-link-wrapper">
                                <span class="material-icons">
                                    history
                                </span>
                                <a href="/programs/{{ page.program.id }}/history">
                                    View change log
                                </a>
                            </div>

                        </div>

                        <p data-ng-if="page.program.description" data-ng-bind-html="page.program.description"></p>

                        <p data-ng-if="page.program.website" style="display: flex; flex-flow: row nowrap; align-items: center;">
                            <i class="material-icons">
                            open_in_new
                            </i>
                            <a href="{{ page.program.website }}" target="_blank">&nbsp;View website</a>
                        </p>

                        <div data-ng-if="page.tags && page.tags.length">

                            <span style="display: block; margin: 1em 0; color: #757575; text-transform: uppercase; font-size: .8em; font-weight: bold; letter-spacing: .05em;">Tags</span>

                            <div class="tag--group">

                                <div class="tag--pill" data-ng-class="{'colorize': tag.color && tag.color.length === 7}" data-ng-repeat="tag in page.tags">
                                    <div class="colorize" data-ng-if="tag.color">
                                        <span class="category" style="background: {{ tag.color }}; color: #f5f5f5; border-bottom: 1px solid {{ tag.color }};">{{ tag.group.name || 'misc' }}</span>
                                        <span style="background: {{ tag.lightColor }}; color: #fafafa;">{{ tag.name }}</span>
                                    </div>
                                    <div data-ng-if="!tag.color || tag.color.length < 7">
                                        <span class="category">{{ tag.group.name || 'misc' }}</span>
                                        <span>{{ tag.name }}</span>
                                    </div>
                                </div>
                                
                            </div>

                        </div>

                    </article>
                    -->


                    <!-- Map -->

                    <!--
                    <div style="position:relative;">

                        <div id="primary--map" class="map tall" style="border-radius: 4px; overflow: hidden;">
                            <div class="mapboxgl-layer-ctrl" data-ng-click="page.showLayerOptions = !page.showLayerOptions" title="Switch layers">
                                <i class="material-icons">
                                    layers
                                </i>
                                <div class="layer-group" data-ng-show="page.showLayerOptions">
                                    <form>
                                        <label data-ng-repeat="style in page.mapStyles" data-ng-class="{'active': page.activeStyle === $index}" title="{{ style.name }}">
                                            <input type="radio" id="base-style-{{ $index }}" name="active-style" data-ng-model="page.activeStyle" data-ng-value="{{ $index }}" data-ng-change="page.switchMapStyle(style, $index)"><span> {{ style.name }}</span>
                                        </label>
                                    </form>
                                    <form class="layers" data-ng-show="page.layers && page.layers.length">
                                        <label for="layer-{{ $index }}" data-ng-repeat="layer in page.layers" data-ng-class="{'active': layer.selected}" title="{{ layer.name }}">
                                            <input type="checkbox" id="layer-{{ $index }}" name="layer-{{ $index }}" data-ng-model="layer.selected" data-ng-value="{{ $index }}" data-ng-change="page.toggleLayer(layer)">
                                            <span> {{ layer.name }}</span>
                                            <div class="symbol-group" data-ng-if="layer.symbol && layer.symbol.colors">
                                                <div class="color" data-ng-repeat="color in layer.symbol.colors" style="background: {{ color }};"></div>
                                            </div>
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    -->
                <!--
                </div>
                -->
                <!--
                <div class="group reveal fade-in t2">

                    <section class="pad shadow">

                        <h2>Metrics</h2>

                        <div data-ng-if="page.metrics && page.metrics.has_models">

                            <table class="table table-practices with-metrics" data-ng-repeat="model in page.metrics.models">

                                <thead>
                                    <tr>
                                        <th>
                                            <strong>{{ model.datum.name }}</strong>
                                            <p style="color: #616161; margin: 0; padding-top: 2em; font-size: 0.9em;">
                                                The following metric values were generated using data and algorithms supplied by the {{ model.datum.name }} model. You can find more information about this model <a href="/models/{{ model.datum.id }}">here</a>.
                                            </p>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="table-column-wide table-metrics-header">&nbsp;</th>
                                        <th class="table-metrics-header">Estimated value</th>
                                        <th class="table-metrics-header" data-ng-if="model.datum.show_progress">Estimated progress</th>
                                        <th data-ng-if="model.datum.show_progress">&nbsp;</th>
                                    </tr>
                                </thead>

                                <tbody class="metrics">
                                    <tr class="metrics--metric" data-ng-repeat="metric in model.collection track by $index" data-ng-click="page.showMetricModal(metric)">
                                        <td class="table-column-wide">
                                            <p class="metric--title">
                                                {{ metric.name }}
                                            </p>
                                        </td>
                                        <td>
                                            <strong class="metrics--metric--rollup--small">{{ metric.current_value | number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit.plural }}</span><br />
                                                <span class="metrics--metric--rollup--label" data-ng-if="model.datum.show_progress || metric.show_progress">of {{ metric.self_target | number:2 }}</span>
                                        </td>

                                        <td data-ng-if="model.datum.show_progress || metric.show_progress">
                                            <strong class="metrics--metric--percentage">
                                                {{ metric.selfProgress.value * 100 | number:1 }}%
                                            </strong>
                                        </td>
                                        <td data-ng-if="model.datum.show_progress || metric.show_progress">
                                            <progress-arc
                                                size="32"
                                                stroke="#2196F3"
                                                stroke-width="4"
                                                complete="metric.selfProgress.arcValue"
                                                counter-clockwise="false"
                                                background="rgba(0,0,0,0.2)">
                                            </progress-arc>


                                    </tr>
                                </tbody>

                            </table>

                        </div>

                        <table class="table table-practices with-metrics" style="border-top: 1px solid #e0e0e0;" data-ng-if="page.metrics && page.metrics.generic.length">

                            <thead>
                                <tr>
                                    <th class="table-column-wide table-metrics-header">&nbsp;</th>
                                    <th class="table-metrics-header">Installed / Planned</th>
                                    <th class="table-metrics-header">% Installed</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody class="metrics">
                                <tr class="metrics--metric" data-ng-repeat="metric in page.metrics.generic track by $index" data-ng-click="page.showMetricModal(metric)">
                                    <td class="table-column-wide">
                                        <p class="metric--title">
                                            {{ metric.name }}
                                        </p>
                                    </td>
                                    <td>
                                        <strong class="metrics--metric--rollup--small">{{ metric.current_value | number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit.plural }}<br />
                                            / {{ metric.self_target | number:2 }}</span>
                                    </td>
                                    <td data-ng-if="metric.self_target > 0">
                                        <strong class="metrics--metric--percentage">
                                            {{ metric.selfProgress.value * 100 | number:1 }}%
                                        </strong>
                                    </td>
                                    <td data-ng-if="metric.self_target > 0">
                                        <progress-arc
                                            size="32"
                                            stroke="#2196F3"
                                            stroke-width="4"
                                            complete="metric.selfProgress.arcValue"
                                            counter-clockwise="false"
                                            background="rgba(0,0,0,0.2)">
                                        </progress-arc>
                                    </td>
                                    -->
                                      <!-- Program Target NOT Set-->
                                    <!--
                                        <td data-ng-if="metric.self_target == 0">
                                              No Target Set
                                        </td>
                                        <td data-ng-if="metric.self_target == 0">

                                        </td>
                                </tr>
                            </tbody>

                        </table>

                    </section>

                </div>
                -->
                <div class="group reveal fade-in t2">

                    <section class="pad shadow">

                        <h2>Metric Types</h2>

                        <p>
                            Showing <b>{{ metricsTypes.length }}</b> of <b>{{ page.metricCount }}</b> total metric types in program <b>{{page.program.name}}</b>.
                        </p>

                           <div class="collection-search reveal fade-in t0" style="border: 0px solid red;
                                                                        justify-content:left;
                                                                        align-items:left;
                                                                        overflow: auto;
                                                                        flex-wrap: wrap;
                                                                         "
                             >

                                 <input style="float:left; display:inline-block; clear:right;"
                                        type="text"
                                        class="search-bar list-filter"
                                        data-ng-if="!page.status.loading"
                                        data-ng-model="page.queryToken"
                                        placeholder="Search metric types">


                            </div>

                        <ul class="selectable-group-items list-unstyled" style="margin-top: 2em;">

                            <li class="card reveal fade-in" style="animation-delay: {{ $index * 100 }}ms; min-height: 0;"
                                data-ng-repeat="metric in metricsTypes = (page.metricsTypes | orderBy:'name' | filter: page.queryToken)"
                               >

                                <div class="card--content" >

                                    <div class="name" style="flex-flow: column; align-items: flex-start;">
                                        <label for="metric-{{ metric.id }}">
                                            {{ metric.name }}
                                        </label>
                                      <!-- <span style="font-size: 0.7em; font-weight: normal; color: #757575; text-transform: uppercase;" data-ng-if="practice.group">{{ practice.group }}</span>
                                        -->
                                    </div>

                                    <!-- <label class="name" for="practice-{{ practice.id }}" style="flex-flow: column; align-items: flex-start;">
                                        {{ practice.name }}
                                        <span style="font-size: 0.7em; font-weight: normal; color: #757575; text-transform: uppercase;" data-ng-if="practice.group">{{ practice.group }}</span>
                                    </label> -->

                                    <div class="body">
                                        <p style="font-style: normal; font-size: 1em; color: #616161; padding: 0 0 1em; margin: 0;">{{ (practice.description || 'No description') }}</p>
                                    </div>

                                </div>

                            </li>


                        </ul>

                    </section>

                </div>


            </div>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;">
        <ul>
            <li data-ng-class="{active: $root.toolbarState.dashboard}">
                <a href="/programs/{{ page.program.id }}" title="Summary">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/programs/{{ page.program.id }}/edit" title="Edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/programs/{{ page.program.id }}/tags" title="Tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>