<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui">

            <div class="module--grid">

                <div breadcrumb class="full-width"
                     program="page.program"
                     tail="Metrics"></div>

                <div class="group">

                    <!-- Descriptors -->

                    <article class="pad margin-0">

                        <h1 class="margin-0">{{ page.program.name || 'Un-named' }}</h1>

                    </article>

                </div>

                <div class="group reveal fade-in t2" data-ng-if="page.metricTypes">

                    <section class="pad">

                        <div class="create-heading">
                            <h2 class="margin-0">
                                Metrics
                                <span class="tally">
                                    {{ page.summary.matches | number }}
                                </span>
                            </h2>
                            <button type="button" class="margin-r-1" style="padding: .5rem 1rem .5rem .7rem;"
                                    data-ng-click="page.showChildModal = !page.showChildModal">
                                <span class="material-icons margin-r-50p">
                                    add
                                </span>
                                Create
                            </button>
                            <button type="button" class="margin-r-1"
                                    data-ng-click="page.showImportModal = !page.showImportModal">
                                <span class="material-icons margin-r-50p">
                                    cloud_upload
                                </span>
                                Upload file
                            </button>
                        </div>

                        <div feature-idx
                             feature-type="metric"
                             include-actions="true"
                             index="page.metricTypes"
                             letters="page.letters"
                             link="false"
                             permissions="page.permissions"
                             selectable="false"
                             summary="page.summary"
                             visible="true"
                             dismissable="false"
                             style="width: 100%;"></div>

                    </section>

                </div>

            </div>

        </div>

    </div>

    <div data-ng-include="'/templates/toolbars/program.html'"></div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts"
                 data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

    <div creation-dialog alerts="page.alerts" parent="page.program.id" organization="page.program.organization_id"
         type="'metric'" visible="page.showChildModal"></div>

    <div import-dialog
         alerts="page.alerts"
         program="page.program"
         file-input="metric-file-input"
         callback="page.loadMetricTypes()"
         type="'metric'"
         visible="page.showImportModal"></div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>