<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui">

            <div class="module--grid">

                <div class="breadcrumb">
                    <div>
                        <span>Program:&nbsp;</span>
                        <a href="/programs/{{ page.program.id }}">{{ page.program.name }}</a>
                        <span>&nbsp;/&nbsp;</span>
                    </div>
                    <div>
                        <span>Practice Type:&nbsp;</span>
                        <a href="/programs/{{ page.program.id }}/practice-types/{{ page.practiceType.id }}">
                            {{ page.practiceType.name }}
                        </a>
                    </div>
                </div>

                <div class="group reveal fade-in t2">

                    <section style="min-height: 0;" class="pad">

                        <h2>{{ page.practiceType.name }}</h2>

                        <div>
                            <p>{{ page.practiceType.description || 'No description provided.' }}</p>

                        </div>

                    </section>

                </div>

                <div class="group reveal fade-in t2">

                    <section style="min-height: 0;" class="pad">

                        <h2>Linked metrics</h2>

                        <p>The {{ page.program.name }} program tracks the following core metrics for the {{ page.practiceType.name }} practice type.</p>

                        <ul class="selectable-group-items list-unstyled" style="margin-top: 2em;">

                            <li class="card reveal fade-in" style="animation-delay: {{ $index * 100 }}ms; min-height: 0;" data-ng-repeat="feature in page.linkedMetrics | orderBy: 'name'">

                                <div class="card--content">

                                    <div class="name" style="flex-flow: column; align-items: flex-start;">

                                        <span>{{ feature.name }}</span>

                                    </div>

                                    <div class="body">
                                        <p style="font-style: normal; font-size: 1em; color: #616161; padding: 0 0 1em; margin: 0;">{{ (feature.description || 'No description') }}</p>
                                    </div>

                                </div>

                            </li>

                        </ul>

                    </section>

                </div>

                <div class="index reveal fade-in t2" data-ng-if="page.permissions.write && page.metricTypes">

                    <h2>Manage linked metrics</h2>

                    <div class="collection-search reveal fade-in t0">

                        <input style="float:left; display:inline-block; clear:right;" type="text" class="search-bar list-filter" data-ng-if="!page.status.loading" data-ng-model="page.queryToken" placeholder="Find a metric type&hellip;">

                    </div>

                    <div alphabet-ctrl letters="page.letters" orientation="horizontal"></div>

                    <div data-ng-repeat="(key, group) in page.metricTypes">

                        <h2 class="index-group-heading" id="{{ key | lowercase }}">
                            <a href="#{{ key }}"></a>
                            <span>{{ key }}</span>
                        </h2>

                        <ul class="selection-group list-unstyled" style="margin-top: 2em;">

                            <li class="selection-item reveal fade-in" style="animation-delay: {{ $index * 100 }}ms; min-height: 0;" data-ng-repeat="feature in group | orderBy:'name' | filter: page.queryToken">

                                <span>{{ feature.name }}</span>

                                <div class="link-action">

                                    <button class="link" data-ng-if="!feature.linked" data-ng-click="page.manageMetric(feature, 'add')">
                                        <span class="material-icons">
                                            link
                                        </span>
                                        Link metric type
                                    </button>

                                    <button class="unlink" data-ng-if="feature.linked" data-ng-click="page.manageMetric(feature, 'remove')">
                                        <span class="material-icons">
                                            link_off
                                        </span>
                                        Unlink metric type
                                    </button>

                                </div>

                            </li>

                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;">
        <ul>
            <li data-ng-class="{active: $root.toolbarState.dashboard}">
                <a href="/programs/{{ page.program.id }}" title="Summary">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.write">
                <a href="/programs/{{ page.program.id }}/edit" title="Edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.write" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/programs/{{ page.program.id }}/tags" title="Tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.write" data-ng-class="{active: $root.toolbarState.editTargets}">
                <a href="/programs/{{ page.program.id  }}/metrics" title="Metrics">
                    <i class="material-icons">
                        multiline_chart
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>