<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui">

            <div class="module--grid">

                <div class="breadcrumb">
                    <div>
                        <span>Program:&nbsp;</span>
                        <a href="/programs/{{ page.program.id }}">{{ page.program.name }}</a>
                        <span>&nbsp;/&nbsp;</span>
                    </div>
                    <div>
                        Metrics
                    </div>
                </div>

                <div class="group reveal fade-in t2" data-ng-if="page.metricTypes">

                    <section class="pad">

                        <div class="create-heading">
                            <h2 class="margin-0">
                                Metrics
                                <span class="tally">
                                    {{ page.summary.matches }}
                                </span>
                            </h2>
                            <div class="create-new margin-r-1"
                                 data-ng-click="page.showChildModal = !page.showChildModal">
                                <span class="material-icons">
                                    add
                                </span>
                                <button type="button">
                                    Create
                                </button>
                            </div>
                            <div class="create-new pad-t-50p pad-b-50p pad-l-1 pad-r-1"
                                 data-ng-click="page.showChildModal = !page.showChildModal">
                                <span class="material-icons">
                                    cloud_upload
                                </span>
                                <button type="button">
                                    Upload file
                                </button>
                            </div>
                        </div>

                        <div feature-idx
                             feature-type="metric"
                             include-actions="true"
                             index="page.metricTypes"
                             letters="page.letters"
                             link="false"
                             permissions="page.permissions"
                             selectable="false"
                             summary="page.summary"
                             visible="true"
                             dismissable="false"
                             style="width: 100%;"></div>

                    </section>

                </div>

            </div>

        </div>

    </div>

    <div data-ng-include="'/templates/toolbars/program.html'"></div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

    <div creation-dialog alerts="page.alerts" parent="page.program.id" organization="page.program.organization_id"
         type="'metric'" visible="page.showChildModal"></div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>