<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui">

            <div class="module--grid">

                <div class="breadcrumb">
                    <div>
                        <span>Program:&nbsp;</span>
                        <a href="/programs/{{ page.program.id }}">{{ page.program.name }}</a>
                        <span>&nbsp;/&nbsp;</span>
                    </div>
                    <div>
                        Practice Type: <a href="/programs/{{page.program.id}}/practice-types/{{page.practiceType.id}}">
                        {{page.practiceType.name}}
                        </a>
                    </div>
                </div>

                <div class="group reveal fade-in t2">

                    <section class="pad shadow">

                        <h2>Metric Types</h2>

                        <!--
                        <p>
                            Showing <b>{{ metricsTypes.length }}</b> of <b>{{ page.metricCount }}</b> total metric types in program <b>{{page.program.name}}</b>.
                        </p>

                           <div class="collection-search reveal fade-in t0" style="border: 0px solid red;
                                                                        justify-content:left;
                                                                        align-items:left;
                                                                        overflow: auto;
                                                                        flex-wrap: wrap;
                                                                         "
                             >

                                 <input style="float:left; display:inline-block; clear:right;"
                                        type="text"
                                        class="search-bar list-filter"
                                        data-ng-if="!page.status.loading"
                                        data-ng-model="page.queryToken"
                                        placeholder="Search metric types">


                            </div>
                        -->
                        <ul class="selectable-group-items list-unstyled" style="margin-top: 2em;">

                            <li class="card reveal fade-in" style="animation-delay: {{ $index * 100 }}ms; min-height: 0;"
                                data-ng-repeat="metric in page.metricsTypes | orderBy:'name' | filter: page.queryToken"
                               >

                                <div class="card--content" >

                                    <div class="name" style="flex-flow: column; align-items: flex-start;">
                                        <label for="metric-{{ metric.id }}">
                                            {{ metric.name }}
                                        </label>
                                      <!-- <span style="font-size: 0.7em; font-weight: normal; color: #757575; text-transform: uppercase;" data-ng-if="practice.group">{{ practice.group }}</span>
                                        -->
                                    </div>

                                    <!-- <label class="name" for="practice-{{ practice.id }}" style="flex-flow: column; align-items: flex-start;">
                                        {{ practice.name }}
                                        <span style="font-size: 0.7em; font-weight: normal; color: #757575; text-transform: uppercase;" data-ng-if="practice.group">{{ practice.group }}</span>
                                    </label> -->

                                    <div class="body">
                                        <p style="font-style: normal; font-size: 1em; color: #616161; padding: 0 0 1em; margin: 0;">{{ (practice.description || 'No description') }}</p>
                                    </div>

                                </div>

                            </li>


                        </ul>

                    </section>

                </div>


            </div>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;">
        <ul>
            <li data-ng-class="{active: $root.toolbarState.dashboard}">
                <a href="/programs/{{ page.program.id }}" title="Summary">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/programs/{{ page.program.id }}/edit" title="Edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/programs/{{ page.program.id }}/tags" title="Tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
           <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTargets}">
                <a href="/programs/{{ page.program.id  }}/metrics" title="Metrics">
                    <i class="material-icons">
                        multiline_chart
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>