<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="main--ui">

            <div class="module--grid">

                <div class="group">

                    <!-- Descriptors -->

                    <article class="pad space-right shadow">

                        <h1>{{ page.program.name || 'Un-named' }}</h1>

                        <p data-ng-if="page.program.description" data-ng-bind-html="page.program.description"></p>

                        <p data-ng-if="page.program.website" style="display: flex; flex-flow: row nowrap; align-items: center;">
                            <i class="material-icons">
                            open_in_new
                            </i>
                            <a href="{{ page.program.website }}" target="_blank">&nbsp;View website</a>
                        </p>

                    </article>

                    <!-- Map -->

                    <div style="position:relative;">

                        <leaflet id="program--map" class="map tall" center="page.map.center" geojson="page.map.geojson" defaults="page.map.defaults" layers="page.map.layers"></leaflet>

                    </div>

                </div>

                <div class="group reveal fade-in t2">

                    <section class="pad shadow">

                        <h2>Metrics</h2>

                        <div data-ng-if="page.metrics">

                            <section id="sites">

                                <div class="list">

                                    <table class="table table-practices with-metrics" data-ng-if="page.metrics">

                                        <thead>
                                            <tr>
                                                <th class="table-column-wide table-metrics-header">&nbsp;</th>
                                                <th class="table-metrics-header">Installed To-Date</th>
                                                <th class="table-metrics-header">% Installed</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>

                                        <tbody class="metrics">
                                            <tr class="metrics--metric" data-ng-repeat="metric in page.metrics track by $index">
                                                <td class="table-column-wide">
                                                    <p class="metric--title">
                                                        {{ metric.name }}
                                                    </p>
                                                </td>
                                                <td>
                                                    <strong class="metrics--metric--rollup--small">{{ metric.current_value | number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit.plural }}<br />
                                                        of {{ metric.target | number:2 }}</span>
                                                </td>
                                                <td>
                                                    <strong class="metrics--metric--percentage">
                                                        {{ metric.percentComplete }}%
                                                    </strong>
                                                </td>
                                                <td>
                                                    <progress-arc
                                                        size="32"
                                                        stroke="#2196F3"
                                                        stroke-width="4"
                                                        complete="(metric.current_value/metric.target)"
                                                        counter-clockwise="false"
                                                        background="rgba(0,0,0,0.2)">
                                                    </progress-arc>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>

                            </section>

                        </div>

                    </section>

                </div>

            </div>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;">
        <ul>
            <li data-ng-class="{active: $root.toolbarState.dashboard}">
                <a href="/programs/{{ page.program.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="/programs/{{ page.program.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
<!--             <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTargets}">
                <a href="/programs/{{ page.program.id }}/targets">
                    <i class="material-icons">
                        multiline_chart
                    </i>
                </a>
            </li> -->
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/programs/{{ page.program.id }}/tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
            <!-- <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget && page.deletionTarget.feature.id === page.program.id && page.deletionTarget.collection === 'program'">
                    <p>Do you want to delete this program?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature('program')">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.program, 'program')">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li> -->
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>