<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" data-ng-if="!page.status.loading && !page.member.id">

        <section class="privacy-message reveal fade-in t0">
        
            <div class="main--ui eveal fade-in">
        
                <p>
                    <i class="material-icons">
                        lock
                    </i>
                </p>

                <p>You do not have permission to view this profile.</p>
        
            </div>
        
        </section>

    </div>

    <div class="content--container" data-ng-if="page.member.id">

        <h1 class="inset" data-ng-if="page.member.id == page.user.id">My Profile</h1>

        <h1 class="inset" data-ng-if="page.member.id != page.user.id">Profile</h1>

        <div class="main--ui eveal fade-in">

            <div class="add--new--wrapper reveal fade-in"  data-ng-if="page.member.id == page.user.id">

                <span>Edit profile</span>
            
                <a class="add--new--btn" href="/account/" data-ng-class="{viewing: $root.viewState.accountEdit}">
            
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            
            </div>

            <div class="flow2--profile-container reveal fade-in">

                <div class="flow2--left-field-profile">

                    <div class="user-avatar-wrapper" data-ng-if="page.member.picture">

                        <div class="user-avatar user-avatar-lg" style="background-image: url({{ page.member.picture }});"></div>

                    </div>
            
                    <div class="user-avatar-wrapper" data-ng-if="!page.member.picture">

                        <div class="user-avatar user-avatar-lg" style="background-image: url(/images/avatar-Default-1024x.png);"></div>
                
                    </div>

                </div>

                <div class="flow2--right-field-profile">
            
                    <div class="flow2-text-container">

                        <h2 class="flow2-profile">
                            {{ page.member.first_name }}  {{ page.member.last_name }}
                        </h2>

                    </div>
            
                    <div class="flow2-text-container" style="margin-right:3em;" data-ng-if="page.member.title || page.member.organization">

                        <p class="flow2-b">
                        
                            <span data-ng-if="page.member.title">
                                <strong>{{page.member.title}}</strong>
                            </span>
            
                            <br>
            
                            <span data-ng-if="page.member.organization.properties.name">
                                {{ page.member.organization.properties.name }}
                            </span>
            
                        </p>

                    </div>

                    <div class="flow2-text-container" data-ng-if="page.member.email">

                        <p class="flow2-b">
                            <a href="mailto:{page.member.email">{{ page.member.email }}</a>
                        </p>
                    
                    </div>
            
                    <div class="flow2-text-container" data-ng-if="page.member.bio">

                        <p class="flow2-b">
                            {{ page.user.bio }}
                        </p>
            
                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>