<footer class="container">
  <div class="site--legal ng-scope">
    <section class="page--legal">
      <div class="page--content--row">
        <div class="page--content--column page--content--center">
          <p>
            <strong>REFERENCES</strong>
          </p>
          <p>
            Beisch, D. 2013. Test driving the Bay Program protocols for Stream Restoration. A presentation to the Mid-Atlantic Stream Restoration Conference, October 13, 2013. Williamsburg Environmental Group.
          </p>
          <p>
            Brady, N.C. 1984. The Nature and Properties of Soils. 9th Edition.
          </p>
          <p>
            Harman, W., R. Starr, M. Carter, K. Tweedy, M. Clemmons, K. Suggs, C. Miller. 2012. A Function-Based Framework for Stream Assessment and Restoration Projects. US Environmental Protection Agency, Office of Wetlands, Oceans, and Watersheds, Washington, DC EPA 843-K-12-006.
          </p>
          <p>
            Harrelson, C.C., Rawlins, C.L., and Potyondy, J.P.  1994.  Stream Channel Reference Sites:  An Illustrated Guide to Field Technique. Fort Collins, CO: U.S. Department of Agriculture, Forest Service, Rocky Mountain Forest and Range Experiment Station. Available at: <a href="http://www.stream.fs.fed.us/publications/PDFs/RM245E.PDF" target="_blank">http://www.stream.fs.fed.us/publications/PDFs/RM245E.PDF</a>.
          </p>
          <p>
            Schueler, T. and B. Stack. 2014. Recommendations of the Expert Panel to Define Removal Rates for Individual Stream Restoration Projects. Chesapeake Bay Program, Expert BMP Review Panel for Urban Stream Restoration. Test Drive Revisions, September 8, 2014. Includes Appendices A-G.
          </p>
          <p>
            Sellner, K.G. M. Palmer, L. Wainger, A.P. Davis, B. Benham, E.J. Ling, and G. Yagow. 2012. Metrics and protocols for progress assessment in Chesapeake Bay Stewardship Fund Grants.  Final Report to the National Fish and Wildlife Foundation. CRC Publ. No. 12-174, Edgewater, MD. 474 pp.
          </p>
          <p>
            U.S. EPA (U.S. Environmental Protection Agency). 2012. Bank Erosion Prediction (BEHI, NBS). Available at: <a href="http://water.epa.gov/scitech/datait/tools/warsss/pla_box08.cfm" target="_blank">http://water.epa.gov/scitech/datait/tools/warsss/pla_box08.cfm</a>
          </p>
          <p>
            USEPA. 2004. Wadeable Stream Assessment: Field Operations Manual. EPA841-B-04-004. U.S. Environmental Protection Agency, Office of Water and Office of Research and Development, Washington, DC.
          </p>
          <p>
            Walters, R., D. Merritts, and M. Rahnis. 2007. Estimating volume, nutrient content, and rates of stream bank erosion of legacy sediment in the piedmont and valley and ridge physiographic provinces, southeastern and central, PA. A report to the Pennsylvania Department of Environmental Protection. (Cited in Schueler and Stack, 2013).
          </p>
          <p>
            Wisconsin NRCS Field Office Technical Guide. 2003. Streambank erosion. Available at: <a href="http://dnr.wi.gov/runoff/pdf/grants/mso341_streambank.pdf" target="_blank">http://dnr.wi.gov/runoff/pdf/grants/mso341_streambank.pdf</a>
          </p>

        </div>

        <hr />

        <div class="page--content--column page--content--center">
          <p>
            <strong>Table A. Evaluation of Recession Severity Category</strong>
          </p>
          <table class="table">
            <thead>
              <tr>
                <th class="align-left">Recession Category</th>
                <th class="align-left">Lateral Recession Rate (ft/yr)</th>
                <th class="align-left" style="width:62%;">Streambank and Channel Condition Description</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="align-left">Slight</td>
                <td class="align-left">0.03</td>
                <td class="align-left">Some bare bank but active erosion not readily apparent. Some rills but no vegetative overhang. No exposed tree roots.</td>
              </tr>

              <tr>
                <td class="align-left">Moderate</td>
                <td class="align-left">0.13</td>
                <td class="align-left">Bank is predominantly bare with some  rills and vegetative overhang. Some exposed tree roots but no slumps or slips.</td>
              </tr>

              <tr>
                <td class="align-left">Severe</td>
                <td class="align-left">0.4</td>
                <td class="align-left">Bank is bare with rills and severe vegetative overhang. Many fallen trees, drains, and culverts eroding out and changes in cultural features such as fence corners missing and realignment of roads or trails. Channel cross-section becomes U-shaped as opposed to V-shaped.</td>
              </tr>

              <tr>
                <td class="align-left">Very Severe</td>
                <td class="align-left">0.6</td>
                <td class="align-left">Bank is bare with gullies and severe vegetative overhang. Many fallen trees, drains, and culverts eroding out and changes in cultural features such as fence corners missing and realignment of roads or trails. Massive slips or washouts common. Channel cross-section is U-shaped and stream course may be meandering.</td>
              </tr>

              <tr>
                <td colspan="3" class="align-left">
                  <em>Source: Wisconsin NRCS Field Office Technical Guide. 2003. Streambank erosion. Available at: <a href="http://dnr.wi.gov/runoff/pdf/grants/mso341_streambank.pdf" target="_blank">http://dnr.wi.gov/runoff/pdf/grants/mso341_streambank.pdf</a></em>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <hr />

        <div class="page--content--column page--content--center">
          <p>
            <strong>Table B. Soil Bulk Density by Soil Type</strong>
          </p>

          <table class="table">
            <thead>
              <tr>
                <th class="align-left">Soil Type</th>
                <th class="align-left">lbs/ft<sup>3</sup></th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="align-left">clay</td>
                <td class="align-left">78.0</td>
              </tr>

              <tr>
                <td class="align-left">silty clay</td>
                <td class="align-left">75.5</td>
              </tr>

              <tr>
                <td class="align-left">silty clay loam</td>
                <td class="align-left">79.3</td>
              </tr>

              <tr>
                <td class="align-left">sandy clay</td>
                <td class="align-left">83.7</td>
              </tr>

              <tr>
                <td class="align-left">silt loam</td>
                <td class="align-left">86.2</td>
              </tr>

              <tr>
                <td class="align-left">loam</td>
                <td class="align-left">89.3</td>
              </tr>

              <tr>
                <td class="align-left">sandy clay loam</td>
                <td class="align-left">87.4</td>
              </tr>

              <tr>
                <td class="align-left">sandy loam</td>
                <td class="align-left">94.3</td>
              </tr>

              <tr>
                <td class="align-left">loamy sand</td>
                <td class="align-left">101.8</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </div>
</footer>
