<div data-ng-if="!total.planning">
  <h2><strong>Empty</strong> Summary</h2>

  <p>
    Please add a new Planning measurement period to this Practice to begin.
  </p>

  <p>
    <a class="button" data-ng-click="readings.add(practice, 'Planning')">Add Planning Data</a>
  </p>
</div>


<div data-ng-if="total.planning || total.installation || total.monitoring">
  <h2><strong>Notes</strong></h2>
  <table class="table">
    <thead>
      <tr>
        <th class="align-left" width="10%">Date</th>
        <th class="align-left" width="90%">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
        <td class="align-left">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            {{ report.report_date }}
          </a>
        </td>
        <td class="align-left" data-ng-if="report.notes">{{ report.notes }}</td>
        <td class="align-left" data-ng-if="!report.notes"><em>No notes recorded for this date</em></td>
      </tr>
    </tbody>
  </table>
</div>
