<footer class="container">
  <div class="site--legal ng-scope">
    <section class="page--legal">
      <div class="page--content--row">
        <div class="page--content--column page--content--center">
		      <h2>References</h2>
        	<p><strong>Bunte, K.</strong> and S.R. Abt.  2001.  Sampling surface and subsurface particle-size distributions in wadable gravel- and cobble-bed streams for analyses in sediment transport, hydraulics, and streambed monitoring.  Gen. Tech. Rep. RMRS-GTR- 74.  Fort Collins, CO:  U.S. Department of Agriculture, Forest Service, Rocky Mountain Research Station.  428 pp.</p>
        	<p><strong>Harrelson</strong>, C.C., Rawlins, C.L., and Potyondy, J.P.  1994.  Stream Channel Reference Sites:  An Illustrated Guide to Field Technique. Fort Collins, CO: U.S. Department of Agriculture, Forest Service, Rocky Mountain Forest and Range Experiment Station. Available at: <a href="http://www.stream.fs.fed.us/publications/PDFs/RM245E.PDF" target="_blank">http://www.stream.fs.fed.us/publications/PDFs/RM245E.PDF</a></p>
        	<p><strong>Sellner</strong>, K.G. M. Palmer, L. Wainger, A.P. Davis, B. Benham, E.J. Ling, and G. Yagow. 2012. Metrics and protocols for progress assessment in Chesapeake Bay Stewardship Fund Grants.  Final Report to the National Fish and Wildlife Foundation. CRC Publ. No. 12-174, Edgewater, MD. 474 pp.</p>
        	<p><strong>USEPA</strong>. 2004. Wadeable Stream Assessment: Field Operations Manual. EPA841-B-04-004. U.S. Environmental Protection Agency, Office of Water and Office of Research and Development, Washington, DC.</p>
          <p>No loads are associated with the BMP_InstreamHabitat table.</p>
        </div>
      </div>
    </section>
  </div>
</footer>
