<div data-ng-if="!total.planning">
  <h2><strong>Empty</strong> Summary</h2>

  <p>
    Please add a new Planning measurement period to this Practice to begin.
  </p>

  <p>
    <a class="button" data-ng-click="readings.addReading(practice, 'Planning')">Add Planning Data</a>
  </p>
</div>


<div data-ng-if="total.planning || total.installation">
  <table class="table">
    <tbody>
      <!-- Section Heading -->
      <tr class="no-rule">
        <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
          <h2><strong>Installation</strong> Summary</h2>
        </td>
      </tr>

      <!-- Measurement Period Headings -->
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            <span data-ng-if="report.measurement_period === 'Planning'">Planned</span>
            <span data-ng-if="report.measurement_period === 'Installation'">Installed</span>
            <br />
            {{ report.report_date }}
          </a>
        </th>
        <th>Installed To-Date</th>
        <th>% of Planned</th>
      </tr>

      <!-- Installation Summary -->
      <tr>
        <th rowspan="4">Area Draining to (Treated by) the BMP</th>
        <td>Impervious Area (sq ft)</td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.bioretention_impervious_area | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'bioretention_impervious_area') | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'bioretention_impervious_area', '%') | number:2 }}%
          </strong>
        </td>
      </tr>
      <tr>
        <!-- Blank TH because of rowspan above -->
        <td>Total Drainage Area (sq ft)</td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.bioretention_total_drainage_area || 0 | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'bioretention_total_drainage_area') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'bioretention_total_drainage_area', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <!-- Blank TH because of rowspan above -->
        <td>Runoff Volume Captured (acre/ft)</td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.bioretention_runoff_volume_captured || 0 | number:5 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'bioretention_runoff_volume_captured') || 0 | number:5 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'bioretention_runoff_volume_captured', '%') || 0 | number:5 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <!-- Blank TH because of rowspan above -->
        <td>Rainfall Depth Treated (in)</td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.rainfallDepthTreated(report) || 0 | number:2 }}
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <th rowspan="3">Adjustor Curve % Reductions</th>
        <td>TN</td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.adjustorCurveNitrogen(report, '%') | number:2 }}%
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <!-- Blank TH because of rowspan above -->
        <td>TP</td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.adjustorCurvePhosphorus(report, '%') | number:2 }}%
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <!-- Blank TH because of rowspan above -->
        <td>TSS</td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.adjustorCurveSediment(report, '%') | number:2 }}%
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <th>Bioretention Practice</th>
        <td>Area of Practice (sq ft)</td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.bioretention_practice_area || 0 | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'bioretention_practice_area') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'bioretention_practice_area', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr class="no-rule">
        <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
          <h2><strong>Load</strong> &amp; Reductions</h2>
        </td>
      </tr>

      <tr>
        <th>&nbsp;</th>
        <th>Pre-BMP Load</th>
        <th data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            <span data-ng-if="report.measurement_period === 'Planning'">Planned Reduction</span><span data-ng-if="report.measurement_period === 'Installation'">Installed Reduction</span><br />
            {{ report.report_date }}
          </a>
        </th>
        <th>Reduction To-date</th>
        <th>% of Planned</th>
      </tr>

      <tr>
        <th>Nitrogen (lbs/yr)</th>
        <td data-ng-if="report.measurement_period === 'Planning' && loaddata" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.preInstallationNitrogenLoad(report, loaddata) | number:2 }}
        </td>
        <td data-ng-if="report.measurement_period === 'Planning' && loaddata" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.plannedNitrogenLoadReduction(report, loaddata) || 0 | number:2 }}
        </td>
        <td data-ng-if="report.measurement_period === 'Installation' && loaddata" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.plannedNitrogenLoadReduction(report, loaddata) || 0 | number:2 }}
        </td>
        <td>
          <strong data-ng-if="loaddata">
            {{ calculate.installedNitrogenLoadReduction(practice.readings, loaddata) | number:2 }}
          </strong>
        </td>
        <td>
          <strong data-ng-if="loaddata">
            {{ calculate.installedNitrogenLoadReduction(practice.readings, loaddata, '%') | number:2 }}
          </strong>
        </td>
      </tr>
      <tr>
        <th>Phosphorus (lbs/yr)</th>
        <td data-ng-if="report.measurement_period === 'Planning' && loaddata" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.preInstallationPhosphorusLoad(report, loaddata) | number:2 }}
        </td>
        <td data-ng-if="report.measurement_period === 'Planning' && loaddata" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.plannedPhosphorusLoadReduction(report, loaddata) || 0 | number:2 }}
        </td>
        <td data-ng-if="report.measurement_period === 'Installation' && loaddata" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.plannedPhosphorusLoadReduction(report, loaddata) || 0 | number:2 }}
        </td>
        <td>
          <strong data-ng-if="loaddata">
            {{ calculate.installedPhosphorusLoadReduction(practice.readings, loaddata) || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong data-ng-if="loaddata">
            {{ calculate.installedPhosphorusLoadReduction(practice.readings, loaddata, '%') || 0 | number:2 }}
          </strong>
        </td>
      </tr>

      <tr>
        <th>Sediment (tons/yr)</th>
        <td data-ng-if="report.measurement_period === 'Planning' && loaddata" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.preInstallationSedimentLoad(report, loaddata) | number:2 }}
        </td>
        <td data-ng-if="report.measurement_period === 'Planning' && loaddata" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.plannedSedimentLoadReduction(report, loaddata) || 0 | number:2 }}
        </td>
        <td data-ng-if="report.measurement_period === 'Installation' && loaddata" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.plannedSedimentLoadReduction(report, loaddata) || 0 | number:2 }}
        </td>
        <td>
          <strong data-ng-if="loaddata">
            {{ calculate.installedSedimentLoadReduction(practice.readings, loaddata) || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong data-ng-if="loaddata">
            {{ calculate.installedSedimentLoadReduction(practice.readings, loaddata, '%') || 0 | number:2 }}
          </strong>
        </td>
      </tr>

      <tr class="no-rule">
        <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
          <h2><strong>Chesapeake</strong> Bay Metrics</h2>
        </td>
      </tr>

      <tr>
        <th>&nbsp;</th>
        <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
        <th data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            <span data-ng-if="report.measurement_period === 'Planning'">Planned</span>
            <span data-ng-if="report.measurement_period === 'Installation'">Installed</span>
            <br />
            {{ report.report_date }}
          </a>
        </th>
        <th>Installed To-date</th>
        <th>% of Planned</th>
      </tr>

      <tr>
        <th>Gallons/Year of Stormwater Detained or Infiltrated</th>
        <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.gallonsReducedPerYear(report) || 0 | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.reductionPracticesInstalled(practice.readings) || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.reductionPracticesInstalled(practice.readings, '%') || 0 | number:2 }}
          </strong>
        </td>
      </tr>

      <tr>
        <th>Areas of Protected by BMP's to Reduce Stormwater Runoff</th>
        <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ calculate.acresProtected(report) || 0 | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.acresInstalled(practice.readings) || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.acresInstalled(practice.readings) || 0 | number:2 }}
          </strong>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<div data-ng-if="total.monitoring">
  <table class="table">

      <tr class="no-rule">
        <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
          <h2><strong>Interim</strong> BMP Metrics Data</h2>
        </td>
      </tr>

      <tr>
        <th>&nbsp;</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            Monitored on<br />
            {{ report.report_date }}
          </a>
        </td>
      </tr>

      <tr>
        <th class="align-left">Number of observed bird or small animal species</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">{{ report.bird_count }}</td>
      </tr>

      <tr class="no-rule">
        <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
          <h2><strong>Adaptive</strong> Management Checks Performed</h2>
        </td>
      </tr>

      <tr>
        <th>&nbsp;</th>
        <th data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            Monitored on<br />
            {{ report.report_date }}
          </a>
        </th>
      </tr>

      <tr>
        <th class="align-left" width="50%">Keep all inflows into, and outflows from, the BMP free of obstructions</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <div data-ng-if="report.obstructions" class="icon retinaicon-essentials-071"></div>
        </td>
      </tr>
      <tr>
        <th class="align-left" width="50%">Initially, and then annually, review CSN LID maintenance guide (CSN, 2014)</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <div data-ng-if="report.maintenance" class="icon retinaicon-essentials-071"></div>
        </td>
      </tr>
      <tr>
        <th class="align-left" width="50%">Visually check the BMP after each major storm and perform any needed maintenance</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <div data-ng-if="report.post_storm" class="icon retinaicon-essentials-071"></div>
        </td>
      </tr>
      <tr>
        <th class="align-left" width="50%">Ponding may indicate clogging of the media. Replace media as needed in bioretention area</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <div data-ng-if="report.ponding" class="icon retinaicon-essentials-071"></div>
        </td>
      </tr>
      <tr>
        <th class="align-left" width="50%">Check and correct conditions producing too much or too little water, resulting in dying plants</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <div data-ng-if="report.dying_plants" class="icon retinaicon-essentials-071"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div data-ng-if="total.planning || total.installation || total.monitoring">
  <h2><strong>Notes</strong></h2>
  <table class="table">
    <thead>
      <tr>
        <th class="align-left" width="10%">Date</th>
        <th class="align-left" width="90%">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
        <td class="align-left">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            {{ report.report_date }}
          </a>
        </td>
        <td class="align-left" data-ng-if="report.notes">{{ report.notes }}</td>
        <td class="align-left" data-ng-if="!report.notes"><em>No notes recorded for this date</em></td>
      </tr>
    </tbody>
  </table>
</div>
