<div data-ng-if="!total.planning">
  <h2><strong>Empty</strong> Summary</h2>

  <p>
    Please add a new Planning measurement period to this Practice to begin.
  </p>

  <p>
    <a class="button" data-ng-click="readings.add(practice, 'Planning')">Add Planning Data</a>
  </p>
</div>


<!-- INSTALLATION SUMMARY -->

<div data-ng-if="total.planning || total.installation">
  <table class="table">
    <tbody>
      <!-- Section Heading -->
      <tr class="no-rule">
        <td class="align-left" colspan="{{ total.planning + total.installation + 5 }}">
          <h2><strong>Installation</strong> Summary</h2>
        </td>
      </tr>

      <!-- Measurement Period Headings -->
      <tr>
        <th colspan="2" class="align-center">Structural Features</th>
        <th data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            <span data-ng-if="report.measurement_period === 'Planning'">Planned</span>
            <span data-ng-if="report.measurement_period === 'Installation'">Installed</span>
            <br />
            {{ report.report_date }}
          </a>
        </th>
        <th>Installed To-Date</th>
        <th>% of Planned</th>
      </tr>

      <!-- Installation Summary -->
      <tr>
        <th class="align-center">
          Type
        </th>
        <th class="align-center">
          Units
        </th>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          &nbsp;
        </td>
        <td>
          <strong>
            &nbsp;
          </strong>
        </td>
        <td>
          <strong>
            &nbsp;
          </strong>
        </td>
      </tr>

      <!-- Installation Summary -->
      <tr>
        <td class="align-center" data-ng-if="report.measurement_period === 'Planning'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_type_1 }}
        </td>
        <td class="align-center" data-ng-if="report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_units_1 }}
        </td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_extent_1 | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'installation_structure_extent_1') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'installation_structure_extent_1', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <td class="align-center" data-ng-if="report.measurement_period === 'Planning'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_type_2 }}
        </td>
        <td class="align-center" data-ng-if="report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_units_2 }}
        </td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_extent_2 | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'installation_structure_extent_2') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'installation_structure_extent_2', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <td class="align-center" data-ng-if="report.measurement_period === 'Planning'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_type_3 }}
        </td>
        <td class="align-center" data-ng-if="report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_units_3 }}
        </td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_extent_3 | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'installation_structure_extent_3') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'installation_structure_extent_3', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

      <tr>
        <td class="align-center" data-ng-if="report.measurement_period === 'Planning'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_type_4 }}
        </td>
        <td class="align-center" data-ng-if="report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_units_4 }}
        </td>
        <td data-ng-if="report.measurement_period === 'Planning' || report.measurement_period === 'Installation'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          {{ report.installation_structure_extent_4 | number:2 }}
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'installation_structure_extent_4') || 0 | number:2 }}
          </strong>
        </td>
        <td>
          <strong>
            {{ calculate.quantityInstalled(practice.readings, 'installation_structure_extent_4', '%') || 0 | number:2 }}%
          </strong>
        </td>
      </tr>

    </tbody>
  </table>
</div>


<!-- MONITORING -->

<div data-ng-if="total.monitoring">
  <div class="table-responsive"><table class="table">

      <tr class="no-rule">
        <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
          <h2><strong>Interim</strong> Metrics</h2>
        </td>
      </tr>

      <tr>
        <th>&nbsp;</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            Monitored on<br />
            {{ report.report_date }}
          </a>
        </td>
      </tr>

      <tr>
        <th class="align-left">Riffle Stability Index</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_riffle_stability_index }}
        </td>
      </tr>
      <tr>
        <th class="align-left">Relative Bed Stability (LRBS)</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_relative_bed_stability }}
        </td>
      </tr>
      <tr>
        <th class="align-left">Substrate Mean Particle Size (D50)</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_substrate_mean_particle_size }}
        </td>
      </tr>
      <tr>
        <th class="align-left">Streambed Percent Fines</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_streambed_percent_fines }}
        </td>
      </tr>
      <tr>
        <th class="align-left">Bed Armoring Ratio</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_bed_armoring_ratio }}
        </td>
      </tr>
      <tr>
        <th class="align-left">Total Habitat Assessment Score</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_total_habitat_assessment_score }}
        </td>
      </tr>
      <tr>
        <th class="align-left">Type of Habitat Assessment</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_type_of_habitat_assessment }}
        </td>
      </tr>
      <tr>
        <th class="align-left">Area in Habitat "Patch" Areas</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_area_in_habitat_patch_areas }}
        </td>
      </tr>
      <tr>
        <th class="align-left">Acres of Target Species 1 Habitat Restored/Protected	</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_acres_of_target_species_1_habitat_restoredprotected }}
        </td>
      </tr>
      <tr>
        <th class="align-left">Acres of Target Species 2 Habitat Restored/Protected	</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_acres_of_target_species_2_habitat_restoredprotected }}
        </td>
      </tr>
      <tr>
        <th class="align-left">WOHL LWD Assessment</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_whol_lwd_assessment }}
        </td>
      </tr>
      <tr>
        <th class="align-left">Large Woody Debris Index (LWDI)</th>
        <td data-ng-if="report.measurement_period === 'Monitoring'"
            data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
            {{ report.metrics_large_woody_debris_index }}
        </td>
      </tr>

      <tr class="no-rule">
        <td class="align-left" colspan="{{ total.planning + total.installation + 4 }}">
          <h2><strong>Adaptive</strong> Management Checks Performed</h2>
        </td>
      </tr>

      <tr>
        <th>&nbsp;</th>
        <th data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            Monitored on<br />
            {{ report.report_date }}
          </a>
        </th>
      </tr>

      <tr>
        <th class="align-left wrap" width="50%">
          Coir logs, woody debris additions, or other natural structural elements meet all design specifications.
        </th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <div data-ng-if="report.monitoring_design_criteria_checklist" class="icon retinaicon-essentials-071"></div>
        </td>
      </tr>
      <tr>
        <th class="align-left wrap" width="50%">
          Is the bed composition too fine? If so, see Sellner et al., 2012, p. 102.
        </th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <div data-ng-if="report.monitoring_geomorphic" class="icon retinaicon-essentials-071"></div>
        </td>
      </tr>
      <tr>
        <th class="align-left wrap" width="50%">
          Has LWD maintained its planned density? If not, see Sellner et al., 2012, p.104.
        </th>
        <td data-ng-if="report.measurement_period === 'Monitoring'" data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
          <div data-ng-if="report.monitoring_biological" class="icon retinaicon-essentials-071"></div>
        </td>
      </tr>
    </tbody>
  </table></div>
</div>

<div data-ng-if="total.planning || total.installation || total.monitoring">
  <h2><strong>Notes</strong></h2>
  <table class="table">
    <thead>
      <tr>
        <th class="align-left" width="10%">Date</th>
        <th class="align-left" width="90%">Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="report in practice.readings | orderBy:'report_date':false">
        <td class="align-left">
          <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">
            {{ report.report_date }}
          </a>
        </td>
        <td class="align-left" data-ng-if="report.notes">{{ report.notes }}</td>
        <td class="align-left" data-ng-if="!report.notes"><em>No notes recorded for this date</em></td>
      </tr>
    </tbody>
  </table>
</div>
