<nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">

    <ul>
        <li data-ng-class="{active: $root.toolbarState.dashboard}">
            <a href="/organizations/{{ page.feature.id }}">
                <i class="material-icons">
                    dashboard
                </i>
            </a>
        </li>
        <li data-ng-if="page.permissions.write && page.feature.has_owner"
            data-ng-class="{active: $root.toolbarState.edit}">
            <a href="/organizations/{{ page.feature.id }}/edit">
                <i class="material-icons">
                    edit
                </i>
            </a>
        </li>

    </ul>

</nav>