<nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
    <ul>
        <li data-ng-class="{active: $root.toolbarState.dashboard}">
            <a href="/organization/{{ page.feature.id }}">
                <i class="material-icons">
                    dashboard
                </i>
            </a>
        </li>
        <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.edit}">
            <a href="/organization/{{ page.feature.id }}/edit">
                <i class="material-icons">
                    edit
                </i>
            </a>
        </li>


    </ul>
</nav>