<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container">
  <article class="feature-detail">
    <div class="column-16 feature-detail-content">
      <form data-ng-submit="page.saveReport()" class="form" role="form">

        <div class="form-row">
          <div class="form-label">
            <label for="report_date" class="control-label">
              Report Date
            </label>
          </div>
          <div class="form-field">
              <label for="report_date" class="control-label">
                Please set the date to the day you took the photos
              </label>

              <div class="form-element form-element-quarters">
                <p class="form-control form-control-disabled">
                  {{ page.date.day }}
                </p>
                <p class="help-text">
                  Day
                </p>
              </div>

              <div class="form-element form-element-quarters">
                <select class="form-control"
                        id="report_date_month" name="report_date_month"
                        data-ng-model="page.date.month"
                        data-ng-options="month for month in page.months">
                </select>
                <p class="help-text">
                  Month
                </p>
              </div>

              <div class="form-element form-element-quarters">
                <input number type="number" min="1" max="31" step="1"
                       class="form-control"
                       id="report_date_date" name="report_date_date"
                       data-ng-model="page.date.date"
                       data-ng-if="page.date.month === 'Jan' ||
                                   page.date.month === 'Mar' ||
                                   page.date.month === 'May' ||
                                   page.date.month === 'Jul' ||
                                   page.date.month === 'Aug' ||
                                   page.date.month === 'Oct' ||
                                   page.date.month === 'Dec'" />
               <input number type="number" min="1" max="30" step="1"
                      class="form-control"
                      id="report_date_date" name="report_date_date"
                      data-ng-model="page.date.date"
                      data-ng-if="page.date.month === 'Apr' ||
                                  page.date.month === 'Jun' ||
                                  page.date.month === 'Sep' ||
                                  page.date.month === 'Nov'" />
                <input number type="number" min="1" max="29" step="1"
                       class="form-control"
                       id="report_date_date" name="report_date_date"
                       data-ng-model="page.date.date"
                       data-ng-if="page.date.month === 'Feb'" />
               <p class="help-text">
                 Date
               </p>
             </div>

             <div class="form-element form-element-quarters">
               <input number type="number" min="1900" step="1"
                      class="form-control"
                      id="report_date_year" name="report_date_year"
                      data-ng-model="page.date.year" />
                <p class="help-text">
                  Year
                </p>
              </div>
          </div>
        </div>

        <!-- Measurement Period -->
        <div class="form-row">
          <div class="form-label">
            <label for="measurement_period" class="control-label">
              Measurement Period
            </label>
          </div>
          <div class="form-field">

            <div class="form-element">
              <select class="form-control"
                      data-ng-model="page.report.properties.measurement_period"
                      id="measurement_period" name="measurement_period"
                      required="required">
                <option value="Planning">Planning</option>
                <option value="Installation">Installation</option>
                <option value="Monitoring">Monitoring</option>
              </select>
            </div>
          </div>
        </div>

        <!-- WIP Reporting Agency -->
        <div class="form-row" data-ng-if="page.report.properties.measurement_period === 'Planning'">
          <div class="form-label">
            <label for="wip_reporting_agency" class="control-label">
              WIP Reporting Agency
            </label>
          </div>
          <div class="form-field">

            <div class="form-element">
              <select class="form-control" data-ng-model="page.report.properties.wip_reporting_agency" id="wip_reporting_agency" name="wip_reporting_agency">
                <option value="DC District Department of the Environment">DC District Department of the Environment</option>
                <option value="DE Department of Natural Resources and Environmental Control">DE Department of Natural Resources and Environmental Control</option>
                <option value="MD Department of Natural Resources">MD Department of Natural Resources</option>
                <option value="MD Department of the Environment">MD Department of the Environment</option>
                <option value="MD Department of Agriculture">MD Department of Agriculture</option>
                <option value="NY Department of Environmental Conservation">NY Department of Environmental Conservation</option>
                <option value="PA Department of Environmental Protection">PA Department of Environmental Protection</option>
                <option value="VA Department of Conservation and Recreation">VA Department of Conservation and Recreation</option>
                <option value="WV Department of Environmental Protection">WV Department of Environmental Protection</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-row"
             data-ng-if="page.report.properties.measurement_period === 'Planning' || page.report.properties.measurement_period === 'Installation'">
          <div class="form-label">
            <label for="wip_reporting_agency" class="control-label">
              Landuse
            </label>
          </div>
          <div class="form-field">

            <!-- Landuse Type -->
            <div class="form-element form-element-thirds">
              <label for="" class="control-label">
                Type of Buffer Project
              </label>

              <select class="form-control" data-ng-model="page.report.properties.type_of_buffer_project" id="type_of_buffer_project" name="type_of_buffer_project">
                <option value="urban">urban</option>
                <option value="agriculture">agriculture</option>
              </select>
            </div>

            <!-- Existing Landuse -->
            <div class="form-element form-element-thirds">
              <label for="existing_riparian_landuse" class="control-label">
                Existing Landuse
              </label>

              <select class="form-control" data-ng-model="page.report.properties.existing_riparian_landuse" id="existing_riparian_landuse" name="existing_riparian_landuse" data-ng-options="value.properties.landuse_code as value.properties.landuse_name for value in page.landuse.features | filter:value.properties.landuse_type=page.report.properties.type_of_buffer_project | orderBy:'properties.landuse_name'">
              </select>
            </div>

            <!-- Upland Landuse -->
            <div class="form-element form-element-thirds">
              <label for="upland_landuse" class="control-label">
                Upland Landuse
              </label>

              <select class="form-control" data-ng-model="page.report.properties.upland_landuse" id="upland_landuse" name="upland_landuse" data-ng-options="value.properties.landuse_code as value.properties.landuse_name for value in page.landuse.features | filter:value.properties.landuse_type=page.report.properties.type_of_buffer_project | orderBy:'properties.landuse_name'">
              </select>
            </div>
          </div>
        </div>

        <fieldset data-ng-if="page.report.properties.measurement_period === 'Planning' || page.report.properties.measurement_period === 'Installation'" class="row">
          <h2><strong>Installation</strong> Summary</h2>

          <!-- Buffer Length -->
          <div class="form-group column-5">
            <label for="length_of_buffer" class="control-label">
              Length of Buffer
            </label>

            <input data-ng-model="page.report.properties.length_of_buffer" class="form-control" class="form-control" type="number" id="length_of_buffer" name="length_of_buffer" placeholder="Length of Buffer" />

            <p class="help-text">feet</p>
          </div>

          <!-- Buffer Width -->
          <div class="column-1"></div>
          <div class="form-group column-5">
            <label for="average_width_of_buffer" class="control-label">
              Average Buffer Width
            </label>

            <input data-ng-model="page.report.properties.average_width_of_buffer" class="form-control" class="form-control" type="number" id="average_width_of_buffer" name="average_width_of_buffer" placeholder="Average Buffer Width" />

            <p class="help-text">feet</p>
          </div>

          <!-- Number of Trees Planted -->
          <div class="column-1"></div>
          <div class="form-group column-4">
            <label for="number_of_trees_planted" class="control-label">
              Number of Trees Planted
            </label>

            <input data-ng-model="page.report.properties.number_of_trees_planted" class="form-control" class="form-control" type="number" id="number_of_trees_planted" name="number_of_trees_planted" placeholder="Number of Trees Planted" />

            <p data-ng-if="fields.number_of_trees_planted.help" class="help-text">{{ fields.number_of_trees_planted.help }}</p>
          </div>

        </fieldset>

        <fieldset data-ng-if="page.report.properties.measurement_period === 'Monitoring'">
          <h2><strong>Interim</strong> BMP Metrics Data</h2>

          <div class="row">
            <!-- Vegetative Cover -->
            <div class="form-group column-5">
              <label for="native_vegetation_intact" class="control-label">
                Vegetative Cover
              </label>

              <input data-ng-model="page.report.properties.native_vegetation_intact" class="form-control" class="form-control" type="number" id="native_vegetation_intact" name="native_vegetation_intact" placeholder="% intact" />
            </div>

            <!-- Buffer Composition (Woody) -->
            <div class="column-1"></div>
            <div class="form-group column-5">
              <label for="buffer_composition_woody" class="control-label">
                Buffer Composition (woody)
              </label>

              <input data-ng-model="page.report.properties.buffer_composition_woody" class="form-control" class="form-control" type="number" max="100" min="0" id="buffer_composition_woody" name="buffer_composition_woody" placeholder="% woody" />
            </div>

            <!-- Buffer Composition (Shrub) -->
            <div class="column-1"></div>
            <div class="form-group column-4">
              <label for="buffer_composition_shrub" class="control-label">
                Buffer Composition (shrub)
              </label>

              <input data-ng-model="page.report.properties.buffer_composition_shrub" class="form-control" class="form-control" type="number" max="100" min="0" id="buffer_composition_shrub" name="buffer_composition_shrub" placeholder="% shrub" />
            </div>
          </div>

          <div class="row">
            <!-- Buffer Composition (Grass) -->
            <div class="form-group column-5">
              <label for="buffer_composition_grass" class="control-label">
                Buffer Composition (grass)
              </label>

              <input data-ng-model="page.report.properties.buffer_composition_grass" class="form-control" class="form-control" type="number" max="100" min="0" id="buffer_composition_grass" name="buffer_composition_grass" placeholder="% grass" />
            </div>

            <!-- Buffer Composition (Bare) -->
            <div class="column-1"></div>
            <div class="form-group column-5">
              <label for="buffer_composition_bare" class="control-label">
                Buffer Composition (bare)
              </label>

              <input data-ng-model="page.report.properties.buffer_composition_bare" class="form-control" class="form-control" type="number" max="100" min="0" id="buffer_composition_bare" name="buffer_composition_bare" placeholder="% bare" />
            </div>

            <!-- Buffer Composition (Other) -->
            <div class="column-1"></div>
            <div class="form-group column-4">
              <label for="buffer_composition_other" class="control-label">
                Buffer Composition (other)
              </label>

              <input data-ng-model="page.report.properties.buffer_composition_other" class="form-control" class="form-control" max="100" min="0" type="number" id="buffer_composition_other" name="buffer_composition_other" placeholder="% other" />
            </div>
          </div>

          <div class="row">
            <!-- Vegetative Protection -->
            <div class="form-group column-5">
              <label for="vegetative_protection_left_bank" class="control-label">
                Vegetative Protection (left bank)
              </label>

              <input data-ng-model="page.report.properties.vegetative_protection_left_bank" class="form-control" class="form-control" type="number" id="vegetative_protection_left_bank" name="vegetative_protection_left_bank" placeholder="" step="0.0001" />
            </div>

            <div class="column-1"></div>
            <div class="form-group column-5">
              <label for="vegetative_protection_right_bank" class="control-label">
                Vegetative Protection (right bank)
              </label>

              <input data-ng-model="page.report.properties.vegetative_protection_right_bank" class="form-control" class="form-control" type="number" id="vegetative_protection_right_bank" name="vegetative_protection_right_bank" placeholder="" step="0.0001" />
            </div>

          </div>

          <div class="row">
            <!-- Riparian Vegetative Zone Width -->
            <div class="form-group column-5">
              <label for="riparian_vegetative_zone_width_left_bank" class="control-label">
                Riparian Vegetative Zone Width (left bank)
              </label>

              <input data-ng-model="page.report.properties.riparian_vegetative_zone_width_left_bank" class="form-control" class="form-control" type="number" id="riparian_vegetative_zone_width_left_bank" name="riparian_vegetative_zone_width_left_bank" placeholder="" step="0.0001" />
            </div>

            <div class="column-1"></div>
            <div class="form-group column-5">
              <label for="riparian_vegetative_zone_width_right_bank" class="control-label">
                Riparian Vegetative Zone Width (right bank)
              </label>

              <input data-ng-model="page.report.properties.riparian_vegetative_zone_width_right_bank" class="form-control" class="form-control" type="number" id="riparian_vegetative_zone_width_right_bank" name="riparian_vegetative_zone_width_right_bank" placeholder="" step="0.0001" />
            </div>

          </div>
        </fieldset>

        <fieldset data-ng-if="page.report.properties.measurement_period === 'Monitoring'">
          <h2><strong>Adaptive</strong> Management Checks Performed</h2>

          <!-- Number of Trees Surviving -->
          <div class="form-group">
            <label for="number_of_trees_surviving" class="control-label">
              Number of Trees Surviving
            </label>

            <input data-ng-model="page.report.properties.number_of_trees_surviving" class="form-control" class="form-control" type="number" id="number_of_trees_surviving" name="number_of_trees_surviving" placeholder="Number of Trees Planted" />

            <p data-ng-if="fields.number_of_trees_surviving.help" class="help-text">{{ fields.number_of_trees_surviving.help }}</p>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input data-ng-model="page.report.properties.sediment_deposition" type="checkbox" id="sediment_deposition" name="sediment_deposition" /> Check for, and correct, causes of excess sediment build-up at the field-buffer interface that re-directs flow
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input data-ng-model="page.report.properties.concentrated_flow_paths" type="checkbox" id="concentrated_flow_paths" name="concentrated_flow_paths" /> Perform maintenance to remove concentrated flow paths through the buffer
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input data-ng-model="page.report.properties.monthly_buffer_maintenance" type="checkbox" id="monthly_buffer_maintenance" name="monthly_buffer_maintenance" /> Check for, correct causes, and path bare and/or eroded areas in the buffer
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input data-ng-model="page.report.properties.stream_shading" type="checkbox" id="stream_shading" name="stream_shading" /> Check tree shelters and stakes, especially after flooding and high wind events
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input data-ng-model="page.report.properties.vegetative_cover" type="checkbox" id="vegetative_cover" name="vegetative_cover" /> Apply herbicide around shelters in spring and fall to reduce competing vegetation
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input data-ng-model="page.report.properties.invasive_species_control" type="checkbox" id="invasive_species_control" name="invasive_species_control" /> Control noxious and invasive weeds
              </label>
            </div>
          </div>

          <div class="form-group">
            <div class="checkbox">
              <label class="control-label">
                <input data-ng-model="page.report.properties.tree_survival_rate" type="checkbox" id="tree_survival_rate" name="tree_survival_rate" /> Replant, as needed, after addressing cause of failure
              </label>
            </div>
          </div>

        </fieldset>

        <div class="form-row"
             data-ng-if="page.report.properties.measurement_period === 'Planning' || page.report.properties.measurement_period === 'Installation' || page.report.properties.measurement_period === 'Monitoring'">
          <div class="form-label">
            <label for="notes" class="control-label">
              Notes
            </label>
          </div>
          <div class="form-field">

            <div class="form-element">
              <textarea rows="8" data-ng-model="page.report.properties.notes"
                        class="form-control animate"  msd-elastic id="notes"
                        name="notes">{{ page.report.properties.notes }}</textarea>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <div class="form-actions-buttons"></div>
          <div class="form-actions-buttons">
            <button type="submit"class="button button-submit">
              Save Changes
            </button>
            <button type="button" data-ng-click="page.deleteReport()"
                    class="button button-link button-outline pull-right">
              Delete
            </button>
          </div>
        </div>
      </form>
    </div>
  </article>
</main>

<div data-ng-include="'/templates/footer--view.html'"></div>
