<div class="group reveal fade-in t2"
     data-ng-if="nextAction !== 'edit_targets'">
    
    <section class="pad shadow"
             style="min-height:0px; background-color: #fff6c6; padding-top: 16px; padding-bottom: 16px; 
             margin-bottom: 16px;">
        
        <p data-ng-if="nextAction === 'add_name'">This practice needs a name.
            Click <i class='material-icons'>edit</i>
            <a href='/practices/{{ page.practice.id }}/edit'>edit this practice</a>
        </p>
        
        <p data-ng-if="nextAction === 'add_type'">This practice needs a practice type.
            Click <i class='material-icons'>edit</i>
            <a href='/practices/{{ page.practice.id }}/edit'>edit this practice</a>
        </p>
        
        <p data-ng-if="nextAction === 'add_geometry'">This practice needs a location geometry.
            Click <i class='material-icons'>location_on</i>
            to <a href='/practices/{{ page.practice.id }}/location'>edit this practice</a>
        </p>
        
        <p data-ng-if="nextAction === 'add_targets'">This practice needs metric targets.
            Click <i class='material-icons'>multiline_chart</i>
            to <a href='/practices/{{ page.practice.id }}/targets'>edit this practice</a>
        </p>

    </section>
    
</div>