<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <h1 class="inset">Edit measurement data</h1>

        <div class="main--ui">

            <article class="feature-detail">

                <div class="feature-detail-content">

                    <form data-ng-submit="page.saveReport()" class="form" role="form">

                        <div class="form-row">
                            <div>
                                <label for="report_date" class="control-label">
                                    Report Date
                                </label>
                            </div>
                            <div>
                                <label for="report_date" class="control-label">
                                    Please set the date to the day you took the photos
                                </label>

                                <div class="form-element form-element-quarters">
                                    <p class="form-control form-control-disabled">
                                        {{ page.date.day }}
                                    </p>
                                    <p class="help-text">
                                        Day
                                    </p>
                                </div>

                                <div class="form-element form-element-quarters">
                                    <select class="form-control" id="report_date_month" name="report_date_month" data-ng-model="page.date.month" data-ng-options="month for month in page.months">
                                    </select>
                                    <p class="help-text">
                                        Month
                                    </p>
                                </div>

                                <div class="form-element form-element-quarters">
                                    <input number type="number" min="1" max="31" step="1" class="form-control" id="report_date_date" name="report_date_date" data-ng-model="page.date.date" data-ng-if="page.date.month === 'Jan' ||
                                   page.date.month === 'Mar' ||
                                   page.date.month === 'May' ||
                                   page.date.month === 'Jul' ||
                                   page.date.month === 'Aug' ||
                                   page.date.month === 'Oct' ||
                                   page.date.month === 'Dec'" />
                                    <input number type="number" min="1" max="30" step="1" class="form-control" id="report_date_date" name="report_date_date" data-ng-model="page.date.date" data-ng-if="page.date.month === 'Apr' ||
                                  page.date.month === 'Jun' ||
                                  page.date.month === 'Sep' ||
                                  page.date.month === 'Nov'" />
                                    <input number type="number" min="1" max="29" step="1" class="form-control" id="report_date_date" name="report_date_date" data-ng-model="page.date.date" data-ng-if="page.date.month === 'Feb'" />
                                    <p class="help-text">
                                        Date
                                    </p>
                                </div>

                                <div class="form-element form-element-quarters">
                                    <input number type="number" min="1900" step="1" class="form-control" id="report_date_year" name="report_date_year" data-ng-model="page.date.year" />
                                    <p class="help-text">
                                        Year
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Measurement Period -->
                        <div class="form-row">
                            <div>
                                <label for="measurement_period" class="control-label">
                                    Measurement Period
                                </label>
                            </div>
                            <div>

                                <div class="form-element">
                                    <select class="form-control" data-ng-model="page.report.properties.measurement_period" id="measurement_period" name="measurement_period" required="required">
                                        <option value="Planning">Planning</option>
                                        <option value="Installation">Installation</option>
                                        <option value="Monitoring">Monitoring</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row" data-ng-if="page.report.properties.measurement_period === 'Planning' || page.report.properties.measurement_period === 'Installation'">
                            <div>
                                <label for="" class="control-label">
                                    Load reductions
                                </label>
                            </div>
                            <div>

                                <!-- Column 1 of 2: Form Fields Column -->
                                <div class="form-element">

                                    <!-- Practice -->
                                    <!-- <label for="practice_category" class="control-label">
                                Practice Type
                            </label>

                            <input class="form-control" data-ng-model="page.practice.properties.category.properties.name" id="practice_category" name="practice_category" type="text" readonly /> -->

                                    <div class="form-element form-element-half">
                                        <!-- Practice Extent -->
                                        <label for="practice_extent" class="control-label">
                                            Practice Extent
                                        </label>

                                        <input class="form-control" data-ng-model="page.report.properties.practice_extent" id="practice_extent" name="practice_extent" step="0.0001" type="number" />

                                    </div>
                                    <div class="form-element form-element-half">
                                        <!-- Units -->
                                        <label for="practice_unit_id" class="control-label">
                                            Units
                                        </label>

                                        <select class="form-control" data-ng-model="page.report.properties.practice_unit_id" id="practice_unit_id" name="practice_unit_id" data-ng-options="value.properties.id as (value.properties.plural) group by value.properties.group for value in page.unitTypes.features | orderBy:'properties.plural'" required="required">
                                            <option value="">-- Select a unit --</option>
                                        </select>

                                    </div>

                                    <div class="form-element form-element-half">
                                        <!-- Nitrogen -->
                                        <label for="nitrogen_reduction" class="control-label">
                                            Nitrogen Reduction
                                        </label>

                                        <input class="form-control" data-ng-model="page.report.properties.custom_model_nitrogen_total" id="nitrogen_reduction" name="nitrogen_reduction" step="0.0001" type="number" />

                                    </div>
                                    <div class="form-element form-element-half">
                                        <label for="" class="control-label">
                                            &nbsp;
                                        </label>
                                        <p>
                                            <strong>lbs/yr</strong>
                                        </p>
                                    </div>

                                    <div class="form-element form-element-half">
                                        <!-- Phosphorus -->
                                        <label for="phosphorus_reduction" class="control-label">
                                            Phosphorus Reduction
                                        </label>

                                        <input class="form-control" data-ng-model="page.report.properties.custom_model_phosphorus_total" id="phosphorus_reduction" name="phosphorus_reduction" step="0.0001" type="number" />

                                    </div>
                                    <div class="form-element form-element-half">
                                        <label for="" class="control-label">
                                            &nbsp;
                                        </label>
                                        <p>
                                            <strong>lbs/yr</strong>
                                        </p>
                                    </div>

                                    <div class="form-element form-element-half">
                                        <!-- Sediment -->
                                        <label for="sediment_reduction" class="control-label">
                                            Sediment Reduction
                                        </label>

                                        <input class="form-control" data-ng-model="page.report.properties.custom_model_sediment_total" id="sediment_reduction" name="sediment_reduction" step="0.0001" type="number" />

                                    </div>
                                    <div class="form-element form-element-half">
                                        <label for="" class="control-label">
                                            &nbsp;
                                        </label>
                                        <p>
                                            <strong>tons/yr</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row" data-ng-if="page.report.properties.measurement_period === 'Planning' || page.report.properties.measurement_period === 'Installation'" data-ng-repeat="reading_ in page.report.properties.metrics | orderBy:'id':false track by reading_.id">
                            <div>
                                <label for="" class="control-label">
                                    Custom Metric #{{ $index+1 }}
                                </label>
                            </div>
                            <div>

                                <!-- Column 1 of 2: Form Fields Column -->
                                <div class="form-element">

                                    <!-- Practice -->
                                    <label for="metric_type_id" class="control-label">
                                        Metric
                                    </label>

                                    <select data-ng-if="!page.custom_metric_type[reading_.id]" class="form-control" data-ng-model="reading_.properties.metric_type_id" id="metric_type_id" name="metric_type_id" data-ng-options="value.id as value.properties.name group by value.properties.group for value in page.metricTypes.features | orderBy:'properties.name'">
                                        <option value="">-- Select a metric --</option>
                                    </select>

                                    <div data-ng-if="page.custom_metric_type[reading_.id]">
                                        <input class="form-control" data-ng-model="reading_.properties.metric_type.properties.name" id="custom_metric_type_name" name="custom_metric_type_name" type="text" autofocus />

                                        <a href="javascript:void(0);" data-ng-click="page.actions.cancelAddNewMetricType(reading_)">
                                            Cancel
                                        </a>
                                    </div>

                                    <p class="help-text">
                                        Don't see your metric?
                                        <a href="javascript:void(0);" data-ng-click="page.actions.addNewMetricType(reading_)">Add a new metric</a>
                                    </p>


                                    <div class="form-element form-element-half">
                                        <!-- Practice Extent -->
                                        <label for="metric_value" class="control-label">
                                            Metric Value
                                        </label>

                                        <input class="form-control" data-ng-model="reading_.properties.metric_value" id="metric_value" name="metric_value" step="0.0001" type="number" />

                                    </div>
                                    <div class="form-element form-element-half">
                                        <!-- Units -->
                                        <label for="metric_unit_id" class="control-label">
                                            Units
                                        </label>

                                        <select class="form-control" data-ng-model="reading_.properties.metric_unit_id" id="metric_unit_id" name="metric_unit_id" data-ng-options="value.properties.id as (value.properties.plural) group by value.properties.group for value in page.unitTypes.features | orderBy:'properties.plural'" required="required">
                                            <option value="">-- Select a unit --</option>
                                        </select>

                                    </div>

                                    <div class="form-element form-element-half">
                                        <label for="" class="control-label">
                                            &nbsp;
                                        </label>

                                        <button type="button" class="button button-link button-outline pull-right" data-ng-click="page.confirmMetricDelete[reading_.id] =! page.confirmMetricDelete[reading_.id]" data-ng-if="!page.confirmMetricDelete[reading_.id] && page.report.properties.measurement_period === 'Planning'">
                                            Remove this metric
                                        </button>
                                        <span data-ng-if="page.confirmMetricDelete[reading_.id]" class="action pull-right">
                                            <a data-ng-click="page.deleteMetric(reading_.id)" class="remove">
                                                Yes, I'm sure, delete this metric</a> or <a class="cancel" data-ng-click="page.confirmMetricDelete[reading_.id] = false;">nevermind</a>
                                        </span>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="form-row" data-ng-if="page.report.properties.measurement_period === 'Planning' || page.report.properties.measurement_period === 'Installation'">
                            <div>
                                <label class="control-label">
                                    New Custom Metric
                                </label>
                            </div>
                            <div>
                                <button type="button" data-ng-click="page.addMetric()" class="button button-link button-outline">
                                    + Add Another Metric
                                </button>

                            </div>
                        </div>

                        <div class="form-row" data-ng-if="page.report.properties.measurement_period === 'Monitoring'" data-ng-repeat="monitoring_ in page.report.properties.monitoring | orderBy:'id':false track by monitoring_.id">
                            <div>
                                <label for="" class="control-label">
                                    Custom Monitoring Check #{{ $index+1 }}
                                </label>
                            </div>
                            <div>

                                <div class="form-element">
                                    <!-- Practice Extent -->
                                    <label for="monitoring_value" class="control-label">
                                        Check Performed?
                                    </label>

                                    <input type="checkbox" class="form-control" data-ng-model="monitoring_.properties.was_verified" />

                                </div>

                                <!-- Column 1 of 2: Form Fields Column -->
                                <div class="form-element">

                                    <!-- Practice -->
                                    <label for="monitoring_type_id" class="control-label">
                                        Monitoring Check
                                    </label>

                                    <select data-ng-if="!page.custom_monitoring_type[monitoring_.id]" class="form-control" data-ng-model="monitoring_.properties.monitoring_type_id" id="monitoring_type_id" name="monitoring_type_id" data-ng-options="value.id as value.properties.name group by value.properties.group for value in page.monitoringTypes.features | orderBy:'properties.name'">
                                        <option value="">-- Select an adaptive management
                                            check --</option>
                                    </select>

                                    <div data-ng-if="page.custom_monitoring_type[monitoring_.id]">
                                        <input class="form-control" data-ng-model="monitoring_.properties.monitoring_type.properties.name" id="custom_monitoring_type_name" name="custom_monitoring_type_name" type="text" autofocus />

                                        <a href="javascript:void(0);" data-ng-click="page.actions.cancelAddMonitoringCheckType(monitoring_)">
                                            Cancel
                                        </a>
                                    </div>
                                    <p class="help-text">
                                        Don't see your adaptive management check?
                                        <a href="javascript:void(0);" data-ng-click="page.actions.addNewMonitoringCheckType(monitoring_)">Add
                                            a new adaptive management check</a>
                                    </p>


                                    <div class="form-element form-element-half">
                                        <!-- Practice Extent -->
                                        <label for="monitoring_value" class="control-label">
                                            Monitoring Check Value
                                        </label>

                                        <input class="form-control" data-ng-model="monitoring_.properties.monitoring_value" id="monitoring_value" name="monitoring_value" step="0.0001" type="number" />

                                    </div>
                                    <div class="form-element form-element-half">
                                        <!-- Practice Extent -->
                                        <label for="monitoring_description" class="control-label">
                                            Description
                                        </label>

                                        <input class="form-control" data-ng-model="monitoring_.properties.monitoring_description" id="monitoring_description" name="monitoring_description" type="text" />

                                    </div>

                                    <div class="form-element form-element-half">
                                        <label for="" class="control-label">
                                            &nbsp;
                                        </label>

                                        <button type="button" class="button button-link button-outline pull-right" data-ng-click="page.confirmMonitoringCheckDelete[monitoring_.id] =! page.confirmMonitoringCheckDelete[monitoring_.id]" data-ng-if="!page.confirmMonitoringCheckDelete[monitoring_.id]">
                                            Remove this check
                                        </button>
                                        <span data-ng-if="page.confirmMonitoringCheckDelete[monitoring_.id]" class="action pull-right">
                                            <a data-ng-click="page.deleteMonitoringCheck(monitoring_.id)" class="remove">
                                                Yes, I'm sure, delete this check</a> or <a class="cancel" data-ng-click="page.confirmMonitoringCheckDelete[monitoring_.id] = false;">nevermind</a>
                                        </span>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="form-row" data-ng-if="page.report.properties.measurement_period === 'Monitoring'">
                            <div>
                                <label class="control-label">
                                    New Custom Monitoring Check
                                </label>
                            </div>
                            <div>
                                <button type="button" data-ng-click="page.addMonitoringCheck()" class="button button-link button-outline">
                                    + Add Another Monitoring Check
                                </button>

                            </div>
                        </div>

                        <!-- <div class="form-row">
                            <div>
                                <label for="notes" class="control-label">
                                    Notes
                                </label>
                            </div>
                            <div>

                                <div class="form-element">
                                    <textarea rows="8" data-ng-model="page.report.properties.notes" class="form-control animate" msd-elastic id="notes" name="notes">{{ page.report.properties.notes }}</textarea>
                                </div>
                            </div>
                        </div> -->

                        <div class="form-element">
                            <span class="meta-label"><b>Notes</b></span>
                            <textarea class="form-control" msd-elastic data-ng-model="page.report.properties.notes">{{ page.report.properties.notes }}</textarea>
                        </div>

                        <!-- <div class="form-actions">
                            <div class="form-actions-buttons"></div>
                            <div class="form-actions-buttons">
                                <button type="submit" class="button button-submit">
                                    Save Changes
                                </button>
                                <button type="button" data-ng-click="page.deleteReport()" class="button button-link button-outline pull-right">
                                    Delete
                                </button>
                            </div>
                        </div> -->

                    </form>

                    <div class="save--action--wrapper save--action--bottom">
                        <span>Save report</span>
                        <button type="button" data-ng-click="page.saveReport()">
                            <i class="material-icons">
                                done
                            </i>
                        </button>
                    </div>


                </div>

            </article>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;">
        <ul>
            <li data-ng-class="{active: $root.toolbarState.dashboard}">
                <a href="/practices/{{ page.practice.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li>
                <a href="/practices/{{ page.practice.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li>
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget && page.deletionTarget.id === page.report.id">
                    <p>Do you want to delete this report?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature()">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.report)">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>