<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div data-ng-if="page.practice.category"
            class="content--container"
         style="border-right: 1px solid #e0e0e0;">

        <div class="breadcrumb pad-crumb">
            <div>
                <span>Project:&nbsp;</span>
                <a href="/projects/{{ page.practice.project.id }}">{{ page.practice.project.name }}</a>
                <span>&nbsp;/&nbsp;</span>
            </div>
            <div data-ng-if="page.practice.site !== null">
                <span>Site:&nbsp;</span>
                <a href="/sites/{{ page.practice.site.id }}">{{ page.practice.site.name }}</a>
                <span>&nbsp;/&nbsp;</span>
            </div>
            <div>
                <span>Practice:&nbsp;</span>
                <a href="/practices/{{ page.practice.id }}">{{ page.practice.name }}</a>
                <span>&nbsp;/&nbsp;</span>
            </div>
            <div>
                Targets
            </div>
        </div>

        <div class="breadcrumb-header-wrapper">
            <h1 class="inset">{{ page.practice.name || 'Un-named' }} &middot; Targets</h1>
        </div>

        <div class="main--ui target-ui reveal fade-in t0">

            <p>The metrics listed here are associated with the <strong>{{ page.practice_category.name }}</strong> practice type and the <strong>{{ page.practice.site.name }}</strong> site. Assign targets to this practice by entering a numeric value for one or more metrics.</p>

            <h2>{{ page.practice_category.name }} &middot; Definition</h2>

            <div>

                <p data-ng-if="page.practice_category.description" style="width:70%">
                    {{ page.practice_category.description }}
                </p>
                <p data-ng-if="!page.practice_category.description" style="width:70%">
                   This Practice Type's definition has not been defined.
                </p>
            </div>




 <!-- Extent-->
        <div style="border:1px solid red">
                <h2>Practice Extent</h2>
        <!--    <div style="text-align: left;margin-bottom:20px;">
                         {{page.practice_category.unit.instructions}}
            </div>
         -->
            <ul class="target-lst target-lst-inactive" >

                <li style="display:block; min-height:20px; color:#000000; width: 100%; ">

                         <p style="display:block; clear:both;">
                        The system generates the footprint based on the length or area of this practice's geometry.
                             Many models and practice types use this number to calculate the estimated reductions.
                             To generate estimated reduction calculations,
                             enter the value for the requested unit in the provided field.
                        </p>

                 <!--       <p style="display:block; clear:both;">
                    This is a system-generated number based on the length or area of this practice's geometry. You can provide a separate value in the "custom" field.
                        </p>
                -->
                </li>
                <!-- START HANDLING FOR COUNT BASED UNIT TYPES -->
                <li style="height:63px; margin-bottom:20px;" data-ng-if="(
                                                (page.practice.extent.calculated.converted)
                                                    && (page.practice.category.unit.dimension == 'count')
                                                    && (page.practice.geometry.type == 'Polygon')
                                            )"
                >
                          <div data-ng-if="page.practice_category.unit.unit.plural != 'acres' && page.practice_category.unit.unit.plural != 'linear feet'" style="text-transform:capitalize;">Calculated Area Value</div>
                         <span style="margin-right: 20px; text-transform:capitalize;">{{page.practice.extent.calculated.converted | number:2}} </span>

                         <span style="text-align: left; width: auto; margin-right: 20px; text-transform:capitalize;">
                              <nobr  >
                                     square meters
                                </nobr>
                         </span>
                </li>

                 <li style="height:63px; margin-bottom:20px;" data-ng-if="(
                                                (page.practice.extent.calculated.converted  )
                                                    && (page.practice.category.unit.dimension == 'count')
                                                    && (page.practice.geometry.type == 'LineString')
                                            )"
                >
                          <div data-ng-if="page.practice_category.unit.unit.plural != 'acres' && page.practice_category.unit.unit.plural != 'linear feet'" style="text-transform:capitalize;">Calculated Area Value</div>
                         <span style="margin-right: 20px; text-transform:capitalize;">{{page.practice.extent.calculated.converted | number:2}} </span>

                         <span style="text-align: left; width: auto; margin-right: 20px; text-transform:capitalize;">
                              <nobr  >
                                     linear meters
                                </nobr>
                         </span>
                </li>

                  <!-- END HANDLING FOR COUNT BASED UNIT TYPES -->



                 <li style="height:63px; margin-bottom:20px;" data-ng-if="page.practice.extent.calculated.converted && page.geometryMismatch == false">

                     <div data-ng-if="page.practice_category.unit.unit.plural == 'acres' || page.practice_category.unit.unit.plural == 'linear feet'" style="text-transform:capitalize;">Calculated {{page.practice_category.unit.dimension}} Value</div>
                     <div data-ng-if="page.practice_category.unit.unit.plural != 'acres' && page.practice_category.unit.unit.plural != 'linear feet'" style="text-transform:capitalize;">Calculated Area Value</div>
                  <!--   <div style="float:left; clear:left; color:#666666; font-size:10px;">
                           This is a system-generated number based on the length or area of this practice's geometry. You can provide a separate value in the "custom" field.
                        </div>
                   -->
                     <span style="margin-right: 20px; text-transform:capitalize;">{{page.practice.extent.calculated.converted | number:2}} </span>

                     <span style="text-align: left; width: auto; margin-right: 20px; text-transform:capitalize;">
                         <nobr data-ng-if="page.practice_category.unit.unit.plural == 'acres' || page.practice_category.unit.unit.plural == 'linear feet'">
                             {{page.practice_category.unit.unit.plural}}
                         </nobr>
                         <nobr data-ng-if="page.practice_category.unit.unit.plural != 'acres' && page.practice_category.unit.unit.plural != 'linear feet'" >
                             acres
                         </nobr>
                     </span>

                     <button type="button" class="add-item" data-ng-disabled="page.status.processing" style="margin-right: 20px;">
                        <i class="material-icons">

                        </i>
                    </button>

                    <button type="button" class="add-item" data-ng-disabled="page.status.processing">
                        <i class="material-icons">

                        </i>
                    </button>

                </li>

                  <!--
                -->
                <li style="display:block; min-height:20px; margin-bottom:20px; color:#000000; width: 100%;"
                    data-ng-if="((page.practice.geometry.type == 'LineString' && page.practice_category.unit.dimension != 'length')  && (page.practice_category.unit.dimension != 'count'))"
                >
                    Calculated Extent Values for this practice are only available with <a href="/practices/{{ page.practice.id }}/location">Polygonal Geometries</a>.
                </li>

                <li style="display:block; min-height:20px; margin-bottom:20px; color:#000000; width: 100%;"
                    data-ng-if="((page.practice.geometry.type == 'Polygon' && page.practice_category.unit.dimension != 'area') && (page.practice_category.unit.dimension != 'count'))"
                >
                    Calculated Extent Values for this practice are only available with <a href="/practices/{{ page.practice.id }}/location">Line Geometries</a>.
                </li>
                <!--
                -->

                <li style="height:63px; margin-bottom:20px; font-size:0.8em;"
                    data-ng-if="(!page.practice.extent.calculated.converted && page.practice.geometry.type != 'Point')">
                    A&nbsp;
                    <a href="/practices/{{ page.practice.id }}/location">Practice Location Geometry</a>
                    &nbsp;must be defined for a Calculated&nbsp;
                    <span data-ng-if="page.practice_category.unit.unit.plural == 'acres' || page.practice_category.unit.unit.plural == 'linear feet'" style="text-transform:capitalize;">
                        {{page.practice_category.unit.dimension}}
                    </span>
                     <span data-ng-if="page.practice_category.unit.unit.plural != 'acres' && page.practice_category.unit.unit.plural != 'linear feet'" style="text-transform:capitalize;">
                        area
                    </span>
                    &nbsp;Value to be generated.
                </li>

                <li style="height:63px; margin-bottom:20px; font-size:0.8em;"
                    data-ng-if="page.practice.geometry.type == 'Point' && !page.practice.extent.calculated.converted">
                    Calculated&nbsp;
                    <span data-ng-if="page.practice_category.unit.unit.plural == 'acres' || page.practice_category.unit.unit.plural == 'linear feet'" style="text-transform:capitalize;">
                        {{page.practice_category.unit.dimension}}
                    </span>
                     <span data-ng-if="page.practice_category.unit.unit.plural != 'acres' && page.practice_category.unit.unit.plural != 'linear feet'" style="text-transform:capitalize;">
                        area
                    </span>
                    &nbsp;Values are not available for&nbsp;
                    <a href="/practices/{{ page.practice.id }}/location">Point Geometries</a>.
                </li>



                <li style="display:block; clear:both; color:#000000; width: 100%; ">

                        <p style="display:block; clear:both;" >
                         {{page.practice_category.unit.instructions}}
                        </p>

                </li>

                <li style="height:63px; margin-bottom:8px;">

                    <div style="text-transform:capitalize;">Custom {{page.practice_category.unit.dimension}} Value</div>

                    <input type="number"
                           class="form-control"
                           style="margin-right: 20px; text-align: right; padding-right: 10px;"
                           data-ng-model="page.practice.custom_extent"
                           id="custom_extent"
                           name="custom_extent" placeholder="0" step="0.0001" min="0" autocomplete="off" />

                     <span style="text-align: left; width: auto; margin-right: 20px; text-transform:capitalize;">
                         <nobr > {{page.practice_category.unit.unit.plural}} </nobr>
                     </span>

                     <button type="button" class="add-item" data-ng-click="page.deleteCustomExtent()" data-ng-disabled="page.status.processing" style="margin-right: 20px;">
                        <i class="material-icons">
                            delete
                        </i>
                    </button>

                    <button type="button" class="add-item" data-ng-click="page.savePractice()" data-ng-disabled="page.status.processing">
                        <i class="material-icons">
                            done
                        </i>
                    </button>
                </li>

                <li style="justify-content: flex-end; margin-top: 2em; border-top: 1px solid #e0e0e0; padding-top: 1em;"></li>
            </ul>
        </div>


            <!-- END extent-->
                <!-- Modeled Inputs-->
           <div style="border:1px solid red;">
            <div data-ng-if="page.models.length">
                <h2>Modeled Inputs</h2>

                  <ul class="snapshot--cards list-unstyled">
                     <li class="card" data-ng-repeat="model in page.models"
                         style="min-height:25px;
                                    min-width: 400px;
                                    display:block;
                                    clear:both;
                                    background-color: #f5f5f5;
                                    margin-left: 40px;
                                    padding: 20px 20px 30px 20px;
                                "
                     >

                      <!--  <div data-ng-repeat="model in page.models"

                        ">-->
                         <div class="card-content">
                            <p style="display:block; clear:both;">{{ model.model.name }}</p>

                            <a href="/practices/{{ page.practice.id }}/model-data"
                               title="{{ model.model.name }}"
                               style="margin-right:30px;">
                               <sub>
                                   <i class="material-icons">
                                    multiline_chart
                                    </i>
                               </sub>
                                Modify Inputs
                            </a>
                            <a href="/models/{{ model.model.id }}" title="{{ model.model.name }}">
                                <sub>
                                    <i class="material-icons">
                                        dashboard
                                    </i>
                                </sub>
                                 Model Summary

                            </a>
                         </div>

                       <!-- </div>-->

                     </li>
                  </ul>

            </div>
           </div>
            <!-- END Modeled inputs -->

            <!-- Assign Targets -->
        <div>
            <h2 data-ng-if="page.targets && page.targets.active.length">Active targets</h2>

            <ul class="target-lst" data-ng-if="page.calculating == true">
                <li>
                    <div style="padding-right: 0; text-align:center;">Recalculating metrics...</div>
                </li>
                <li style="justify-content: flex-end; margin-top: 2em; border-top: 1px solid #e0e0e0; padding-top: 1em;">
                    <button type="button" class="add-item" data-ng-click="page.removeAll()" data-ng-disabled="page.status.processing">
                        <i class="material-icons">
                            delete_sweep
                        </i>
                    </button>
                    <button type="button" class="add-item" style="margin-left: 1em;" data-ng-click="page.saveTargets()" data-ng-disabled="page.status.processing">
                        <i class="material-icons">
                            done
                        </i>
                    </button>
                </li>
            </ul>

            <ul class="target-lst" data-ng-if="page.targets && page.targets.active.length && page.calculating == false">
                <li data-ng-repeat="target in page.targets.active">
                    <div>
                        <div> {{ target.metric.name || target.name }}</div>
                        <div data-ng-if="target.metric.model" style="float:left; color:#666666; font-size:10px;">
                           {{target.metric.model.name}}
                        </div>
                    </div>
                    <input type="number" class="form-control" data-ng-model="target.value" id="name-active-{{ $index }}" name="name-active-{{ $index }}" placeholder="0" step="0.0001" min="0" autocomplete="off" data-ng-readonly="target.metric.locked" />

                    <button type="button" class="add-item" data-ng-click="page.removeTarget(target, $index)" data-ng-disabled="page.status.processing || target.metric.locked">
                        <i class="material-icons">
                            remove_circle
                        </i>
                    </button>

                </li>
                <li style="justify-content: flex-end; margin-top: 2em; border-top: 1px solid #e0e0e0; padding-top: 1em;">
                    <button type="button" class="add-item" data-ng-click="page.removeAll()" data-ng-disabled="page.status.processing">
                        <i class="material-icons">
                            delete_sweep
                        </i>
                    </button>
                    <button type="button" class="add-item" style="margin-left: 1em;" data-ng-click="page.saveTargets()" data-ng-disabled="page.status.processing">
                        <i class="material-icons">
                            done
                        </i>
                    </button>
                </li>
            </ul>



            <ul class="target-lst" data-ng-if="(!page.targets || !page.targets.active.length) && page.calculating == false">
                <li>
                    <div style="padding-right: 0; text-align:center;">This practice is not tracking any metrics yet.</div>
                </li>
                <li style="justify-content: flex-end; margin-top: 2em; border-top: 1px solid #e0e0e0; padding-top: 1em;">
                    <button type="button" class="add-item" data-ng-click="page.removeAll()" data-ng-disabled="page.status.processing">
                        <i class="material-icons">
                            delete_sweep
                        </i>
                    </button>
                    <button type="button" class="add-item" style="margin-left: 1em;" data-ng-click="page.saveTargets()" data-ng-disabled="page.status.processing">
                        <i class="material-icons">
                            done
                        </i>
                    </button>
                </li>
            </ul>

            <h2 data-ng-if="page.targets && page.targets.inactive.length">Available metrics</h2>

            <ul class="target-lst target-lst-inactive" data-ng-if="page.targets">
                <li data-ng-repeat="target in page.targets.inactive" data-ng-if="!target.automated && !target.locked">
                    <div>{{ target.name || target.metric.name }}</div>
                    <input type="number" class="form-control" data-ng-model="target.value" id="name-inactive-{{ $index }}" name="name-inactive-{{ $index }}" placeholder="0" step="0.0001" min="0" autocomplete="off" />
                    <button type="button" class="add-item" data-ng-click="page.addTarget(target, $index)" data-ng-disabled="page.status.processing">
                        <i class="material-icons">
                            add_circle
                        </i>
                    </button>
                </li>
            </ul>

        </div>

   <!-- </div>
   -->

    <div data-ng-if="!page.practice.category"
            class="content--container"
         style="border-right: 1px solid #e0e0e0;">
        <section class="privacy-message reveal fade-in t0">
                <div class="main--ui eveal fade-in">
                   <p>
                    <i class="material-icons">
                        error_outline
                    </i>
                </p>

                <p>
                    A <a href="/practices/{{ page.practice.id }}/edit">Practice Type</a> must be specified before metric targets can be added.
                    <br>
                    Practice Types can be specified on the <a href="/practices/{{ page.practice.id }}/edit">Practice Edit Page</a>.
                </p>
            </div>
          </section>
    </div>
        <!-- END Assign Metrics-->

  <!-- Add Metrics-->
        <div style="border:1px solid red;">
            <h2>Add Metric </h2>
             <div class="form-element">
                            <span class="meta-label"><b>Add Metric</b></span>

                            <input id="practice_type_id"
                                   name="practice_type_id"
                                   type="text"
                                   placeholder="Search categories"
                                   data-ng-model="page.practiceType"
                                   uib-typeahead="practiceType as practiceType.name for practiceType in page.practiceTypes | filter:{name: $viewValue} | limitTo:5"
                                   typeahead-on-select="page.setPracticeType($item,$model,$label)"
                                   typeahead-min-length="0"
                                   typeahead-template-url="templates/search--tpl.html" />

                            <p data-ng-if="page.practice.category_id" style="font-style: normal; color: #616161; font-size: 0.9em; margin-top: 1em;">
                                {{ page.practice.category.description || page.practiceType.description }}
                            </p>

                            <p style="font-style: normal; color: #616161; font-size: 0.9em; margin-top: 1em;" data-ng-if="page.practiceType.model.id || page.practice.category.model.id">
                                This practice type is linked to an automated model that calculates estimated values for various environmental metrics. Click <a href="/models/{{ page.practiceType.model.id || page.practice.category.model.id }}" title="{{ page.practiceType.model.name || page.practice.category.model.name }}">here</a> to learn more about the model.
                            </p>
                </div>

            </div>

     <!-- END Add Metrics-->

        </div>
    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
            <li>
                <a href="/practices/{{ page.practice.id }}" title="Summary">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.edit}">
                <a href="/practices/{{ page.practice.id }}/edit" title="Edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editLocation}">
                <a href="/practices/{{ page.practice.id }}/location" title="Location">
                    <i class="material-icons">
                        location_on
                    </i>
                </a>
            </li>
          <!--  <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editPhotos}">
                <a href="/practices/{{ page.practice.id }}/photos" title="Photos">
                    <i class="material-icons">
                        insert_photo
                    </i>
                </a>
            </li>

            -->
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTargets}">
                <a href="/practices/{{ page.practice.id }}/targets" title="Metrics">
                    <i class="material-icons">
                        multiline_chart
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/practices/{{ page.practice.id }}/tags" title="Tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>

             <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.copyTarget && page.copyTarget.feature.id === page.practice.id && page.copyTarget.collection === 'practice'">
                    <p>Make a copy of this practice?</p>
                    <div class="actions">
                        <a class="snapshot--title"
                           href="#"
                           style="background-color:#29cc82"
                           title="Copy"
                           data-ng-click="page.copyFeature('practice')"
                        >
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelCopy()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmCopy(page.practice, 'practice')" title="Copy">
                    <i class="material-icons">
                        file_copy
                    </i>
                </a>
            </li>

            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget">
                    <p>Do you want to delete this practice?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature()">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.practice)" title="Delete">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>