<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <h1 class="inset">{{ page.practice.name || 'Un-named' }} &middot; Legacy data</h1>

        <div class="main--ui target-ui reveal fade-in t0">

            <form class="form" role="form">

                <div class="form-element" data-ng-repeat="(key, value) in page.modelInputs">

                    <label for="{{ key }}-field" class="meta-label">
                        <strong>{{ key | capitalAttribute }}</strong>
                    </label>

                    <input type="number" class="form-control" id="{{ key }}-field" name="{{ key }}-field" value="{{ value }}" placeholder="&hellip;" disabled readonly />

                </div>

            </form>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
            <li>
                <a href="/practices/{{ page.practice.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.edit}">
                <a href="/practices/{{ page.practice.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editLocation}">
                <a href="/practices/{{ page.practice.id }}/location">
                    <i class="material-icons">
                        location_on
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editPhotos}">
                <a href="/practices/{{ page.practice.id }}/photos">
                    <i class="material-icons">
                        insert_photo
                    </i>
                </a>
            </li>
            <!-- <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.partnerships}">
                <a href="/practices/{{ page.practice.id }}/partnerships">
                    <i class="material-icons">
                        group_work
                    </i>
                </a>
            </li> -->
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTargets}">
                <a href="/practices/{{ page.practice.id }}/targets">
                    <i class="material-icons">
                        multiline_chart
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTags}">
                <a href="/practices/{{ page.practice.id }}/tags">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget">
                    <p>Do you want to delete this practice?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature()">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.practice)">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>