<main class="container">
  <form class="row feature summary">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">

        <div data-ng-if="report.template" data-ng-include="report.template"></div>
      
      </div>
      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator" class="active"><a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}/{{ report.id }}/edit">Edit</a></li>
        </ul>
      </nav>
      <aside class="column-5 feature-sidebar pull-right legend">

      </aside>
    </article>
  </form>
</main>