<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading practice location&hellip;</p>
            </div>
        </div>

        <section class="privacy-message reveal fade-in t0" data-ng-if="!page.status.loading && page.makePrivate">

            <p>
                <i class="material-icons">
                    lock
                </i>
            </p>

            <p>This practice is private.</p>

        </section>

        <h1 class="inset reveal fade-in t0" data-ng-if="!page.status.loading && !page.makePrivate">Edit location</h1>

        <div class="main--ui reveal fade-in t0" data-ng-if="!page.status.loading && !page.makePrivate">

            <form role="form" class="form" style="position:relative;" id="form--PracticeEdit" name="form--PracticeEdit" data-ng-submit="page.savePractice(); page.isSavingChanges =! page.isSavingChanges;">

                <div class="form-element">

                    <span class="meta-label"><b>Address</b></span>

                    <input type="text" id="address" name="address" data-ng-model="page.geocode.query" class="form-control" placeholder="Type in an address&hellip;" mapbox-geocoder mapbox-geocoder-direction="forward" mapbox-geocoder-query="page.geocode.query" mapbox-geocoder-response="page.geocode.response" autofocus="autofocus" />

                </div>

                <div style="position:relative; border-radius: 4px; overflow: hidden;">

                    <leaflet id="practice--map" class="map tall" style="border-radius: 4px; overflow: hidden;" center="page.map.center" defaults="page.map.defaults" layers="page.map.layers" bounds="page.map.bounds"></leaflet>

                    <div class="progress--modal" data-ng-if="page.progressValue && page.progressValue > 0">
                        <div class="progress--container">
                            <p><strong>{{ page.progressMessage }}
                                </strong></p>
                            <div class="progress--meter--bar--wrapper">
                                <div class="progress--meter--bar" style="width: {{ page.progressValue }}%;"></div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Shapefile input -->
                <div class="form-field">
                    <p style="font-style: normal; font-size: 1em; margin-top: 1em;">
                        <strong>Upload an ESRI Shapefile</strong>
                    </p>
                    <p style="font-style: normal; font-size: 1em; margin-top: 1em; color: #616161;">In addition to the mandatory .shp, .shx, and .dbf files, your archive must include a .prj file that describes the coordinate system and projection.</p>
                    <input type="file" class="form-control" id="shapefile" name="shapefile" file-upload file-model="page.shapefile" file-on-change="page.uploadShapefile()" />
                </div>

                <div class="save--action--wrapper save--action--bottom">
                    <button type="submit" data-ng-disabled="page.status.processing">
                        <i class="material-icons" data-ng-if="page.status.processing">
                            more_horiz
                        </i>
                        <i class="material-icons" data-ng-if="!page.status.processing">
                            done
                        </i>
                    </button>
                </div>

            </form>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
            <li>
                <a href="/practices/{{ page.practice.properties.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.edit}">
                <a href="/practices/{{ page.practice.properties.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editLocation}">
                <a href="/practices/{{ page.practice.properties.id }}/location">
                    <i class="material-icons">
                        location_on
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editPhotos}">
                <a href="/practices/{{ page.practice.properties.id }}/photos">
                    <i class="material-icons">
                        insert_photo
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget">
                    <p>Do you want to delete this practice?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature()">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.practice)">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>