<main class="container">
  <section class="row feature summary">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">

        <h1>Summary for {{ practice.name }}</h1>
        <p data-ng-if="practice.description" data-ng-bind-html="practice.description"></p>

        <h4>
          <strong>Project Title:</strong> {{ project.project_title }}<br />
          <strong>Site Number:</strong> {{ site.site_number }} {{ site.description }}<br />
          <strong>Stream Name: </strong> {{ site.type_f9d8609090494dac811e6a58eb8ef4be[0].rivername }}
        </h4>
      </div>
      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Proect Manangement Navigation -->
          <li data-ng-if="user.owner || user.feature.read || user.feature.is_admin || user.template.is_admin || user.template.is_moderator" class="active"><a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/{{ practice.practice_type }}">Practice Overview</a></li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/edit">Edit</a></li>
        </ul>
      </nav>
    </article>
  </section>
  <section class="row feature summary">
    <article class="feature-detail">
      <div class="column-16 feature-detail-content">
        <div class="table-responsive">
          <div data-ng-include="storage.templates.report"></div>
        </div>
      </div>
    </article>
  </section>
</main>