<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading practice data&hellip;</p>
            </div>
        </div>

        <section class="privacy-message reveal fade-in t0" data-ng-if="!page.status.loading && page.makePrivate">

            <p>
                <i class="material-icons">
                    lock
                </i>
            </p>

            <p>This practice is private.</p>

        </section>

        <div class="main--ui" data-ng-if="!page.status.loading && !page.makePrivate">

            <div class="module--grid">

                <div breadcrumb class="full-width"
                     practice="page.practice"
                     site="page.practice.site"
                     project="page.practice.project"></div>

                <div class="group">

                    <!-- Descriptors -->

                    <article class="pad space-right shadow reveal fade-in t0">

                        <h1 class="margin-0 margin-b-1">
                            {{ page.practice.name || 'Un-named' }}
                        </h1>

                        <div class="last-modified-summary">

                            <div data-ng-if="page.practice.id && page.practice.last_modified_by.first_name && page.practice.last_modified_by.last_name"
                                 class="modtime">
                                Last modified by {{ page.practice.last_modified_by.first_name }} {{
                                page.practice.last_modified_by.last_name }} on {{ page.practice.modified_on |
                                date:'fullDate' }} at {{ page.practice.modified_on | localTime | date:'h:mm' }} {{ page.practice.modified_on | localTime | date:'a' }}
                            </div>

                            <div class="history-link-wrapper">
                                <span class="material-icons">
                                    history
                                </span>
                                <a href="/practices/{{ page.practice.id }}/history">
                                    View change log
                                </a>
                            </div>

                        </div>

                        <p>
                            <strong>Practice Type:</strong> {{ page.practice.practice_type.name }}
                        </p>

                        <div class="alignment-warning margin-b-1 rad-50"
                             data-ng-if="page.practice.misaligned">
                            <div class="pad-1">
                                <p class="margin-0">
                                    The assigned practice type or practice type version is not tracked by this project's
                                    program. This may lead to inconsistent behavior, including inaccurate or nonexistent
                                    metric calculations. Please choose another practice type from this program or <a
                                        href="mailto:support@fielddoc.org" target="_blank">contact our
                                    support team</a> to upgrade to the latest version of the current selection.
                                </p>
                            </div>
                        </div>

                        <p data-ng-if="((page.practice.extent.calculated.converted && !page.practice.custom_extent) && (page.practice.practice_type.unit.dimension != 'count'))"
                           style="text-transform:capitalize;">
                            <strong>Practice {{page.practice.practice_type.unit.dimension}} extent:</strong>
                            {{ page.practice.extent.calculated.converted | number:2 }}
                            {{page.practice.practice_type.unit.unit.plural}}
                            <!-- {{ calculated_extent.practice.calculated_extent }} -->
                        </p>

                        <!-- START HANDLING FOR COUNT BASED UNIT TYPES -->

                        <p data-ng-if="(
                                                        (page.practice.extent.calculated.converted && !page.practice.custom_extent)
                                                            && (page.practice.practice_type.unit.dimension == 'count')
                                                            && (page.practice.geometry.type == 'LineString')
                                                    )

                                                " style="text-transform:capitalize;">
                            <strong>Practice length extent:</strong>
                            {{ page.practice.extent.calculated.converted | number:2 }} Linear meters
                        </p>

                        <p data-ng-if="(
                                                        (page.practice.extent.calculated.converted && !page.practice.custom_extent)
                                                            && (page.practice.practice_type.unit.dimension == 'count')
                                                            && (page.practice.geometry.type == 'Polygon')
                                                    )

                                                " style="text-transform:capitalize;">
                            <strong>Practice area extent:</strong>
                            {{ page.practice.extent.calculated.converted | number:2 }} Square meters
                        </p>

                        <!-- END HANDLING FOR COUNT BASED UNIT TYPES -->

                        <p data-ng-if="page.practice.custom_extent" style="text-transform:capitalize;">
                            <strong>Practice {{page.practice.practice_type.unit.dimension}} extent:</strong> {{
                            page.practice.custom_extent | number:2 }} {{page.practice.practice_type.unit.unit.plural}}
                        </p>


                        <!--    <p data-ng-if="page.practice.area && page.practice.area > 0">
                                <strong>Area:</strong> {{ page.practice.area | convertArea:'acre' | number:2 }} acres</a>
                            </p>
                        -->
                        <p data-ng-if="page.practice.description" data-ng-bind-html="page.practice.description"></p>

                        <p data-ng-if="!page.practice.description">{{ page.practice.practice_type.description }}</p>

                        <div data-ng-if="page.tags && page.tags.length">

                            <span style="display: block; margin: 1em 0; color: #757575; text-transform: uppercase; font-size: .8em; font-weight: bold; letter-spacing: .05em;">Tags</span>

                            <div class="tag--group">

                                <div class="tag--pill" data-ng-class="{'colorize': tag.color && tag.color.length === 7}"
                                     data-ng-repeat="tag in page.tags">
                                    <div class="colorize" data-ng-if="tag.color">
                                        <span class="category"
                                              style="background: {{ tag.color }}; color: #f5f5f5; border-bottom: 1px solid {{ tag.color }};">{{ tag.group.name || 'misc' }}</span>
                                        <span style="background: {{ tag.lightColor }}; color: #fafafa;">{{ tag.name }}</span>
                                    </div>
                                    <div data-ng-if="!tag.color || tag.color.length < 7">
                                        <span class="category">{{ tag.group.name || 'misc' }}</span>
                                        <span>{{ tag.name }}</span>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </article>

                    <!-- Map -->

                    <div class="map--module shadow reveal fade-in t1" style="position:relative;">
                        <div id="primary--map" class="map tall" style="border-radius: 4px; overflow: hidden;">
                            <div class="mapboxgl-layer-ctrl"
                                 data-ng-click="page.showLayerOptions = !page.showLayerOptions" title="Switch layers">
                                <i class="material-icons">
                                    layers
                                </i>
                                <div class="layer-group" data-ng-show="page.showLayerOptions">
                                    <form>
                                        <label data-ng-repeat="style in page.mapStyles"
                                               data-ng-class="{'active': page.activeStyle === $index}"
                                               title="{{ style.name }}">
                                            <input type="radio" id="base-style-{{ $index }}" name="active-style"
                                                   data-ng-model="page.activeStyle" data-ng-value="{{ $index }}"
                                                   data-ng-change="page.switchMapStyle(style, $index)"><span> {{ style.name }}</span>
                                        </label>
                                    </form>
                                    <form class="layers" data-ng-show="page.layers && page.layers.length">
                                        <label for="layer-{{ $index }}" data-ng-repeat="layer in page.layers"
                                               data-ng-class="{'active': layer.selected}" title="{{ layer.name }}">
                                            <input type="checkbox" id="layer-{{ $index }}" name="layer-{{ $index }}"
                                                   data-ng-model="layer.selected" data-ng-value="{{ $index }}"
                                                   data-ng-change="page.toggleLayer(layer)">
                                            <span> {{ layer.name }}</span>
                                            <div class="symbol-group" data-ng-if="layer.symbol && layer.symbol.colors">
                                                <div class="color" data-ng-repeat="color in layer.symbol.colors"
                                                     style="background: {{ color }};"></div>
                                            </div>
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="group reveal fade-in t2"
                     data-ng-if="page.next_action == 'edit_targets'">

                    <section class="pad shadow">

                        <h2>Metrics</h2>

                        <p style="color: #616161; margin: 0; padding: 2em; font-size: 0.9em;"
                           data-ng-if="page.practice.legacy_self_id && page.practice.legacy_self_id > 0">
                            The practice data you entered into the old version of FieldDoc can be viewed <a
                                href="/practices/{{ page.practice.id }}/legacy-data">here</a>. Please <a
                                href="mailto:support@fielddoc.org">contact the FieldDoc team</a> if you have questions
                            or need help managing this practice.
                        </p>

                        <div class="empty-block-alert"
                             data-ng-if="page.metrics && !page.metrics.generic.length && !page.metrics.has_models">
                            <p class="pad-0 margin-0 margin-t-2">
                                <span class="material-icons">
                                    info
                                </span>
                            </p>
                            <p class="pad-0 margin-0 margin-y-2">
                                No metric progress available.<br><br>This may mean that the practice has not begun
                                tracking implementation or that progress calculations are being updated.
                            </p>
                        </div>

                        <div data-ng-if="page.metrics && page.metrics.has_models">

                            <table class="table table-practices with-metrics"
                                   data-ng-repeat="model in page.metrics.models">

                                <thead>
                                <tr>
                                    <th>
                                        <strong>{{ model.datum.name }}</strong>
                                        <p style="color: #616161; margin: 0; padding-top: 2em; font-size: 0.9em;">
                                            The following metric values were generated using data and algorithms
                                            supplied by the {{ model.datum.name }} model. You can find more information
                                            about this model <a href="/models/{{ model.datum.id }}">here</a>.
                                        </p>
                                    </th>
                                </tr>
                                <tr>
                                    <th class="table-column-wide table-metrics-header">&nbsp;</th>
                                    <th class="table-metrics-header">Estimated value</th>
                                    <!--
                                       <th class="table-metrics-header" data-ng-if="model.datum.show_progress">Estimated progress</th>
                                       -->
                                    <!--
                                       <th data-ng-if="model.datum.show_progress">&nbsp;</th>
                                       -->
                                </tr>
                                </thead>

                                <tbody class="metrics" data-ng-repeat="metric in model.collection track by $index">
                                <tr class="metrics--metric" data-ng-click="page.showMetricModal(metric)">
                                    <td class="table-column-wide">
                                        <p class="metric--title">
                                            {{ metric.name }}
                                        </p>
                                    </td>
                                    <td>
                                        <strong class="metrics--metric--rollup--small">{{ metric.current_value |
                                            number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit.plural }}</span><br/>
                                        <!--
                                            <span class="metrics--metric--rollup--label" data-ng-if="model.datum.show_progress || metric.show_progress">of {{ metric.self_target | number:2 }}</span>
                                        -->
                                    </td>
                                    <!--
                                       <td data-ng-if="model.datum.show_progress || metric.show_progress">
                                           <strong class="metrics--metric--percentage">
                                               {{ metric.selfProgress.value * 100 | number:1 }}%
                                           </strong>
                                       </td>
                                      -->
                                    <!--
                                       <td data-ng-if="model.datum.show_progress || metric.show_progress">
                                           <progress-arc
                                               size="32"
                                               stroke="#2196F3"
                                               stroke-width="4"
                                               complete="metric.selfProgress.arcValue"
                                               counter-clockwise="false"
                                               background="rgba(0,0,0,0.2)">
                                           </progress-arc>
                                       </td>
                                      -->
                                </tr>
                                <!-- Geography -->
                                <!--
                                 <tr class="metrics--metric" style="opacity: 0.72;" data-ng-repeat="geography in metric.geographies">
                                        <td class="table-column-wide">
                                            <a class="metric--title" style="display: flex; flex-flow: row nowrap; align-items: center; padding-left: 2em;" data-ng-href="/geographies/{{ geography.id }}">
                                                <i class="material-icons">
                                                    public
                                                </i>
                                                &nbsp;
                                                {{ geography.name }}
                                                <span data-ng-if="geography.category">&nbsp;&middot; {{ geography.category }}</span>
                                            </a>
                                        </td>
                                        <td>
                                            <strong class="metrics--metric--rollup--small">{{ metric.current_value | number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit.plural }}</span><br />
                                                <span class="metrics--metric--rollup--label" data-ng-if="model.datum.show_progress || metric.show_progress">of {{ geography.target | number:2 }}</span>
                                        </td>
                                        <td data-ng-if="model.datum.show_progress || metric.show_progress">
                                            <strong class="metrics--metric--percentage">
                                                {{ geography.progress | number:1 }}%
                                            </strong>
                                        </td>
                                        <td data-ng-if="model.datum.show_progress || metric.show_progress">
                                            <progress-arc
                                                size="32"
                                                stroke="#2196F3"
                                                stroke-width="4"
                                                complete="geography.arc_value"
                                                counter-clockwise="false"
                                                background="rgba(0,0,0,0.2)">
                                            </progress-arc>
                                        </td>
                                </tr>
                                -->
                                <!-- Geography -->
                                </tbody>

                            </table>

                        </div>

                        <table class="table table-practices with-metrics" style="border-top: 1px solid #e0e0e0;"
                               data-ng-if="page.metrics && page.metrics.generic.length">

                            <thead>
                            <tr>
                                <th class="table-column-wide table-metrics-header">&nbsp;</th>
                                <th class="table-metrics-header">Installed / Planned</th>
                                <th class="table-metrics-header">% Installed</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>

                            <tbody class="metrics" data-ng-repeat="metric in page.metrics.generic track by $index">
                            <tr class="metrics--metric" data-ng-click="page.showMetricModal(metric)">
                                <td class="table-column-wide">
                                    <p class="metric--title">
                                        {{ metric.name }}
                                    </p>
                                </td>
                                <td>
                                    <strong class="metrics--metric--rollup--small">{{ metric.current_value | number:2
                                        }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit.plural }}<br/>
                                            / {{ metric.self_target | number:2 }}</span>
                                </td>
                                <td>
                                    <strong class="metrics--metric--percentage">
                                        {{ metric.selfProgress.value * 100 | number:1 }}%
                                    </strong>
                                </td>
                                <td>
                                    <progress-arc
                                            size="32"
                                            stroke="#2196F3"
                                            stroke-width="4"
                                            complete="metric.selfProgress.arcValue"
                                            counter-clockwise="false"
                                            background="rgba(0,0,0,0.2)">
                                    </progress-arc>
                                </td>
                            </tr>

                            <!-- Geography -->
                            <!--
                             <tr class="metrics--metric" style="opacity: 0.72;" data-ng-repeat="geography in metric.geographies">
                                        <td class="table-column-wide">
                                            <a class="metric--title" style="display: flex; flex-flow: row nowrap; align-items: center; padding-left: 2em;" data-ng-href="/geographies/{{ geography.id }}">
                                                <i class="material-icons">
                                                    public
                                                </i>
                                                &nbsp;
                                                {{ geography.name }}
                                                <span data-ng-if="geography.category">&nbsp;&middot; {{ geography.category }}</span>
                                            </a>
                                        </td>
                                        <td>
                                            <strong class="metrics--metric--rollup--small">{{ metric.current_value | number:2 }}</strong> <span class="metrics--metric--rollup--label">{{ metric.unit.plural }}</span><br />
                                                <span class="metrics--metric--rollup--label" data-ng-if="model.datum.show_progress || metric.show_progress">of {{ geography.target | number:2 }}</span>
                                        </td>
                                        <td data-ng-if="model.datum.show_progress || metric.show_progress">
                                            <strong class="metrics--metric--percentage">
                                                {{ geography.progress | number:1 }}%
                                            </strong>
                                        </td>
                                        <td data-ng-if="model.datum.show_progress || metric.show_progress">
                                            <progress-arc
                                                size="32"
                                                stroke="#2196F3"
                                                stroke-width="4"
                                                complete="geography.arc_value"
                                                counter-clockwise="false"
                                                background="rgba(0,0,0,0.2)">
                                            </progress-arc>
                                        </td>
                             </tr>
                             -->
                            <!-- Geography -->

                            </tbody>

                        </table>

                    </section>

                </div>

                <div class="metric-modal" data-ng-if="page.displayModal" data-ng-click="page.closeMetricModal()">

                    <div class="summary-card">

                        <button class="close" type="button" data-ng-click="page.closeMetricModal()" title="Cancel">
                            <i class="material-icons">
                                clear
                            </i>
                        </button>

                        <h2 class="metric--title"
                            style="color: #e0e0e0; margin-bottom: 1em; border-bottom: 1px solid rgba(255,255,255,0.2); padding-bottom: 1em;">
                            {{ page.selectedMetric.name }}
                        </h2>

                        <p style="color: #e0e0e0;">{{ page.selectedMetric.description || 'No description' }}</p>

                        <div style="display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; padding: 1em 0; width: 100%;">

                            <div style="display: flex; flex-flow: column; flex-grow: 1; justify-content: center; align-items: center; ">
                                <span style="display: block; margin-bottom: 2em; color: #e0e0e0; text-transform: uppercase; font-size: .8em; letter-spacing: .05em;">Site progress</span>
                                <br/>
                                <progress-arc
                                        size="80"
                                        stroke="#2196F3"
                                        stroke-width="8"
                                        complete="page.selectedMetric.contextProgress.arcValue"
                                        counter-clockwise="false"
                                        background="rgba(0,0,0,0.2)">
                                </progress-arc>
                                <span style="display: block; margin-top: 2em; color: #e0e0e0;">{{ page.selectedMetric.current_value | number:2 }} / {{ page.selectedMetric.context_target | number:2 }}</span>
                            </div>

                            <div style="display: flex; flex-flow: column; flex-grow: 1; justify-content: center; align-items: center;">
                                <span style="display: block; margin-bottom: 2em; color: #e0e0e0; text-transform: uppercase; font-size: .8em; letter-spacing: .05em;">Practice progress</span>
                                <br/>
                                <progress-arc
                                        size="80"
                                        stroke="#2196F3"
                                        stroke-width="8"
                                        complete="page.selectedMetric.selfProgress.arcValue"
                                        background="rgba(0,0,0,0.2)">
                                </progress-arc>
                                <span style="display: block; margin-top: 2em; color: #e0e0e0;">{{ page.selectedMetric.current_value | number:2 }} / {{ page.selectedMetric.self_target | number:2 }}</span>
                            </div>

                        </div>

                        <p style="color: #e0e0e0; margin: 0; padding-top: 2em; font-size: 0.9em;"
                           data-ng-if="page.selectedMetric.model">
                            This is an automated metric. The values above were generated using data and algorithms
                            supplied by the {{ page.selectedMetric.model.name }} model. You can find more information
                            about this model <a href="/models/{{ page.selectedMetric.model.id }}">here</a>.
                        </p>

                    </div>

                </div>

            </div>

            <section class="reveal fade-in t3"
                     style="padding: 0;"
                     data-ng-if="page.next_action == 'edit_targets'">

                <div class="create-heading margin-t-1 margin-b-2">
                    <h2 class="margin-0">
                        Reports
                        <span class="tally">
                            {{ page.reports.length | number }}
                        </span>
                    </h2>
                    <button type="button" class="margin-r-1" style="padding: .5rem 1rem .5rem .7rem;"
                            data-ng-click="page.presentChildModal('report')"
                            data-ng-if="page.permissions.can_edit">
                        <span class="material-icons margin-r-50p">
                            add
                        </span>
                        Create
                    </button>
                </div>

<!--                <div style="border:0px solid red; float:left; display:inline-block">-->
<!--                    <span style="display:block;float:left;"><h2>Reports</h2></span>-->
<!--                </div>-->
<!--                <div style="  border:0px solid purple;-->
<!--                                        position:relative;-->
<!--                                        float: right;-->
<!--                                        display:inline-block;-->
<!--                                        width:56px;-->
<!--                                        height: 56px;-->
<!--                                        top:10px;-->
<!--                                        margin-left:30px;-->

<!--                                       "-->
<!--                     class="add&#45;&#45;new&#45;&#45;wrapper"-->
<!--                     data-ng-if="page.permissions.can_edit">-->
<!--                    <a title="Create report" class="add&#45;&#45;new&#45;&#45;btn" data-ng-click="page.presentChildModal('report')"-->
<!--                       style="float:right; width:56px; height:56px;">-->
<!--                        <i class="material-icons">-->
<!--                            add-->
<!--                        </i>-->
<!--                    </a>-->

<!--                </div>-->

                <ul class="snapshot--cards list-unstyled">

                    <li class="card" data-ng-repeat="report in page.reports | orderBy:'report_date':false">

                        <div class="card--content">

                            <div class="name">
                                <span>{{ report.name || report.measurement_period }}</span>
                            </div>

                            <div class="body">

                                <div class="confirm--delete"
                                     data-ng-if="page.deletionTarget && page.deletionTarget.feature.id === report.id && page.deletionTarget.collection === 'report'">
                                    <p>Do you want to delete this report?</p>
                                    <div class="actions" style="flex: 0;">
                                        <a class="snapshot--title" href="#" title="Delete forever"
                                           data-ng-click="page.deleteFeature('report', $index)">
                                            Yes
                                        </a>
                                        <a class="snapshot--title" href="#" title="Cancel"
                                           data-ng-click="page.cancelDelete()">
                                            Cancel
                                        </a>
                                    </div>
                                </div>
                                <p>{{ (report.notes || 'No notes recorded for this date') | truncate:80 }}</p>
                                <div class="actions">
                                    <a class="snapshot--title" href="/reports/{{ report.id }}/edit" title="Edit report"
                                       data-ng-if="page.permissions.can_edit">
                                        <i class="material-icons">
                                            edit
                                        </i>
                                    </a>
                                    <a class="snapshot--title" href="#" title="Delete report"
                                       data-ng-click="page.confirmDelete(report, 'report')"
                                       data-ng-if="page.permissions.can_edit">
                                        <i class="material-icons">
                                            delete
                                        </i>
                                    </a>
                                </div>
                                <span><time datetime="{{ report.report_date }}" title="{{ report.report_date }}">
                                        Created on {{ report.report_date | date }}</time></span>
                            </div>

                        </div>

                    </li>

                    <li class="card" data-ng-if="page.permissions.can_edit">
                        <div class="card--content">
                            <div class="body">
                                <button type="button" class="snapshot--title"
                                        data-ng-click="page.presentChildModal('report')" title="Create report">
                                    <i class="material-icons">
                                        add
                                    </i>
                                </button>
                            </div>
                        </div>
                    </li>

                </ul>

            </section>

        </div>

    </div>

    <div practice-toolbar practice="page.practice" toolbar-state="summary" alerts="page.alerts"
         data-ng-if="page.practice"></div>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts"
                 data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

    <div creation-dialog
         alerts="page.alerts"
         parent="page.practice.id"
         organization="page.practice.project.organization_id"
         type="page.childType"
         visible="page.showChildModal"></div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>