<footer class="container">
  <div class="site--legal ng-scope">
    <section class="page--legal">
      <div class="page--content--row">
        <div class="page--content--column page--content--center">

          <!-- <h2>REFERENCES</h2>
          <p><strong>Ashley, P.R.</strong>  2006.  Habitat evaluation procedures standard measurement protocols and techniques (Draft).  Columbia Basin Fish and Wildlife Authority.  Portland, OR.
          <p><strong>Barbour, M.T.</strong>, J. Gerritsen, B.D. Snyder, and J.B. Stribling.  1999.  Rapid bioassessment protocols for use in streams and wadeable rivers: Periphyton, benthic macro-invertebrates, and fish.  Second Edition.  EPA 841-B-99-002.  U. S. Environmental Protection Agency, Washington, D.C.  Available at:  http://water.epa.gov/scitech/monitoring/rsl/bioassessment/index.cfm.
          <p><strong>Forestry Workgroup</strong>. (2014) Recommendations of the Expert Panel to Reassess Removal Rates for Riparian Forest and Grass Buffers Best Management Practices.  Chesapeake Bay Program.  http://www.chesapeakebay.net/documents/Riparian_BMP_Panel_Report_FINAL_October_2014.pdf
          <p><strong>Manley, P.N.</strong>, B. Van Horne, J.K. Roth, W.J. Zielinski, M.M. McKenzie, T.J. Weller, F.W. Weckerly, and C. Vojta.  2006.  Multiple species inventory and monitoring technical guide.  Gen. Tech. Rep. WO-73.  U.S. Department of Agriculture, Forest Service, Washington, D.C. 204 pp.  Available at: http://www.fs.fed.us/rm/pubs_other/wo_gtr073.pdf.
          <p><strong>PACREP and CBF</strong>.  2007.  Landowner guide to buffer success.  Available at: http://www.creppa.org/pdf/landowner%20guide%20revised%2030oct07.pdf.
          <p><strong>Salo</strong>, C., R. Unnasch, and C. Wisnewski.  2008.  Measuring vegetation with Line-Point Intercept and Line Intercept methods.  Sound Science White Paper Series #03.  Available at:  http://www.sound-science.org/S2WhitePaper03LPI.pdf.
          <p><strong>Sellner</strong>, K.G., M. Palmer, L. Wainger, A.P. Davis, B. Benham, E.J. Ling, and G. Yagow. 2012. Metrics and protocols for progress assessment in Chesapeake Bay Stewardship Fund Grants.  Final Report to the National Fish and Wildlife Foundation. CRC Publ. No. 12-174, Edgewater, MD. 474 pp. Available at: http://www.nfwf.org/chesapeake/Documents/Metrics%20and%20Protocol%20Report.pdf.
          <p><strong>USEPA</strong>.  2004.  Wadeable Stream Assessment:  Field Operations Manual.  Washington, DC:  U.S. Environmental Protection Agency, Office of Water and Office of Research and Development. Available at: http://www.epa.gov/owow/monitoring/wsa/wsa_fulldocument.pdf.
          <hr />
          <h2>ADDITIONAL METRICS INFORMATION</h2>
          <p><strong>Buffer length (ft):</strong> Length is measured along the natural streambank or shoreline.</p>
          <p><strong>Average buffer width (ft):</strong> Width is measured from the top of the stream bank, perpendicular to the stream channel, at 100' intervals along the entire buffer, and then averaged.</p>
          <p><strong>Vegetative cover (%):</strong> Measurements of cover along a series of 50-ft transects within the buffer area (Grid-Transect Method, Ashley, 2006; Line-Point Intercept Method, Salo et al., 2008). Alternately, a visual estimate can be made using Manley et al., 2006.</p>
          <p><strong>Buffer composition:</strong> Percent ground cover (3 categories), percent understory cover (2 categories), and percent canopy(2 categories). USEPA, 2004. pgs 92-94, 160.</p>
          <p><strong>RBP Bank Vegetative Protection Score:</strong> Barbour et al., 1999. pgs 5-28 to 5-29.</p>
          <p><strong>RBP Riparian Vegetation Zone Width Score:</strong> Barbour et al., 1999. pgs 5-30 to 5-31.</p>
          <p><strong>Rapid Bioassessment Protocol (RBP) Assessments</strong> are performed over a 100-m stretch of stream, typically upstream from a monitoring point. For the following two metrics, each bank is evaluated separately and the scores added together. Left and Right are relative to a person facing downstream. Total Score ranges from 0-20; poor 0-4; marginal 5-10; suboptimal 11-16; optimal 17-20.</p>
          <p><strong>Adaptive management checks:</strong> Summary Field Sheet (above); PACREP and CBF, 2007.</p>
            <hr />
          <h2>LOAD REDUCTION INFORMATION</h2>
          <p><strong>Efficiencies:</strong> Effectiveness estimates for TN, TP and TSS are provided in the FWG (2014) document for Riparian Forest and Grass Buffers on agricultural land.</p>
          <p><strong>Definitions:</strong> Qualifying conditions for buffers is provided in the FWG (2014) doucment for Riparian Forest Buffers on agricultural land.</p> -->

        </div>
      </div>
    </section>
  </div>
</footer>
