<div data-ng-include="'/templates/header--view.html'"></div>

<main class="container" save2pdf pdfName="GrassBuffer">

  <div data-ng-include="'/modules/components/practices/views/practiceSummaryHeader--view.html'"></div>

  <section class="row feature summary">
    <article class="feature-detail">
      <div class="column-16 feature-detail-content">
        <div class="table-responsive">

          <div data-ng-if="!page.summary.practice.properties.has_planning_data">
            <h2><strong>Empty</strong> Summary</h2>

            <p>
              Please add a new Planning measurement period to this Practice to begin.
            </p>

            <p>
              <a class="button" data-ng-click="page.addReading('Planning')">Add Planning Data</a>
            </p>
          </div>

          <div data-ng-if="page.summary.practice.properties.has_planning_data">
            <table class="table">
              <tbody>
                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.summary.practice.properties.readings_grass_buffer + 4 }}">
                    <h2><strong>Installation</strong> Summary</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th>&nbsp;</th> <!-- Empty because of Pre-BMP Load -->
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/grass-buffer/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                      <br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Installed To-Date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Length of Buffer Installed (ft)</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">{{ report.properties.length_of_buffer }}</td>
                  <td><strong data-ng-if="page.calculateGrassBuffer.results.percentageLengthOfBuffer">{{ page.calculateGrassBuffer.results.percentageLengthOfBuffer.total | number:2 }}</strong></td>
                  <td><strong data-ng-if="page.calculateGrassBuffer.results.percentageLengthOfBuffer">{{ page.calculateGrassBuffer.results.percentageLengthOfBuffer.percentage | number:0 }}%</strong></td>
                </tr>
                <tr>
                  <th>Average Buffer Width (ft)</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <td data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">{{ report.properties.average_width_of_buffer }}</td>
                  <td>--</td>
                  <td>--</td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.summary.practice.properties.readings_grass_buffer + 4 }}">
                    <h2><strong>Load</strong> &amp; Reductions</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th>Pre-BMP Load</th>
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/grass-buffer/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned Reduction</span><span data-ng-if="report.properties.measurement_period === 'Installation'">Installed Reduction</span><br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Reduction To-date</th>
                  <th>% of Planned</th>
                </tr>

                <tr data-ng-if="page.summary.practice.properties.has_planning_data">
                  <th>Nitrogen (lbs/yr)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.preinstallation.nitrogen | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.planning.nitrogen | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.installation.nitrogen | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.nitrogen | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.nitrogen | number:2 }}%
                    </strong>
                  </td>
                </tr>
                <tr data-ng-if="page.summary.practice.properties.has_planning_data">
                  <th>Phosphorus (lbs/yr)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.preinstallation.phosphorus | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.planning.phosphorus | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.installation.phosphorus | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.phosphorus | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.phosphorus | number:2 }}%
                    </strong>
                  </td>
                </tr>
                <tr data-ng-if="page.summary.practice.properties.has_planning_data">
                  <th>Sediment (tons/yr)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.preinstallation.sediment | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.planning.sediment | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.installation.sediment | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.sediment | number:2 }}
                    </strong>
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.sediment | number:2 }}%
                    </strong>
                  </td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.summary.practice.properties.readings_grass_buffer + 4 }}">
                    <h2><strong>Chesapeake</strong> Bay Metrics</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <th data-ng-if="report.properties.measurement_period === 'Planning' || report.properties.measurement_period === 'Installation'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/grass-buffer/{{ report.properties.id }}/edit">
                      <span data-ng-if="report.properties.measurement_period === 'Planning'">Planned</span>
                      <span data-ng-if="report.properties.measurement_period === 'Installation'">Installed</span>
                      <br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                  <th>Installed To-date</th>
                  <th>% of Planned</th>
                </tr>

                <tr>
                  <th>Acres of Riparian Restoration</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.metrics.acres_of_riparian_restoration | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.metrics.acres_of_riparian_restoration | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.acres_of_riparian_restoration | number:2 }}
                    </strong>acres
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.acres_of_riparian_restoration | number:2 }}%
                    </strong>
                  </td>
                </tr>
                <tr>
                  <th>Miles of Riparian Restoration</th>
                  <td>&nbsp;</td> <!-- Empty because of Pre-BMP Load -->
                  <td data-ng-if="report.properties.measurement_period === 'Planning'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.metrics.miles_of_riparian_restoration | number:2 }}
                  </td>
                  <td data-ng-if="report.properties.measurement_period === 'Installation'"
                      data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                      {{ report.properties.metrics.miles_of_riparian_restoration | number:2 }}
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.quantity_installed.miles_of_riparian_restoration | number:2 }}
                    </strong>miles
                  </td>
                  <td>
                    <strong>
                      {{ page.summary.practice.properties.percentage_installed.miles_of_riparian_restoration | number:2 }}%
                    </strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div data-ng-if="page.summary.practice.properties.has_monitoring_data">
            <table class="table">

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.summary.practice.properties.readings_grass_buffer + 4 }}">
                    <h2><strong>Interim</strong> BMP Metrics Data</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/grass-buffer/{{ report.properties.id }}/edit">
                      Monitored on<br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                </tr>

                <tr>
                  <th class="align-left" colspan="{{ page.readings.features.length + 1 }}" style="background: #efefef;">Vegetative Cover</th>
                </tr>
                <tr>
                  <th class="align-left">Cover (%) <a href="#">?</a></th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">{{ report.properties.native_vegetation_intact }}</td>
                </tr>

                <tr>
                  <th class="align-left" colspan="{{ page.readings.features.length + 1 }}" style="background: #efefef;">Buffer Composition</th>
                </tr>
                <tr>
                  <th class="align-left">Woody (%)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    {{ report.properties.buffer_composition_woody }}
                  </td>
                </tr>
                <tr>
                  <th class="align-left">Shrub (%)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    {{ report.properties.buffer_composition_shrub }}
                  </td>
                </tr>
                <tr>
                  <th class="align-left">Grass (%)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    {{ report.properties.buffer_composition_grass }}
                  </td>
                </tr>
                <tr>
                  <th class="align-left">Bare (%)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    {{ report.properties.buffer_composition_bare }}
                  </td>
                </tr>
                <tr>
                  <th class="align-left">Other (%)</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    {{ report.properties.buffer_composition_other }}
                  </td>
                </tr>

                <tr>
                  <th class="align-left" colspan="{{ page.readings.features.length + 1 }}" style="background: #efefef;">Riparian Vegetation</th>
                </tr>
                <tr>
                  <th class="align-left">Vegetative Protection - Left Bank</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">{{ report.properties.vegetative_protection_left_bank }}</td>
                </tr>
                <tr>
                  <th class="align-left">Vegetative Protection - Right Bank</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">{{ report.properties.vegetative_protection_right_bank }}</td>
                </tr>
                <tr>
                  <th class="align-left">Riparian Vegetative Zone Width - Left Bank</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">{{ report.properties.riparian_vegetative_zone_width_left_bank }}</td>
                </tr>
                <tr>
                  <th class="align-left">Riparian Vegetative Zone Width - Right Bank</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">{{ report.properties.riparian_vegetative_zone_width_right_bank }}</td>
                </tr>

                <tr class="no-rule">
                  <td class="align-left" colspan="{{ page.summary.practice.properties.readings_grass_buffer + 4 }}">
                    <h2><strong>Adaptive</strong> Management Checks Performed</h2>
                  </td>
                </tr>

                <tr>
                  <th>&nbsp;</th>
                  <th data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/grass-buffer/{{ report.properties.id }}/edit">
                      Monitored on<br />
                      {{ report.properties.report_date }}
                    </a>
                  </th>
                </tr>

                <tr>
                  <th class="align-left" width="50%">Check for, and correct, causes of excess sediment build-up at the field-buffer interface that re-directs flow</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <div data-ng-if="report.properties.sediment_deposition" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Perform maintenance to remove concentrated flow paths through the buffer</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <div data-ng-if="report.properties.concentrated_flow_paths" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Check for, correct causes, and path bare and/or eroded areas in the buffer</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <div data-ng-if="report.properties.monthly_buffer_maintenance" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Apply herbicide around shelters in spring and fall to reduce competing vegetation</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <div data-ng-if="report.properties.vegetative_cover" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Control noxious and invasive weeds</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <div data-ng-if="report.properties.invasive_species_control" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
                <tr>
                  <th class="align-left" width="50%">Replant, as needed, after addressing cause of failure</th>
                  <td data-ng-if="report.properties.measurement_period === 'Monitoring'" data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                    <div data-ng-if="report.properties.tree_survival_rate" class="icon retinaicon-essentials-071"></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div data-ng-if="page.summary.practice.properties.has_planning_data">
            <h2><strong>Notes</strong></h2>
            <table class="table">
              <thead>
                <tr>
                  <th class="align-left" width="10%">Date</th>
                  <th class="align-left" width="90%">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr data-ng-repeat="report in page.summary.practice.properties.readings_grass_buffer | orderBy:'id'">
                  <td class="align-left">
                    <a href="/projects/{{ page.project.id }}/sites/{{ page.site.id }}/practices/{{ page.practice.id }}/grass-buffer/{{ report.properties.id }}/edit">
                      {{ report.properties.report_date }}
                    </a>
                  </td>
                  <td class="align-left" data-ng-if="report.properties.notes">{{ report.properties.notes }}</td>
                  <td class="align-left" data-ng-if="!report.properties.notes"><em>No notes recorded for this date</em></td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </article>
  </section>
</main>

<div data-ng-include="'/modules/components/practices/modules/grass-buffer/views/citations--view.html'"></div>

<div data-ng-include="'/templates/footer--view.html'"></div>

<div data-ng-show="page.showData">
  <code>
    <pre>
      {{ page.summary | json }}
    </pre>
  </code>
</div>
