@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic);
body {
  background-color: #f2f2f2;
  color: #1f2120;
  margin: 72px auto 0; }

.page-header {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border: 0;
  border-bottom: 1px solid #e1e1e1; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Crimson Text", "Times New Roman", "Times", serif;
  color: #1f2120;
  line-height: 1.5; }

h1 {
  font-size: 48px;
  font-weight: 200;
  margin-top: 0; }

h2, p.lead {
  font-size: 24px;
  line-height: 1.4; }

p.introduction {
  font-size: 32px;
  line-height: 1.4;
  max-width: 70%;
  margin: 0 auto;
  text-align: center; }

h2.sans {
  font-family: "RobotoDraft", "helvetica neue", "helvetica", arial, sans-serif;
  font-weight: 700;
  letter-spacing: -0.025em; }

h3 {
  font-family: "RobotoDraft", "helvetica neue", "helvetica", arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

h4 {
  font-size: 16px;
  font-weight: bold; }

h5 {
  font-size: 14px;
  font-weight: bold; }

h6 {
  font-size: 12px;
  font-weight: bold; }

p {
  font-size: 16px;
  margin: 0 0 32px; }

ul {
  list-style-type: square;
  margin: 0 0 32px; }

li {
  font-size: 16px; }

hr {
  margin-top: 32px;
  margin-bottom: 32px;
  border: 0;
  border-top: 1px solid #e1e1e1; }

a,
a:active,
a:link {
  color: #013e81;
  text-decoration: none; }

a:hover {
  color: #013268;
  text-decoration: underline; }

a:visited {
  color: #01264e;
  text-decoration: underline; }

.navbar-brand {
  padding: 4px 16px 0; }

.navbar-inverse .navbar-toggle {
  border-color: transparent;
  margin-left: 4px; }

.reverse {
  background-color: #1f2120;
  padding: 12px 0; }

.branding .img-responsive {
  margin: 0 auto; }

.color-chip {
  border: 1px solid #e1e1e1;
  display: block;
  min-height: 120px;
  margin: 0 auto;
  width: 120px; }
  .color-chip.chip-1 {
    background-color: #1f2120; }
  .color-chip.chip-2 {
    background-color: #f2f2f2; }
  .color-chip.chip-3 {
    background-color: #013e81; }
  .color-chip.chip-4 {
    background-color: #b1c11d; }

.navbar ul li {
  font-family: "RobotoDraft", "helvetica neue", "helvetica", arial, sans-serif; }
  .navbar ul li a,
  .navbar ul li a:active,
  .navbar ul li a:link,
  .navbar ul li a:visited {
    color: #f2f2f2;
    text-decoration: none; }
    .navbar ul li a:hover,
    .navbar ul li a:active:hover,
    .navbar ul li a:link:hover,
    .navbar ul li a:visited:hover {
      color: #cccccc;
      text-decoration: none; }

.icon-button,
.icon-button:active,
.icon-button:link,
.icon-button:visited {
  background-color: white;
  /*  border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
  */
  color: #013e81;
  padding: 6px 12px;
  font-family: "RobotoDraft", "helvetica neue", "helvetica", arial, sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase; }
  .icon-button .icon-button-label,
  .icon-button:active .icon-button-label,
  .icon-button:link .icon-button-label,
  .icon-button:visited .icon-button-label {
    margin-right: 8px; }
  .icon-button:hover,
  .icon-button:active:hover,
  .icon-button:link:hover,
  .icon-button:visited:hover {
    background-color: #013e81;
    color: white;
    text-decoration: none; }

.icon-matrix {
  font-size: 32px;
  line-height: 2.0;
  padding-top: 64px; }
  .icon-matrix .icon-large {
    font-size: 48px;
    line-height: 1.0; }

.icon.icon-blue {
  color: #013e81; }
.icon.icon-blue-dark {
  color: #001a35; }
.icon.icon-green {
  color: #b1c11d; }
.icon.icon-green-dark {
  color: #747e13; }
.icon.icon-green-darker {
  color: #4b520c; }
.icon.icon-gray {
  color: #1f2120; }

.form-group {
  margin-bottom: 32px; }

label,
label.control-label {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  line-height: 1;
  margin-bottom: 0; }

label.alt {
  font-weight: normal;
  letter-spacing: -0.025em;
  font-size: 16px;
  font-family: "DIN Next W01 Medium";
  color: #585858; }

.helper.glyphicon {
  color: #dddddd;
  font-size: 48px; }

.help-block {
  font-size: 12px;
  margin-bottom: 16px; }

.non-label {
  margin-bottom: 4px;
  margin-top: 16px; }

.button,
.button:hover {
  background-color: #70b300;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  color: white;
  display: inline-block;
  font-size: 13px;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.025em;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase; }

.button:hover {
  background-color: #76bd00; }

.button:active {
  position: relative;
  top: 1px; }

.button.button-default,
.button.button-default:hover {
  background-color: #fcfcfc;
  color: #3a3a3a; }

.button.button-info,
.button.button-info:hover {
  background-color: #19a6d7;
  color: #fcfcfc; }

.button.button-link,
.button.button-link:hover {
  background-color: #fcfcfc;
  border-bottom: 2px solid #fcfcfc;
  box-shadow: none;
  color: #40ac18;
  margin: 10px 20px;
  padding: 0; }

.button.button-link:hover {
  border-bottom: 2px solid #40ac18; }

.button.button-cancel,
.button.button-cancel:hover {
  color: #7c7c7c;
  font-size: 1em;
  margin-top: 8px;
  text-decoration: underline; }

.button.button-cancel:hover {
  text-decoration: none; }

.button.small {
  font-size: 12px;
  padding: 2px 10px 3px; }

.btn.btn-link {
  color: #555555;
  font-size: 13px;
  padding-left: 0;
  padding-right: 0; }

.btn {
  text-decoration: none; }

.btn:hover {
  text-decoration: none; }

.btn.btn-link {
  text-decoration: underline; }

.btn.btn-link:hover {
  text-decoration: none; }

.checkbox.inline {
  margin-top: 32px; }

.table td.reorder {
  color: #c4c4c4;
  vertical-align: middle; }

.table td.reorder:hover {
  color: #404040; }

.sidebar .button {
  display: block;
  margin: 16px auto 0; }

.button.success {
  background-color: #6cc40e;
  box-shadow: 0 0.2em 0 #52940b; }

.button.success:active,
.button.success:focus {
  box-shadow: 0 0.1em 0 #52940b; }

.button.danger {
  background-color: #bb1111;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #931111; }

select {
  height: 35px; }

textarea {
  height: 34px;
  max-width: 100%;
  width: 100%; }

input:focus,
select:focus,
textarea:focus {
  border-color: #0082a8;
  outline: none !important; }

.form-control,
.form-control.input-lg,
select.form-control,
select.form-control.input-lg {
  background: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  box-shadow: none;
  font-size: 16px;
  font-weight: 300;
  height: 34px;
  line-height: 1.5;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select.form-control {
  background: url(../img/Retina-Icons-v_1.0_Arrow7-16x8.png) no-repeat 98% 13px; }

.form-control:focus {
  border-bottom-width: 1px;
  box-shadow: none; }

/*# sourceMappingURL=main.css.map */
