<div data-ng-include="'/templates/header--view.html'"></div>

<main class="site--content--flow fluid-content clearfix distinguish">

    <div id="sidebar" data-ng-include="'/templates/side-bar.html'"></div>

    <div class="content--container" style="border-right: 1px solid #e0e0e0;">

        <div class="progress--modal reveal fade-in t0" data-ng-if="page.status.loading">
            <div class="progress--container">
                <p style="font-weight: bold;" class="color-pulse">Loading target data&hellip;</p>
            </div>
        </div>

        <section class="privacy-message reveal fade-in t0" data-ng-if="!page.status.loading && page.makePrivate">

            <p>
                <i class="material-icons">
                    lock
                </i>
            </p>

            <p>This feature is private.</p>

        </section>

        <h1 class="inset" data-ng-if="!page.status.loading && !page.makePrivate">Edit targets</h1>

        <div class="main--ui reveal fade-in t0" data-ng-if="!page.status.loading && !page.makePrivate">

            <article class="feature-detail" style="width: 100%; max-width: 48rem; margin: 1em auto;">

                <div class="form--row">

                    <form role="form" class="form" id="form--ProjectTargets" name="form--ProjectTargets" data-ng-submit="page.saveFeature()">

                        <div class="classification--search" style="position: relative;">
                            <input type="search" class="search" placeholder="Search metrics&hellip;" data-ng-model="page.targetQuery" uib-typeahead="suggestion as suggestion.name for suggestion in page.searchMetrics($viewValue)" typeahead-on-select="page.addTarget($item, $model, $label)" typeahead-wait-ms="100" typeahead-template-url="templates/search--tpl.html">
                        </div>

                        <div class="classification--list" style="margin-top: 2em;">
                            <ul>
                                <li class="reveal fade-in" style="animation-delay: {{ $index * 100 }}ms;" data-ng-repeat="metric in page.tempMetrics">
                                    <i class="material-icons">
                                        timeline
                                    </i>
                                    <span style="flex-grow: 1; padding-left: 2em;">{{ metric.properties.name || metric.name }}</span>
                                    <div class="button--container">
                                        <button type="button" class="remove-item" data-ng-click="page.removeMetric(metric.id)">
                                            <i class="material-icons">
                                                remove_circle
                                            </i>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="save--action--wrapper save--action--bottom">
                            <button type="submit" data-ng-disabled="page.status.processing">
                                <i class="material-icons" data-ng-if="page.status.processing">
                                    more_horiz
                                </i>
                                <i class="material-icons" data-ng-if="!page.status.processing">
                                    done
                                </i>
                            </button>
                        </div>

                    </form>

                </div>

            </article>

        </div>

    </div>

    <nav id="toolbar" class="toolbar" style="float: none; width: auto;" data-ng-if="$root.user.id">
        <ul>
            <li>
                <a href="{{ page.featureCollection.path }}/{{ page.feature.id }}">
                    <i class="material-icons">
                        dashboard
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit && page.showUserItem" data-ng-class="{active: $root.toolbarState.users}">
                <a href="{{ page.featureCollection.path }}/{{ page.feature.id }}/users">
                    <i class="material-icons">
                        group
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <a href="{{ page.featureCollection.path }}/{{ page.feature.id }}/edit">
                    <i class="material-icons">
                        edit
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit && page.showLocationItem" data-ng-class="{active: $root.toolbarState.editTarget}">
                <a href="{{ page.featureCollection.path }}/{{ page.feature.id }}/targets">
                    <i class="material-icons">
                        map
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit" data-ng-class="{active: $root.toolbarState.editTarget}">
                <a href="{{ page.featureCollection.path }}/{{ page.feature.id }}/targets">
                    <i class="material-icons">
                        local_offer
                    </i>
                </a>
            </li>
            <li data-ng-if="page.permissions.can_edit">
                <div class="confirm--delete--popup" data-ng-if="page.deletionTarget && page.deletionTarget.id === page.feature.id">
                    <p>Do you want to delete this feature?</p>
                    <div class="actions">
                        <a class="snapshot--title" href="#" title="Delete forever" data-ng-click="page.deleteFeature('feature')">
                            Yes
                        </a>
                        <a class="snapshot--title" href="#" title="Cancel" data-ng-click="page.cancelDelete()">
                            Cancel
                        </a>
                    </div>
                </div>
                <a href="#" data-ng-click="page.confirmDelete(page.feature)">
                    <i class="material-icons">
                        delete
                    </i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="transient--notification" data-ng-class="{show: page.alerts.length}">
        <div class="event--container">
            <div data-ng-repeat="alert in page.alerts" data-ng-class="{error: alert.type == 'error', success: alert.type == 'success'}">
                <span class="event--message">{{ alert.msg }}</span>
            </div>
        </div>
    </div>

</main>

<div data-ng-include="'/templates/footer--view.html'"></div>