<main class="container">
  <section class="row feature">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">

        <h1>{{ practice.practice_type }}</h1>
        <p data-ng-if="practice.description" data-ng-bind-html="practice.description"></p>

        <table class="table" data-ng-if="practice.readings.Installation.length">
          <thead>
            <tr>
              <th>Measurement Period</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-if="practice.readings.Installation.length" data-ng-repeat="report in practice.readings.Installation">
              <td>
                <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/reports/{{ report.id }}/{{ report.measurement_period }}">{{ report.measurement_period }}</a>
                <em class="supplemental">Report on {{ report.report_date | date:"MMM d, yyyy" }}</em>
              </td>
            </tr>
            <tr data-ng-if="practice.readings.Monitoring.length" data-ng-repeat="report in practice.readings.Monitoring">
              <td>
                <a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/reports/{{ report.id }}/{{ report.measurement_period }}">{{ report.measurement_period }}</a>
                <em class="supplemental">Report on {{ report.report_date | date:"MMM d, yyyy" }}</em>
              </td>
            </tr>
          </tbody>
        </table>


      </div>
      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Proect Manangement Navigation -->
          <li data-ng-if="user.owner || user.feature.read || user.feature.is_admin || user.template.is_admin || user.template.is_moderator" class="active"><a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}">Practice Overview</a></li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}/sites/{{ site.id }}/practices/{{ practice.id }}/edit">Edit</a></li>
        </ul>
      </nav>
      <aside class="column-5 feature-sidebar pull-right legend">

      </aside>
    </article>
  </section>
</main>