<main class="container">
  <form class="row feature">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">
        <h4>
          <span data-ng-if="project.program_type" class="label">{{ project.program_type }}</span> 
          <strong>NFWF ID: </strong>{{ project.name }} 
          <strong>Easy Grants ID: </strong>{{ project.easy_grants_id }}
        </h4>
        <h1 class="large">{{ project.project_title }}</h1>
        <h2 data-ng-if="!project.type_271e6f04e893436588c8cd84da851a97">
          <span data-ng-repeat="organization in project.type_271e6f04e893436588c8cd84da851a97">
            {{ organization.name }}
            <span data-ng-if="!$last">, </span>
          </span>
        </h2>
        <div class="project-abstract" data-ng-bind-html="project.project_abstract"></div>

        <section data-ng-if="project.sites.list" id="sites">
          <div class="list">
            <h6 class="rule-above"><strong>Project</strong> Sites</h6>
            <article class="row list-item list-item-thin" data-ng-repeat="site in project.sites.list track by $index">
              <div class="column-16 list-item-content">
                <img data-ng-if="site.site_thumbnail" data-ng-src="{{ site.site_thumbnail }}" alt="{{ site.site_description }} location preview" width="80" height="80" />
                <h1><a href="/projects/{{ project.id }}/sites/{{ site.id }}" title="{{ site.site_description }} project details">{{ site.site_description }}</a></h1>
                <h4><strong>Site Number: </strong>{{ site.site_number }}</h4>
              </div>
            </article>
          </div>
        </section>
      </div>
      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Proect Manangement Navigation -->
          <li data-ng-if="user.owner || user.feature.read || user.feature.is_admin || user.template.is_admin || user.template.is_moderator" class="active"><a href="/projects/{{ project.id }}">Project Overview</a></li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}/edit">Edit</a></li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}/users">Users</a></li>
        </ul>
      </nav>
      <aside class="column-5 feature-sidebar pull-right">
        <h6><strong>Location</strong> Description</h6>
        <p>{{ project.location_description }}</p>

        <h6><strong>Important</strong> Dates</h6>
        
        <p>
          <strong>Proposed Start Date</strong><br />
          <span data-ng-if="!project.proposed_start_date">Not specified</span>{{ project.proposed_start_date | date }}
        </p>

        <p>
          <strong>Proposed End Date</strong><br />
          <span data-ng-if="!project.proposed_end_date">Not specified</span>{{ project.proposed_end_date | date }}
        </p>

        <h6><strong>Financial</strong> Information</h6>

        <p>
          <strong>Award</strong><br />
          <span data-ng-if="!project.award">Not specified</span>${{ project.award | number:2 }}
        </p>

        <p>
          <strong>Match</strong><br />
          <span data-ng-if="!project.match">Not specified</span>${{ project.match | number:2 }}
        </p>      
      </aside>
    </article>
  </form>
</main>