<main class="container">
  <form class="row feature">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">
        <!-- Proect Manangement Navigation -->
        <p data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a class="button" href="/projects/{{ project.id }}/edit">Edit</a></p>
        <p data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a class="button" href="/projects/{{ project.id }}/users">Users</a></p>

        <h4><span data-ng-repeat="type_ in project.type_7713b933a2bf4389b0dcd6c3938b6b9b" class="label">{{ type_.name }}</span> <strong>NFWF ID: </strong><span>{{ project.name }}</span> <strong>Easy Grants ID: </strong><span>{{ project.easy_grants_id }}</span></h4>
        <h1>{{ project.project_title }}</h1>
        <h2 data-ng-if="!project.type_271e6f04e893436588c8cd84da851a97">
          <span data-ng-repeat="organization in project.type_271e6f04e893436588c8cd84da851a97">
            {{ organization.name }}
            <span data-ng-if="!$last">, </span>
          </span>
        </h2>
        <p data-ng-if="!project.project_abstract">{{ project.project_abstract }}</p>
      </div>
      <aside class="column-5 feature-sidebar">
        <h6><strong>Location</strong> Description</h6>
        <p>{{ project.location_description }}</p>

        <h6><strong>Important</strong> Dates</h6>
        
        <p>
          <strong>Proposed Start Date</strong><br />
          <span data-ng-if="!project.proposed_start_date">Not specified</span>{{ project.proposed_start_date | date }}
        </p>

        <p>
          <strong>Proposed End Date</strong><br />
          <span data-ng-if="!project.proposed_end_date">Not specified</span>{{ project.proposed_end_date | date }}
        </p>

        <h6><strong>Financial</strong> Information</h6>

        <p>
          <strong>Award</strong><br />
          <span data-ng-if="!project.award">Not specified</span>${{ project.award | number:2 }}
        </p>

        <p>
          <strong>Match</strong><br />
          <span data-ng-if="!project.match">Not specified</span>${{ project.match | number:2 }}
        </p>      
      </aside>
    </article>

    <!-- Project List -->
    <div class="list">
      <article class="row list-item" data-ng-repeat="site in sites track by $index">
        <div class="column-16 list-item-content">
          <h4>{{ site.name }}</h4>
          <h1><a href="/projects/{{ project.id }}/sites/{{ site.id }}" title="{{ site.description }} project details">{{ site.description }}</a></h1>
          <h2>
            <span data-ng-repeat="organization in project.type_271e6f04e893436588c8cd84da851a97">
              {{ organization.name }}
              <span data-ng-if="!$last">, </span>
            </span>
          </h2>
        </div>
      </article>
    </div>
  </form>
</main>