<main role="main" class="container">
  <div class="site-content">
    <!-- Toolbox -->
    <div class="row toolbox">

      <!-- Filter Tools -->
      <div class="column-8">
        <form class="filter" method="POST">
          <input type="hidden" data-ng-model="filters.page" />
          <input type="hidden" data-ng-model="filters.results_per_page" />
          <input type="hidden" data-ng-model="filters.callback" />

          <div class="row">
            <div class="column-3">
              <label class="control-label filter-label"><span class="icon retinaicon-essentials-063"></span> Filter by </label>
            </div>
            <div class="column-3">
              <select data-ng-model="filters[$index]" data-ng-change="search.select($index)" data-ng-options="filter.label for filter in filters.available">
                <option value="">Pick a filter</option>
              </select>
              {{ active_filter.active }}
            </div>
            <div class="column-10">
              <div data-ng-if="filter.active" class="filter-group" data-ng-repeat="filter in filters.available track by $index">
                <!-- Text Field -->
                <div data-ng-if="filters.available[$index].type === 'text'">
                  <input class="filter-control" type="text" data-ng-model="filters.available[$index].filter[0].value" data-ng-change="search.projects()" placeholder="{{ filters.available[$index].label }}" autofocus="autofocus" />
                </div>

                <!-- Numeric Field -->
                <div data-ng-if="filters.available[$index].type === 'number'">
                  <input class="filter-control" type="number" data-ng-model="filters.available[$index].filter[0].value" data-ng-change="search.projects()" placeholder="{{ filters.available[$index].label }}" autofocus="autofocus" />
                  <p class="help-text">Minimum</p>

                  <input class="filter-control" type="number" data-ng-model="filters.available[$index].filter[1].value" data-ng-change="search.projects()" placeholder="{{ filters.available[$index].label }}" autofocus="autofocus" />
                  <p class="help-text">Maximum</p>
                </div>

                <!-- Date Field -->
                <div data-ng-if="filters.available[$index].type === 'date'">
                  <input class="filter-control" type="date" data-ng-model="filters.available[$index].filter[0].value" data-ng-change="search.projects()" placeholder="{{ filters.available[$index].label }}" autofocus="autofocus" />
                  <p class="help-text">Minimum</p>

                  <input class="filter-control" type="date" data-ng-model="filters.available[$index].filter[1].value" data-ng-change="search.projects()" placeholder="{{ filters.available[$index].label }}" autofocus="autofocus" />
                  <p class="help-text">Maximum</p>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- Pagination Tools -->
      <div class="column-8">
        <ul class="pager pull-right">
          <li class="pull-left">
            <span data-ng-if="projects.properties.total_features === 0">No results</span>
            <span data-ng-if="projects.properties.total_features <= 25 && projects.properties.total_features !== 0">1-{{ projects.properties.total_features }} of {{ projects.properties.total_features }}</span>
            <span data-ng-if="projects.properties.current_page === 1 && projects.properties.total_features > 25">1-25 of {{ projects.properties.total_features | number }}</span>
            <span data-ng-if="projects.properties.current_page && projects.properties.current_page > 1">{{ (projects.properties.current_page*projects.properties.features_per_page)-projects.properties.features_per_page | number }}-{{ (projects.properties.current_page*projects.properties.features_per_page) | number }} of {{ projects.properties.total_features | number }}</span>
          </li>
          <li data-ng-if="projects.properties.current_page !== projects.properties.total_pages && projects.properties.total_features !== 0" class="next pull-right"><a title="Older" href="/projects?page={{ projects.properties.current_page+1 }}"><div class="icon retinaicon-retina-icons-v-1-5"></div></a></li>
          <li data-ng-if="projects.properties.current_page !== 1" class="previous pull-right"><a title="Newer" href="/projects?page={{ projects.properties.current_page-1 }}"><div class="icon retinaicon-retina-icons-v-1-4"></div></a></li>
        </ul>
      </div>

    </div>

    <!-- Project List -->
    <div class="list">
      <article class="row list-item" data-ng-repeat="project in projects.response.features track by $index">
        <div class="column-16 list-item-content">
          <h4><span data-ng-repeat="type_ in project.type_7713b933a2bf4389b0dcd6c3938b6b9b" class="label">{{ type_.name }}</span> <strong>NFWF ID: </strong>{{ project.name }} <strong>Easy Grants ID: </strong>{{ project.easy_grants_id }}</h4>
          <h1><a href="/projects/{{ project.id }}" title="{{ project.project_title }} project details">{{ project.project_title }}</a></h1>
          <h2>
            <span data-ng-repeat="organization in project.type_271e6f04e893436588c8cd84da851a97">
              {{ organization.name }}
              <span data-ng-if="!$last">, </span>
            </span>
          </h2>
        </div>
      </article>
    </div>
  </div>
</main>
