<main class="container">
  <form class="row feature">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">
        <h4><strong>Site Number: </strong><span>{{ site.site_number }}</span></h4>
        <h1>{{ site.site_description }}</h1>

        <br />

        <section data-ng-if="site.practices.list" id="practices">
          <h6 class="rule-above"><strong>Practices</strong> Installed</h6>
          <article class="row list-item" data-ng-repeat="practice in site.practices.list track by $index">
            <div class="column-16">
              <h1>{{ practice.practice_type }}</h1>
              <h4>{{ practice.description }}</h4>
            </div>
          </article>
        </section>

      </div>
      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Proect Manangement Navigation -->
          <li data-ng-if="user.owner || user.feature.read || user.feature.is_admin || user.template.is_admin || user.template.is_moderator" class="active"><a href="/projects/{{ project.id }}/sites/{{ site.id }}">Site Overview</a></li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}/sites/{{ site.id }}/edit">Edit</a></li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}/sites/{{ site.id }}/summary">Summary Report</a></li>
        </ul>
      </nav>
      <aside class="column-5 feature-sidebar pull-right legend">
        <h6><strong>Location</strong> Information</h6>
        <p data-ng-if="site.site_city || site.type_b1baa10ba3ce493d90581a864ec95dc8.length">
          {{ site.site_city }}
        </p>
        <p>
          <span data-ng-if="site.type_b1baa10ba3ce493d90581a864ec95dc8.length && site.site_state">
            {{ site.type_b1baa10ba3ce493d90581a864ec95dc8[0].name }} County, {{ site.site_state }}
          </span>
        </p>

        <h6><strong>Hydrologic</strong> Details</h6>
        <div data-ng-repeat="segment in site.type_f9d8609090494dac811e6a58eb8ef4be">
          <p>
            {{ segment.hgmr_nme }}, ({{ segment.hgmr }})
          </p>
          <p>
            {{ segment.rivername }}
          </p>
          <p>
            {{ segment.name }}
          </p>
        </div>

        <leaflet class="map" markers="map.markers" defaults="map.defaults" layers="map.layers" center="map.center"></leaflet>

        <h6><strong>Legend</strong></h6>
        <ul class="legend-list">
          <li>
            <span class="legend-item-symbol">
              <img src="/images/legend-marker-pin-green.png" />
            </span>
            <span class="legend-item-label">Site Location</span>
          </li>
          <li>
            <span class="legend-item-symbol">
              <img src="/images/legend-marker-polygon-bright-blue.png" />
            </span>
            <span class="legend-item-label">Land River Segment</span>
          </li>
          <li>
            <span class="legend-item-symbol">
              <img src="/images/legend-marker-line-white.png" />
            </span>
            <span class="legend-item-label">County</span>
          </li>
        </ul>
      </aside>
    </article>
  </form>
</main>

<div data-ng-show="modals.windows.createPractice.visible" class="modal">
  <div class="container">
    <div class="row">
      <div class="column-16">
        <div data-ng-click="modals.close('createPractice')" class="pull-right close icon retinaicon-essentials-045"></div>
      </div>
    </div>
    <div class="row">
      <div class="column-4"></div>
      <form class="column-8" method="POST" id="form-add-practice" name="form-add-practice">
        <h1>{{ modals.windows.createPractice.title }}</h1>

        <div class="row step first">
          <div class="column-16 sub-step">
            <div class="step-indicator">
              <p>1 of 3</p>
            </div>
            <header>
              <p>1. Select the practice type</p>
            </header>
            <article class="step-content">
              <div class="form-group">
                <select class="form-control" id="practice_type" name="practice_type" data-ng-model="practice.practice_type" data-ng-options="option for option in fields.practice_type.options"></select>
              </div>
            </article>
          </div>
        </div>

        <div data-ng-if="practice.practice_type" class="row step">
          <div class="column-16 sub-step">
            <div class="step-indicator">
              <p>2 of 3</p>
            </div>
            <header>
              <p>2. Describe the practice being installed</p>
            </header>
            <article class="step-content">
              <textarea rows="1" data-ng-model="practice.description" class="form-control"  msd-elastic id="practice_description" name="practice_description" placeholder="Describe the practice being installed">{{ practice.description }}</textarea>
            </article>
          </div>
        </div>

        <div data-ng-if="practice.description.length" class="row step last">
          <div class="column-16 sub-step">
            <div class="step-indicator">
              <p>3 of 3</p>
            </div>
            <header>
              <p>3. Add the new practice to this site</p>
            </header>
            <article class="step-content">
              <a class="button" data-ng-click="site.practices.create()">Save Practice</a>
            </article>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>