<main class="container">
  <form class="row feature">
    <article class="feature-detail">
      <div class="column-11 feature-detail-content">

        <!-- Site Number -->
        <div class="form-group">
          <label for="site_number" class="control-label">Site Number</label>
          <textarea rows="1" data-ng-model="site.site_number" class="form-control animate"  msd-elastic id="site_number" name="site_number" placeholder="Site Number">{{ site.site_number }}</textarea>
        </div>

        <!-- Site Description -->
        <div class="form-group">
          <label for="site_description" class="control-label">Site Description</label>
          <textarea rows="1" data-ng-model="site.site_description" class="form-control animate"  msd-elastic id="site_description" name="site_description" placeholder="Site Description">{{ site.site_description }}</textarea>
        </div>


        <!-- Land River Segment Lookup -->
        <div class="form-group">
          <label for="site_land_river_segment" class="control-label">Land River Segment</label>
          <p>In order to select the correct Land/River Segment for this Site, please drop a pin, by clicking on the map, and positioning that pin on the Practice's location.</p>
          <div class="autocomplete">
            <input type="text" class="form-control input-xl" id="address" name="address" data-ng-model="site.geolocation" data-ng-change="geolocation.search()"  placeholder="Begin typing an address" autofocus="true" />
            <div data-ng-if="geocode_features.length && site.geolocation.length >= 2" class="dropdown">
              <ul>
                <!-- <li data-ng-if="relationship_focus && !features.length"><p><em>Begin typing to select the {{ field.label }} you want</em></p></li> -->
                <li data-ng-repeat="possible_result in geocode_features"><a data-ng-click="geolocation.select(possible_result)">{{ possible_result.place_name }}</a></li>
              </ul>
            </div>
          </div>
        </div>

        <leaflet class="map" markers="map.markers" defaults="map.defaults" layers="map.layers" center="map.center"></leaflet>

      </div>
      <nav class="column-5 contextual-navigation-wrapper">
        <h6><strong>Tools</strong></h6>
        <ul class="contextual-navigation">
          <!-- Proect Manangement Navigation -->
          <li data-ng-if="user.owner || user.feature.read || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}/sites/{{ site.id }}">Overview</a></li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator" class="active"><a href="/projects/{{ project.id }}/sites/{{ site.id }}/edit">Edit</a></li>
          <li data-ng-if="user.owner || user.feature.write || user.feature.is_admin || user.template.is_admin || user.template.is_moderator"><a href="/projects/{{ project.id }}/sites/{{ site.id }}/summary">Summary Report</a></li>
        </ul>
      </nav>

      <aside class="column-5 feature-sidebar pull-right">

        <h6><strong>Location</strong> Information</h6>
        <!-- Land River Segment -->
        <div class="form-group">
          <label for="site_landriversegment" class="control-label">Land River Segment</label>
          <p data-ng-if="!site.type_f9d8609090494dac811e6a58eb8ef4be.length">Not specified</p>
          <div data-ng-repeat="segment in site.type_f9d8609090494dac811e6a58eb8ef4be track by $index">
            <!-- For when we first select the land river segment -->
            <p data-ng-if="segment.properties.name">{{ segment.properties.name }}</p>

            <!-- For when we want to display an existing one -->
            <p data-ng-if="segment.name">{{ segment.name }}</p>
            <p data-ng-if="segment.hgmr_nme">{{ segment.properties.hgmr_nme }}</p>
            <p data-ng-if="segment.rivername"><strong>River: </strong>{{ segment.properties.rivername }}</p>
          </div>
        </div>        

        <!-- City -->
        <div class="form-group">
          <label for="site_city" class="control-label">City</label>
          <textarea rows="1" data-ng-model="site.site_city" class="form-control animate"  msd-elastic id="site_city" name="site_city" placeholder="Enter the name of the closet city">{{ site.site_city }}</textarea>
        </div>

        <!-- County -->
        <div class="form-group">
          <label for="site_county" class="control-label">County</label>
          <textarea rows="1" data-ng-model="site.site_county" class="form-control animate"  msd-elastic id="site_county" name="site_county" placeholder="Enter the name of the county this site is in">{{ site.site_county }}</textarea>
        </div>

        <!-- Congressional District -->
        <div class="form-group">
          <label for="site_congressional_district" class="control-label">Congressional District</label>
          <textarea rows="1" data-ng-model="site.site_congressional_district" class="form-control animate"  msd-elastic id="site_congressional_district" name="site_congressional_district" placeholder="Enter the name of the congressional district this site is in">{{ site.site_congressional_district }}</textarea>
        </div>

      </aside>
    </article>
  </form>
</main>