<footer class="site--footer--container">
  <div class="site--footer">

    <section class="site--footer--content">

      <p class="site--footer--column">
        &copy; 2016 Chesapeake Commons. All rights reserved.
      </p>

      <div class="site--footer--column">

        <p class="site--footer--column">
          1875 Connecticut Avenue NW<br />
          Washington, DC 20009
        </p>

        <p class="site--footer--column align-right">
          <a href="javascript:void(0);" style="color: rgba(255,255,255,0.10);"
             data-ng-click="page.showData =! page.showData">Show Data</a>
        </p>

      </div>

    </section>
  </div>
</footer>
