<header role="banner" class="site-header">

    <div class="container">

        <div class="header">

            <section>
                <a href="/">
                    <img src="/images/logo-FieldDoc.png" width="128" alt="" title="" />
                </a>
            </section>

            <div global-search class="global--search" data-ng-if="$root.user.id">
                <input type="search"
                       class="search"
                       value=""
                       style="width:70%;"
                       placeholder="Search your workspace"
                       data-ng-model="query"
                       uib-typeahead="suggestion as suggestion.name for suggestion in fetchSuggestions($viewValue, 'workspace')"
                       typeahead-on-select="routeTo($item, $model, $label)"
                       typeahead-wait-ms="100"
                       typeahead-template-url="templates/search--tpl.html">
            </div>

            <nav class="site-navigation-utility align-right">

                <ul class="utility-navigation">
                    <li>
                        <a href="/account">
                            {{$root.user.first_name}}&nbsp;{{$root.user.last_name}}
                        </a>

                    </li>
                    <li data-ng-if="$root.user.id">
                        <a href="/account">
                            <i class="material-icons">
                            account_circle
                            </i>
                        </a>

                    </li>

                    <li data-ng-if="$root.user.id">
                        <a href="/logout" class="logout">
                            Logout
                        </a>
                    </li>
                    <li data-ng-if="!$root.user.id">
                        <a href="/login">
                            Login
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="http://help.fielddoc.org/">
                            Need Help?
                        </a>
                    </li>
                </ul>

            </nav>

        </div>

    </div>

</header>