<div data-ng-if="$root.user.id">
    <nav role="navigation" data-ng-if="$root.user.is_admin || $root.user.is_manager">
        <ul class="list-unstyled">
            <li>
                <a href="/">
                    &larr; Home
                </a>
            </li>
            <li>
                <a href="/practice-types" data-ng-class="{viewing: $root.viewState.practiceType}">
                    Practices
                </a>
            </li>
            <li>
                <a href="/metrics" data-ng-class="{viewing: $root.viewState.metricType}">
                    Metrics
                </a>
            </li>
            <li>
                <a href="/geographies" data-ng-class="{viewing: $root.viewState.geography}">
                    Geographies
                </a>
            </li>
        </ul>
    </nav>
</div>