<a class="search--suggestion" tabindex="-1">
    <div>
        <!-- <img data-ng-src="{{ match.model.avatar }}" imageonload /> -->
        <span class="name" data-ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span>
        <div class="subcategory" data-ng-if="match.model.category">
            <span data-ng-bind-html="match.model.category | uibTypeaheadHighlight:query"></span>
            <span data-ng-if="match.model.category === 'geography'">&middot;</span>
            <span data-ng-if="match.model.category === 'geography'" data-ng-bind-html="match.model.subcategory"></span>
        </div>
    </div>
</a>