<div data-ng-if="$root.user.id">

    <nav role="navigation">
        <ul class="list-unstyled">
            <li>
                <a href="/" data-ng-class="{viewing: $root.viewState.home}">
                    Home
                </a>
            </li>
            <!--
            <li>
                <a href="/organization" data-ng-class="{viewing: $root.viewState.organization}">
                    Organization
                </a>
            </li>
            -->
            <!--START Working link for Organization Profile-->
             <li>
                <a href="/organizationProfile" data-ng-class="{viewing: $root.viewState.organizationProfile || $root.viewState.organization}">
                    Organization
                </a>
            </li>

             <!--END Working link for Organization Profile-->
            <li>
               <!-- <a href="/profile/{{page.user.properties.id}}" data-ng-class="{viewing: $root.viewState.profile}">
               -->
                <a href="/profile/" data-ng-class="{viewing: $root.viewState.profile}">
                    Profile
                </a>
            </li>

            <li style="border-top: 1px solid #e0e0e0;">
                <a href="/projects" data-ng-class="{viewing: $root.viewState.project}">
                    Projects
                </a>
            </li>
            <li>
                <a href="/dashboards" data-ng-class="{viewing: $root.viewState.dashboard}">
                    Dashboards
                </a>
            </li>
            <li data-ng-if="$root.user.properties.is_admin || $root.user.properties.is_manager">
                <a href="/tags" data-ng-class="{viewing: $root.viewState.tag}">
                    Tags
                </a>
            </li>
        </ul>
    </nav>

    <nav role="navigation">
        <ul class="list-unstyled">
            <!-- <li data-ng-if="$root.user.properties.is_admin || $root.user.properties.is_manager">
                <a href="/awards" data-ng-class="{viewing: $root.viewState.award}">
                    Awards
                </a>
            </li> -->
            <!-- <li data-ng-if="$root.user.properties.is_admin || $root.user.properties.is_manager">
                <a href="/funding-sources" data-ng-class="{viewing: $root.viewState.fundingSource}">
                    Funding Sources
                </a>
            </li> -->
            
          <!--
            <li>
                <a href="/practice-types" data-ng-class="{viewing: $root.viewState.practiceType}">
                    Practice Types
                </a>
            </li>
            <li>
                <a href="/metric-types" data-ng-class="{viewing: $root.viewState.metricType}">
                    Metrics
                </a>
            </li>
           -->
            <li>
                <a href="/geographies" data-ng-class="{viewing: $root.viewState.geography}">
                    Geographies
                </a>
            </li>
        </ul>
    </nav>

</div>